.row
  .span8
    %h4.step_name SET PAYMENT METHOD
    = form_for @credit_card, url: user_payment_method_path(current_user), method: :post, html: { class: "well registration-edit payment_methods_form"} do |f|
      - if current_user.errors.any?
        .error-box
          %ul
            - current_user.errors.full_messages.each do |message|
              %li= message
      - if @credit_card.errors.any?
        .error-box
          %ul
            - @credit_card.errors.full_messages.each do |error_message|
              %li= error_message
      - if is_downgrade_plan?(current_user, params[:plan_id])
        .error-box
          %ul
            %li You are about to downgrade your current plan. This will inactivate your current promotional code. To keep your current promotional code active, you will need to stay on your current plan or upgrade if possible.
      - if (params[:plan_id] || (params[:credit_card] && params[:credit_card][:plan_id]))
        = f.hidden_field :plan_id, value: (params[:plan_id] || (params[:credit_card] && params[:credit_card][:plan_id]))
      = render partial: 'payment_methods/credit_card_fields', locals: { f: f }
  .span4
    = render partial: 'shared/summary', locals: { current_user: current_user }
    .well.info
      .box-content
        %h5.label-green{style: "margin-bottom: 7px;"} CURRENT PAYMENT METHOD
        %p The following payment card is currently used for payment:
        .info_card
          - if @customer_card
            = render partial: 'payment_methods/default_card_details', locals: { customer_card: @customer_card }
          - else
            You have not setup any card yet.

:javascript
  $('#new_credit_card').validate({
    rules: {
      "credit_card[name]":{
        required: true,
      },
      "credit_card[number]":{
        required: true,
        creditcard: true
      },
      "credit_card[cvc]":{
        required: true,
      },
      "credit_card[exp_month]":{
        required: true,
      },
      "credit_card[exp_year]":{
        required: true,
      },
      "credit_card[billing_address]":{
        required: true,
      },
      "credit_card[city]":{
        required: true,
      },
      "credit_card[state]":{
        required: true,
      },
      "credit_card[zip_code]":{
        required: true,
      },
    },
    errorPlacement: function(error, element) {
      error.appendTo( element.parent().find(".error-container") );
    }
  });
