%fieldset
  %legend.heading Project Details
  %div
    = f.label :image, "Select a main image for the project"
    = f.file_field :image, :required => true
  %div
    = f.label :video
    = f.text_field :video
  %div
    = f.label :address
    = f.text_field :address, :required => true
  %div
    = f.label :city
    = f.text_field :city, :required => true
  %div
    = f.label :state
    = f.select :state, options_for_select(us_states, @project.state), :required => true
  %div
    = f.label :zip
    = f.text_field :zip, :required => true
  %div
    = f.label :neighborhood
    = f.text_field :neighborhood, :required => true
  %div
    = f.label :duration
    = text_field_tag "duration", project_duration(@project.duration), :required => true
    = f.hidden_field :duration
  %div
    = f.label :goal
    = f.text_field :goal, :required => true

  %h4 Add Gallery Images
  %div
    = f.fields_for :galleries do |gallery_fields|
      %p
        = gallery_fields.file_field :gallery
