%fieldset
  %legend.heading Project Overview
  %div
    = f.label :title 
    = f.text_field :title, :placeholder => "Project Title", :required => true

  %div{:class => "short_description", :rel => "tooltip", "data-placement" => "right", "data-original-title" => "Tooltip on right"}
    = f.label :short_description 
    = f.text_area :short_description, :placeholder => "Short Description", :required => true, :style => "width:350px;height:200px;"

  %div
    = f.label :description 
    = f.text_area :description, :required => true
