.breadcrumb-container
  %ul.breadcrumbs
    %li
      = link_to '/project_steps/step1' do
        %span.step Step 1
        %span.title RUUTS
        %span.description Basic Information

    %li.active
      = link_to '/project_steps/step2' do
        %span.step Step 2
        %span.title STORY
        %span.description Project Details

    %li 
      = link_to '/project_steps/step3' do
        %span.step Step 3
        %span.title PERKS
        %span.description Donor Rewards

    %li 
      = link_to '/project_steps/step4' do
        %span.step Step 4
        %span.title VISUALS
        %span.description Project Page Setup

    %li
      = link_to 'submit' do
        %span.step Submission
        %span.title GET RUUTED
        %span.description Submit Your Project for Approval


= form_for(@project, :url => wizard_path, :html => {:class => "span8 well", :multipart => true}) do |f|
  
  - if @project.errors.any?  
    #errorExplanation  
      %h2 #{pluralize(@project.errors.count, "error")}  
      %ul  
      - @project.errors.full_messages.each do |msg|  
        %li #{msg}  
             
  %title Create Your Project

  = f.label :goal do
    FUNDING GOAL* 
    %span.italic (must be at least $XXXX)
  = f.text_field :goal, :required => true, :size => 45

  = f.label :duration do 
    CAMPAIGN LENGTH* 
    %span.italic (max 45 days)
  = f.text_field :duration, :required => true, :size => 17

  = f.label :title do
    CAMPAIGN HEADLINE* 
    %span.italic (XX characters remaing)
  = f.text_field :title, :required => true, :size => 45

  = f.label :story, "YOUR STORY*"
  = f.text_area :story, :required => true, :style => "height:138px;width:585px;"

  = f.label :about, "TELL US ABOUT YOUR PROJECT*"
  = f.text_area :about, :required => true, :style => "height:217px;width:585px;"
  %div
    = f.submit "Save And Continue", :class => "btn", :id => "project-submit"
