%ul.breadcrumbs
  %li
    = link_to "Step 1", 'project_stepsstep1'
  %li.active 
    = link_to "Step 2", 'project_stepsstep2'
  %li 
    = link_to "Step 3", 'project_stepsstep3'
  %li 
    = link_to "Step 4", 'project_stepsstep4'

= form_for(@project, :url => wizard_path, :html => {:class => "span8 well", :multipart => true}) do |f|
  
   - if @project.errors.any?  
      #errorExplanation  
        %h2 #{pluralize(@project.errors.count, "error")}  
        %ul  
        - @project.errors.full_messages.each do |msg|  
          %li #{msg}  
             
  %title Create Your Project

  = f.label_for :goal
  = f.text_field :goal

  = f.label_for :duration
  = f.text_field :duration

  = f.label_for :title
  = f.text_field :title

  = f.label_for :story
  = f.textarea :story

  = f.label_for :about
  = f.textarea :about
  %div
    = f.submit "Save And Continue", :class => "btn", :id => "project-submit"
