.breadcrumb-container
  %ul.breadcrumbs
    %li
      = link_to '/project_steps/step1' do
        %span.step Step 1
        %span.title RUUTS
        %span.description Basic Information

    %li 
      = link_to '/project_steps/step2' do
        %span.step Step 2
        %span.title STORY
        %span.description Project Details

    %li
      = link_to '/project_steps/step3' do
        %span.step Step 3
        %span.title PERKS
        %span.description Donor Rewards

    %li.active 
      = link_to '/project_steps/step4' do
        %span.step Step 4
        %span.title VISUALS
        %span.description Project Page Setup

    %li
      = link_to 'submit' do
        %span.step Submission
        %span.title GET RUUTED
        %span.description Submit Your Project for Approval


= form_for(@project, :url => wizard_path, :html => {:class => "span8 well", :multipart => true}) do |f|
  
  - if @project.errors.any?  
    #errorExplanation  
      %h2 #{pluralize(@project.errors.count, "error")}  
      %ul  
      - @project.errors.full_messages.each do |msg|  
        %li #{msg}  
             
  %title Create Your Project

  -#= render "overview_step", :f => f
  -#= render "details_step", :f => f
  -#= render "perks_step", :f => f
  = render "category_step", :f => f

  - f.fields_for :galleries do |gallery_fields|
    %p
      = gallery_fields.file_field :gallery
  
  %div
    = f.submit "Submit For Approval", :class => "btn", :id => "project-submit"