%ul.breadcrumbs
  %li.active
    = link_to "Step 1", '/project_steps/step1'
  %li 
    = link_to "Step 2", '/project_steps/step2'
  %li 
    = link_to "Step 3", '/project_steps/step3'
  %li 
    = link_to "Step 4", '/project_steps/step4'

= form_for(@project, :html => {:class => "span8 well", :multipart => true}) do |f|

  - if @project.errors.any?  
    #errorExplanation  
      %h2 #{pluralize(@project.errors.count, "error")}  
      %ul  
        - @project.errors.full_messages.each do |msg|  
          %li #{msg}  

  %title Create Your Project

  %div
    = f.label :organization, "Organization/Business Name*"
    = f.text_field :organization, :required => true, :size => 45

  %div
    = f.label :address , "STREET ADDRESS*"
    = f.text_field :address, :required => true, :size => 45

  %div.inline
    = f.label :city 
    = f.text_field :city, :required => true, :size => 17

  %div.inline{:style => "margin-left:18px;"}
    = f.label :state
    = f.select :state, options_for_select(us_states, @project.state), :required => true, :style => "width:140px;"

  %div.inline{:style => "margin-left:18px;"}
    = f.label :zip
    = f.text_field :zip, :required => true, :size => 3

  %div
    = f.label :website do
      WEBSITE ADDRESS 
      %span.italic (Format: http://www.mysite.com)
    = f.text_field :website, :required => true, :size => 45

  %div.inline
    = f.label :twitter_handle, "Twitter Account" 
    = f.text_field :twitter_handle, :required => true, :size => 17

  %div.inline{:style => "margin-left:24px;"}
    = f.label :facebook_page, "Facebook Page"
    = f.text_field :facebook_page, :required => true, :size => 17

  %div
    = f.submit "Save And Continue", :class => "btn", :id => "project-submit"
