%tr
  %td{:valign => "top"}
    %img{:src => "#{@image}/convert?w=620", :style => "display:block;"}
%tr
  %td{:valign => "top"}
    %p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} Dear #{@name}
    %p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} We have received your submission for #{@project_title} to URUUT.
    %p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} Over the next 72 hours, we will review your information and approve, deny or suggest changes to your project.  This process is intended to protect you from circumstances you may not have foreseen and ensure that you are set up to succeed. Thank you for your patience while we make sure everything is ready to go.  We will be back in touch with you as quickly as we can; we know that you are ready to get things moving.
    %p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"}
      In the meantime, if you have any questions that aren’t answered in the
      %a{:href => "https://#{@host}/pages/faqs"}FAQ’s
      , please feel free to reach out to us at https://#{@host}/pages/contact