%tr
	%td{:valign => "top"}
		%img{:src => "#{@image}/convert?w=620", :style => "display:block;"}
%tr
	%td{:valign => "top"}
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} Dear #{@name}
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} Congratulations!  Your URUUT project has been approved!  We applaud your initiative to take charge of improving your community, and our tools are here to help you make that a reality.  Now, it’s time to get to work.  Attached, you will find a Guidebook that will take you through everything you need to know to make your campaign a success.  We hope you are as excited as we are about getting this process underway.  If you need help with anything not covered in the attached materials, please feel free to reach out to our team at http://#{@host}/pages/contact.
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"}
			Also, we encourage you to actively monitor the activity of your project by accessing the project's
			%a{:href => "http://#{@host}/project_admin/projects/#{@project_id}"} admin module
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"}
			Sincerely,
			%br
			The URUUT Team