.span8{:style => "margin-top:35px;"}
  %h4 Login
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well clearfix form-signin"}, remote: true) do |f|
    = devise_error_messages!

    .req-legend
      *Required

    %div.inline
      = f.label :email, class: "label-green" do
        EMAIL*
        %span.error-container
      = f.email_field :email, class: "span7"

    %div.inline
      = f.label :password, class: "label-green" do
        PASSWORD*
        %span.error-container
      = f.password_field :password, class: "span7"

    - if devise_mapping.rememberable?
      .clearfix{:style => "padding-bottom: 10px;"}

        %div{:style => "float: left;"}
          = f.check_box :remember_me, :style => "display:inline-block;"
          = f.label :remember_me, :style => "display:inline-block;vertical-align:-3px;"
        %div{:style => "float: left; margin-left: 40px; height: 19px; padding-top: 5px;"}
          - if devise_mapping.recoverable? && controller_name != 'passwords'
            / = link_to "Forgot your password?", new_password_path(resource_name), class: "green-link"
            %a.green-link{"data-toggle" => "modal", :href => "#forgotModal", :role => "button"}
              Forgot your password?

    %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px; margin-bottom: 10px"}

    %div.clearfix{:style => "text-align: center"}
      = button_tag(type: 'submit', class: "btn btn-primary", id: "project-submit", style: "margin:20px 0 0;float:left; border-radius: 5px;") do
        Sign In ►
    %div
      - if devise_mapping.recoverable? && controller_name != 'passwords'
        / = link_to "Forgot your password?", new_password_path(resource_name)


  / = render "devise/shared/links"

= render "social-login"
#messegesModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :style => " display: block;padding: 50px;text-align: center;"}
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :style => "position:absolute;top:10px;right:20px;", :type => "button"} ×
  %h5{:style => "margin-bottom:20px;"} You need to sign in or sign up before continuing.
  %a.btn.green-btn{:href => "/users/sign_in"} Sign In ►
  %span{:style => "font:italic 12px/21px georgia, serif;margin:0 10px;"} or
  %a.btn.green-btn{:href => "/users/sign_up"} Sign Up ►
  %h5{style: "margin-left: -9px; display: none;"}
    - flash.each do |name, msg|
      = content_tag :div, msg.html_safe, :id => "flash_#{name}", style: "#{message_style(controller_name, action_name)}; background: transparent;color: #333;font-style: normal;font-family: 'Proxima Nova Semi', sans-serif;" if msg.is_a?(String)

#forgotModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :style => "width: 440px;"}
  .modal-header{:style => "border-bottom: none;"}
    %button.close.label-green{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :style => "font-family: 'Proxima Nova', sans-serif; font-size: 12px;opacity: 1;"}
      Close X
    %h3#myModalLabel.tittle{:style => "margin-bottom: 0;"} FORGOT YOUR PASSWORD?
  .modal-body{:style => "padding-top: 0; font-size: 13px; letter-spacing: 1px;"}
    %p Enter the email address you used when you signed up and we'll send you instructions to reset your password.
    %p For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.


    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, style: "margin-top: 20px;") do |f|
      = forgot_password_messages!
      .email
        %h4.label-green Email Address
        = f.email_field :email
      %div{:style => "text-align: center"}
        = f.submit "Reset My Password", class: "btn", style: "background: #81C263; border-radius: 5px; padding-top: 20px; padding-bottom: 20px;"
    / %form{:style => "margin-top: 20px;"}
    /   .email
    /     %h4.label-green Email Address
    /     %input{:type => "text"}
    /   %div{:style => "text-align: center"}
    /     %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :style => "background: #81C263; border-radius: 5px; padding-top: 20px; padding-bottom: 20px;"}
    /       Reset My Password
    /       %span


:javascript
  if($("#flash_alert").text() != ""){
    $("#messegesModal").modal("show");
    $("#flash_alert a").css("color", "#333");
  }

  $('#new_user').validate({
    rules: {
      "user[email]":{
        required: true,
        email: true
      },
      "user[password]":{
        required: true
      }
    },
    errorPlacement: function(error, element) {
      error.appendTo(element.parent().find(".error-container"));
    }
  });
