.span8{:style => "margin-top:35px;"}
  %h4 Login
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well clearfix"}) do |f|
    = devise_error_messages!

    %div.inline
      = f.label :email do
        %span.error-container
      = f.email_field :email, class: "span7"

    %div.inline
      = f.label :password do
        %span.error-container
      = f.password_field :password, class: "span7"

    - if devise_mapping.rememberable?
      .clearfix{:style => "padding-bottom: 10px;"}

        %div{:style => "float: left;"}
          = f.check_box :remember_me, :style => "display:inline-block;"
          = f.label :remember_me, :style => "display:inline-block;vertical-align:-3px;"
        %div{:style => "float: left; margin-left: 40px; height: 19px; padding-top: 5px;"}
          - if devise_mapping.recoverable? && controller_name != 'passwords'
            / = link_to "Forgot your password?", new_password_path(resource_name), class: "green-link"
            %a.green-link{"data-toggle" => "modal", :href => "#forgotModal", :role => "button"}
              Forgot your password?

    %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px; margin-bottom: 10px"}

    %div.clearfix{:style => "text-align: center"}
      = button_tag(type: 'submit', class: "btn btn-primary", id: "project-submit", style: "margin:20px 0 0;float:left;") do
        Sign In
        = image_tag('arrow.png')
    %div
      - if devise_mapping.recoverable? && controller_name != 'passwords'
        / = link_to "Forgot your password?", new_password_path(resource_name)


  / = render "devise/shared/links"

= render "social-login"

#forgotModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :style => "width: 440px;"}
  .modal-header{:style => "border-bottom: none;"}
    %button.close.label-green{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :style => "font-family: 'Proxima Nova', sans-serif; font-size: 12px;opacity: 1;"}
      Close X
    %h3#myModalLabel.tittle{:style => "margin-bottom: 0;"} FORGOT YOUR PASSWORD?
  .modal-body{:style => "padding-top: 0; font-size: 13px; letter-spacing: 1px;"}
    %p Enter the email address you used when you signed up and we'll send you instructions to reset your password.
    %p For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.


    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, style: "margin-top: 20px;") do |f|
      = forgot_password_messages!
      .email
        %h4.label-green Email Address
        = f.email_field :email
      %div{:style => "text-align: center"}
        = f.submit "Reset My Password", class: "btn", style: "background: #81C263; border-radius: 5px; padding-top: 20px; padding-bottom: 20px;"
    / %form{:style => "margin-top: 20px;"}
    /   .email
    /     %h4.label-green Email Address
    /     %input{:type => "text"}
    /   %div{:style => "text-align: center"}
    /     %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :style => "background: #81C263; border-radius: 5px; padding-top: 20px; padding-bottom: 20px;"}
    /       Reset My Password
    /       %span
