.span8{:style => "margin-top:35px;"}
  %h4 Login
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well"}) do |f|
    = devise_error_messages!

    %div
      = f.label :email
      = f.email_field :email, :size => 45

    %div.inline
      = f.label :password
      = f.password_field :password, :size => 45

    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me, :style => "display:inline-block;"
        = f.label :remember_me, :style => "display:inline-block;vertical-align:-3px;"
    %div.inline
      = button_tag(type: 'submit', class: "btn btn-primary", id: "project-submit", style: "margin:20px 0 0;float:left;") do
        Sign In
        = image_tag('arrow.png')

  -#= render "devise/shared/links"

= render "social-login"