%h3 Edit this Press Coverage

= form_for @press_coverage do |f|
	- if @press_coverage.errors.any?
		.error_messages
			%h2
				= pluralize(@press_coverage.errors.count, "error")
				prohibited this subscription from being saved:
			%ul
				- @press_coverage.errors.full_messages.each do |msg|
					%li= msg
	%div
		= f.label :title
		= f.text_field :title, :style => "width:500px"
	
	%div
		= f.label :link
		= f.text_field :link, :style => "width:500px"
		
	%div
		= f.label :publication
		= f.text_field :publication, :style => "width:500px"
		
	%div
		= f.label :release_date
		= f.text_field :release_date, :style => "width:250px"
		
	%div
		= f.submit