%footer
  .container
    .row-fluid
      
      %ul
        %li
          %h5= link_to "Find Projects", browse_projects_path
        %li
          &nbsp;
        %li
          %h5 Get Funding
        %li
          = link_to "How It Works", pages_how_it_works_path 
        %li
          = link_to "Create Your Project"

      %ul
        %li
          %h5 About URUUT
        %li
          = link_to "About Us", pages_about_path
        %li
          = link_to "How It Works", pages_how_it_works_path
        %li
          = link_to "Our Team"
        %li
          = link_to "Partnerships"

      %ul.pages 
        %li
          %a{:href => "", "data-toggle" => "modal", "data-target" => "#contact"}Contact Us
        %li
          %a{:href => "", "data-toggle" => "modal", "data-target" => "#myMap"}Map
        %li
          %a{:href => "http://hashfire.uservoice.com/knowledgebase"}Help
        %li 
          = link_to "Terms", pages_terms_url
        %li
          %a{:href => "#"} Privacy Policy

      %ul
        %li
          %h5 Find Us On
        %li
          FB TW

.copyright
  .container  
    .row-fluid
      %p.span3
        &copy 2012 URUUT.com
