%footer
  .container
    .row-fluid
      .span3
        = image_tag "footer-logo.png", :style => "margin-right:5px;"
        &copy; 2012 URUUT.
        %span.italic All Rights Reserved.
      .span7
        %nav
          = link_to 'Home'
          %span.divider
            |
          = link_to 'Find Projects'
          %span.divider
            |
          = link_to 'Get Funding'
          %span.divider
            |
          = link_to 'About URUUT'
          %span.divider
            |
          = link_to 'Blog'
          %span.divider
            |
          = link_to 'Contact'
          %span.divider
            |
          = link_to 'FAQ'
          %span.divider
            |
          = link_to 'Press & Media'
          %span.divider
            |
          = link_to 'Legal'
      .span2.social
        = link_to "http://www.facebook.com/get.ruuted" do
          = image_tag "facebook.png"

        = link_to "http://www.twitter.com/uruut" do
          = image_tag "twitter.png"
