-if params[:type].eql?("individual")
  - @founders.group_by{ |p| p.perk_name  }.sort_by{|_key, value| value.first.amount }.reverse.each do |founders|
    %div.label-green= "PERK : #{founders[0]} (#{founders[1].count})"
    %table.table.table-striped
      - founders[1].each do |founder|
        %tr
          %td= image_tag avatar_project_admin(founder.user.avatar), style: "width:37px"
          %td= truncate([founder.user.first_name, founder.user.last_name].join(" "), length: 17)
          %td= "#{number_to_currency(founder.amount, precision: 0)}"
          %td= truncate(founders[0], length: 17)
          %td= founder.updated_at.strftime("%m/%d")
- else
  - sponsors = project_sponsor_by_level(@project)
  - sponsors.each do |sponsor_level, sponsors|
    %div.label-green= "#{sponsor_level} LEVEL SPONSORS (#{sponsors.count})"
    - if sponsors.blank?
      %p No Sponsors at this level
    - else
      %table.table.table-striped
        - sponsors.each do |sponsor|
          %tr
            %td= image_tag "#{sponsor.logo}/convert?fit=scale&height=37&width=37"
            %td= truncate(sponsor.name, length: 17)
            %td= "#{number_to_currency(sponsor.cost, precision: 0)}"
            %td= truncate("#{sponsor.sponsorship_level.name} sponsor", length: 17)
            %td= sponsor.updated_at.strftime("%m/%d")

= paginate @founders, remote: true, :type => params[:type]
