-if params[:type].eql?("individual")
  - @founders.group_by{ |p| p.perk_name  }.each do |perk_name, founders|
    %div= "PERK : #{perk_name} (#{founders.count})"
    %table.table.table-striped
      - founders.each do |founder|
        %tr
          %td= image_tag avatar_project_admin(founder.user.avatar), style: "width:37px"
          %td= [founder.user.first_name, founder.user.last_name].join(" ")
          %td= "$#{founder.amount}"
          %td= perk_name
          %td= founder.updated_at.strftime("%m/%d")
- else
  - sponsors = project_sponsor_by_level(@project)
  - sponsors.each do |sponsor_level, sponsors|
    %div= "#{sponsor_level} LEVEL SPONSORS (#{sponsors.count})"
    - if sponsors.blank?
      %p No Sponsors at this level
    - else
      %table.table.table-striped
        - sponsors.each do |sponsor|
          %tr
            %td= image_tag "#{sponsor.logo}/convert?fit=scale&height=37&width=37"
            %td= sponsor.name
            %td= "$#{sponsor.cost}"
            %td= "#{sponsor.sponsorship_level.name} sponsor"
            %td= sponsor.updated_at.strftime("%m/%d")

= paginate @founders, remote: true, :type => params[:type]
