%h2.title My Project Details
= form_for(@project, html: {class: "sponsor-info span12 margin-auto well", multipart: true}) do |f|
  - if @project.errors.any?
    #errorExplanation
      %h2 #{pluralize(@project.errors.count, "error")}
      %ul
        - @project.errors.full_messages.each do |msg|
          %li #{msg}

  %div.pull-left{style: "min-width: 350px; max-width: 350px;margin-right: 20px;"}
    = f.label :goal, "Funding Goal", class: "green-font"
    %h2= number_to_currency(@project.goal, precision: 0)

  %div.pull-left.span3{style: "margin-right: 20px;"}
    = f.label :duration, "Campaign Length", class: "green-font"
    %h2= pluralize(@project.duration, "Days")
  %br/
  %div.pull-left.span10.margin-auto
    = f.label :goal, "Project Category", class: "green-font"
    %h2= "Parks & Recreations"
  %div.pull-left.span10.margin-auto
    = f.label :title, class: "green-font" do
      CAMPAIGN HEADLINE
      %span.cutdown.italic
    = f.text_area :title, maxlength: 150, :required => true, class: "headline", style: "width: 662px; height: 80px;"
  %div.pull-left.span10.margin-auto
    = f.label :story , "YOUR STORY", class: "green-font"
    = f.text_area :story, :required => true, style: "width: 662px; height: 298px;"
  %div.pull-left.span10.margin-auto
    = f.label :about , "TELL US ABOUT YOUR PROJECT", class: "green-font"
    = f.text_area :about, :required => true, style: "width: 662px; height: 298px;"
  %div.pull-left.span10.margin-auto
    = f.submit "Save Updates", :class => "btn", :id => "project-submit"

:javascript
  function updateCutdown() {
    var remaining = 150 - jQuery('.headline').val().length;
    jQuery('.cutdown').text('(' + remaining + ' characters remaining.)');
  };

  updateCutdown();
  $('.headline').change(updateCutdown);
  $('.headline').keyup(updateCutdown);
