%h2.title SEND PROJECT EMAIL
.well.clearfix
  .req-legend
    *Required
  %div.form-send-message.clearfix
    = form_for(@contact, :as => :post, :url => send_email_project_admin_projects_path, html: {remote: true}) do |f|
      .clearfix{style: "margin-bottom: 20px;"}
        .pull-left
          = label_tag "EMAIL RECEPIENT*", nil, class: "label-green"
          .selectParent
            = select_tag "sponsor_level", options_for_select(@list_recepients), prompt: "Choose sponsor level or perk", onchange: "get_emails_based_on_category()", class: "styledSelect"
        .pull-left
          %a.cs_import.btn{style: "margin-left: 6%; margin-top: 17px;"} Add Contacts

      %div.textarea-recepient
        %textarea#contact_list{:style => "width:637px;height:24px", :name => "email_recepient"}
        = hidden_field_tag 'email_temp'

      %div{:style => "margin-top: 10px"}
        = f.label :subject , "MESSAGE SUBJECT*", class: "label-green"
        = f.text_field :subject, :required => true, class: "span8"

      %div{:style => "margin-top: 10px"}
        = f.label :email_content , "EMAIL CONTENT*", class: "label-green"
        = f.text_area :email_content, :required => true, style: "width: 637px; height: 298px;"
      %hr{:style => "margin-top: 20px; margin-bottom: 20px; background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}
      %div
        = f.submit "SEND EMAIL", :class => "btn", :id => "project-submit", :style => "border-radius: 5px;"

:javascript

  var owner_email, owner_first_name, owner_last_name;
  var appendInTextarea = false;
  var emailSep = ", ";

  if ($("#sponsor_level :selected").text().length > 17){
      $("#sponsor_level :selected").text(truncText($("#sponsor_level :selected").text(), 15, "..."))
    }

  $("#sponsor_level").on('change',function(){
    var length = $("#sponsor_level option").length;
    for (var i = 1; i < length; i++){
      $("#sponsor_level option")[i].text = $("#sponsor_level option")[i].attributes["data-item"].value
    }
    if ($("#sponsor_level :selected").text().length > 17){
      $("#sponsor_level :selected").text(truncText($("#sponsor_level :selected").text(), 15, "..."))
    }
  })

  function populateTextarea(contacts, source, owner) {
    var contact, name, email, entry;
    var emails = [];
    var textarea = document.getElementById('contact_list');

    for (var i = 0; i < contacts.length; i++) {
      contact = contacts[i];
      name = contact.fullName();
      email = contact.selectedEmail();
      entry = name + "<" + email +">";
      if (emails.indexOf(entry) < 0) {
        emails.push(entry);
      }
    }

    var email_content = $("#email_temp").val();
    if ( $("#email_temp").val().slice(-1) != "," && $("#email_temp").val() != "" ){
      email_content = $("#email_temp").val() + " ,";
    }
    $("#contact_list").val("");
    $("#email_temp").val("");

    $("#contact_list").val( email_content + emails.join(emailSep) );
  }

  function moveCurrentValue(contacts, source, owner) {
    $("#email_temp").val( $("#contact_list").val() );
  }

  var csPageOptions = {
    domain_key:"3E6CHQNSGA7WFNM7ATLZ",
    textarea_id:"contact_list",
    beforeDisplayContacts: moveCurrentValue,
    afterSubmitContacts:populateTextarea
  };

  var get_emails_based_on_category = function (){
    $.ajax({
      url: "/project_admin/projects/email_based_on_sponsor_level?level_id="+$("#sponsor_level").val()
    });
  };

%script{:src => "https://api.cloudsponge.com/address_books.js"}
