%div
  %h3.tittle MY PROJECT COVER PHOTO
  .image-cover-content{:style => "float:left; width:100%"}
    %div
      .cover-content
        .cover-content-image
          .cover-content-image-data{style: "height: 319px; overflow: hidden; position: relative;"}
            .div.loader-cover.container{style: "display:none; top: 87px; left: 42%; position: absolute;"}
              .loader-image LOADING
              = image_tag "3.gif", style: "margin-left: 1%; width: 20px"
            .project-cover-image
              = filepicker_image_tag @project.large_image, width: 672, height: 300, fit: 'scale' if @project.large_image
            .action.new-save-btn{style: "top: 242px; left: 33%; position: absolute; margin-top: 0; display: none"}
              %a.btn.save-image{href: "javascript:void(0)", style: "background: #81C263; font: 11px/11px 'Proxima Nova Semi',arial,sans-serif;"}
                SAVE
              %a.btn.cancel-image{href: "javascript:void(0)", style: "background: #81C263; font: 11px/11px 'Proxima Nova Semi',arial,sans-serif;"}
                CANCEL
        %button{:id => "project-submit-button", :type => "button"} CHANGE COVER

    .span12.action-convert{style: "margin-top: 276px; display:none"}
      = hidden_field_tag "url_image"
      = hidden_field_tag "x_position"
      = hidden_field_tag "y_position"
      = hidden_field_tag "width_after"
      = hidden_field_tag "height_after"

  %h3.tittle MY PROJECT PHOTO GALLERY
  .images-content{:style => "float:left; width:100%"}
    #galleryPicture.clearfix
      - @galleries.each do |image|
        .list-image.pull-left
          = filepicker_image_tag image.gallery_file_name, width: 216, height: 216, fit: 'scale'
          = link_to "delete photo", delete_photo_path(image.id), class: "image-delete-button",  method: 'DELETE', remote: true
    = paginate @galleries, remote: true
    %div{:style => "float:left; width: 100%"}
      %button{:id => "new-photo-button", :type => "button"} ADD NEW PHOTO

= javascript_include_tag "jquery-ui"
= javascript_include_tag "jquery.ui.touch-punch.min"

:javascript
  var mimetypesData = 'image/*';
  var servicesData = ['BOX','COMPUTER','FACEBOOK','DROPBOX','INSTAGRAM','FLICKR','PICASA'];
  filepicker.setKey("<%= Settings.filepicker.api_key %>");

  var deleteImages = function (){
    $('.image-delete-button').click(function(){
      $(this).parent().remove();
    });
  }
  deleteImages();

  $("#project-submit-button").click(function(){
    filepicker.pick({
      mimetypes: mimetypesData,
      openTo: 'COMPUTER',
      services: servicesData,
      },
      function(e){
        var largeImage = e.url;
        $(".project-cover-image").hide();
        $('.drag-instructions').remove();
        $(".loader-cover").show();
        $('<img />').attr('src', largeImage).load(function() {
          $('.coverphoto').html("CHOOSE A COVER PHOTO");
          var largeImageObj = new Image;
          largeImageObj.src = largeImage;
          if ( largeImageObj.width >= 1600 )
          {
            $(".loader-cover").hide();
            $("#url_image").val(largeImage);

            var dragImg = new Image;
            dragImg.src = largeImage;
            dragImg.id = "dragImg";

            $('.ui-draggable').remove();
            $("#y_position").val(0);
            $('.cover-content-image-data').prepend(dragImg);
            $('.cover-content-image-data').append('<span class="drag-instructions">DRAG TO REPOSITION COVER PHOTO</span>');

            $('#dragImg').draggable({
              axis: 'y',
              drag: function(event, ui) {
                var bottom = $(this).parent().height() - $(this).height();
                if(ui.position.top > 0) {
                  ui.position.top = 0;
                }

                if(ui.position.top < bottom) {
                  ui.position.top = bottom;
                }
              },
              stop: function(event, ui) {
                var w = $('.ui-draggable').width();
                var wOriginal = largeImageObj.width;
                var ratio = parseInt(wOriginal) / parseInt(w);
                $('#y_position').val(Math.round(Math.abs(ui.position.top * ratio)));
              }
            });
            $('.new-save-btn').show();
          }
          else{
            $('.new-save-btn').hide();
            $(".loader-cover").hide();
            $('.drag-instructions').remove();
            $(".project-cover-image").show();
            $('.cover-content-image-data').append('<span class="drag-instructions" style="width: 300px;"><b>image width for cover should be more than 1600px</b></span>');
          }
        });
      },
      function(e){
        console.log(JSON.stringify(e));
      }
    );
  });

  $(".cancel-image").click(function(){
    $('.drag-instructions').remove();
    $("#cropInstruction").remove();
    $('.ui-draggable').remove();
    $(".action-convert").hide();
    $(".save-image").text('SAVE');
    $(".cancel-image").text("CANCEL");
    $('.new-save-btn').hide();
    $(".project-cover-image").show();
  });

  $(".save-image").click(function(){
    $(".new-save-btn").attr("style", "left: 43%;");
    $(".cancel-image").hide();
    $(this).text("loading");
    $(".loader-cover").show();
    $("#cropInstruction").remove();
    $('.drag-instructions').remove();
    var fpfile = { url: $("#url_image").val(), mimetype: 'image/jpeg', isWriteable: true };
    var newImage = new Image();
    newImage.src = $("#url_image").val();
    filepicker.convert(fpfile,
      {crop: [0, $("#y_position").val(), newImage.width, newImage.height]},
      {},
      function(new_FPFile){
        $('.ui-draggable').remove();
        $(".action-convert").hide();
        $("#cover-priview").remove();
        $('<img />').attr('src', new_FPFile.url).load(function() {
          $(".project-cover-image").show().html("<img src='"+new_FPFile.url+"/convert?fit=scale&height=300&width=672'>");
          $(".loader-cover").hide();
        });
        $.ajax({
            url: '/projects/save_image',
            method: 'POST',
            data: { large_image: new_FPFile.url }
          });
        $(".save-image").text('SAVE');
        $(".cancel-image").show().text("CANCEL");
        $(".new-save-btn").hide().attr("style", "top: 242px; left: 33%; position: absolute; margin-top: 0; display: none");
      },
      function(FPError){
        $(".new-save-btn").attr("style", "top: 242px; left: 33%; position: absolute; margin-top: 0; display: none");
        $(".save-image").text('SAVE');
        $(".cancel-image").show().text("CANCEL");
      }
    );
  });

  $("#new-photo-button").click(function(){
    filepicker.pick({
      mimetypes: mimetypesData,
      openTo: 'COMPUTER',
      services: servicesData,
      },
      function(e){
        var pictureImage = e.url;
        $.ajax({
          url: '/galleries/save_image',
          method: 'POST',
          data: {
            gallery: pictureImage
            },
          success: function(data){
            $('#galleryPicture').append("<div class='list-image pull-left'><img src=" + pictureImage + "/convert?fit=scale&height=216&width=216><a href='/galleries/delete_photo/" + data.image_id + "' class='image-delete-button' data-method='DELETE' style='margin-left:20px' data-remote='true'>delete photo</p></div></div></div>");
            deleteImages();
          }
        });
      },
      function(e){
        console.log(JSON.stringify(e));
      }
    );
  });


