= javascript_include_tag "highchart/highcharts"
= javascript_include_tag "highchart/theme/grid"

:javascript
  $(function () {
    $('.chart-pie').highcharts({
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          borderColor: null,
          plotShadow: false
      },
      legend: {
        enabled: false
      },
      title: {
          text: null
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
        percentageDecimals: 1
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: false
              },
              showInLegend: true
          }
      },
      series: [{
          type: 'pie',
          name: 'Funding share',
          data: [
              ['BUSINESS SPONSORS', #{count_percentage(@total_fundings[:total_amount], @total_fundings[:business_amount]).split("%").first } ],
              ['FOUNDATION SPONSORS', #{count_percentage(@total_fundings[:total_amount], @total_fundings[:foundation_amount]).split("%").first} ],
              ['INDIVIDUAL CONTRIBUTORS', #{count_percentage(@total_fundings[:total_amount], @total_fundings[:individual_amount]).split("%").first} ]
          ]
      }]
    });

    $('.chart-bar').highcharts({
      chart: {
          type: 'area',
          borderColor: null,
      },
      legend: {
        enabled: false
      },
      title: {
          text: null
      },
      xAxis: {
          type: 'datetime'
      },
      yAxis: {
          title: { text: 'Dollars' },
          labels: {
                    formatter: function() {
                        return '$'+this.value;
                    }
                  }
      },
      tooltip: {
          formatter: function () {
            return Highcharts.dateFormat("%B %e %Y", this.x) + ': ' + '$' + Highcharts.numberFormat(this.y, 2);
          }
      },
      plotOptions: {
          area: {
              pointStart: 1940,
              marker: {
                  enabled: false,
                  symbol: 'circle',
                  radius: 2,
                  states: {
                      hover: {
                          enabled: true
                      }
                  }
              }
          }
      },
      series: [{
          name: 'Funding',
          pointInterval: #{1.day * 1000},
          pointStart: #{@project.updated_at.to_i * 1000},
          pointEnd: #{@project.campaign_deadline.to_i * 1000},
          data: #{@project.amount_per_day.inspect}
      }]
    });
  });



.container.overview-page
  .row-fluid
    .span8.pull-left
      %h2.tittle FUNDING TRACKER
      .info
        .chart-bar

      %h2.tittle FUNDING BREAKDOWN BY DAY
      .info
        %table.table.table-striped
          %tr
            %th Date
            %th Total Funding For Day
            %th Individual Contributors
            %th Sponsors
          - @fundings.each do |date, founders|
            - individual_count, sponsors_count, amount = 0, 0, 0
            - founders.each do |founder|
              - if founder.type_founder.eql?("individual")
                - individual_count += 1
                - amount += founder.amount.to_i
              - else
                - sponsors_count += 1
                - amount += founder.cost.to_i
            %tr
              %td= date.strftime("%m/%d/%Y")
              %td= "$#{amount.round(2)}"
              %td= individual_count
              %td= sponsors_count

        = paginate @fundings
    .span4.pull-right
      %h2.title{:style =>"margin-bottom: 5px;"}
        FUNDING SOURCES
      %div{:class => "well info"}
        .chart-pie

        .percentage
        %ul.chart-legend
          %li
            .color.business
            .legend-info
              %h5 BUSINESS SPONSORS
              %h4= "#{count_percentage(@total_fundings[:total_amount], @total_fundings[:business_amount])} - #{@total_fundings[:business_amount]}"
          %li
            .color.foundation
            .legend-info
              %h5 FOUNDATION SPONSORS
              %h4= "#{count_percentage(@total_fundings[:total_amount], @total_fundings[:foundation_amount])} - #{@total_fundings[:foundation_amount]}"
          %li
            .color.individual
            .legend-info
              %h5 INDIVIDUAL CONTRIBUTORS
              %h4= "#{count_percentage(@total_fundings[:total_amount], @total_fundings[:individual_amount])} - #{@total_fundings[:individual_amount]}"

