= javascript_include_tag "highchart/highcharts"
= javascript_include_tag "highchart/theme/grid"

:javascript
  $(function () {
    $('.chart-pie').highcharts({
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          borderColor: null,
          plotShadow: false
      },
      legend: {
        enabled: false
      },
      title: {
          text: null
      },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
        percentageDecimals: 1
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: false
              },
              showInLegend: true
          }
      },
      series: [{
          type: 'pie',
          name: 'Funding share',
          data: [
              ['BUSINESS SPONSORS', #{count_percentage(@total_fundings[:total_amount], @total_fundings[:business_amount]).split("%").first } ],
              ['FOUNDATION SPONSORS', #{count_percentage(@total_fundings[:total_amount], @total_fundings[:foundation_amount]).split("%").first} ],
              ['INDIVIDUAL CONTRIBUTORS', #{count_percentage(@total_fundings[:total_amount], @total_fundings[:individual_amount]).split("%").first} ]
          ]
      }]
    });

    $('.chart-bar').highcharts({
      chart: {
          type: 'area',
          borderColor: null,
      },
      legend: {
        enabled: false
      },
      title: {
          text: null
      },
      xAxis: {
          type: 'linear',
          showLastLabel: true,
          startOnTick: true,
          endOnTick: true,
          max: 30,
          min: 1,
          tickInterval: #{get_interval_chart(@project)}
      },
      yAxis: {
          title: { text: 'Dollars' },
          labels: {
                    formatter: function() {
                        return '$'+this.value;
                    }
                  }
      },
      tooltip: {
          formatter: function () {
            return '$' + Highcharts.numberFormat(this.y, 2);
          }
      },
      plotOptions: {
          area: {
              marker: {
                  enabled: true,
                  symbol: 'circle',
                  radius: 2,
                  states: {
                      hover: {
                          enabled: true
                      }
                  }
              }
          }
      },
      series: [{
          name: 'Funding',
          data: #{@project.amount_per_day.inspect}
      }]
    });
  });



.container.overview-page
  .row-fluid
    .span8.pull-left
      %h2.tittle FUNDING TRACKER
      .info
        .chart-bar

      %h2.tittle FUNDING BREAKDOWN BY DAY
      .info.info-table
        = render "founding_table"
    .span4.pull-right
      %h2.title{:style =>"margin-bottom: 5px;"}
        FUNDING SOURCES
      %div{:class => "well info"}
        .chart-pie

        .percentage
        %ul.chart-legend
          %li
            .color.business
            .legend-info
              %h5 BUSINESS SPONSORS
              %h4= "#{count_percentage(@total_fundings[:total_amount], @total_fundings[:business_amount])} - #{number_to_currency(@total_fundings[:business_amount], :precision => 0)}"
          %li
            .color.foundation
            .legend-info
              %h5 FOUNDATION SPONSORS
              %h4= "#{count_percentage(@total_fundings[:total_amount], @total_fundings[:foundation_amount])} - #{number_to_currency(@total_fundings[:foundation_amount], :precision => 0)}"
          %li
            .color.individual
            .legend-info
              %h5 INDIVIDUAL CONTRIBUTORS
              %h4= "#{count_percentage(@total_fundings[:total_amount], @total_fundings[:individual_amount])} - #{number_to_currency(@total_fundings[:individual_amount], :precision => 0)}"

