%div
  %h2.title POST A MESSAGE TO SOCIAL MEDIA
  .post-to-social.well
    %div.clearfix
      .span6
        %h4.label-green{:style => "margin-bottom: 0;"}
          FACEBOOK
        %p Post a message on your facebook page
        = link_to image_tag("fb-post.png"), "https://www.facebook.com/dialog/feed?app_id=#{Settings.facebook.api_key}&link=#{project_url(@project.id)}&picture=http://fbrell.com/f8.jpg&name=#{url_encode(@project.title)}&caption=#{url_encode(@project.category)}&description=#{url_encode("Like making a difference in the community? Check out this great project I found on @URUUT.  You can help fund it, or set up a project of your own to Get RUUTed!")}&redirect_uri=#{project_admin_project_url(@project.id)}", target: "_blank"
      .span6
        %h4.label-green{:style => "margin-bottom: 0;"}
          TWITTER
        %p Tweet to your Twitter followers
        = image_tag "tw-post.png", class: "tw-share", style: "cursor: pointer"
    %div.clearfix
      %div
        %h4.label-green{:style => "margin-bottom: 0;"}
          LINKEDIN
        %p Post a message on Linkedin
        = link_to image_tag("li-post.png"), "https://www.linkedin.com/cws/share?url=#{project_url(@project.id)}", target: "_blank"

:javascript
  // function postToFeed() {

  //   // calling the API ...
  //   var obj = {
  //     method: 'feed',
  //     redirect_uri: '#',
  //     link: '#{project_url(@project.id)}',
  //     picture: 'http://fbrell.com/f8.jpg',
  //     name: '#{url_encode(@project.title)}',
  //     caption: '#{@project.category}',
  //     description: 'Like making a difference in the community? Check out this great project I found on @URUUT.  You can help fund it, or set up a project of your own to Get RUUTed!'
  //   };

  //   function callback(response) {
  //   }

  //   FB.ui(obj, callback);
  // }

  $('.tw-share').click(function(e) {
    e.preventDefault();
    var url    = "http://twitter.com/share?url=#{project_url(@project.id)}&text=Like%20making%20a%20difference%20in%20the%20community?%20Check%20out%20this%20great%20project%20I%20found%20on%20@URUUT%20%2E%20&hashtags=GetRUUTed";

    window.open(url);
  });
