%h2.title ADD A PROJECT UPDATE
.notice
= form_for(@project_update, url: process_project_update_project_admin_projects_path, html: {class: "sponsor-info span12 margin-auto well"}, method: :post, remote: true) do |f|
  %div.pull-left.span10.margin-auto
    = f.label :title, class: "green-font" do
      NEW PROJECT UPDATE TITLE
      %span.cutdown.italic
    = f.text_area :title, maxlength: 150, :required => true, class: "headline", style: "width: 640px; height: 80px;"
  %div.pull-left.span10.margin-auto
    = f.label :content , "NEW PROJECT UPDATE CONTENT", class: "green-font"
    = f.text_area :content, :required => true, style: "width: 640px; height: 298px;"
  %div.pull-left.span10.margin-auto
    = f.submit "POST PROJECT UPDATE", :class => "btn", :id => "project-submit"

