%h2.title STORY VISUALS
.well{:style => "float:left; width:100%; background: transparent"}
  %h4
    Planting Seeds
    %span (About)

  / %ul#myTab3.tab-nav
  /   %li
  / %h4
  /   Planting Seeds
  /   %span (About)
  #content_container.tab-content
    #planting_seeds.tab-pane.active
      .image_warp.image_wrap_cover
        - if @project.seed_image
          .planting-seeds-main-content
            = image_tag "#{@project.seed_image}", id: "seed_image_cultivation", class: "seed_image", "data-project-id" => @project.id
        .action_button{style: "#{'' if @project.seed_image}"}
          %button{:id => "new-seed", type: "filepicker"} ADD NEW PHOTO
          = link_to '<i class="icon-trash icon-green"></i> Delete Photo'.html_safe, delete_image_path(@project.id, type: "seed_image"), class: "btn delete_photo_planting", method: 'DELETE', style: "display: #{'none' unless @project.seed_image}", remote: true
      %div{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.about
    #growth.tab-pane
      growth
    #gallery.tab-pane
      gallery

  %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}
  #cultivation.row
    .span3.ending
      %h4{style: "color: #464646 !important;"}
        CULTIVATION
        %br
        %span{style: "font: normal 11px/11px 'Georgia', georgia, serif; font-style: italic; text-transform: none"} (Project Details)

        %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:15px;"} Funding Ends
        %div{:style => "background:#b6b6b4;padding:25px;border-radius:500px;width:120px;height:120px;"}
          %span{:style => 'display:block;text-align:center;font:normal 22px/22px "Proxima Nova Semi";color:#fff;text-transform:uppercase;letter-spacing:5px;margin-top: 10px'}= @project.campaign_deadline("%b")
          %span{:style => 'display:block;text-align:center;font:normal 72px/72px "Proxima Nova Semi";color:#fff;text-transform:uppercase;margin-top:5px'}= @project.campaign_deadline("%d")
        %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:40px;margin-bottom:0;"} Project Goal
        %h2{:style => "text-align:center;color:#403e37;font-family:'Proxima Nova Semi';margin-top:0;"}= amount_converter(@project.goal)
    .span9.details
      %div{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.story
      .cultivation-image-content
        .cultivation-image-main-content
          = image_tag "#{@project.cultivation_image}", class: "cultivation_image" if @project.cultivation_image
        .action_button
          %button{:id => "new-cultivation", type: "filepicker"} ADD NEW PHOTO
          = link_to '<i class="icon-trash icon-green"></i> Delete Photo'.html_safe, delete_image_path(@project.id, type: "cultivation"), class: "btn delete_photo_cultivation", method: 'DELETE', style: "display: #{'none' unless @project.cultivation_image}", remote: true

%script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
:javascript
  $('.delete_photo_planting').click(function(){
    $('#seed_image_cultivation').remove();
  });

  $('.delete_photo_cultivation').click(function(){
    $('.cultivation-image-content').remove();
  });

  var cover = document.getElementById('new-seed');
  cover.type="filepicker";
  cover.onchange = function(e){
    var seedImage = event.fpfile.url;

    $.ajax({
      url: '/update_image?status=seed_image',
      method: 'POST',
      data: {
        image: seedImage
        },
      success: function(data){
        $('#seed_image').remove();
        $('.delete_photo').show();
        $('.planting-seeds-main-content').html("<img src=" + seedImage + " id='seed_image_cultivation' data-project-id="+ data +">");
      }
    });
  };
  filepicker.constructWidget(cover);

  var cultivation = document.getElementById('new-cultivation');
  cultivation.type="filepicker";
  cultivation.onchange = function(e){
    var seedImage = event.fpfile.url;

    $.ajax({
      url: '/update_image?status=cultivation',
      method: 'POST',
      data: {
        image: seedImage
        },
      success: function(data){
        $('#seed_image').remove();
        $('.delete_photo').show();
        $('.cultivation-image-main-content').html("<img src=" + seedImage + " data-project-id="+ data.project_id +">");
      }
    });
  };
  filepicker.constructWidget(cultivation);

  var updateImageSeed = function(event){

  }


  function updateCutdown() {
    var remaining = 150 - jQuery('.headline').val().length;
    jQuery('.cutdown').text('(' + remaining + ' characters remaining.)');
  }

  updateCutdown();
  $('.headline').change(updateCutdown);
  $('.headline').keyup(updateCutdown);


