%h2.title STORY VISUALS
.well{:style => "float:left; width:100%; background: transparent"}
  %h4
    Planting Seeds
    %span (About)

  / %ul#myTab3.tab-nav
  /   %li
  / %h4
  /   Planting Seeds
  /   %span (About)
  #content_container.tab-content
    #planting_seeds.tab-pane.active
      .image_warp
        - if @project.seed_image
          = image_tag "#{@project.seed_image}", id: "seed_image", class: "seed_image", "data-project-id" => @project.id
        .action_button{style: "#{'' if @project.seed_image}"}
          %button{:id => "new-seed"} ADD NEW PHOTO
          = link_to "Delete Photo", delete_image_path(@project.id, type: "seed_image"), class: "btn delete_photo", method: 'DELETE', style: "display: #{'none' unless @project.seed_image}"
      %div{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.about
    #growth.tab-pane
      growth
    #gallery.tab-pane
      gallery

  %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}
  #cultivation
    .span3.ending
      %h4
        CULTIVATION
        %br
        %span (Project Details)

        %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:15px;"} Funding Ends
        %div{:style => "background:#b6b6b4;padding:25px;border-radius:500px;"}
          %span{:style => 'display:block;text-align:center;font:normal 22px/22px "Proxima Nova Semi";color:#fff;text-transform:uppercase;letter-spacing:5px;'}= (Date.today + (@project.duration).to_i.days).strftime("%b")
          %span{:style => 'display:block;text-align:center;font:normal 72px/72px "Proxima Nova Semi";color:#fff;text-transform:uppercase;margin-top:5px'}= (Date.today + (@project.duration).to_i.days).strftime("%d")
        %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:40px;margin-bottom:0;"} Project Goal
        %h2{:style => "text-align:center;color:#b6b6b4;font-family:'Proxima Nova Semi';margin-top:0;"}= number_to_currency(@project.goal, precision: 0)
    .span9.details
      %div{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.story
      .cultivation-image-content
        = image_tag "#{@project.cultivation_image}" if @project.cultivation_image
        .action_button
          %button{:id => "new-cultivation"} ADD NEW PHOTO
          = link_to "Delete Photo", delete_image_path(@project.id, type: "cultivation"), class: "btn delete_photo", method: 'DELETE', style: "display: #{'none' unless @project.cultivation_image}"

%script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
:javascript
  $('.delete_photo').click(function(){
    $('#seed_image').hide();
  });

  var cover = document.getElementById('new-seed');
  cover.type="filepicker";
  cover.onchange = function(e){
    var seedImage = event.fpfile.url;

    $.ajax({
      url: '/projects/update_image?status=seed_image',
      method: 'POST',
      data: {
        image: seedImage
        },
      success: function(data){
        $('#seed_image').remove();
        $('.delete_photo').show();
        $('.image_warp').html("<div class='image_wrap'><img src=" + seedImage + " id='seed_image' data-project-id="+ data.project_id +"></div>");
      }
    });
  };
  filepicker.constructWidget(cover);

  var cultivation = document.getElementById('new-cultivation');
  cultivation.type="filepicker";
  cultivation.onchange = function(e){
    var seedImage = event.fpfile.url;

    $.ajax({
      url: '/projects/update_image?status=cultivation',
      method: 'POST',
      data: {
        image: seedImage
        },
      success: function(data){
        $('#seed_image').remove();
        $('.delete_photo').show();
        $('.cultivation-image-content').html("<div class='image_wrap'><img src=" + seedImage + " id='seed_image' data-project-id="+ data.project_id +"></div>");
      }
    });
  };
  filepicker.constructWidget(cultivation);

  var updateImageSeed = function(event){

  }


  function updateCutdown() {
    var remaining = 150 - jQuery('.headline').val().length;
    jQuery('.cutdown').text('(' + remaining + ' characters remaining.)');
  }

  updateCutdown();
  $('.headline').change(updateCutdown);
  $('.headline').keyup(updateCutdown);


