= stylesheet_link_tag "admin_project"

#fb-root
:javascript

  filepicker.setKey('#{Settings.filepicker.api_key}');


.full-width.banner
  .container
    .span3
      %div{:style => "border-right: 1px solid #464646; height: 75px;"}
        %h4.project-tittle
          = @project.title
        %h5.project-location
          #{@project.city}, #{@project.state}

    .span3
      %div{:style => "border-right: 1px solid #464646; height: 75px;"}
        %h6
          Current Amount Funded
        %h2.highlighted-value
          = number_to_currency(amount_funded(@project.id), :precision => 0)
        .of-italic
          of #{number_to_currency(@project.goal, :precision => 0)}

    .span2
      %div{:style => "border-right: 1px solid #464646; height: 75px;"}
        %h6
          Project
          %br
          Sponsors
        %h2.highlighted-value
          = @sponsor_count

    .span2
      %div{:style => "border-right: 1px solid #464646; height: 75px;"}
        %h6
          Individual
          %br
          Contributions
        %h2.highlighted-value
          = @donations.count

    .span2
      %div{:style => ""}
        %h6
          Days
          %br
          Remaining
        %h2.highlighted-value
          #{campaign_days_left(@project)}

.cf

.menu-project
  .container
    %ul.clearfix.admin-menu
      %li.overview.active{:style => "margin-left: 0"}
        = link_to "Project Overview", project_admin_project_path(@project.id), class: "sub-menu-project"
        .nav-arrow
      %li.manage
        = link_to "Manage Project", project_admin_project_manage_path(@project.id), class: "sub-menu-project manage", remote: true
        .nav-arrow
      %li.funder
        = link_to "Project Funders", project_admin_project_project_founder_path(@project.id), class: "sub-menu-project founder", remote: true
        .nav-arrow
      %li.message
        = link_to "Project Messages", project_admin_project_messages_path(@project.id), class: "sub-menu-project messages", remote: true
        .nav-arrow

.main-content{:style => "margin-top:200px;"}
  = render "overview"
