= stylesheet_link_tag "admin_project"

#fb-root
:javascript

  $(".sub-menu-project").live("click",function(){
    $(".main-content").html('<div class="loading-main-content" style=" font-weight: bolder; margin-left: 47%;">Loading..<br><img alt="3" src="/assets/3.gif" style="padding-left: 2%"></div>');
  });

  $(".menu-messages").live("click",function(){
    $(".content-manage-project").html('<div class="loading-main-content" style=" font-weight: bolder; margin-left: 40%; margin-top: 140px">Loading..<br><img alt="3" src="/assets/3.gif" style="padding-left: 2%"></div>');
  });


.full-width.banner
  .container
    .span3
      %div{:style => "border-right: 1px solid #464646; height: 75px;"}
        %h4.project-tittle
          = @project.project_title
        %h5.project-location
          #{@project.city}, #{@project.state}

    .span3
      %div{:style => "border-right: 1px solid #464646; height: 75px;"}
        %h6
          Current Amount Funded
        %h2.highlighted-value
          = number_to_currency(@total_fundings[:total_amount], :precision => 0)
        .of-italic
          of #{number_to_currency(@project.goal, :precision => 0)}

    .span2
      %div{:style => "border-right: 1px solid #464646; height: 75px;"}
        %h6
          Project
          %br
          Sponsors
        %h2.highlighted-value
          = @sponsor_count

    .span2
      %div{:style => "border-right: 1px solid #464646; height: 75px;"}
        %h6
          Individual
          %br
          Contributions
        %h2.highlighted-value
          = @donations.count

    .span2
      %div{:style => ""}
        %h6
          Days
          %br
          Remaining
        %h2.highlighted-value
          - if campaign_days_left(@project) > 0
            #{campaign_days_left(@project)}
          - else
            Complete

.cf

.menu-project
  .container
    %ul.clearfix.admin-menu{:style => "margin-left: 0"}
      %li.overview.active{:style => "margin-left: 0"}
        = link_to "Project Overview", project_admin_project_path(@project.id), class: "sub-menu-project"
        .nav-arrow
      %li.manage
        = link_to "Manage Project", project_admin_project_manage_path(@project.id), class: "sub-menu-project manage", remote: true
        .nav-arrow
      %li.funder
        = link_to "Project Funders", project_admin_project_project_founder_path(@project.id), class: "sub-menu-project founder", remote: true
        .nav-arrow
      %li.message
        = link_to "Project Messages", project_admin_project_messages_path(@project.id), class: "sub-menu-project messages"
        .nav-arrow
      %li.tw
        = link_to "Transparency Workroom", "/project_admin/documents?project_id=#{@project.id}", class: "sub-menu-project workroom", remote: true
        .nav-arrow

.main-content{:style => "margin-top:200px;"}
  = render "overview"

%section#noticeSuccess.modal.hide.fade
  .modal-header{style: "height: 17px;"}
    %button.close.closes{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"}
      Close X
    %h3#myModalLabel.tittle.title-modal{:style => "margin-bottom: 0;"}
  .modal-body
    %p.messages-content-modal
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal", style: "float: none; margin: 0 auto;"} Ok

