.full-width.banner
  .container
    .span3
      %h3= @project.title
      %h5 #{@project.city}, #{@project.state}
    
    .span3
      %h6 Current Amount Funded
      %h2= number_to_currency(amount_funded(@project.id), :precision => 0)
      of #{number_to_currency(@project.goal, :precision => 0)}

    .span2
      %h5 Project Sponsors
      %h2= @sponsor_count
			
    .span2
      %h5 Individual Contributions
      %h2= @donations.count
	
    .span2
      %h5 Days Remaining
      %h2 #{time_left(@project.duration, @project.approval_date)}
			
.cf

#pages{:style => "margin-top:200px;"}
  %ul
    %li
      = link_to "Project Overview", "#tabs-1"
    %li
      = link_to "Manage Project", "#tabs-2"
    %li
      = link_to "Project Funders", "#tabs-3"
    %li
      = link_to "Project Messages", "#tabs-4"
			
  #tabs-1.cf
    .span8
      %h3 Funding Tracker
      %p Chart goes here
      %h3 Funding Breakdown By Day
      %p Breakdown goes here
    .span4
      %h3 Funding Sources
      %p Chart goes here
  #tabs-2
    %span4
    %span8
      %h3 My Project Cover Photo
      %p Add ability to change cover photo here
      %h3 My Project Photo Gallery
      %p Add photo gallery and upload here
  #tabs-3
    Test 3
  #tabs-4
    Test 4
		
		
%script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
:javascript
  $(function() {
    $( "#pages" ).tabs();
  });