.full-width.banner
  .container
    .span3
      %h4.white-text= @project.title
      %h5 #{@project.city}, #{@project.state}

    .span3
      %h6 Current Amount Funded
      %h2= number_to_currency(amount_funded(@project.id), :precision => 0)
      of #{number_to_currency(@project.goal, :precision => 0)}

    .span2
      %h6.white-text Project Sponsors
      %h2= @sponsor_count

    .span2
      %h6.white-text Individual Contributions
      %h2= @donations.count

    .span2
      %h6.white-text Days Remaining
      / %h2 #{time_left(@project.duration, @project.approval_date)}

.cf

#pages{:style => "margin-top:200px;"}
  %ul
    %li
      = link_to "Project Overview", "#tabs-1"
    %li
      = link_to "Manage Project", "#tabs-2"
    %li
      = link_to "Project Funders", "#tabs-3"
    %li
      = link_to "Project Messages", "#tabs-4"

  #tabs-1.cf
    .span8
      %h3 Funding Tracker
      %p Chart goes here
      %h3 Funding Breakdown By Day
      %p Breakdown goes here
    .span4
      %h3 Funding Sources
      %p Chart goes here
  #tabs-2
    %span4
      #subtabs
        %ul
          %li
            %a{:href => "#tabs-1"} COVER PHOTO & GALLERY
          %li
            %a{:href => "#tabs-2"} PROJECT DETAILS
          %li
            %a{:href => "#tabs-3"} STORY VISUAL
          %li
            %a{:href => "#tabs-4"} PROJECT UPDATES
        #tabs-1{style: "height: 1200px;"}
          %div{style: "height: 800px; width: auto;"}
            %h2.title My Project Cover Photo
            = form_for(@project, html: {class: "sponsor-info span10 well", style: "margin-top: 0;", multipart: true}) do |f|
              - if @project.errors.any?
                #errorExplanation
                  %h2 #{pluralize(@project.errors.count, "error")}
                  %ul
                    - @project.errors.full_messages.each do |msg|
                      %li #{msg}
              %div.pull-left{style: "min-width: 350px; max-width: 350px;margin-right: 20px;"}
                #large_image{style: "background-image: url(#{@project.large_image}); -webkit-background-size: cover; background-size: cover;"}
                  %input{type: 'filepicker', name: 'large_image', 'data-fp-button-text' => 'CHANGE COVER PHOTO', 'data-fp-apikey' => "ArmO0TLVTkyCaJkQmBNfqz", 'data-fp-button-class' => 'coverphoto coverphoto2 btn', 'onchange' => 'updateCoverPhoto(event)', style: ''}
          %div{style: "height: auto; width: auto;"}
            %h2.title My Project Photo Gallery
            = form_for(@gallery, html: {class: "sponsor-info span10 well", style: "margin-top: 0;margin-left: 0;", multipart: true}) do |f|
              %input{type: 'filepicker', name: 'gallery', id: "project-submit" ,'data-fp-button-text' => 'ADD A NEW PHOTO', 'data-fp-apikey' => "ArmO0TLVTkyCaJkQmBNfqz", 'data-fp-button-class' => 'pull-left btn', 'onchange' => 'updateGallery(event)', style: ''}
            #galleryPicture
              - @picture_gallery.each do |image|
                .span3{style: "margin-left:0;"}
                  .span9.float-none
                    = image_tag image.gallery_file_name, class: "img-polaroid", style: "width:150px;height:120px;"
                  %br/
                  = link_to "delete photo", gallery_path(image.id), class: "green-font", style: "margin-left:20px", method: 'DELETE'
            %div{style: "clear: both;"}

        #tabs-2{style: "height: 1000px;"}
          %h2.title My Project Details
          = form_for(@project, html: {class: "sponsor-info span9 well", style: "margin-top: 0;", multipart: true}) do |f|
            - if @project.errors.any?
              #errorExplanation
                %h2 #{pluralize(@project.errors.count, "error")}
                %ul
                  - @project.errors.full_messages.each do |msg|
                    %li #{msg}
            %div.pull-left{style: "min-width: 350px; max-width: 350px;margin-right: 20px;"}
              = f.label :goal, "Funding Goal", class: "green-font"
              %h2= number_to_currency(@project.goal, precision: 0)

            %div.pull-left.span3{style: "margin-right: 20px;"}
              = f.label :duration, "Campaign Length", class: "green-font"
              %h2= pluralize(@project.duration, "Days")
            %br/
            %div
              = f.label :title, class: "green-font" do
                CAMPAIGN HEADLINE
                %span.cutdown.italic
              = f.text_area :title, maxlength: 150, :required => true, class: "headline", style: "width: 662px; height: 80px;"

            %div
              = f.label :story , "YOUR STORY", class: "green-font"
              = f.text_area :story, :required => true, style: "width: 662px; height: 298px;"
            %div
              = f.label :about , "TELL US ABOUT YOUR PROJECT", class: "green-font"
              = f.text_area :about, :required => true, style: "width: 662px; height: 298px;"

            %div
              = f.submit "Save Updates", :class => "btn", :id => "project-submit"
        #tabs-3
          %h2 Content heading 3
          %p Test
        #tabs-4
          %h2 Content heading 3
          %p Test
  #tabs-3
    Test 3
  #tabs-4
    Test 4

%script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
:javascript
  var updateCoverPhoto = function(event){
    console.log(event.fpfile.url);
    var largeImage = event.fpfile.url;

    $.ajax({
      url: '/projects/save_image',
      method: 'POST',
      data: {
        large_image: largeImage
        }
    }).done(function(){
      console.log("finished");
      $('#large_image').css('background-image','url(' + largeImage + ')');
    });
  }
  var updateGallery = function(event){
    console.log(event.fpfile.url);
    var pictureImage = event.fpfile.url;
    var pictureSize = event.fpfile.size;
    var pictureType = event.fpfile.type;

    $.ajax({
      url: '/galleries/save_image',
      method: 'POST',
      data: {
        gallery: pictureImage
        },
      success: function(data){
        console.log(data);
        $('#galleryPicture').append("<div class='span3' style='margin-left:0;'><div class='span9 float-none margin-auto'><img src=" + pictureImage + " class='img-polaroid' style='width:150px;height:120px;' ><br/><a href='/galleries/" + data.image_id + " class='green-font' data-method='DELETE' style='margin-left:20px'>delete photo</p></div></div></div>");
      }

    });
  }

  $(function() {
    $( "#pages" ).tabs();
    $("#tabs, #subtabs").tabs();
    $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
    $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
  });
  function updateCutdown() {
    var remaining = 150 - jQuery('.headline').val().length;
    jQuery('.cutdown').text('(' + remaining + ' characters remaining.)');
  }
  updateCutdown();
  $('.headline').change(updateCutdown);
  $('.headline').keyup(updateCutdown);

:css
  .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}