%tr
  %td{:valign => "top"}
    %img{:src => "http://#{@host}/assets/pr-email-banner.jpg", :style => "display:block;"}
%tr
  %td{:valign => "top", :style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;" }
    %p Hello #{@user.first_name},
    %br
    %p
      There has been an update made to your Transparency Workroom on #{@project.project_title}.
    %br
    %p
      To view the latest updates and news, please click here:
      = link_to project_transparency_workroom_index_url(@project), project_transparency_workroom_index_url(@project)
    %br
    %p
      If you are not signed in, please enter your login credentials when prompted.
      Thanks.
    %br
    %p #{@manager.first_name} #{@manager.last_name}