= javascript_include_tag "https://js.stripe.com/v2/"

:javascript
  function updateSponsorLogo (event) {
    var logoImage = event.fpfile.url;

    $('.logo-company').attr('src', logoImage);
    $('.logo-company').attr('style', 'width: 100px; height: 100px;');
    $('#project_sponsor_logo').hide();
    $("#project_sponsor_logo").val(logoImage);
  }

.full-width.hero
  .container
    = image_tag "thank-u.png"
    .headline
      %h2 Thanks for becoming a project sponsor.
      %p Continue to the checkout process below to confirm your sponsorship level, enter sponsor information, and choose your payment method.
.container
  .row-fluid
    .span8
      %h4.tittle{:style => "padding-bottom: 10px;"} CHECKOUT
      .project-location
        %h4.label-green
          = @project.project_title
        %div{:style => 'font-family:"Proxima Nova Semi";  margin-bottom: 15px;'}
          = image_tag "marker.jpg", :class => 'marker', :style => 'float:none;'
          = @project.address
          = @project.city
          = @project.state
          = @project.zip

    .span4.sidebar.pull-right
      %h4 SPONSORSHIP LEVELS
      .well
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"}
          Platinum
          %span.small-heading
            #{availability(@project.project_sponsors, 1)} of 1 Available
        %ul.dashed-list
          - if @sponsorship_benefits.include?(1)
            - @sponsorship_benefits[1].each do |benefit|
              %li
                = benefit.name
        .clearfix{:style => "margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0; margin-left: -19px; margin-right: -19px; padding-left: 19px; padding-right: 19px;"}
          .pull-left
            %h5{style: "margin-bottom: 0;"} COST
            %h3{style: "margin: 0;line-height: 20px;"}= amount_converter((@project.goal.to_i * 0.25))
          - if check_availibility(@project, 1) < 1
            %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-1", :"sponsor-id" => "1"}
              SPONSOR ►
          -else
            .pull-right{style: "font-style: italic; margin-top:20px;"}
              Not Available
              %span
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"}
          Gold
          %span.small-heading
            #{availability(@project.project_sponsors, 2)} of 3 Available
        %ul.dashed-list
          - if @sponsorship_benefits.include?(2)
            - @sponsorship_benefits[2].each do |benefit|
              %li #{benefit.name}
        / %div{:style => "height: 80px; width: 100%;"}
        .clearfix{:style => "margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0; margin-left: -19px; margin-right: -19px; padding-left: 19px; padding-right: 19px;"}
          .pull-left
            %h5{style: "margin-bottom: 0;"} COST
            %h3{style: "margin: 0;line-height: 20px;"}= amount_converter((@project.goal.to_i * 0.1))
          - if check_availibility(@project, 2) < 3
            %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-2", :"sponsor-id" => "2"}
              SPONSOR ►
          -else
            .pull-right{style: "font-style: italic; margin-top:20px;"}
              Not Available
              %span
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"}
          Silver
          %span.small-heading
            #{availability(@project.project_sponsors, 3)} of 5 Available
        %ul.dashed-list
          - if @sponsorship_benefits.include?(3)
            - @sponsorship_benefits[3].each do |benefit|
              %li #{benefit.name}
        / %div{:style => "height: 80px; width: 100%;"}
        .clearfix{:style => "margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0; margin-left: -19px; margin-right: -19px; padding-left: 19px; padding-right: 19px;"}
          .pull-left
            %h5{style: "margin-bottom: 0;"} COST
            %h3{style: "margin: 0;line-height: 20px;"}= amount_converter((@project.goal.to_i * 0.05))
          - if check_availibility(@project, 2) < 3
            %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-3", :"sponsor-id" => "3"}
              SPONSOR ►
          - else
            .pull-right{style: "font-style: italic; margin-top:20px;"}
              Not Available
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"}
          Bronze
        %ul.dashed-list
          - if @sponsorship_benefits.include?(4)
            - @sponsorship_benefits[4].each do |benefit|
              %li #{benefit.name}
        /%div{:style => "height: 80px; width: 100%;"}
        .clearfix
          .pull-left
            - if (@project.goal.to_i * 0.02) >= 750
              %h3{style: "margin: 0; margin-top: 20px; line-height: 20px;"}
                = number_to_currency((750), precision: 0)
            - else
              %h3{style: "margin: 0;line-height: 20px;"}= amount_converter(@project.goal.to_i * 0.02)
          %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-4", :"sponsor-id" => "4"}
            SPONSOR ►

    = form_for(@sponsor, :url => project_sponsor_path, :html => {:class => "span8 edit_sponsor", :style => "margin-left: 0;", multipart: true, method: 'PUT'}) do |f|
      .well.clearfix{:style => "border-top: none; padding-bottom: 0; border: 1px solid #e0e0e0;"}
        .payment-errors
        .span12{:style => "background-color: #f5f5f5; margin-left: 0px;"}
          .pull-left{:style => "width: 250px; height: 500px; border-right: solid 1px #d3d3d3; margin-top: -19px; padding-top: 19px;"}
            %h4 SPONSORSHIP COST
            %h1.cost-level.label-green-big.label-green #{amount_converter(@cost)}
            = image_tag "platinum-placement.png", class: "sponsor-placement platinum"
            = image_tag "gold-placement.png", class: "sponsor-placement gold"
            = image_tag "silver-placement.png", class: "sponsor-placement silver"
            = image_tag "bronze-placement.png", class: "sponsor-placement bronze"

          .pull-right{:style => "width: 320px;"}
            = label_tag :project_sponsor_name do
              CHOOSE YOUR SPONSORSHIP LEVEL
            .selectParent
              = select :project_sponsor, :level_id, options_for_select(@sponsorship_levels.map {|level| ["#{level.name} Level", level.id]}, session[:level_id]), class: "selectbox"

            = image_tag "3.gif", id: "loading", style: "display: none; margin: -3px 0 10px 10px;"
            %br/
            %h5 SPONSORSHIP DETAILS
            .sponsorship-level-details
              %h2{:style => "color: #70bf4c"}
                #{@level} sponsor
              %ul.dashed-list
                - unless @first_benefits.nil?
                  - @first_benefits.each do |benefit|
                    %li #{benefit.name}
        .span12{:style => "margin: 0 -19px; padding: 0 19px; border-top: 1px solid #d3d3d3; width: 632px;"}
          %p.checkout-continue-subtext{:style => "border-top: none;"} Continue to payment information below or choose a different seed amount/perk from the right.

      %h4 SPONSOR INFORMATION
      .well
        .req-legend
          *Required
        %div.anonymous-check
          = f.label :anonymous, class: "label-green" do
            ANONYMOUS SPONSORSHIP?
            %span.error-container
          = f.check_box :anonymous, {label: false, style: "margin-bottom: 5px"}
          I would like to make this sponsorship anonymously.
          .content-anonymous{style: "#{'display: none' unless @sponsor.anonymous}"}
            (If checked, your information will be witheld from the project owner as well as from any other audience, and you will not receive the sponsorship benefits listed above. We still need to gather your information in order to provide you with a tax receipt. Website, Logo, and Mission Statement are optional.)
        %div
          = f.label :name, class: "label-green" do
            Business OR ORGANIZATION NAME*
            %span.error-container
          = text_field :project_sponsor, :name, required: true, label: false, class: "span12"
        %div.clearfix{:style => "margin-bottom: 10px; width: 500px;"}
          = f.label :mission, class: "label-green" do
            BUSINESS OR ORGANIZATION'S LOGO
            %span.real-green-small{style: "color: #81C263 !important; #{'display: none' if @sponsor.anonymous}"}"}*
            %span.error-container
          %div{:style => "position: relative;"}
            = image_tag @project_sponsor.logo, :class => "img-polaroid pull-left logo-company", :style => "position: relative; z-index: 10; width:100px; height:100px;"
            .pic-upload
              .upload-btn
                %input{:type => 'filepicker', :name => 'project_sponsor_logo', 'data-fp-button-text' => 'UPLOAD ►', 'data-fp-apikey' => Settings.filepicker.api_key, 'data-fp-button-class' => 'btn', 'onchange' => 'updateSponsorLogo(event)', 'data-fp-mimetypes' => 'image/*', 'data-fp-services' => 'BOX,COMPUTER,FACEBOOK,DROPBOX,INSTAGRAM,FLICKR,PICASA'}
                  %span

                / = file_field :project_sponsor, :logo, required: true, label: false
              %p
                %span
                  Note:
                Logo file should be at least 200px x 200px jpeg, gif, or png files.
            = text_field :project_sponsor, :logo, required: true, label: false, type: "", value: @project_sponsor.logo, :style => "position: absolute; top: -1px; left: -1px; width: 108px; height: 108px; box-shadow: NONE !IMPORTANT;"
            %span.error-container.beside-form
        %div
          = label_tag :sponsor_type, "Sponsor Type*", class: "label-green"
          / = select_tag :type, options_for_select(["Foundation", "Business"])
          .selectParent.parentWide.clearfix{:style => "margin-bottom: 10px;"}
            = select_tag :type, options_for_select(["Foundation", "Business", "Individual/Family"], @project_sponsor.sponsor_type), class: "selectbox"
        %div
          = f.label :site, class: "label-green" do
            Website
            %span.real-green-small{style: "color: #81C263 !important; #{'display: none' if @sponsor.anonymous}"}*
            %span.italic
              (Format: www.yoursite.com)
            %span.error-container
          = text_field :project_sponsor, :site, required: true, label: false, class: "span12"
        %div
          = f.label :mission, class: "label-green" do
            MISSION STATEMENT / ABOUT
            %span.real-green-small{style: "color: #81C263 !important; #{'display: none' if @sponsor.anonymous}"}"}*
            %span.cutdown.italic
            %span.error-container
          = text_area :project_sponsor, :mission, maxlength: 275, required: true, :style => "height: 186px; width: 595px;", label: false, class: "mission", placeholder: "Tell your story here ..."

      %h3 Payment Information
      .well
        %div
          = f.label :payment_type, class: "label-green" do
            PREFERRED PAYMENT METHOD*
            %span.italic (max 45 days)
            .selectParent.parentWide.clearfix{:style => "margin-bottom: 10px;"}
              = f.select :payment_type, options_for_select(Sponsor::PAYMENT), :id => "payment_type", required: true, :size => 17


        ///////////////////////////////////////////////////////
        /                                                     /
        / Do not change this credit card form as it is set up /
        / the way that stripe needs it and is working         /
        /                                                     /
        ///////////////////////////////////////////////////////

        %div#credit-card
          = hidden_field_tag :token
          = hidden_field_tag 'project_sponsor[card_type]'
          = hidden_field_tag 'project_sponsor[card_last4]'
          = hidden_field_tag 'project_sponsor[project_id]', @project.id
          - if @sponsor.token.present?
            Credit card has been provided.
          - else
            .field.name
              = label_tag :card_name, class: "label-green" do
                NAME AS IT APPEARS ON CARD*
                %span.error-container
              = text_field_tag nil, user_signed_in? ? "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" : "" , name: "sponsor[card_name]", class: "span12 required_data", id: "name"
            .field.card-number
              = label_tag :card_number, class: "label-green" do
                Credit Card Number*
                %span.error-container
              = text_field_tag :card_number, nil, name: "card-number", class: "span12 required_data"
            .field.ccv
              = label_tag :card_code, class: "label-green" do
                CVV*
              = text_field_tag :card_code, nil, name: "cvv", maxlength: 4, class: "span10 required_data"
              %span.error-container.beside-form{style: "float: none; margin-left: 12px;"}
            .field.expiration
              = label_tag :card_month, class: "label-green" do
                CARD EXPIRATION (MM/YYYY)*
              / = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
              / = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
              = text_field_tag nil, nil, {name: "month", id: "card_month", class: "span3 required_data", maxlength: 2}
              = text_field_tag nil, nil, {name: "year", id: "card_year", class: "span5 required_data", maxlength: 4}
              %span.error-container.beside-form
            .cf
          #stripe_error
            %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

        %div#wire-transfer{:style => "display: none;"}
          %div.name
            = f.label :name, class: "label-green" do
              CONTACT NAME*
              %span.error-container
            = f.text_field :name, :size => 40, label: false, class: "transfer-input"
          %div.email
            = f.label :email, class: "label-green" do
              CONTACT EMAIL*
              %span.error-container
            = f.text_field :email, :size => 40, label: false, class: "transfer-input"
          %div.phone
            = f.label :phone, class: "label-green" do
              CONTACT PHONE NUMBER*

            = f.text_field :phone, :size => 25, type: "text", label: false, class: "transfer-input"
            %span.error-container.beside-form{style: "float: left; margin-left: 10px;"}
        %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}
        %div{:class => "clearfix"}
          = image_tag "3.gif", id: "submit-progress", style: "display: none; float: left; position: relative; top: 32px; margin-right: -40px; margin-left: 15px; z-index: 9999;"
          = f.button "Submit ►", class: "btn pull-right", id: "project-submit"
          %a.error-message

.project-id{:style => "display: none;"}
  = @project.id

:javascript

  project_token = "#{@project.project_token}";
  project_pub_key = "#{@project.publishable_key}";
  anonymous_status = "#{@sponsor.anonymous}";

  $(function(){
    var selectedLevel = parseInt($('#selected_level').attr("level_id"));
    $("#project_sponsor_level_id option[value='"+ selectedLevel +"']").attr("selected", "selected");

    Stripe.setPublishableKey('project_pub_key');

    var processCard = function() {
      var card;
      card = {
        number: $('#card_number').val(),
        cvc: $('#card_code').val(),
        expMonth: $('#card_month').val(),
        expYear: $('#card_year').val()
      };
      Stripe.createToken(card, handleStripeResponse);
    };

    $('.sponsor-placement').hide();
      switch ($('#project_sponsor_level_id').val())
      {
        case '1': $(".platinum").show(); break;
        case '2': $(".gold").show(); break;
        case '3': $(".silver").show(); break;
        case '4' : $(".bronze").show(); break;
      }

    var handleStripeResponse = function(status, response) {
      if (status === 200) {
        $('input#token').attr('value', response.id);
        $('input#project_sponsor_card_last4').attr('value', response.card.last4);
        $('input#project_sponsor_card_type').attr('value', response.card.type);
        $('.edit_sponsor')[0].submit();
      } else {
        $(".error-message").text(response.error.message);
        return $('input[type=submit]').attr('disabled', false);
      }
    };

    $('#edit_sponsor_#{@sponsor.id}').validate({
      messages: {
        "project_sponsor[logo]": {
          required: "Image Can't Be Blank"
        },
        year: {
          required: "Fields Required",
          minlength: "At Least 4 Digits",
          maxlength: "At most 4 Digits"
        },
        month: {
          required: "Fields Required",
          maxlength: "At Most 2 Digits"
        },
        "cvv": {
          digits: "Only Digits",
          minlength: "At Least 3 Digits",
          maxlength: "At Most 4 Digits"
        }
      },
      rules: {
        "sponsor[email]":{
          required: true,
          email: true
        },
        "project_sponsor[logo]":{
          required: true
        },
        "project_sponsor[site]":{
          required: true,
          requiredUrl: true
        },
        "sponsor[phone]":{
          required: true,
          number: true
        },
        "sponsor[card_name]": {
          required: true
        },
        "card-number": {
          required: true,
          creditcard: true
        },
        "cvv": {
          required: true,
          digits: true,
          maxlength: 4
        },
        month: {
          required: true,
          digits: true,
          maxlength: 2
        },
        year: {
          required: true,
          digits: true,
          minlength: 4,
          maxlength: 4
        }
      },
      groups:{
        date: "month year"
      },
      errorPlacement: function(error, element) {
        error.appendTo(element.parent().find(".error-container"));
      },
      submitHandler: function(form) {
        var tes = $('#card_number').val().length != 0
        if ( $("#sponsor_payment_type").val() == "Credit Card") {
          if ( $('#card_number').val().length == 0 ){
            processCard();
          }
          else{
            processCard();
          }
        }
        else{
          form.submit();
        }
      }
    });

    if (anonymous_status)
    {
      $("#project_sponsor_logo, #project_sponsor_mission").removeAttr("required").rules("remove");
      $("#project_sponsor_site").removeAttr("required").attr("style", "border: none !important").rules("remove");
    }

    $("#sponsor_payment_type").change(function(){
      if(this.value == "Credit Card"){
        $("#wire-transfer").hide();
        $("#credit-card").show();
        $(".card-input").attr("required", "required");
        $(".transfer-input").removeAttr("required");
      }else{
        $("#wire-transfer").show();
        $("#credit-card").hide();
        $(".card-input").removeAttr("required");
        $(".transfer-input").attr("required", "required");
      }
    });

    $('.stripe-connect').click(function() {
      localStorage.setItem('organization', $('#project_organization').val());
      localStorage.setItem('address', $('#project_address').val());
      localStorage.setItem('city', $('#project_city').val());
      localStorage.setItem('state', $('#project_state').val());
      localStorage.setItem('zip', $('#project_zip').val());
      localStorage.setItem('website', $('#project_website').val());
      localStorage.setItem('twitter_handle', $('#project_twitter_handle').val());
      localStorage.setItem('facebook_page', $('#project_facebook_page').val());
    });

    function updateCutdown() {
      var remaining = 275 - jQuery('.mission').val().length;
      jQuery('.cutdown').text('(' + remaining + ' characters remaining.)');
    }
    updateCutdown();
    $('.mission').change(updateCutdown);
    $('.mission').keyup(updateCutdown);

    $("#project_sponsor_level_id").change(function(){
      var projectId = parseInt($(".project-id").text());
      $.ajax({
        url: "/projects/" + projectId + "/sponsors/" + this.value + "/get_sponsorship_levels.js",
        beforeSend: function ( xhr ) {
          $("#loading").show();
        }
      }).done(function ( xhr ) {
        $("#loading").hide();
      });
    });
    $(".sponsor-change").click(function(){
      var projectId = parseInt($(".project-id").text());
      var sponsorId = parseInt($(this).attr("sponsor-id"));
      // $("#project_sponsor_level_id option").removeAttr("selected").removeAttr("selected");
      $("#project_sponsor_level_id option").removeAttr("selected");
      $("#project_sponsor_level_id option[value='"+ sponsorId +"']").attr("selected", "selected");
      $.ajax({
        url: "/projects/" + projectId + "/sponsors/" + sponsorId + "/get_sponsorship_levels.js",
        beforeSend: function ( xhr ) {
          $("#loading").show();
        }
      }).done(function ( xhr ) {
        $("#loading").hide();
      });
    });

    $(":checkbox").click(function(){
      if($(this).is(":checked")){
        $(".content-anonymous").fadeIn();
        $(".real-green-small").hide();
        $("#project_sponsor_logo, #project_sponsor_mission").removeAttr("required").rules("remove");
        $("#project_sponsor_site").removeAttr("required").attr("style", "border: none !important").rules("remove");
      }else{
        $(".content-anonymous").fadeOut();
        $(".real-green-small").show();
        $("#project_sponsor_logo, #project_sponsor_mission").attr("required", "required").rules( "add", {
          required: true
        });
        $("#project_sponsor_site").removeAttr("style").attr("required", "required").rules("add", {
          required: true,
          requiredUrl: true
        });
      }
    });

  });
/ $.get("/projects/" + projectId + "/sponsors/" + this.value + "/get_sponsorship_levels.js")
