= javascript_include_tag "https://js.stripe.com/v2/"
.full-width.hero
  .container
    %h2 This is a placeholder
.container
  .row-fluid
    .span8
      %h4.title{:style => "border-bottom: 6px solid #48C94C; padding-bottom: 10px;"} CHECKOUT
      .project-location
        %h4{:style => "color: #48C94C;"}= @project.project_title
        %div{:style => 'font-family:"Proxima Nova";  margin-bottom: 15px;'}
          = image_tag "marker.jpg", :class => 'marker', :style => 'float:none;'
          = @project.address
          = @project.city
          = @project.state
          = @project.zip

    .span4.sidebar.pull-right
      %h4 SPONSORSHIP LEVELS
      .well
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"}
          Platinum #{availability(@project.project_sponsors, 1)} of 1 Available
        %p.normal-font
        - @sponsorship_benefits[1].each do |benefit|
          %p.normal-font - #{benefit.name}
        %div{:style => "height: 80px; width: 100%;"}
          .pull-left
            %h5 COST
            %h3{style: "margin-top:-20px;"}= number_to_currency((@project.goal.to_i * 0.3), precision: 0)
          %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-1", :"sponsor-id" => "1"}
            SPONSOR
            %span
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"}
          Gold #{availability(@project.project_sponsors, 2)} of 3 Available
        %p.normal-font
        - @sponsorship_benefits[2].each do |benefit|
          %p.normal-font - #{benefit.name}
        %div{:style => "height: 80px; width: 100%;"}
          .pull-left
            %h5 COST
            %h3{style: "margin-top:-20px;"}= number_to_currency((@project.goal.to_i * 0.1), precision: 0)
          %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-2", :"sponsor-id" => "2"}
            SPONSOR
            %span
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"}
          Silver #{availability(@project.project_sponsors, 3)} of 5 Available
        %p.normal-font
        - @sponsorship_benefits[1].each do |benefit|
          %p.normal-font - #{benefit.name}
        %div{:style => "height: 80px; width: 100%;"}
          .pull-left
            %h5 COST
            %h3{style: "margin-top:-20px;"}= number_to_currency((@project.goal.to_i * 0.04), precision: 0)
          %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-3", :"sponsor-id" => "3"}
            SPONSOR
            %span
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"}
          Bronze
        %p.normal-font
        - @sponsorship_benefits[1].each do |benefit|
          %p.normal-font - #{benefit.name}
        %div{:style => "height: 80px; width: 100%;"}
          .pull-left
            %h5 COST
            %h3{style: "margin-top:-20px;"}= number_to_currency((@project.goal.to_i * 0.005), precision: 0)
          %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-4", :"sponsor-id" => "4"}
            SPONSOR
            %span

    = form_for(@sponsor, :url => project_sponsors_path, :html => {:class => "span8 well", :style => "margin-left: 0;", multipart: true, method: 'POST'}) do |f|
      - logger.debug(@sponsorship_levels)
      .payment-errors
      .span12{:style => "background-color: #f5f5f5; margin-left: 0px;"}
        .pull-left{:style => "width: 250px; height: 500px; border-right: solid 1px #d3d3d3;"}
          %h4{:style => "font-size: 10;"} SPONSORSHIP COST
          %h1.cost-level.green-font-big #{number_to_currency(@cost, precision: 0)}
        .pull-right{:style => "width: 320px;"}
          = label_tag :project_sponsor_name do
            CHOOSE YOUR SPONSORSHIP LEVEL
          .selectParent
            = select :project_sponsor, :level_id, options_for_select(@sponsorship_levels.map {|level| ["#{level.name} Level", level.id]}, session[:level_id]), class: "selectbox"

          = image_tag "3.gif", id: "loading", style: "display: none; margin: -3px 0 10px 10px;"
          %br/
          %h5 SPONSORSHIP DETAILS
          .sponsorship-level-details
            %h3.green-font #{@level} sponsor
            - @first_benefits.each do |benefit|
              %p.normal-font - #{benefit.name}
      %h4 SPONSOR INFORMATION
      %div
        = f.label :name, "Business OR ORGANIZATION NAME*", class: "green-font"
        = text_field :project_sponsor, :name, required: true, label: false, class: "span12"
      %div
        = f.label :mission, class: "green-font" do
          BUSINESS OR ORGANIZATION'S LOGO*
        = file_field :project_sponsor, :logo, required: true, label: false
      %div
        = f.label :mission, class: "green-font" do
          MISSION STATEMENT / ABOUT*
          %span.cutdown.italic
        = text_area :project_sponsor, :mission, maxlength: 275, required: true, :style => "height: 186px; width: 595px;", label: false, class: "mission", placeholder: "Tell your story here ..."
      %div{:style => "border-top: solid 1px #a5a5a5; padding-top: 25px"}
        = f.label :payment_type, class: "green-font" do
          PREFERRED PAYMENT METHOD*
          %span.italic (max 45 days)
          .selectParent.parentWide
            = f.select :payment_type, options_for_select(Sponsor::PAYMENT), :id => "payment_type", required: true, :size => 17


      ///////////////////////////////////////////////////////
      /                                                     /
      / Do not change this credit card form as it is set up /
      / the way that stripe needs it and is working         /
      /                                                     /
      ///////////////////////////////////////////////////////

      %div#credit-card
        = hidden_field_tag :token
        = hidden_field_tag 'project_sponsor[card_type]'
        = hidden_field_tag 'project_sponsor[card_last4]'
        = hidden_field_tag 'project_sponsor[project_id]', @project.id
        - if @sponsor.token.present?
          Credit card has been provided.
        - else
          .field.name
            = label_tag :card_name, class: "green-font" do
              NAME AS IT APPEARS ON CARD*
            = text_field_tag nil, user_signed_in? ? current_user.first_name.capitalize : "" , name: "sponsor[card_name]", class: "span12"
          .field.card-number
            = label_tag :card_number, class: "green-font" do
              Credit Card Number
            = text_field_tag :card_number, nil, name: nil, class: "span12"
          .field.ccv.span4
            = label_tag :card_code, class: "green-font" do
              CVV*
            = text_field_tag :card_code, nil, name: nil, class: "span10"
          .field.expiration.span6
            = label_tag :card_month, class: "green-font" do
              CARD EXPIRATION (MM/YYYY)*
            / = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
            / = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
            = text_field_tag nil, nil, {name: nil, id: "card_month", class: "span3"}
            = text_field_tag nil, nil, {name: nil, id: "card_year", class: "span5"}
          .cf
        #stripe_error
          %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

      %div#wire-transfer{:style => "display: none;"}
        %div
          = f.label :name, "CONTACT NAME*", class: "green-font"
          = f.text_field :name, :size => 40, label: false, class: "transfer-input"
        %div
          = f.label :email, "CONTACT EMAIL*", class: "green-font"
          = f.text_field :email, :size => 40, label: false, class: "transfer-input"
        %div
          = f.label :phone, "CONTACT PHONE NUMBER*", class: "green-font"
          = f.text_field :phone, :size => 25, type: "text", label: false, class: "transfer-input"
      %div{:style => "border-top: solid 1px #a5a5a5; padding-top: 25px"}
        = image_tag "3.gif", id: "submit-progress", style: "display: none; float: left; position: relative; top: 32px; margin-right: -40px; margin-left: 15px; z-index: 9999;"
        = f.button :submit, class: "btn pull-right", id: "project-submit"
        %a.error-message

.project-id{:style => "display: none;"}
  = @project.id

:javascript
  project_token = "#{@project.project_token}";
  project_pub_key = "#{@project.publishable_key}";

  $(function(){
    var selectedLevel = parseInt($('#selected_level').attr("level_id"));
    $("#project_sponsor_level_id option[value='"+ selectedLevel +"']").attr("selected", "selected");

    Stripe.setPublishableKey('pk_test_BTNPlS59UIPJC5Fnp7CR9It6');

    var processCard = function() {
      var card;
      card = {
        number: $('#card_number').val(),
        cvc: $('#card_code').val(),
        expMonth: $('#card_month').val(),
        expYear: $('#card_year').val()
      };
      console.log("tes");
      Stripe.createToken(card, handleStripeResponse);
    };

    var handleStripeResponse = function(status, response) {
      if (status === 200) {
        console.log(response);
        $('input#token').attr('value', response.id);
        $('input#project_sponsor_card_last4').attr('value', response.card.last4);
        $('input#project_sponsor_card_type').attr('value', response.card.type);
        $('#new_sponsor')[0].submit();
      } else {
        $(".error-message").text(response.error.message);
        return $('input[type=submit]').attr('disabled', false);
      }
    };

    $('#new_sponsor').on('submit', function(e){
      if ( $("#sponsor_payment_type").val() == "Credit Card") {
        if ( $('#card_number').length ){
          processCard();
          return false;
        }
        else{
          return true;
        }
      }
      else{
        return true;
      }
    });

    $("#sponsor_payment_type").change(function(){
      if(this.value == "Credit Card"){
        $("#wire-transfer").hide();
        $("#credit-card").show();
        $(".card-input").attr("required", "required");
        $(".transfer-input").removeAttr("required");
      }else{
        $("#wire-transfer").show();
        $("#credit-card").hide();
        $(".card-input").removeAttr("required");
        $(".transfer-input").attr("required", "required");
      }
    });

    $('.stripe-connect').click(function() {
      localStorage.setItem('organization', $('#project_organization').val());
      localStorage.setItem('address', $('#project_address').val());
      localStorage.setItem('city', $('#project_city').val());
      localStorage.setItem('state', $('#project_state').val());
      localStorage.setItem('zip', $('#project_zip').val());
      localStorage.setItem('website', $('#project_website').val());
      localStorage.setItem('twitter_handle', $('#project_twitter_handle').val());
      localStorage.setItem('facebook_page', $('#project_facebook_page').val());
    });

    function updateCutdown() {
      var remaining = 275 - jQuery('.mission').val().length;
      jQuery('.cutdown').text('(' + remaining + ' characters remaining.)');
    }
    updateCutdown();
    $('.mission').change(updateCutdown);
    $('.mission').keyup(updateCutdown);

    $("#project_sponsor_level_id").change(function(){
      var projectId = parseInt($(".project-id").text());
      $.ajax({
        url: "/projects/" + projectId + "/sponsors/" + this.value + "/get_sponsorship_levels.js",
        beforeSend: function ( xhr ) {
          $("#loading").show();
        }
      }).done(function ( xhr ) {
        $("#loading").hide();
      });
    });
    $(".sponsor-change").click(function(){
      var projectId = parseInt($(".project-id").text());
      var sponsorId = parseInt($(this).attr("sponsor-id"));
      // $("#project_sponsor_level_id option").removeAttr("selected").removeAttr("selected");
      $("#project_sponsor_level_id option").removeAttr("selected");
      $("#project_sponsor_level_id option[value='"+ sponsorId +"']").attr("selected", "selected");
      $.ajax({
        url: "/projects/" + projectId + "/sponsors/" + sponsorId + "/get_sponsorship_levels.js",
        beforeSend: function ( xhr ) {
          $("#loading").show();
        }
      }).done(function ( xhr ) {
        $("#loading").hide();
      });
    });
  });
/ $.get("/projects/" + projectId + "/sponsors/" + this.value + "/get_sponsorship_levels.js")
