= javascript_include_tag "https://js.stripe.com/v2/"

:javascript
  function updateSponsorLogo (event) {
    console.log(event.fpfile.url);
    var logoImage = event.fpfile.url;

    $('.logo-company').attr('src', logoImage);
    $('.logo-company').attr('style', 'position: absolute; top: 5; ;left: 5; width: 100px');
    $('#project_sponsor_logo').hide();
    $("#project_sponsor_logo").val(logoImage);
  }

.full-width.hero
  .container
    = image_tag "thank-u.png"
    .headline
      %h2= @project.title
      %p Your donations help make our dreams reality.
.container
  .row-fluid
    .span8
      %h4.tittle{:style => "padding-bottom: 10px;"} CHECKOUT
      .project-location
        %h4.label-green
          = @project.project_title
        %div{:style => 'font-family:"Proxima Nova";  margin-bottom: 15px;'}
          = image_tag "marker.jpg", :class => 'marker', :style => 'float:none;'
          = @project.address
          = @project.city
          = @project.state
          = @project.zip

    .span4.sidebar.pull-right
      %h4 SPONSORSHIP LEVELS
      .well
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;"}
          Platinum
          %span.small-heading
            #{availability(@project.project_sponsors, 1)} of 1 Available
        %ul.normal-font.dashed-list
          - if @sponsorship_benefits.include?(1)
            - @sponsorship_benefits[1].each do |benefit|
              %li #{benefit.name}
        .clearfix{:style => "margin-left: -19px; margin-right: -19px; padding: 0 19px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0"}
          .pull-left
            %h3{style: "margin: 0; margin-top: 20px; line-height: 20px;"}= number_to_currency((@project.goal.to_i * 0.3), precision: 0)
          - if check_availibility(@project, 1) < 1
            %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-1", :"sponsor-id" => "1"}
              SPONSOR
              %span
          -else
            %a.btn.pull-right{:href => "javascript:void(0)", style: "display: block; margin-top: 10px;"}
              Sponsor
              %span
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;"}
          Gold
          %span.small-heading
            #{availability(@project.project_sponsors, 2)} of 3 Available
        %ul.normal-font.dashed-list
          - if @sponsorship_benefits.include?(2)
            - @sponsorship_benefits[2].each do |benefit|
              %li #{benefit.name}
        / %div{:style => "height: 80px; width: 100%;"}
        .clearfix{:style => "margin-left: -19px; margin-right: -19px; padding: 0 19px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0"}
          .pull-left
            %h3{style: "margin: 0; margin-top: 20px; line-height: 20px;"}= number_to_currency((@project.goal.to_i * 0.1), precision: 0)
            .amount-percentage
          - if check_availibility(@project, 2) < 3
            %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-2", :"sponsor-id" => "2"}
              SPONSOR
              %span
          -else
            %a.btn.pull-right{:href => "javascript:void(0)", style: "display: block; margin-top: 10px;"}
              Sponsor
              %span
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;"}
          Silver
          %span.small-heading
            #{availability(@project.project_sponsors, 3)} of 5 Available
        %ul.normal-font.dashed-list
          - if @sponsorship_benefits.include?(4)
            - @sponsorship_benefits[3].each do |benefit|
              %li #{benefit.name}
        / %div{:style => "height: 80px; width: 100%;"}
        .clearfix{:style => "margin-left: -19px; margin-right: -19px; padding: 0 19px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0"}
          .pull-left
            %h3{style: "margin: 0; margin-top: 20px; line-height: 20px;"}= number_to_currency((@project.goal.to_i * 0.04), precision: 0)
            .amount-percentage
          - if check_availibility(@project, 2) < 3
            %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-3", :"sponsor-id" => "3"}
              SPONSOR
              %span
          - else
            %a.btn.pull-right{:href => "javascript:void(0)", style: "display: block; margin-top: 10px;"}
              Sponsor
              %span
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;"}
          Bronze
        %ul.normal-font.dashed-list
          - if @sponsorship_benefits.include?(4)
            - @sponsorship_benefits[4].each do |benefit|
              %li #{benefit.name}
        /%div{:style => "height: 80px; width: 100%;"}
        .clearfix
          .pull-left
            - if (@project.goal.to_i * 0.1) >= 500
              %h3{style: "margin: 0; margin-top: 20px; line-height: 20px;"}
                = number_to_currency((500), precision: 0)
            - else
              %h3{style: "margin: 0;line-height: 20px;"}= number_to_currency((@project.goal.to_i * 0.1), precision: 0)
          %div{class: 'btn pull-right sponsor-change', style: 'margin-top:10px;', id: "level-4", :"sponsor-id" => "4"}
            SPONSOR
            %span

    = form_for(@sponsor, :url => project_sponsors_path, :html => {:class => "span8", :style => "margin-left: 0;", multipart: true, method: 'POST'}) do |f|
      .well.clearfix{:style => "border-top: none; padding-bottom: 0; border: 1px solid #e0e0e0;"}
        .payment-errors
        .span12{:style => "background-color: #f5f5f5; margin-left: 0px;"}
          .pull-left{:style => "width: 250px; height: 500px; border-right: solid 1px #d3d3d3; margin-top: -19px; padding-top: 19px;"}
            %h4 SPONSORSHIP COST
            %h1.cost-level.label-green-big.label-green #{number_to_currency(@cost, precision: 0)}
            = image_tag "platinum-placement.png", class: "sponsor-placement platinum"
            = image_tag "gold-placement.png", class: "sponsor-placement gold"
            = image_tag "silver-placement.png", class: "sponsor-placement silver"
            = image_tag "bronze-placement.png", class: "sponsor-placement bronze"

          .pull-right{:style => "width: 320px;"}
            = label_tag :project_sponsor_name do
              CHOOSE YOUR SPONSORSHIP LEVEL
            .selectParent
              = select :project_sponsor, :level_id, options_for_select(@sponsorship_levels.map {|level| ["#{level.name} Level", level.id]}, session[:level_id]), class: "selectbox"

            = image_tag "3.gif", id: "loading", style: "display: none; margin: -3px 0 10px 10px;"
            %br/
            %h5 SPONSORSHIP DETAILS
            .sponsorship-level-details
              %h2{:style => "color: #70bf4c"}
                #{@level} sponsor
              %ul.normal-font.dashed-list
                - if !@first_benefits.nil?
                  - @first_benefits.each do |benefit|
                    %li #{benefit.name}
        .span12{:style => "margin: 0 -19px; padding: 0 19px; border-top: 1px solid #d3d3d3; width: 632px;"}
          %p.checkout-continue-subtext{:style => "border-top: none;"} Continue to payment information below or choose a different seed amount/perk from the right.

      %h4 SPONSOR INFORMATION
      .well
        %div
          = f.label :name, "Business OR ORGANIZATION NAME*", class: "label-green"
          = text_field :project_sponsor, :name, required: true, label: false, class: "span12"
        %div.clearfix{:style => "margin-bottom: 10px;"}
          = f.label :mission, class: "label-green" do
            BUSINESS OR ORGANIZATION'S LOGO*
          %div{:style => "position: relative;"}
            = image_tag "white.png", :class => "img-polaroid pull-left logo-company", :style => "position: relative; z-index: 10;"
            .pic-upload
              .upload-btn
                %input{:type => 'filepicker', :name => 'project_sponsor_logo', 'data-fp-button-text' => 'UPLOAD', 'data-fp-apikey' => 'ArmO0TLVTkyCaJkQmBNfqz', 'data-fp-button-class' => 'btn', 'onchange' => 'updateSponsorLogo(event)'}
                  %span

                / = file_field :project_sponsor, :logo, required: true, label: false
              %p
                %span
                  Note:
                Logo file should be at least 200px x 200px jpeg, gif, or png files.
            = text_field :project_sponsor, :logo, required: true, label: false, type: "", :style => "position: absolute; top: 5; ;left: 5; width: 100px;"
        %div
          = label_tag :sponsor_type, "Sponsor Type*", class: "label-green"
          / = select_tag :type, options_for_select(["Foundation", "Business"])
          .selectParent.parentWide.clearfix{:style => "margin-bottom: 10px;"}
            = select_tag :type, options_for_select(["Foundation", "Business"]), class: "selectbox"
        %div
          = f.label :site, "Website*", class: "label-green"
          = text_field :project_sponsor, :site, required: true, label: false, class: "span12"
        %div
          = f.label :mission, class: "label-green" do
            MISSION STATEMENT / ABOUT*
            %span.cutdown.italic
          = text_area :project_sponsor, :mission, maxlength: 275, required: true, :style => "height: 186px; width: 595px;", label: false, class: "mission", placeholder: "Tell your story here ..."

      %h3 Payment Information
      .well
        %div
          = f.label :payment_type, class: "label-green" do
            PREFERRED PAYMENT METHOD*
            .selectParent.parentWide.clearfix{:style => "margin-bottom: 10px;"}
              = f.select :payment_type, options_for_select(Sponsor::PAYMENT), :id => "payment_type", required: true, :size => 17


        ///////////////////////////////////////////////////////
        /                                                     /
        / Do not change this credit card form as it is set up /
        / the way that stripe needs it and is working         /
        /                                                     /
        ///////////////////////////////////////////////////////

        %div#credit-card
          = hidden_field_tag :token
          = hidden_field_tag 'project_sponsor[card_type]'
          = hidden_field_tag 'project_sponsor[card_last4]'
          = hidden_field_tag 'project_sponsor[project_id]', @project.id
          - if @sponsor.token.present?
            Credit card has been provided.
          - else
            .field.name
              = label_tag :card_name, class: "label-green" do
                NAME AS IT APPEARS ON CARD*
              = text_field_tag nil, user_signed_in? ? "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" : "" , name: "sponsor[card_name]", class: "span12"
            .field.card-number
              = label_tag :card_number, class: "label-green" do
                Credit Card Number
              = text_field_tag :card_number, nil, name: nil, class: "span12"
            .field.ccv.span4
              = label_tag :card_code, class: "label-green" do
                CVV*
              = text_field_tag :card_code, nil, name: nil, class: "span10"
            .field.expiration.span6
              = label_tag :card_month, class: "label-green" do
                CARD EXPIRATION (MM/YYYY)*
              / = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
              / = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
              = text_field_tag nil, nil, {name: nil, id: "card_month", class: "span3"}
              = text_field_tag nil, nil, {name: nil, id: "card_year", class: "span5"}
            .cf
          #stripe_error
            %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

        %div#wire-transfer{:style => "display: none;"}
          %div.name
            = f.label :name, "CONTACT NAME*", class: "label-green"
            = f.text_field :name, :size => 40, label: false, class: "transfer-input"
          %div.email
            = f.label :email, "CONTACT EMAIL*", class: "label-green"
            = f.text_field :email, :size => 40, label: false, class: "transfer-input"
          %div.phone
            = f.label :phone, "CONTACT PHONE NUMBER*", class: "label-green"
            = f.text_field :phone, :size => 25, type: "text", label: false, class: "transfer-input"
        %hr{style: "margin-left: -19px; margin-right: -19px; margin-bottom: 0; background: #e0e0e0;"}
        %div{:style => "padding-top: 10px", :class => "clearfix"}
          = image_tag "3.gif", id: "submit-progress", style: "display: none; float: left; position: relative; top: 32px; margin-right: -40px; margin-left: 15px; z-index: 9999;"
          = f.button :submit, class: "btn pull-right", id: "project-submit", style: "margin-top: 0;"
          %a.error-message

.project-id{:style => "display: none;"}
  = @project.id

:javascript
  project_token = "#{@project.project_token}";
  project_pub_key = "#{@project.publishable_key}";

  $(function(){
    var selectedLevel = parseInt($('#selected_level').attr("level_id"));
    $("#project_sponsor_level_id option[value='"+ selectedLevel +"']").attr("selected", "selected");

    Stripe.setPublishableKey('pk_test_BTNPlS59UIPJC5Fnp7CR9It6');

    $('.sponsor-placement').hide();
    switch ($('#project_sponsor_level_id').val())
    {
      case '1': $(".platinum").show(); break;
      case '2': $(".gold").show(); break;
      case '3': $(".silver").show(); break;
      case '4' : $(".bronze").show(); break;
    }

    var processCard = function() {
      var card;
      card = {
        number: $('#card_number').val(),
        cvc: $('#card_code').val(),
        expMonth: $('#card_month').val(),
        expYear: $('#card_year').val()
      };
      console.log("tes");
      Stripe.createToken(card, handleStripeResponse);
    };

    var handleStripeResponse = function(status, response) {
      if (status === 200) {
        console.log(response);
        $('input#token').attr('value', response.id);
        $('input#project_sponsor_card_last4').attr('value', response.card.last4);
        $('input#project_sponsor_card_type').attr('value', response.card.type);
        $('#new_sponsor')[0].submit();
      } else {
        $(".error-message").text(response.error.message);
        return $('input[type=submit]').attr('disabled', false);
      }
    };

    $('#new_sponsor').on('submit', function(e){
      if ( $("#sponsor_payment_type").val() == "Credit Card") {
        if ( $('#card_number').length ){
          processCard();
          return false;
        }
        else{
          return true;
        }
      }
      else{
        return true;
      }
    });

    $("#sponsor_payment_type").change(function(){
      if(this.value == "Credit Card"){
        $("#wire-transfer").hide();
        $("#credit-card").show();
        $(".card-input").attr("required", "required");
        $(".transfer-input").removeAttr("required");
      }else{
        $("#wire-transfer").show();
        $("#credit-card").hide();
        $(".card-input").removeAttr("required");
        $(".transfer-input").attr("required", "required");
      }
    });

    $('.stripe-connect').click(function() {
      localStorage.setItem('organization', $('#project_organization').val());
      localStorage.setItem('address', $('#project_address').val());
      localStorage.setItem('city', $('#project_city').val());
      localStorage.setItem('state', $('#project_state').val());
      localStorage.setItem('zip', $('#project_zip').val());
      localStorage.setItem('website', $('#project_website').val());
      localStorage.setItem('twitter_handle', $('#project_twitter_handle').val());
      localStorage.setItem('facebook_page', $('#project_facebook_page').val());
    });

    function updateCutdown() {
      var remaining = 275 - jQuery('.mission').val().length;
      jQuery('.cutdown').text('(' + remaining + ' characters remaining.)');
    }
    updateCutdown();
    $('.mission').change(updateCutdown);
    $('.mission').keyup(updateCutdown);

    $("#project_sponsor_level_id").change(function(){
      var projectId = parseInt($(".project-id").text());
      $.ajax({
        url: "/projects/" + projectId + "/sponsors/" + this.value + "/get_sponsorship_levels.js",
        beforeSend: function ( xhr ) {
          $("#loading").show();
        }
      }).done(function ( xhr ) {
        $("#loading").hide();
      });
    });
    $(".sponsor-change").click(function(){
      var projectId = parseInt($(".project-id").text());
      var sponsorId = parseInt($(this).attr("sponsor-id"));
      // $("#project_sponsor_level_id option").removeAttr("selected").removeAttr("selected");
      $("#project_sponsor_level_id option").removeAttr("selected");
      $("#project_sponsor_level_id option[value='"+ sponsorId +"']").attr("selected", "selected");
      $.ajax({
        url: "/projects/" + projectId + "/sponsors/" + sponsorId + "/get_sponsorship_levels.js",
        beforeSend: function ( xhr ) {
          $("#loading").show();
        }
      }).done(function ( xhr ) {
        $("#loading").hide();
      });
    });
  });
/ $.get("/projects/" + projectId + "/sponsors/" + this.value + "/get_sponsorship_levels.js")
