.container
  .row-fluid{style: "margin-top: 30px;"}
    .span9
      %h4.tittle THANK YOU!
      %h4.label-green{style: "text-transform: none;"} Congratulations!
      %p{:style => "letter-spacing: 1px;"} You are now an official sponsor to #{@project.project_title}! Now it's time to spread the word.
      %div
        = link_to image_tag("fb-share.png",style: "width: 150px"), "https://www.facebook.com/dialog/feed?app_id=#{Settings.facebook.api_key}&link=#{project_url(@project.id)}&picture=#{@project.large_image}&name=#{url_encode(@project.project_title)}&caption=#{url_encode(@project.category)}&description=#{url_encode("Our company is RUUTing for this community project and you should, too. Join us by becoming a sponsor or by making a donation on @URUUT's collaborative funding platform. Together we can make a difference in our community")}&redirect_uri=#{root_url}", style: "display: block; float: left;", target: "_blank"
        = image_tag "tw-share.png", style: "width: 150px; margin-left: 2%; display: block; float: left; cursor: pointer", class: "tw-share"
        = link_to image_tag("ml-share.png", style: "width: 150px"), "javascript:void(0)", style: "margin-left: 2%; display: block; float: left;", class: "cs_import"
        %span.link-short{:style => "font-weight:bolder; font-size: 18px !important; margin-left: 2%"}
          = @project.bitly
        %textarea#contact_list{:style => "display:none", :name => "email_recepient"}
    .span3.pull-right.messages-content
      %h4.title DETAILS
      .well.pull-left{style: "margin-left: 0;"}
        %h5.label-green{style: "margin-bottom: 0;"} PAYMENT AMOUNT
        %p #{number_to_currency(@cost, precision: 0)}
        %h5.label-green{style: "margin-bottom: 0;"} YOUR BENEFITS
        %h6{style: "margin: 0;"} #{@level} SPONSOR
        %ul.dashed-list
          - @benefits.each do |benefit|
            %li #{benefit.name}

:javascript
  var project_id = "#{@project.id}";

  $('.tw-share').click(function(e) {
    e.preventDefault();
    var url = "http://twitter.com/share?url=#{@project.bitly}&text=Our%20company%20is%20RUUTing%20for%20this%20community%20project%20on%20%40URUUT%20and%20you%20should%2C%20too.%20Join%20us%20in%20making%20a%20donation%3A%20%2E&hashtags=GetRUUTed";

    window.open(url);
  });

  var owner_email, owner_first_name, owner_last_name;
  var appendInTextarea = false;
  var emailSep = ", ";
  function sendEmail(contacts, source, owner) {
    var contact, name, email, entry;
    var emails = [];
    var textarea = document.getElementById('contact_list');

    for (var i = 0; i < contacts.length; i++) {
      contact = contacts[i];
      name = contact.fullName();
      email = contact.selectedEmail();
      entry = name + "<" + email +">";
      if (emails.indexOf(entry) < 0) {
        emails.push(entry);
      }
    }

    $("#contact_list").val("");

    $.ajax({
      type: "POST",
      url: "/share_email_by_sponsor",
      data: {emails: emails.join(emailSep), project_id: project_id, user: #{@project_sponsor.id}}
    })

  }


  var csPageOptions = {
    domain_key:"#{Settings.cloudsponge.api_key}", // default for 127.0.0.1, please change it
    textarea_id:"contact_list",
    afterSubmitContacts:sendEmail
  };

%script{:src => "https://api.cloudsponge.com/address_books.js"}
