- if projects
  - projects.each do |p|
    - if p.live == 1
      %div.project
        .project-img
          -if !p.large_image.blank?
            = link_to image_tag("#{p.large_image}/convert?w=300&h=150&quality=65", :class => "project-image"), project_path(p.id)
          - else
            = link_to image_tag("http://placehold.it/350x150", :class => "project-image"), project_path(p.id)
          .project-img-layer.project-create
            %h2 Success!
            - if campaign_days_left(p) <= 0
              %input#success-create{:name => "success", :type => "hidden", :value => "success", class: "success"}
        .content
          .cont-desc
            %h3= link_to p.project_title, project_path(p.id)
            %p.short-description= truncate(p.title, length: 150)

          .location.clearfix
            = image_tag "pin.png", :class => "marker"
            %span #{p.city}, #{p.state}
            - if p.organization_classification.eql?("170(c)(1)") || p.organization_classification.eql?("501(c)(3)")
              %span.pull-right
                = image_tag 'td-logo.png', class: "tax-deductible", "data-toggle" => "tooltip", title: "Donations Are Tax Deductible"
        .funding
          %div{:class => "progressbar#{p.id}_project"}

          %ul
            %li.funded
              %p
                = amount_converter(totalsponsor(p))
                %span of
                = amount_converter(p.goal)
              %h5{:style => "color:#b6b6b4 !important;"} Funded

            %li.days-left
              %p.days #{campaign_days_left(p)}
              %h5.time-left{:style => "color:#b6b6b4 !important;"} Days Left
        - if controller_name.eql?('users') or action_name.eql?('get_complete_project') and current_user.id.eql?(p.user_id) and !action_name.eql?('profile')
          .project-admin-panel
            = link_to "Project Admin Panel ►", project_admin_project_url(p.id)


        :javascript
          $('.progressbar#{p.id}_project').progressbar({
              value: #{percentage_sponsor(p)}
            });
          $('.progressbar#{p.id}_project > div').css({ 'background': '#70bf4c' });
          $('.tax-deductible').tooltip({
            placement: "top",
            trigger: "hover"
          });



- else
  %h3 Sorry, No Projects To Show

