.recent.clearfix
  .container
    %p.sections
      CURRENT PROJECTS

      = link_to "View All", "#", :class => 'view-all'
    .project-all.clearfix
      = render "shared/loading"
      .project-all-content
        = render "project", :projects => @projects

    = paginate @projects, :param_name => :successful

.recent.clearfix
  .container
    %p.sections
      Featured Successes
      = link_to "View All", "#", :class => 'view-all'
    .project-all.clearfix
      = render "shared/loading"
      .projects
        = render "project_success", :projects => @project_success

    = paginate @project_success, :param_name => :featured

.ending-soon.clearfix
  .container
    %p.sections
      = image_tag 'ending-soon-icon.png'
      Potential Future Projects
    .project-all
      .potential
        %div.project
          .project-img
            = image_tag "neighborhood-improvement.jpg"
          .content
            .cont-desc
              %h3 NEIGHBORHOOD IMPROVEMENT
              %p.short-description We are currently looking for and reviewing projects that will improve neighborhoods.

            .location
              %span &nbsp;
          .funding
            %p BETTER YOUR NEIGHBORHOOD

      .potential
        %div.project
          .project-img
            = image_tag "parks-recreation.jpg"
          .content
            .cont-desc
              %h3 PARKS AND RECREATION
              %p.short-description We are currently looking for and reviewing projects that will improve parks and recreation programs.

            .location
              %span &nbsp;
          .funding
            %p IMPROVE YOUR PARK

      .potential
        %div.project
          .project-img
            = image_tag "arts-culture.jpg"
          .content
            .cont-desc
              %h3 ARTS / CULTURE
              %p.short-description We are currently looking for and reviewing projects that will grow and support the arts.

            .location
              %span &nbsp;
          .funding
            %p SUPPORT THE ARTS

      .clearfix

      %h3.potential-description
        These categories are just a few examples from our early interactions.
        %br
        If your project doesn't fall into one of them, we still want to hear all about it.

      - if user_signed_in? && current_user.campaign_manager?
        = link_to 'Get Funded ►', '/projects', method: :post, class: 'btn'
      - else
        = link_to 'Get Funded ►', choose_plan_pages_path, class: 'btn'
