.recent.clearfix
  .container
    %p.sections
      = image_tag "recent-project-icon.png"
      CURRENT PROJECTS

      = link_to "View All", "#", :class => 'view-all'
    .project-all
      .loader{:style => "margin-left: 35%; font-weight: bold; font-size: 16px;top: 60px;position: absolute;z-index: 1000;  display:none"}
        Loading..
        %br
        = image_tag "3.gif", style: "margin-left: 20%"
      .project-all-content
        = render "project", :projects => @projects
      .potential
        %div.project
          .project-img
            = image_tag "project_started.jpg"
          .content
            .cont-desc
              %h3 Your Project
              %p.short-description We are now accepting applications for projects. If you have a project that needs funding apply to get funding now. 
            .location
              %span &nbsp;
          .funding
            %p
              = link_to "Get Funded ►", new_project_path, :class => "btn" 

.recent.clearfix
  .container
    %p.sections
      = image_tag "recent-project-icon.png"
      Successfully Funded

      = link_to "View All", "#", :class => 'view-all'
    .project-all
      .loader{:style => "margin-left: 35%; font-weight: bold; font-size: 16px;top: 60px;position: absolute;z-index: 1000;  display:none"}
        Loading..
        %br
        = image_tag "3.gif", style: "margin-left: 20%"
      .project-all-content
        = render "project_success", :projects => @project_success
      .potential
        %div.project
          .project-img
            = image_tag "project_started.jpg"
          .content
            .cont-desc
              %h3 Your Project
              %p.short-description We are now accepting applications for projects. If you have a project that needs funding apply to get funding now. 
            .location
              %span &nbsp;
          .funding
            %p
              = link_to "Get Funded ►", new_project_path, :class => "btn" 

.ending-soon.clearfix
  .container
    %p.sections
      = image_tag 'ending-soon-icon.png'
      Potential Future Projects
    .project-all
      .project-all-content.potential
        %div.project
          .project-img
            = image_tag "neighborhood-improvement.jpg" 
          .content
            .cont-desc
              %h3 NEIGHBORHOOD IMPROVEMENT 
              %p.short-description We are currently looking for and reviewing projects that will improve neighborhoods.

            .location
              %span &nbsp;
          .funding
            %p BETTER YOUR NEIGHBORHOOD 

      .project-all-content.potential
        %div.project
          .project-img
            = image_tag "parks-recreation.jpg" 
          .content
            .cont-desc
              %h3 PARKS AND RECREATION  
              %p.short-description We are currently looking for and reviewing projects that will improve parks and recreation programs. 

            .location
              %span &nbsp;
          .funding
            %p IMPROVE YOUR PARK
      
      .project-all-content.potential
        %div.project
          .project-img
            = image_tag "arts-culture.jpg" 
          .content
            .cont-desc
              %h3 ARTS / CULTURE
              %p.short-description We are currently looking for and reviewing projects that will grow and support the arts.

            .location
              %span &nbsp;
          .funding
            %p SUPPORT THE ARTS

      .clearfix

      %h3.potential-description 
        These categories are just a few examples from our early interactions. 
        %br
        If your project doesn't fall into one of them, we still want to hear all about it.

      = link_to "Get Funded ►", new_project_path, :class => "btn"
//.featured-success.clearfix
//  .container
//    %p.sections
//      = image_tag 'featured-success-icon.png'
//      Featured Success

//      = link_to "View All", "#", :class => 'view-all'

//    = render "project", :projects => @featured
