%section.full-width.our-story
  .container
    %h2 Our Story

    %p The seed for Uruut was planted over 10 years ago. Two life long friends heard reports Mayor Bloomberg may have stepped in to fund key municipal and community projects in New York City. These were projects critical to NYC, but, unfortunately, they were falling off the city budget.

    %p From that day forward, these two friends sought a way to accomplish the same goal in communities across America, in spite of either one of them having pockets like Mr. Bloomberg.  Ten years after their first conversation, the pair encountered many twists and turns and met some pretty awesome folks who also embraced their vision.  In 2012, Uruut was born.

%section.full-width.our-mission
  .container
    %div.half
      %h3 Our Mission
      %h2 Help municipal & community projects get funded.
      %p While things have evolved since our first conversation, our mission to help strengthen communities remains the same. None of us are ultra high net worth folks, and that's ok - we don't have to be to make a difference. Uruut is all about bringing individuals, businesses and foundations together to accomplish common goals.
    %div.half
      %h3 THE NAME
      %h2 Pronounced “YOU ROOT”. It’s about You (U) and Your Roots (RUUTs).
      %p Together it's Uruut. We've grown to love the name...we hope you do too.

%section.full-width.meet-the-team
  .container
    %h3 MEET THE TEAM
    %h2 Other funding platforms don’t live and breathe your community. We do.
    %p We are a group of passionate individuals who want nothing more than to provide a powerful tool for you to fund the projects most important to you and the community.

    %div.founder
      = image_tag "mark-headshot.png"
      %h2 Mark Feinberg
      .title CO-FOUNDER + CEO
      %p Ex-investment and finance guy, former big 5 consultant and IBMer, passionate about helping your community.

    %div.founder
      = image_tag "chad-headshot.png"
      %h2 Chad Bartels
      .title CO-FOUNDER + CTO
      %p He builds things with his own hands.  And he's good at it.

    %div.founder
      = image_tag "individual-large.png"
      %h2 Bobby Norwood
      .title COO
      %p He keeps the ships sailing with his mad finance and community organizing skills.

    %div.founder
      = image_tag "nick-headshot.png"
      %h2 Nick Hollomon
      .title CREATIVE DIRECTOR
      %p Design and user experience is his game, and he wants you to enjoy using what we've built.

%section.full-width.advisory-board
  .container
    %h3 ADVISORY BOARD
    %p We are fortunate to have a group of trusted advisors who are just as passionate about community building as they are their careers.  These folks range from corporate executives to legal experts to philanthropy leaders, and when their talents collide, great things happen.

    %div.advisor
      = image_tag "ross-headshot.png"
      .details
        .name Ross Goldstein, MBA
        .experience Marketing, Strategy, Strategic Development
        %p Co-Founder, Uruut
        %p Managing Director, Global Insurance Firm

    %div.advisor
      = image_tag "matt-headshot.png"
      .details
        .name Matt Gove
        .experience Marketing, Strategy, Executive Management
        %p Senior Advisor
        %p CMO, Piedmont Healthcare
        %p Board President, Park Pride

    %div.advisor
      = image_tag "donovan-headshot.png"
      .details
        .name Donovan Lee-Sin
        .experience Foundation/Non-Profit Opertations & Management
        %p Senior Advisor
        %p Program Director, Arthur Blank Family Foundation

    %div.advisor
      = image_tag "sarah-headshot.png"
      .details
        .name Sarah Loya, Partner
        .experience Legal, Capital Raising, Strategy, Governance
        %p Nelson Mullins Riley & Scarborough

    .cf

    %p.other-associations In addition to our core advisory group we also work with leading consultants in areas of social media, nonprofit fundraising, sponsorship advisory, legal, finance and business advisory.

%section.full-width.more-information
  .container
    %h2 Want more information?
    = link_to contact_pages_path do
      .btn.brown
        Contact Us
        %span

    = link_to faqs_pages_path do
      .btn
        FAQ's
        %span
