%section.full-width.our-story
  .container
    %h1 About Us

    %p
      Uruut wants to make being a nonproﬁt a lot easier. We are doing this by bringing a set of 
      modern, easy to use, ﬂexible and cost sensible solutions to nonproﬁts.

%section.full-width.our-mission.gray-band
  .container
    %div.span6.without-margin-left
      %h2 Company Background
      %p
        Uruut (pronounced You Root) started when two lifelong friends 
        set out to create a more streamlined, robust fundraising platform 
        to help local community projects raise more money. The initial 
        fundraising product was developed following ten years of 
        analyzing the charitable giving space, giving models and online 
        giving. What Uruut ultimately delivered was a best practices 
        fundraising platform combining best of class thinking across 
        charitable giving, technology, social interaction, analytics and 
        donor psychology.
      %p
        Shortly after delivering Uruut's fundraising product it became
        apparent there was more work to do to deliver best of class and
        cost sensible products across not only fundraising, but multiple
        disciplines across the entire nonproﬁt landscape. The current set
        of solutions are often classiﬁed as outdated, not ﬂexible or just
        too expensive.

    %div.span6
      .bubble
        %p.quotes
          “We wake up each day seeking ways 
          to make our nonproﬁt client's life 
          easier, more effcient, and ultimately 
          more effective.”
        %p.author – Mark Feinberg, Co-Founder and CEO

%section.full-width.meet-the-team
  .container
    %h1 Meet The Uruut Team
    %p
      Combined the team brings decades of nonproﬁt experience. Management consists of 
      experts across technology, marketing, and ﬁnance disciplines.

    .row
      .span4.founder
        = image_tag "mark-headshot.png"
        %h2 Mark Feinberg
        .title CO-FOUNDER + CEO
        %p
          Nearly twenty years consulting, 
          technology and investment 
          experience having served in senior 
          roles with Ernst & Young, IBM and his 
          own investment ﬁrm.

      .span4.founder
        = image_tag "chad-headshot.png"
        %h2 Chad Bartels
        .title CO-FOUNDER + CTO
        %p
          Leads the technology team and 
          formerly held senior level 
          development positions with 
          EarthLink, CNN, Vitrue and Oracle

      .span4.founder
        = image_tag "bobby-headshot.png"
        %h2 Bobby Norwood
        .title COO
        %p
          Formerly a ﬁnance professional and 
          lifelong entrepreneur and 
          philanthropist. Manages the day to 
          day operations of the company.

      .span4.founder
        = image_tag "nick-headshot.png"
        %h2 Paul Brobson
        .title CMO
        %p
          Built the marketing and sales (online 
          and traditional) machines for multiple 
          technology companies and leads all 
          sales and marketing e!orts

      .span4.founder
        = image_tag "nick-headshot.png"
        %h2 Doug Hale
        .title CFO
        %p Design and user experience is his game, and he wants you to enjoy using what we've built.

      .span4.founder
        = image_tag "nick-headshot.png"
        %h2 Nick Hollomon
        .title CREATIVE DIRECTOR
        %p
          A senior level creative director who 
          has worked on many large and small 
          accounts throughout his career

%section.full-width.advisory-board.gray-band
  .container
    %h1 Advisory Board

    %div.advisor
      = image_tag "ross-headshot.png"
      .details
        .name Ross Goldstein, MBA
        .experience Marketing, Strategy, Strategic Development
        %p Co-Founder, Uruut
        %p Managing Director, Global Insurance Firm

    %div.advisor
      = image_tag "matt-headshot.png"
      .details
        .name Matt Gove
        .experience Marketing, Strategy, Executive Management
        %p Senior Advisor
        %p CMO, Piedmont Healthcare
        %p Board President, Park Pride

    %div.advisor
      = image_tag "donovan-headshot.png"
      .details
        .name Donovan Lee-Sin
        .experience Foundation/Non-Profit Operations & Management
        %p Senior Advisor
        %p Program Director, Arthur Blank Family Foundation

    %div.advisor
      = image_tag "sarah-headshot.png"
      .details
        .name Sarah Loya, Partner
        .experience Legal, Capital Raising, Strategy, Governance
        %p Nelson Mullins Riley & Scarborough

    %div.advisor
      = image_tag "doug-headshot.png"
      .details
        .name Doug Shipman
        .experience Nonprofit Strategy, Management & Fundraising 
        %p Senior Advisor
        %p CEO, National Center for Civil & Human Rights

    .cf

%section.full-width.more-information
  .container
    %h2 Want more information?
    = link_to contact_pages_path do
      .btn
        Contact Us ►
