%section.full-width.our-story{ style: 'padding-bottom: 0;'}
  .container
    %h1
      Know Your Donors. Grow Your Donors.
      %br
      …and Their Donations

    %p
      Develop insights into donor patterns that help you identify and target donors with personalized communications, to build loyalty and optimize donation revenue.
    %center
      = image_tag 'tablet-analytics.png'
%section.full-width.our-mission.gray-band
  .container
    %div.span6.without-margin-left
      = image_tag 'funding.png'

    %div.span6
      %h2 Monitor Fundraising in Real-Time.
      %p
        Uruut provides visibility into campaigns in real-time, which means you can recognize approaching milestones and tailor communications to “nudge” & inspire donors or sponsors, accordingly.
      %p
        Plus, Uruut makes it easy and fast to create and analyze reports 
        that help you identify strengths and weaknesses within your 
        campaigns, and make adjustments right away.

%section.full-width.normal-paragraph.padding
  .container

    %div.span6.without-margin-left
      %h1.text-left.green-title Google Analytics Integration Made Easy
      %p.text-left
        Uruut helps you leverage the power of Google Analytics to learn more about which sources are creating the most donors, the highest donations, etc., so you can target donors more effectively at their source.
      %p
        Plus, with Uruut’s integrated social media platform, you 
        can analyze social media effectiveness and adjust 
        social outreach campaigns to optimize donations and 
        cause awareness. 

    %div.span6
      = image_tag 'google-analitycs.png'

%section.full-width.our-mission.gray-band
  .container

    %div.span12
      %h1.text-center Access to Experts…And Their Expertise
      %p.text-center
        We are constantly building thought leadership with lots of great passionate, and really smart people and 
        companies that share in Uruut’s mission. We are happy to share what we learn with you on our 
        = link_to 'Resources page.', '#'
        And, we invite you to check out some of our featured resources, including:

    %div.span12.without-margin-left
      = image_tag 'sponsors.png'
