.row.discover
  .span3
    / %p= link_to "All", pages_discover_path
    %p= link_to "Parks & Recreation", {:controller => "pages", :action => "discover", :category => "parks & recreation" }
    %p= link_to "Neighborhood", {:controller => "pages", :action => "discover", :category => "neighborhood" }
    %p= link_to "Cleanup & Beautification", {:controller => "pages", :action => "discover", :category => "cleanup & beautification" }
    %p= link_to "Roads & Sidewalks", {:controller => "pages", :action => "discover", :category => "roads & sidewalks" }
    %p= link_to "Health & Well Being", {:controller => "pages", :action => "discover", :category => "health & well being" }
    %p= link_to "Child & Adolescent", {:controller => "pages", :action => "discover", :category => "child & adolescent" }
    %p= link_to "Pets", {:controller => "pages", :action => "discover", :category => "pets" }
    %p= link_to "Miscellaneous", {:controller => "pages", :action => "discover", :category => "miscellaneous" }

  .span8
    - if @cat.nil?
      - @projects.each do |p|
        %div.project.well
          .location
            %span #{p.city}, #{p.state}
            = image_tag "marker.jpg", :class => "marker"
           = image_tag "#{p.image.url(:original)}", :class => "project-image"

             .cont-desc
               %h3= link_to p.title, project_path(p.id)
                 %p.short-description= p.short_description

              %h5 Funded:
                %p.fundedd
                  = number_to_currency(amount_funded(p.id), :precision => 0)
                  of
                  = get_currency(p.goal)

                -#%div.progressbar#{p.id}
                %h5.time-left Time Left
                %p.days #{time_left(p.duration).to_i} Days

                - if current_user
                  - if p.user_id == current_user.id
                    = link_to "Edit Project", edit_project_url(p.id)
                :javascript
                  $('.progressbar#{p.id}').progressbar({
                    value: #{percent_funded(p.id)}
                  });

      .clearfix
        = paginate @projects

    - else							
      - if !@category.first.nil?
        - @category.each do |c|
          %div.project.well
            .location
              %span #{c.city}, #{c.state}
              = image_tag "marker.jpg", :class => "marker"
            = image_tag "#{c.image.url(:original)}", :class => "project-image" 

              .cont-desc
                %h3= link_to c.title, project_path(c.id)
                  %p.short-description= c.short_description

                %h5 Funded:
                %p.funded
                  = number_to_currency(amount_funded(c.id), :precision => 0)
                  of
                  = get_currency(c.goal)

                -#%div.progressbar#{c.id}"
                %h5.time-left Time Left
                %p.days #{time_left(c.duration).to_i} Days

                -#- if current_user
                  -#- if c.user_id == current_user.id
                    -#= link_to "Edit Project", edit_project_url(c.id)
                    :javascript
                      $(function(){
                        $('.progressbar#{c.id}').progressbar({
                          value: #{percent_funded(c.id)}
                        });
                      });	

        .clearfix
          = paginate @category
      - else
        %h2 Be the first to put down ruuts in this category
        %h3 
          plant your 
          %a{:class => "idea"} seed


:javascript
  $(function(){
    $("a.idea").click(function(){
      $('a#uvTabLabel').trigger('click');
    });
  });
