.row-fluid.discover
  .span3
    / %p= link_to "All", pages_discover_path
    %p= link_to "Parks & Recreation", {:controller => "pages", :action => "discover", :category => "parks & recreation" }
    %p= link_to "Neighborhood", {:controller => "pages", :action => "discover", :category => "neighborhood" }
    %p= link_to "Cleanup & Beautification", {:controller => "pages", :action => "discover", :category => "cleanup & beautification" }
    %p= link_to "Roads & Sidewalks", {:controller => "pages", :action => "discover", :category => "roads & sidewalks" }
    %p= link_to "Health & Well Being", {:controller => "pages", :action => "discover", :category => "health & well being" }
    %p= link_to "Child & Adolescent", {:controller => "pages", :action => "discover", :category => "child & adolescent" }
    %p= link_to "Pets", {:controller => "pages", :action => "discover", :category => "pets" }
    %p= link_to "Miscellaneous", {:controller => "pages", :action => "discover", :category => "miscellaneous" }

  .span8
    - if @cat.nil?
      = render "project", :projects => @projects
      = paginate @projects

    - else
      - if !@category.first.nil?
        = render "project", :projects => @category
        .clearfix
        = paginate @category
      - else
        %h2 Be the first to put down ruuts in this category
        %h3
          plant your
          %a{:class => "idea"} seed


:javascript
  $(function(){
    $("a.idea").click(function(){
      $('a#uvTabLabel').trigger('click');
    });
  });
