%section.full-width.our-story{ style: 'padding-bottom: 0;'}
  .container
    %h1 An Affordable Donor Relationship Management Solution You Can Use, Right-Out-of-the-Box

    %p
      Uruut lets you manage all donors, campaigns and communications using the same platform. No expensive, hard-to-use, enterprise-sized software to install and NO TRAINING required. Plus you can easily import / export data in and out of Uruut to integrate with other platforms/solutions.
    %center
      = image_tag 'tablet.png'
%section.full-width.our-mission.gray-band
  .container
    %div.span6.without-margin-left
      = image_tag 'social-media.png'

    %div.span6
      %h2{style: 'font-size: 21pt;margin-top: 40px;'} Social Media Integration, Made Easy
      %p
        Uruut creates a single access point for managing all donor communications including social media, to grow awareness of your cause, increase donor ranks, and optimize donations from existing donors.

%section.full-width.normal-paragraph.padding
  .container

    %div.span5.without-margin-left
      %h1.text-left.green-title{style: 'font-size: 25pt;'} Email Communication Done Right
      %p.text-left{style: 'margin-left: 0;'}
        %b
          Easily Segment and Select Groups of Donors To Build Loyalty And Grow Donations.
      %ul.checked-list
        %li Provide regular updates on use of funds
        %li Show progress reports and upcoming events for funded projects
        %li Make it easy for them to notify and inspire other to donate
        %li Make them aware of ongoing online donation programs & sponsorship opportunities

    %div.span7
      = image_tag 'URUUT_ProjectManagement_Emails.jpg'

%section.full-width.our-mission.gray-band
  .container
    %div.span4.without-margin-left
      = image_tag 'email-recipients.png'

    %div.span8
      %h1.text-left{style: 'font-size: 25pt; margin-top: 90px;font-family: "Proxima Nova"'} Target Your Emails To The Right Audience
      %p.text-left
        With Uruut, you can quickly segment donors into logical groups and create personlized communications for each segment, or any individual donor.

    .cf

%section.full-width.more-information
  .container
    %h2 Want more information?
    = link_to contact_pages_path do
      .btn
        Contact Us ►
