%section.full-width.our-story{ style: 'padding-bottom: 0;' }
  .container
    %h1 Now, Donating Has Become an Enjoyable, Convenient, and Transparent Experience

    %p
      An industry-first, Uruut's Transparency Workroom opens up a whole new world to don show and tell them how their funds are being used.
    = image_tag 'laptop-3.png'
%section.full-width.our-mission.gray-band
  .container
    %div.span6.without-margin-left
      = image_tag 'share.png'

    %div.span6
      %h2 Share Your Progress Through Photos and Video
      %p
        Post routine updates and include photos and videos to show donors how and where their money is being spent.

%section.full-width.normal-paragraph.padding
  .container

    %div.span6.without-margin-left
      %h1.text-left.green-title When You Tell Your Donors Where Their Money Goes, They’ll Tell Others
      %p.text-left
        Uruut makes it simple to provide regular email updates to donors, sponsors and constituents to update them on campaign progress, and join in the conversation.
      %p.text-left
        And, with Uruut’s social integration, now it’s easy and fun for donors to share campaigns with their networks and inspire new donations.

    %div.span6
      = image_tag 'comunication.png'

%section.full-width.our-mission.gray-band
  .container
    %div.span4.without-margin-left
      = image_tag 'receipts.png'

    %div.span8
      %h1.text-left.green-title Automatically Create, Store and Send Thank You Emails & Tax Receipts To Donors
      %p.text-left
        Save time and money on these important tasks and deliver an unexpected, but welcomed convenience to your donors at the same time.

    .cf

%section.full-width.more-information
  .container
    %h2 Want more information?
    = link_to contact_pages_path do
      .btn
        Contact Us ►
