.full-width.hero
  .container
    .marketing.float-left
      %h3 FUNDING SOURCES
      %h2 3 is greater than 1.
      %p You’ve always heard that 2 is greater than 1. Uruut takes that idea to the next level. Unlike other crowdfunding platforms, Uruut is optimized to capture funding from 3 different sources. When it comes to your community, individuals are the lifeblood, but they aren’t the only folks at the table.  Businesses depend on a strong, vibrant community to sustain and grow.  In addition, foundations are looking to support projects that intersect with the goals and objectives of their organizations.  This industry-first, collaborative approach funds more projects in more communities.
    .pie-chart.float-right
      = image_tag "pie-chart.png"

.full-width.need-to-know.cf
  .container
    %div.cf
      = image_tag 'individual-large.png'
      %div 
        %h3 INDIVIDUAL CONTRIBUTORS
        %h2 It Starts With U
        %p We know you care deeply for your community, which is why our platform provides you with a meaningful way to be actively involved and engaged in your locale. It’s as simple as searching for and contributing to the projects you want to see become a reality. Then, you share them with those around you, and, in no time at all, that park you wanted is there for you to enjoy.
    %div.cf
      = image_tag 'suitcase-large.png'
      %div
        %h3 Business Sponsors
        %h2 Strengthening Community is Your Business
        %p Your business is tied directly to the community where it operates.  As a result, closer connections to customers, clients and employees will only benefit your brand.  By strategically aligning your company with your area’s needs, you are able to mount a thoughtful corporate social responsibility (CSR) campaign that funds the future of your community.  Our platform makes powerful CSR outreach as simple as a quick keyword search.
    %div.cf
      = image_tag 'family-large.png'
      %div
        %h3 FOUNDATIONS
        %h2 Multiplying Your Mission
        %p Everyday you make your mark by supporting critical causes aligned with your foundation's mission. Groups rely on you for your support, but, at the same time, you can't provide dollars to everyone who asks, as much as you'd like to. We provide your organization with a 21st century tool to support key projects in the cases where you can’t provide as much as you might like. Matching and challenge grants are a core part of your strategy, and Uruut provides a platform to search for and support key projects. We also provide a platform for your constituents to help raise the portion of dollars required to reach your match. Uruut becomes the bridge to help your constituents reach their target goals while furthering your mission and extending the reach of your resources.

.full-width.create-project
  .container
    %h2 
      Connect. Cooperate. 
      %span Take Action.
    = link_to new_project_path, :class => "btn get-funded" do
      Get Funded ►
    
    = link_to browse_projects_path, :class => "btn fund-projects" do
      Fund Projects ►

:javascript
  $(function(){
    $('.btn.create').click(function(){
      $.ajax({
        type: 'POST',
        url: '#{projects_path}',
        data: ''
      }).done(function(data){
        console.log("Success???");
        console.log(data);
        window.location.href = '/projects/' + data + '/edit#sponsor-info';
      })
    })
  })