:css
  .normal-paragraph p{ margin-left: 0; margin-bottom: 0; }
  .normal-paragraph h1.green-title{ font-size: 24pt; margin-top: 45px;}

%section.full-width.our-story{ style: 'padding-bottom: 0;'}
  .container
    %h1 Online Fundraising Has Evolved... Now It’s Your Turn

    %p
      Despite overall donations remaining flat, online donations are growing by 15% per year. Use Uruut to reach more online donors and raise more funds RIGHT NOW.
    %center
    = image_tag ' laptop-fundraising.png'
%section.full-width.our-mission.gray-band
  .container
    %div.span6.without-margin-left
      = image_tag 'corwfounding.png'

    %div.span6
      %h2 Finally, It’s Simple to Get Online Donations from Business and Foundations
      %p
        Uruut is the only nonprofit crowd-funding platform engineered to make it easy for nonprofits to create custom sponsorship programs for business and foundation donors in just a few clicks!
      %p
        Plus, business and foundation sponsors love the beautiful and meaningful ways that their brand is treated and showcased as part of a fundraising campaign.

%section.full-width.normal-paragraph.padding
  .container

    %div.span5.text-left
      %h1.green-title Instantly Set Up Online Fundraising Campaigns
      %p
        %b All Campaign Types Supported
      %ul.checked-list
        %li Crowdfunding (“all or nothing”)
        %li Partial funding
        %li Collaborative fundraising
      %p
        %b Flexible, Affordable Pricing Options*
      %ul.checked-list
        %li Low-cost subscription plans start at just $99 month
        %li Or pay 5% of amounts raised
      %p
        %b Dedicated Campaign Setup Support
      %ul.checked-list
        %li A Uruut campaign specialist is assigned to help you successfully set up and launch your campaign
        %li Easy-to-understand Get Started Guide and resources help you navigate every step of the way
      %p{style: 'font-size: 9pt; line-height: 11pt;'}
        %i
          * A credit card transaction processing fee equal to 2.99% of amount raised applies to all campaigns.

    %div.span7
      = image_tag 'URUUT_ProjectCreationWizard_09.jpg'

%section.full-width.our-mission.gray-band
  .container
    %div.span5.without-margin-left
      = image_tag 'laptop.png'

    %div.span7
      %h2.text-left Choose Uruut To Optimize Online Donations On Our Site... Or Yours
      %p.text-left{style: 'margin-left: 0;'}
        %b Let Uruut Host Your Campaign
        %ul.checked-list
          %li Instant setup
          %li Dedicated Campaign Manager
          %li Get started in minutes

      %p.text-left{style: 'margin-left: 0;'}
        %b Seamlessly Integrate Uruut On Your Site
        %ul.checked-list
          %li Maintain your brand and your site’s look and feel
          %li Simple configuration and set up

      = link_to 'Contact Us to learn more', contact_pages_path, style: 'font-size: 16px;font-family: "Proxima Nova Semi";'

    .cf

%section.full-width.normal-paragraph.padding
  .container

    %div.span8.without-margin-left
      %h1.text-left.green-title Say “NO” to Lengthy Credit Card Processing Delays
      %p.text-left
        Through our partnership with Stripe, Uruut guarantees that your funds will be processed within 7 days, so you can get donations put to work faster.

    %div.span4
      = image_tag 'days.png'
