%section.full-width.green-description
	.container
		%h1 Giving you the power to CREATE A better community.
		%h2 Every community has great projects that can’t get off the ground. But with Uruut, yours can be different. Your park needs a new playground? Uruut it. Need a new library? Uruut it. Senior center? Bike path? Dog park? Uruut it. That’s why we’re here – to help you build the community you deserve.
		.btn.brown
			= link_to new_user_registration_path do
				Sign Up Now
				%span
		%h5 
			= link_to "#" do
				Learn More
				%span
%section.full-width.description
	.container
		/ %h2 Crowdfunding to date has been about only individuals coming together to raise money. Until now.
		/ %h1 Introducing URUUT Partner-Funding<sup>SM</sup>
		/ .btn.brown
		/ 	Sign Up
		/ 	%span
		/ .btn 
		/ 	What is it?
		/ 	%span
			
%section.full-width.partner
	.container
		.marketing.float-left
			%h3 WHAT IS URUUT PARTNER-FUNDING?
			%h2 Funding projects by not only individual contributors, but business and corporate sponsors as well as corporate & family foundations.
		.pie-chart.float-right
			= image_tag "pie-chart.png"
			
%section.full-width.better
	.container
		%h3 WHAT MAKES URUUT BETTER?
		%h2 Greater chance for funding success. Bottom line.
		%p With three different sources for funding, projects have a much greater chance of reaching their funding goal.
		.graphic-1
			= image_tag "suitcase.png"
			.content
				%h5 Business Sponsors
				%p URUUT offers businesses the opportunity to sponsor projects thereby associating their brand with high-impact projects in their community and on a regional and national level.
				.btn
					learn more
					%span
		.graphic-2
			= image_tag "individual.png"
			.content
				%h5 Individual CONTRIBUTORS
				%p URUUT offers individuals the opportunity to monetarily support projects that are most important to them. In exchange for contributions individuals can receive perks.
				.btn
					learn more
					%span
		.graphic-3
			= image_tag "family.png"
			.content
				%h5 CORPORATE & FAMILY Foundations
				%p URUUT provides a simple to use platform for corporate & family foundations to screen, search and provide matching grant dollars to projects and causes relevant to the mission of their foundations.
				.btn
					learn more
					%span
					
%section.full-width.transparency
	.container
		.float-left
			= image_tag "laptop.jpg"
		.marketing.float-left 
			%h3 ANOTHER BIG DIFFERENCE
			%h2 Accountability & Transparency.
			%p Other crowdfunding platforms don't think its important to show how funds are spent once a project funds. URUUT doesn't only think its important, we view it as an absolute necessity. As such we've built a robust transparency & accountability platform providing insight into post-funding budget and project status.
			%a.btn
				Learn More
				%span	
				
%section.full-width.who-should-use
	.container
		%h3 WHO SHOULD USE URUUT’S PARTNER-FUNDING?
		%h2 Anyone who needs money and wants a better chance at raising it.
		%p With three different sources for funding, projects have a much greater chance of reaching their funding goal.
		.graphic-1
			= image_tag "municipalities.png"
			.content
				%h5 Municipalities
				%p - Public Private Partnerships
				%p - Under / No Funded Projects

		.graphic-2
			= image_tag "member-organizations.png"
			.content
				%h5 Member Organizations
				%p - Chambers of Commerce
				%p - PTAs, HOAs, COAs
				%p - Other Civic Organizations

		.graphic-3
			= image_tag "non-profits.png"
			.content
				%h5 Non-Profits
				%p Non-profits who require a larger reach and greater transparency.

%section.full-width.make-it-happen
	.container
		%h2 URUUT Partner-Funding. Make it happen.
		.btn 
			Sign Up Now
			%span
			
:javascript
	if(window.opener) {
		window.opener.location.reload(true);
		window.close()
	}