= render "partials/banner_map"

.beta-banner
  .container
    %p PUBLIC BETA NOTICE: We are currently in our public beta phase. As such, we only have select projects live and in the funding phase.  We are accepting submissions from new projects and reviewing the many amazing projects we have already received. If you have a project that needs funding, apply to get funding now by clicking the "Get Funded" button below.

- if params[:keyword]
  = render "results_keyword"
- else
  = render "results_filter"

.clearfix

= javascript_include_tag "leaflet"
= javascript_include_tag "tile.stamen"

:javascript
  $(function(){
      // var map = L.map('map').setView([33.7489, -84.3881], 11);
      // L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png').addTo(map);
      // L.marker([33.7489, -84.3881]).addTo(map).bindPopup('<h4>Welcome to URUUT</h4>').openPopup();
    if ($("#location :selected").text().length > 17){
      $("#location :selected").text(truncText($("#location :selected").text(), 15, "..."))
    }

    if ($("#category :selected").text().length > 17){
      $("#category :selected").text(truncText($("#category :selected").text(), 15, "..."))
    }

    $("#category").on('change',function(){
      var length = $("#category option").length;
      for (var i = 1; i < length; i++){
        $("#category option")[i].text = $("#category option")[i].attributes["data-item"].value
      }
      if ($("#category :selected").text().length > 17){
        $("#category :selected").text(truncText($("#category :selected").text(), 15, "..."))
      }
    })

    $("#location").on('change',function(){
      var length = $("#location option").length;
      for (var i = 1; i < length; i++){
        $("#location option")[i].text = $("#location option")[i].attributes["data-item"].value
      }
      if ($("#location :selected").text().length > 17){
        $("#location :selected").text(truncText($("#location :selected").text(), 15, "..."))
      }
    })
  });
