.row
  .span9
    %img{:style => "width:100%;height:400px;"}
  .span3
    %ul
      %li Projects
      %li How it works
      %li Create A Project

.recent
  %h2 Recent Projects

  - if @projects
    - @projects.take(4).each do |p|
      - if p.live == true && p.deleted == false
        %div.project
          .location
            %span #{p.city}, #{p.state}
            = image_tag "marker.jpg", :class => "marker"
          = image_tag "#{p.image.url(:medium)}", :class => "project-image"

          .cont-desc
            %h3= link_to p.title, project_path(p.id)
            %p.short-description= p.short_description

          %h5 Funded:
          %p.funded{:style => "margin-bottom:5px;"}
            = number_to_currency(amount_funded(p.id), :precision => 0)
            of
            = get_currency(p.goal)

          -#%div.progressbar#{p.id}
          %h5.time-left Time Left
          %p.days #{time_left(p.duration).to_i} Days
      
          - if current_user
            - if p.user_id == current_user.id
              = link_to "Edit Project", edit_project_url(p.id)
          :javascript
            $('.progressbar#{p.id}').progressbar({
            value: #{percent_funded(p.id)}
            });
            
  - else
    %h3 Sorry, No Projects To Show

.clearfix

.ending-soon
  %h2 Ending Soon 

  - if @ending
    - @ending.take(4).each do |e|
      - if e.live == true && e.deleted == false
        %div.project
          .location
            %span #{e.city}, #{e.state}
            = image_tag "marker.jpg", :class => "marker"
          = image_tag "#{e.image.url(:original)}", :class => "project-image"

          .cont-desc
            %h3= link_to e.title, project_path(e.id)
            %p.short-description= e.short_description

          %h5 Funded:
          %p.funded{:style => "margin-bottom:5px;"}
            = number_to_currency(amount_funded(e.id), :precision => 0)
            of
            = get_currency(e.goal)

          -#%div.progressbar#{e.id}
          %h5.time-left Time Left
          %p.days #{time_left(e.duration).to_i} Days
      
          - if current_user
            - if e.user_id == current_user.id
              = link_to "Edit Project", edit_project_url(e.id)
          :javascript
            $('.progressbar#{e.id}').progressbar({
            value: #{percent_funded(e.id)}
            });
            
  - else
    %h3 Sorry, No Projects To Show

.clearfix


.featured-success
  %h2 Featured Success 

  - if @featured
    - @featured.take(1).each do |f|
      - if f.live == true && f.deleted == false
        %div.project.well
          .location
            %span #{f.city}, #{f.state}
            = image_tag "marker.jpg", :class => "marker"
          -#= image_tag "#{f.image.url(:original)}", :class => "project-image"

          .cont-desc
            %h3= link_to f.title, project_path(f.id)
            %p.short-description= f.short_description

          %h5 Funded:
          %p.funded{:style => "margin-bottom:5px;"}
            = number_to_currency(amount_funded(f.id), :precision => 0)
            of
            = get_currency(f.goal)

          -#%div.progressbar#{f.id}
          %h5.time-left Time Left
          %p.days #{time_left(f.duration).to_i} Days
      
          - if current_user
            - if f.user_id == current_user.id
              = link_to "Edit Project", edit_project_url(f.id)
          :javascript
            $('.progressbar#{f.id}').progressbar({
            value: #{percent_funded(f.id)}
            });
            
  - else
    %h3 Sorry, No Projects To Show

.clearfix
