= render "partials/banner_map"

- if params[:keyword]
  = render "results_keyword"
- else
  = render "results_filter"

.clearfix

= javascript_include_tag "leaflet"
= javascript_include_tag "tile.stamen"
