%section.full-width.landing-page
  %header
    .content
      %h1.green-title
        The Smartest Way To Run
        %br
        Your Nonproﬁt Has Arrived

      %h2
        Everything your nonproﬁt needs to reach more donors, and raise more funds.

      = link_to '#', class: 'arrow' do
        LEARN MORE
        = image_tag 'arrow-btm.png'

      %hr

      %p
        Are you a donor? 
        = link_to 'Click Here ', '#'
        to view projects and make a donation.
  .container.padding.text-center
    .span6.camping
      %h1.green-title Start A Campaign Now!
      %p
        Create and launch your next fundraising campaign instantly!

      = link_to new_user_registration_path do
        .btn
          Get started ►
    .span6.camping
      %h1.green-title Check It Out
      %p
        Discover why our customers say we have revolutionized fundraising in their organization.

      = link_to new_user_registration_path do
        .btn
          Demo ►

  %section.full-width.our-mission.gray-band.service
    .container
      %h1 All the features you need at a sensible price.
      .block-service
        = image_tag 'image.png'
        %h3 Fundraising
        %h4
          INSTANTLY SIMPLIFY FUNDRAISING FOR YOUR NONPROFIT ORGANIZATION 
        %ul.checked-list
          %li Instantly set up online fundraising campaigns
          %li The only online donation platform engineered for all donor types including individuals, businesses, and foundations
          %li All campaign types supported (e.g. crowdfunding, partial, and ongoing campaigns)
          %li Choose between subscription or transaction-based pricing
          %li Guaranteed 7-day delivery of donated funds
          %li You can choose to run campaigns on uruut.com or on your organization’s web site
        = link_to 'Learn more ›', '#'
      .block-service
        = image_tag 'image4.png'
        %h3 Donor Convenience and Transparency
        %h4
          CREATE A TRANSPARENT, CONVENIENT, AND PERSONALIZED EXPERIENCE FOR YOUR DONORS
        %ul.checked-list
          %li Built with your donor’s convenience in mind, Uruut creates the easiest and most enjoyable experience for online donations
          %li Post routine photo or video updates to show donors how and where their money is being spent
          %li Create personalized communications for any donor
          %li Social integration make it fun and easy for donors to share campaigns with their networks and inspire new donations
        = link_to 'Learn more ›', '#'

      .block-service
        = image_tag 'image2.png'
        %h3 Donor Relationship Management
        %h4
          SEAMLESSLY MANAGE ALL DONORS, CAMPAIGNS, COMMUNICATIONS AND OPERATIONS USING ONE PLATFORM
        %ul.checked-list
          %li Keep track of all donor and campaign communications in one place
          %li User-friendly and feature-dashboard
          %li Easily import/export data and integrate with multiple platforms
          %li Automatically generate thank you letters and tax receipts
          %li Manage and communicate social media communications from one location
        = link_to 'Learn more ›', '#'

      .block-service
        = image_tag 'image3.png'
        %h3 Analytics and Insights
        %h4
          KNOW MORE ABOUT YOUR DONORS, IDENTIFY NEW DONORS AND OPTIMIZE DONATION REVENUE
        %ul.checked-list
          %li Measure campaign performance in real-time
          %li Analyze social media effectiveness and adjust social outreach campaigns accordingly
          %li Use integrated tools and partners to identify new donors
          %li Customer support
        = link_to 'Learn more ›', '#'

  %section.full-width.laptop-section
    .container.padding
      %h1.green-title.text-center.margin-bot
        Choose Uruut To Optimize Online Donations
        %br
        On Our Site...Or Yours

      = image_tag 'laptop.png', class: 'laptop'

      .info
        %p
          %b Let Uruut Host Your Campaign
        %ul.checked-list
          %li Instant setup
          %li Dedicated Campaign Manager
          %li Get started in minutes

        %p
          %b Seamlessly Integrate Uruut On Your Site
        %ul.checked-list
          %li Maintain your brand and your site’s look and feel
          %li Simple conﬁguration and set up

        = link_to 'Contact Us to learn more', '#'

  %section.full-width.gray-band
    %h1 Don’t Take Our Word For It.
    %h4 Hear what our customers are saying.
