.span8{:style => "margin-top:35px;padding-bottom:75px;"}
  %h2{:style => "color:#70BF4C;"} Media Room
  %hr
  %h6 Uruut Logos
  %hr
  %h6 Press Coverage
  .article
    = link_to "New crowdfunding site Uruut launches", "http://www.bizjournals.com/atlanta/blog/atlantech/2013/07/new-crowdfunding-site-uruut-launches.html"
    %small Atlanta Business Chronicle
  .article
    = link_to "New Atlanta Startup Aims to Help Underfunded Municipalities", "http://www.peachpundit.com/2013/07/10/new-atlanta-startup-aims-to-help-underfunded-muncipalities/"
    %small Peach Pundit
  .article
    = link_to "Crowdfunding Community, Uruut Crowdfunding Platform Goes Live", "http://www.google.com/url?sa=X&q=http://www.crowdfundinsider.com/2013/07/18660-crowdfunding-community-uruut-crowdfunding-platform-goes-live/&ct=ga&cad=CAcQARgAIAEoATABOAFArLX5jgVIAVgAYgVlbi1VUw&cd=7CwHJmi2pPo&usg=AFQjCNEHY57J1RF3DF5Ie91SzWwz4_f1hQ"
    %small Crowdfund Insider
  .article
    = link_to "Ashford Park School Foundation partners with Uruut to construct an outdoor classroom", "http://thebrookhavenpost.net/?p=6897"
    %small Brookhaven Post
  .article
    = link_to "Ashford Park School Looks to Crowdfunding for New Outdoor Classroom", "http://brookhaven.patch.com/groups/schools/p/ashford-park-school-to-use-crowdfunding-startup-for-new-outdoor-classroom"
    %small Brookhaven Patch
  .article
    = link_to "Public Beta Launch: Atlanta's Uruut", "http://southernalpha.com/general/public-beta-launch-atlantas-uruut/"
    %small SouthernAlpha
  .article
    = link_to "Crowdfunding Power: Solving climate change and other community needs", "http://www.justmeans.com/Crowdfunding-Power-Solving-Climate-Change-Other-Community-Needs/59965.html"
    %small Just Means
  .article
    = link_to "Strengthening community starts with U", "http://yourmarkontheworld.com/post/55570243738/strengthening-community-starts-with-u"
    %small Your Mark on the World
		
  %hr
  %h6 Press Releases
  .article
    = link_to "Uruut’s Community Focused Crowdfunding Platform Enters Public Beta", "http://www.prweb.com/releases/2013/7/prweb10904663.htm"
    %small July 10, 2013
	
.span4.well.info{:style => "width: 260px;margin-top:50px;padding:20px"}
  %h5{:style => "color:#70bf4c;margin-bottom:10px;letter-spacing:1px;"} Press Contacts
  %p{:style => "color:#403e37;line-height:1.5;"} 
    If you're a member of the press and are interested in talking to us about Uruut, please email us at
    = link_to "press@uruut.com", "mailto: press@uruut.com"
  %hr{:style => "background: #e0e0e0;border: none;height: 1px;"}
  %h5{:style => "color:#70bf4c;margin-bottom:10px;letter-spacing:1px;"} Stay Connected
  %p{:style => "color:#403e37;line-height:1.5;"}
    For the latest news on Uruut follow us on Twitter and Like Us on Facebook.
    = link_to image_tag("twitter-button.png"), "http://www.twitter.com/uruut", :style => "display:block;margin:15px 0"
    = link_to image_tag("facebook-button.png"), "http://www.facebook.com/get.ruuted", :style => "display:block;margin:15px 0"