.span8{:style => "margin-top:35px;padding-bottom:75px;"}
  %h2{:style => "color:#70BF4C;"} Media Room
  %hr
  %h6 Uruut Logos
  = link_to image_tag("uruut-logos.png"), "/data/uruut_logos.zip"
  %hr
  %h6 Press Coverage
  - unless @press_coverages.blank?
    - @press_coverages.each do |release|
      .article
        = link_to "#{release.title}", "#{release.link}", "data-id" => "#{release.id}", :style => "display:block;"
        %small #{release.publication} - #{release.release_date}
  - else
    %h3 No Press Coverage
		
  %hr
  %h6 Press Releases
  - unless @press_releases.blank?
    - @press_releases.each do |release|
      .article
        = link_to "#{release.title}", "#{release.link}"
        %small= release.release_date
  - else
    %h3 No Press Releases
	
.span4.well.info{:style => "width: 260px;margin-top:50px;padding:20px"}
  %h5{:style => "color:#70bf4c;margin-bottom:10px;letter-spacing:1px;"} Press Contacts
  %p{:style => "color:#403e37;line-height:1.5;"} 
    If you're a member of the press and are interested in talking to us about Uruut, please email us at
    = link_to "press@uruut.com", "mailto: press@uruut.com"
  %hr{:style => "background: #e0e0e0;border: none;height: 1px;"}
  %h5{:style => "color:#70bf4c;margin-bottom:10px;letter-spacing:1px;"} Stay Connected
  %p{:style => "color:#403e37;line-height:1.5;"}
    For the latest news on Uruut follow us on Twitter and Like Us on Facebook.
    = link_to image_tag("twitter-button.png"), "http://www.twitter.com/uruut", :style => "display:block;margin:15px 0"
    = link_to image_tag("facebook-button.png"), "http://www.facebook.com/get.ruuted", :style => "display:block;margin:15px 0"