.span4
  %dl.fixed
    %dt
      = link_to 'URUUT Privacy Policy Summary', '#link1'
    %dt
      = link_to 'URUUT Privacy Policy', '#link2'

.span8
  %h2.anchor#link1.page-title URUUT Privacy Policy Summary
  %p
    This Privacy Policy Summary (“Summary”) provides highlights of the full
    = link_to 'URUUT Privacy Policy.', '#link2'
    This Summary and the full Privacy Policy apply to those URUUT Websites that display or link to this Summary.

  %h5 Additional Information
  %ul
    %li We ask you to provide personal information when you take certain actions on our Website, such as when you create an account or sponsor or contribute to a project.
    %li The information we collect may be combined with information obtained from other users or other URUUT services.
    %li We use cookies and other technologies to keep track of your interactions with our sites and services to offer a personalized experience.

  %h5 Our Use of Your Information
  %ul
    %li We use the information we collect to provide the services you request.
    %li We may use your information to inform you of other projects and other URUUT products and services. We may also send surveys or contact you to provide confirmations and notifications related to your account and any projects you are involved in.
    %li We do not sell, rent, or lease our customer lists to third parties. In order to help provide our services, we occasionally provide information to other companies that work on our behalf, e.g., to our payment processor in order to accept your contributions.
    %li If you contribute to a project, we will share your name, e-mail address and contribution amount with the project sponsor and may also share this information with the project’s business/foundation sponsors (if any). The project sponsor may contact you to request additional personal information.

  %h5 Your Choices
  %ul
    %li You can stop the delivery of promotional e-mails from URUUT by following the instructions in the e-mail you receive.
    %li
      Subject to the full
      = link_to 'URUUT Privacy Policy.', '#link2'
      \, to view and edit your personal information, please send an e-mail to
      = link_to 'info@uruut.com', 'mailto:info@uruut.com'
      \.

  %h5 Important Information
  %ul
    %li
      The full
      = link_to 'URUUT Privacy Policy', '#link2'
      \, which is the controlling statement relating to our privacy practices, contains links to supplementary information about specific URUUT and third party sites or services.
    %li We will not be responsible for the privacy practices of any websites or pages not under our control and we do not endorse any third party websites or pages, the services or products described or offered on such sites or pages, or any of the content contained on those sites or pages.
    %li Though we require project sponsors to agree not to misue any personal information they receive, we cannot control and we will not be responsible for the privacy practices of project sponsors.

  %h5 Contacting URUUT
  %ul
    %li
      For more information about our privacy practices, go to the full
      = link_to 'URUUT Privacy Policy.', '#link2'
      \. Or send an e-mail to
      = link_to 'info@uruut.com', 'mailto:info@uruut.com'
      \.

  %h2.anchor#link2 URUUT Privacy Policy
  %p
    In this Privacy Policy (“Privacy Policy”), we, URUUT, Inc. (“URUUT”, “we” or “us”), provide information about how we collect, use and transfer personal information from you, an individual person and website visitor, through URUUT’s websites (any of our websites such as www.uruut.com) and on which we post a direct link to this Privacy Policy (collectively the “Website”). If you have additional questions or would like further information on this topic, please feel free to write to us at
    = link_to 'info@uruut.com', 'mailto:info@uruut.com'
    \. We may update this Privacy Policy from time to time, so please check this Privacy Policy periodically for changes.

  %h5 Your California Privacy Rights
  %p
    Under California Law, California residents have the right to request in writing from businesses with whom they have an established business relationship, (a) a list of the categories of personal information, such as name, e-mail and mailing address and the type of services provided to the customer, that a business has disclosed to third parties (including affiliates that are separate legal entities) during the immediately preceding calendar year for the third parties’ direct marketing purposes and (b) the names and addresses of all such third parties. To request the above information, please e-mail us at:
    = link_to 'info@uruut.com', 'mailto:info@uruut.com'
    or write to us at:
    = link_to "legal@uruut.com", "mailto:legal@uruut.com"
    with a reference to California Disclosure Information.
  %p
    We will respond to such requests to information access within 30 days following receipt at the e-mail or mailing address stated above. If we receive your request at a different e-mail or mailing address, we will respond within a reasonable period of time, but not to exceed 150 days from the date received. Please note that we are only required to respond to each customer once per calendar year

  %h5 Scope
  %p
    This Privacy Policy covers only personal information (as described below) collected through the Website and not any
    other data collection or processing, including, without limitation, data collection practices of webpages to which the
    Website links, or data that we collect offline or through webpages that do not display a direct link to this Privacy
    Policy. This Privacy Policy does not cover data collection or processing of third parties such as URUUT project
    sponsors or business/foundation sponsors.

  %h5 Types of Data and Collection Methods including the Use of “Cookies”
  %p
    Through the Website, we receive personal information that you actively submit as well as data that we track:

  %p
    %i Actively Submitted Data:
    When you create an account, sponsor a project, contribute to a project, agree to provide
    business/foundation sponsorship, or otherwise voluntarily submit information to our Website, we may collect your
    personal information. We define “personal information” as information that is unique to you and might include your
    name, e-mail address(es), mailing address(es), telephone number and biographical information such as schools you
    attended. If you encounter a screen or page that requests information you do not want to share with us, do not
    enter the information and do not proceed with that screen or page. If your personal information is required in order
    to allow us to respond to your inquiry, you will receive a notice advising you of this. In each such instance, you will
    know what personal information we collect through the Website, because you actively submit it.

  %p
    %i Use of “Cookies”
    and
    %i Other Passive Data Collection Tools:
    When you visit the Website, we our or analytics partners may also passively track information on your computer and Internet connection, such as the IP address of your computer and/or Internet service provider, the date and time you access the Website, the Internet address of websites from which you link to our Website, the computer technology you are using and your movements and preferences on our Website. We and our analytics partners use technology that many other websites employ, including, without limitation, “cookies” (small data files stored on your computer’s hard drive), to collect such information. In some instances, we also use cookies to identify you on future visits to our Website, to recognize you as a registered user or previous visitor, or to track your activity on our Website. If you follow a link to the Website from an affiliate or promotion, we store information about your arrival from that affiliate or promotion in a session cookie. You do not need to have cookies turned on to visit our Website. You can refuse cookies by turning them off on your browser. Please note that portions of the Website require cookies to function properly and you may not be able to access them if your browser does not accept cookies

  %h5 Collection Purposes, Use of Data
  %p We collect passively tracked data primarily for purposes of administering, protecting and improving our Website and our systems, to better understand the preferences of our Website visitors, to identify server problems, to compile aggregated statistics about Website usage, and to help personalize your experience on our Website. We collect actively submitted data primarily for two purposes: Firstly, for the purpose for which you originally sent us the data (e.g., to create your account or project); and secondly, for purposes of contacting you to further discuss your interest in our company, the services we provide and ways we can improve them to provide information on services, promotions and events. You can opt out of receiving promotional emails as explained below.

  %h5 Disclosures of Personal Information
  %p
    We are not in the business of selling or renting your information to telemarketers and we do not share your
    personal information with others except as otherwise described in this Privacy Policy. If you do provide us with
    personal information, we will only use it for the purposes described where it is collected, and we will not sell,
    license, transmit or disclose this information outside of URUUT unless (1) you expressly authorize us to do so, (2) it
    is necessary to allow our trusted service providers or agents to provide services for us, such as to companies that
    process credit card payments on our behalf, (3) in order to provide our products or services to you, (4) it is
    disclosed to entities that perform marketing services on our behalf or to other entities with whom we have joint
    marketing agreements, (5) it is necessary in connection with a sale of all or substantially all of the assets of URUUT
    or the merger of URUUT into another entity or any consolidation, share exchange, combination, reorganization, or
    like transaction in which URUUT is not the survivor, (6) in the case of your name, e-mail address and contribution
    amount to project sponsors to whom you have made a contribution and whose funding goal has been reached and
    any business/foundation sponsors of such projects or (6) otherwise as we are required or permitted by law. Also, we
    reserve the right to fully use and disclose any information that is not in personally identifiable form (such as
    statistics and survey results that do not identify you individually by name).


  %h5 Opt-Out
  %p
    In connection with promotions or other projects, we may ask you specifically whether you have objections with
    respect to a certain kind of data use or sharing. If you opt-out under such circumstances, we will respect your
    decision. To opt out of receiving promotional communications from URUUT, please click on the “opt-out” or
    “unsubscribe” link in the communication or please contact us at
    = link_to 'info@uruut.com', 'mailto:info@uruut.com'
    \. Your e-mail address will be
    removed from our marketing list. Please allow us a reasonable period of time in order to satisfy your request, as
    some promotions may already be in process.
  %h5 Access
  %p
    If personal information you have submitted through the Website is no longer accurate, current, or complete, and
    you wish to update it, please send an e-mail to
    = link_to 'info@uruut.com', 'mailto:info@uruut.com'
    \. Upon appropriate request we will usually be glad
    to update or amend your information, but we reserve the right to use information obtained previously to verify your
    identity or take other actions that we believe are appropriate and lawful.
  %h5 Email
  %p
    We appreciate your questions and comments about our Website and services and welcome your email messages to
    mailboxes listed on our Website. We will share your messages with those within our organization who are most
    capable of addressing the issues contained in your message. We will keep a copy of your message until we have
    had an opportunity to address your concerns. We may archive your message for a certain period of time or discard
    it, but your email address will not be used for any other purpose.

  %h5 Security
  %p
    We restrict access to personal information collected about you at our Website to our employees or others who need
    to know that information to provide services to you or in the course of conducting our normal business operations.
    While no website can guarantee security, we maintain appropriate physical, electronic, and procedural safeguards
    to protect your personal information collected via the Website. We protect our databases with various physical,
    technical and procedural measures and we restrict access to your information by unauthorized persons.

  %h5 Information Shared with Project Sponsors
  %p
    If you elect to contribute to a project and the project reaches its fundraising goal, we will forward your name, e-mail
    address and contribution amount to the project sponsor. The project sponsor may contact you to obtain additional
    personal information. Though we require project sponsors to agree not to misuse your personal information, we
    cannot control and are not responsible for how project sponsors use your personal information.

  %h5 Links to Other Websites
  %p
    For your convenience, we may provide links to other websites and web pages that we do not control. We cannot be
    responsible for the privacy practices of any websites or pages not under our control and we do not endorse any of
    these websites or pages, the services or products described or offered on such sites or pages, or any of the content
    contained on those sites or pages.

  %h5 Special Statement for Job Applicants
  %p
    Any personal information you provide us when applying for a career position with our URUUT will be used solely to
    consider and act upon your application. We may retain your personal information for a period of time, but only for
    as long as necessary for such purposes. We may disclose your personal information to our agents for the purpose of
    evaluating your qualifications for the particular position you applied for, or other available positions. We may also
    disclose your personal information to third parties hired by us to collect, maintain, and analyze candidates for
    career positions.

  %h5 Visiting our Website from Outside of the United States
  %p
    If you are visiting our Website from outside the United States, please be aware that your information may be
    operated. The data protection and other laws of the United States and other countries might not be as
    comprehensive as those in your country, but please be assured that we take steps to protect your privacy. By using
    our services, you understand that your information may be transferred to our facilities and those third parties with
    whom we share it as described in this Privacy Policy.

  %h5 Effective Date, Amendments
  %p
    We may change this Privacy Policy at any time and from time to time. The most recent version of the Privacy Policy
    is reflected by the version date located at the bottom of this Privacy Policy. This Privacy Policy is not intended to
    and does not create any contractual or other legal right in or on behalf of any party. When you visit the Website,
    you are accepting the current version of this Privacy Policy as posted on the Website at that time. We recommend
    that users revisit this Privacy Policy on occasion to learn of any changes.

  %h5 Contact Us
  %p
    Please feel free to contact us with any comments, questions or suggestions you might have regarding the information practices described in this Privacy Policy. You may send us an e-mail at
    = link_to 'info@uruut.com', 'mailto:info@uruut.com'
    \.



:javascript
  $(function() {
    $('.fixed dt a').click(function(e) {
      e.preventDefault();
      $('.fixed dt').removeClass('active');
      $(this).parent().addClass('active');
      var target = $(this).attr('href');
      $('html,body').animate({
        scrollTop: $(this.hash).offset().top
      }, 700);
    })
  })
