.resources
  .span8{ style: 'padding-bottom: 55px;'}
    %h1 RESOURCES

    %h2 Articles

    %h4
      = link_to 'Messaging Optimized Blog', download_article_pages_path(file: 'Messaging_Optimized_Blog.pdf')
    / %p Tech Cocktail - 2013-11-04 

    %h4
      = link_to 'Twitter LI Guide for Nonprofits', download_article_pages_path(file: 'Twitter_LI Guide for Nonprofits.pdf')
    / %p Business RadioX - 2013-10-21 

    %h2{ style: 'margin-top: 55px;'} Experts
    .experts
      %h5.label-green FUNDRAISING AND NONPROFIT MANAGEMENT
      = image_tag 'ashlie-headshot.png'
      %p
        %b Ashlie Graham
      %p Fundraising Consultant

  .span4
    .well.without-title{style: "margin-top: 65px;"}
      .box-content
        %h5.label-green{style: "margin-bottom: 7px;"} URUUT BLOG
        %p
          <a href="http://uruutblog.wordpress.com/">Visit our blog</a> to access insights, tips and 
          trends that will help you reach more 
          donors, raise more funds, and manage 
          your nonproﬁt more effciently.

      .box-content
        %h5.label-green{style: "margin-bottom: 7px;"} STAY CONNECTED
        %p
          For the latest news on Uruut follow us on 
          Twitter and Like Us on Facebook.

        .social-links
          .btn-tw
            = link_to "Follow Uruut on Twitter","http://www.twitter.com/uruut", {class: "tw", target: "_blank"}
          .btn-fb
            = link_to "Like Uruut on Facebook","http://www.facebook.com/get.ruuted", {class: "fb", target: "_blank"}
