.span4{:style => "margin-top:100px;"}
	%ul.fixed
		%li 
			= link_to "Link 1", "#link1"
		%li 
			= link_to "Link 2", "#link2"
		%li 
			= link_to "Link 3", "#link3"
		%li 
			= link_to "Link 4", "#link4"
		%li 
			= link_to "Link 5", "#link5"
			
.span8{:style => "margin-top:100px;"}
	%h2#link1 Link 1
	%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique ullamcorper risus, et porttitor nunc dapibus at. Aliquam pharetra, purus ac aliquam congue, ligula nisl congue purus, sit amet pulvinar tellus lorem eget elit. Aenean varius consectetur orci at luctus. Pellentesque dapibus dictum nunc, sit amet pulvinar magna facilisis eu. Cras ullamcorper lorem at risus dictum vitae hendrerit elit eleifend. Ut diam elit, lacinia sed rutrum sit amet, cursus eu felis. Sed lacinia luctus eros, a hendrerit velit mollis id. Nam consequat sem et mauris adipiscing a porttitor erat pulvinar. Morbi bibendum ipsum et eros faucibus vel iaculis elit molestie. Sed condimentum, enim sit amet tempus congue, turpis arcu viverra purus, vel varius risus ipsum vitae leo. Morbi elementum convallis lectus lobortis cursus. Aenean a varius odio. Quisque urna massa, consectetur ut aliquam eget, volutpat sit amet diam. Nullam vitae orci et felis malesuada fermentum quis in risus. Aenean fringilla, nunc id sodales volutpat, ligula orci commodo nulla, a tempor diam augue a est. Morbi ut mauris quis lorem tempor pharetra ac id leo.

	%p Donec posuere velit a dolor pharetra eu tempus ligula placerat. Suspendisse non erat mi, non porta lectus. Nunc aliquam dolor vitae nunc adipiscing aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce turpis ante, adipiscing eget placerat eget, pharetra eget turpis. Mauris ut ante eu nisi tempor pellentesque nec sit amet ipsum. Nam sagittis fringilla consequat. Praesent vehicula est sed ligula elementum lacinia. Donec vel odio massa. Curabitur nunc urna, consectetur vel iaculis sagittis, vehicula eget odio. Cras dapibus magna nec tortor rutrum convallis vel non arcu. Aliquam nec suscipit erat.
	
	%h2#link2 Link 2
	%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique ullamcorper risus, et porttitor nunc dapibus at. Aliquam pharetra, purus ac aliquam congue, ligula nisl congue purus, sit amet pulvinar tellus lorem eget elit. Aenean varius consectetur orci at luctus. Pellentesque dapibus dictum nunc, sit amet pulvinar magna facilisis eu. Cras ullamcorper lorem at risus dictum vitae hendrerit elit eleifend. Ut diam elit, lacinia sed rutrum sit amet, cursus eu felis. Sed lacinia luctus eros, a hendrerit velit mollis id. Nam consequat sem et mauris adipiscing a porttitor erat pulvinar. Morbi bibendum ipsum et eros faucibus vel iaculis elit molestie. Sed condimentum, enim sit amet tempus congue, turpis arcu viverra purus, vel varius risus ipsum vitae leo. Morbi elementum convallis lectus lobortis cursus. Aenean a varius odio. Quisque urna massa, consectetur ut aliquam eget, volutpat sit amet diam. Nullam vitae orci et felis malesuada fermentum quis in risus. Aenean fringilla, nunc id sodales volutpat, ligula orci commodo nulla, a tempor diam augue a est. Morbi ut mauris quis lorem tempor pharetra ac id leo.

	%p Donec posuere velit a dolor pharetra eu tempus ligula placerat. Suspendisse non erat mi, non porta lectus. Nunc aliquam dolor vitae nunc adipiscing aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce turpis ante, adipiscing eget placerat eget, pharetra eget turpis. Mauris ut ante eu nisi tempor pellentesque nec sit amet ipsum. Nam sagittis fringilla consequat. Praesent vehicula est sed ligula elementum lacinia. Donec vel odio massa. Curabitur nunc urna, consectetur vel iaculis sagittis, vehicula eget odio. Cras dapibus magna nec tortor rutrum convallis vel non arcu. Aliquam nec suscipit erat.
	
	%h2#link3 Link 3
	%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique ullamcorper risus, et porttitor nunc dapibus at. Aliquam pharetra, purus ac aliquam congue, ligula nisl congue purus, sit amet pulvinar tellus lorem eget elit. Aenean varius consectetur orci at luctus. Pellentesque dapibus dictum nunc, sit amet pulvinar magna facilisis eu. Cras ullamcorper lorem at risus dictum vitae hendrerit elit eleifend. Ut diam elit, lacinia sed rutrum sit amet, cursus eu felis. Sed lacinia luctus eros, a hendrerit velit mollis id. Nam consequat sem et mauris adipiscing a porttitor erat pulvinar. Morbi bibendum ipsum et eros faucibus vel iaculis elit molestie. Sed condimentum, enim sit amet tempus congue, turpis arcu viverra purus, vel varius risus ipsum vitae leo. Morbi elementum convallis lectus lobortis cursus. Aenean a varius odio. Quisque urna massa, consectetur ut aliquam eget, volutpat sit amet diam. Nullam vitae orci et felis malesuada fermentum quis in risus. Aenean fringilla, nunc id sodales volutpat, ligula orci commodo nulla, a tempor diam augue a est. Morbi ut mauris quis lorem tempor pharetra ac id leo.

	%p Donec posuere velit a dolor pharetra eu tempus ligula placerat. Suspendisse non erat mi, non porta lectus. Nunc aliquam dolor vitae nunc adipiscing aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce turpis ante, adipiscing eget placerat eget, pharetra eget turpis. Mauris ut ante eu nisi tempor pellentesque nec sit amet ipsum. Nam sagittis fringilla consequat. Praesent vehicula est sed ligula elementum lacinia. Donec vel odio massa. Curabitur nunc urna, consectetur vel iaculis sagittis, vehicula eget odio. Cras dapibus magna nec tortor rutrum convallis vel non arcu. Aliquam nec suscipit erat.
	
	%h2#link4 Link 4
	%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique ullamcorper risus, et porttitor nunc dapibus at. Aliquam pharetra, purus ac aliquam congue, ligula nisl congue purus, sit amet pulvinar tellus lorem eget elit. Aenean varius consectetur orci at luctus. Pellentesque dapibus dictum nunc, sit amet pulvinar magna facilisis eu. Cras ullamcorper lorem at risus dictum vitae hendrerit elit eleifend. Ut diam elit, lacinia sed rutrum sit amet, cursus eu felis. Sed lacinia luctus eros, a hendrerit velit mollis id. Nam consequat sem et mauris adipiscing a porttitor erat pulvinar. Morbi bibendum ipsum et eros faucibus vel iaculis elit molestie. Sed condimentum, enim sit amet tempus congue, turpis arcu viverra purus, vel varius risus ipsum vitae leo. Morbi elementum convallis lectus lobortis cursus. Aenean a varius odio. Quisque urna massa, consectetur ut aliquam eget, volutpat sit amet diam. Nullam vitae orci et felis malesuada fermentum quis in risus. Aenean fringilla, nunc id sodales volutpat, ligula orci commodo nulla, a tempor diam augue a est. Morbi ut mauris quis lorem tempor pharetra ac id leo.

	%p Donec posuere velit a dolor pharetra eu tempus ligula placerat. Suspendisse non erat mi, non porta lectus. Nunc aliquam dolor vitae nunc adipiscing aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce turpis ante, adipiscing eget placerat eget, pharetra eget turpis. Mauris ut ante eu nisi tempor pellentesque nec sit amet ipsum. Nam sagittis fringilla consequat. Praesent vehicula est sed ligula elementum lacinia. Donec vel odio massa. Curabitur nunc urna, consectetur vel iaculis sagittis, vehicula eget odio. Cras dapibus magna nec tortor rutrum convallis vel non arcu. Aliquam nec suscipit erat.
	
	%h2#link5 Link 5
	%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique ullamcorper risus, et porttitor nunc dapibus at. Aliquam pharetra, purus ac aliquam congue, ligula nisl congue purus, sit amet pulvinar tellus lorem eget elit. Aenean varius consectetur orci at luctus. Pellentesque dapibus dictum nunc, sit amet pulvinar magna facilisis eu. Cras ullamcorper lorem at risus dictum vitae hendrerit elit eleifend. Ut diam elit, lacinia sed rutrum sit amet, cursus eu felis. Sed lacinia luctus eros, a hendrerit velit mollis id. Nam consequat sem et mauris adipiscing a porttitor erat pulvinar. Morbi bibendum ipsum et eros faucibus vel iaculis elit molestie. Sed condimentum, enim sit amet tempus congue, turpis arcu viverra purus, vel varius risus ipsum vitae leo. Morbi elementum convallis lectus lobortis cursus. Aenean a varius odio. Quisque urna massa, consectetur ut aliquam eget, volutpat sit amet diam. Nullam vitae orci et felis malesuada fermentum quis in risus. Aenean fringilla, nunc id sodales volutpat, ligula orci commodo nulla, a tempor diam augue a est. Morbi ut mauris quis lorem tempor pharetra ac id leo.

	%p Donec posuere velit a dolor pharetra eu tempus ligula placerat. Suspendisse non erat mi, non porta lectus. Nunc aliquam dolor vitae nunc adipiscing aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce turpis ante, adipiscing eget placerat eget, pharetra eget turpis. Mauris ut ante eu nisi tempor pellentesque nec sit amet ipsum. Nam sagittis fringilla consequat. Praesent vehicula est sed ligula elementum lacinia. Donec vel odio massa. Curabitur nunc urna, consectetur vel iaculis sagittis, vehicula eget odio. Cras dapibus magna nec tortor rutrum convallis vel non arcu. Aliquam nec suscipit erat.
	
:javascript
	$(function() {
		$('header.navbar').css({
			position: 'fixed',
			width: '100%'
		});
		
		$('.fixed li a').click(function(e) {
			var target = $(this).attr('href');
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top-70
			}, 700);
		})
	})
