= form_for @donation do |f|
  - if @donation.errors.any?
    .error_messages
      %h2
        = pluralize(@donation.errors.count, "error")
        prohibited this subscription from being saved:
      %ul
        - @donation.errors.full_messages.each do |msg|
          %li= msg
  / = f.hidden_field :plan_id
  = f.hidden_field :token
  = f.hidden_field :card_type
  = f.hidden_field :card_last4
  = f.hidden_field :email, :value => "#{current_user.email}"
  = f.hidden_field :user_id, :value => "#{current_user.id}"
  = f.hidden_field :project_id, :value => "#{current_project}"
  - if @donation.token.present?
    Credit card has been provided.
  - else
    .field
      / = label_tag :amount, "Amount to Donate"
      = hidden_field_tag :amount, @perk_amount, name: "donation[amount]"
      = hidden_field_tag :perk_permission_type, @project.perk_permission ? "custom" : "default" , name: "perk_type"
      = hidden_field_tag :name_of_perk, @perk_name, class: "dua"
      = hidden_field_tag :perk_description, @perk_description, class: "dua"
    .req-legend
      *Required
    .field.name
      = label_tag nil, class: "label-green" do
        NAME AS IT APPEARS ON CARD*
        %span.error-container
      = text_field_tag nil, [current_user.first_name, current_user.last_name].join(" "), name: "name", id: "name"
    .field.card-number
      = label_tag :card_number, class: "label-green" do
        Credit Card Number*
        %span.error-container
      = text_field_tag :card_number, nil, name: "credit-card"
    .field.ccv
      = label_tag :card_code, "CVV*", class: "label-green"
      = text_field_tag :card_code, nil, name: "code", maxlength: 4, style: "display: inline-block;"
      %span.error-container.beside-form{style: "float: none; margin-left: 12px;"}
    .field.expiration
      = label_tag :card_month, "CARD EXPIRATION (MM/YYYY)*", class: "label-green"
      / = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
      / = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
      = text_field_tag nil, nil, {name: "month", id: "card_month", maxlength: 2}
      = text_field_tag nil, nil, {name: "year", id: "card_year", maxlength: 4}
      %span.error-container.beside-form
    .cf
  #stripe_error
    - if notice
      = notice
    %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

  .actions
    %hr
    %p{:style => "font:normal 12px/18px 'Proxima Nova';color:#b6b6b4"}
      %span{:style => "Proxima Nova Bold"}
        Note:
      Your card will not be charged when you make your investment! You will only be charged if this campaign reaches its funding goal. All transactions are processed through a secure third-party payment processor.
    = button_tag :type => 'submit', :id => "donate", :class => "btn" do
      Contribute ►
    .cf

= javascript_include_tag "donations"
