= form_for @donation do |f|
  - if @donation.errors.any?
    .error_messages
      %h2
        = pluralize(@donation.errors.count, "error")
        prohibited this subscription from being saved:
      %ul
        - @donation.errors.full_messages.each do |msg|
          %li= msg
  / = f.hidden_field :plan_id
  = f.hidden_field :token
  = f.hidden_field :email, :value => "#{current_user.email}"
  = f.hidden_field :user_id, :value => "#{current_user.id}"
  = f.hidden_field :project_id, :value => "#{current_project}"
  - if @donation.token.present?
    Credit card has been provided.
  - else
    .field
      = label_tag :amount, "Amount to Donate"
      = text_field_tag :amount, nil, name: "donation[amount]"
    .field
      = label_tag :card_number, "Credit Card Number"
      = text_field_tag :card_number, nil, name: nil
    .field
      = label_tag :card_code, "Security Code on Card (CVV)"
      = text_field_tag :card_code, nil, name: nil
    .field
      = label_tag :card_month, "Card Expiration"
      = select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
      = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
  #stripe_error
    %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
  .actions
    = f.submit "Contribute", :id => "donate"

