var theText = "<%= @perk_name_selected %>";
var perkPermission = "#{@project.perk_permission}"

$(".perk").attr("style", "");
$(".none-perks").hide();
$(".change-fund").attr("style", "");
$(".seed-amount").attr("style", "");
$(".perk-name-other").attr("style", "");
$("#perk_type option:contains(" + theText + ")").attr('selected', 'selected');

<% if @project.perk_permission %>
  $(".selectParent").show();
<% else %>
  $(".selectParent").hide();
<% end %>

<% if !params[:id].eql?("custom") %>
  $(".choiced-perk").hide();
  $(".perk-amount").show();
  $(".perk-amount").text("<%= number_to_currency(@perk.amount, :precision => 0) %>");
  $(".perk-name").text("<%= @perk.name %>");
  $(".perk-description").text("<%= @perk.description.to_s.html_safe %>");
  $("#amount").val("<%= @perk.amount.to_s.split(".")[0] %>");
  $("#perk_name").val("<%= @perk.name %>");

  <% if @project.perk_permission? %>
    $(".description-custom").show();
    $(".description-custom").html("You will receive <%= @perk.amount.to_i %> Uruut Reward Points when you seed <%= number_to_currency(@perk.amount, precision: 0) %>");
  <% else %>
    $(".description-custom").hide();
  <% end %>

  $("#perk-name-other-<%= @perk.id %>").attr("style", "color: #000");
  $("#amount-id-<%= @perk.id %>").attr("style", "background: #70BF4C");
  $("#perk-id-<%= @perk.id %>").attr("style", "background: #70BF4C");
  $("#button-fund-<%= @perk.id %>").attr("style", "background: green");

<% elsif params[:id].eql?("custom") and !params[:custom_seed].blank? %>
  $("#perk-name-other").attr("style", "color: #000");
  $("#amount-id-custom").attr("style", "background: #70BF4C");
  $("#button-fund-custom").attr("style", "background: green");
  $("#perk-id-custom").attr("style", "background: #70BF4C");
  $("#perk_name").val("<%= @perk_name_selected %>");
  $(".perk-name").text("Custom");
  $(".perk-description").text("");
  $(".description-custom").show();
  $(".description-custom").html("You will receive <%= @perk.amount.to_i %> Uruut Reward Points when you seed <%= number_to_currency(@perk.amount, precision: 0) %>");

  <% if @perks.blank? %>
    $(".selectParent").hide();
    $(".none-perks").show();
    $(".none-perks").html("You will receive <%= @perk.amount.to_i %> Uruut Reward Points when you seed <%= number_to_currency(@perk.amount, precision: 0) %>");
  <% else %>
    <% if @project.perk_permission %>
      $(".selectParent").show();
    <% else %>
      $(".selectParent").hide();
    <% end %>
    $(".none-perks").hide();
    $("#perk_type").html('');
    <% @perks.each do |perk| %>
      $("#perk_type").append('<option value="<%= perk[1] %>"><%= perk[0] %></option>');
  <% end %>
  $("#perk_type option:contains(" + theText + ")").attr('selected', 'selected');
<% end %>

$("#custom_amount").val("<%= amount_converter_field(params[:custom_seed].gsub(",", "")) %>");
$("#amount").val("<%= amount_converter_field(params[:custom_seed].gsub(",", "")) %>");
$(".choiced-perk").show();
$(".perk-amount").hide();
<% end %>
