var theText = "<%= @perk_name_selected %>";
var perkPermission = "#{@project.perk_permission}"

$(".perk").attr("style", "");
$(".none-perks").hide();
$(".change-fund").attr("style", "");
$(".seed-amount").attr("style", "");
$(".perk-name-other").attr("style", "");
$("#perk_type option:contains(" + theText + ")").attr('selected', 'selected');

<% if @project.perk_permission %>
  $(".selectParent").show();
<% else %>
  $(".selectParent").hide();
<% end %>

<% if !params[:id].eql?("custom") %>
  $(".choiced-perk").hide();
  <% if @perk.amount.to_s.length <= 5 %>
    $(".perk-amount").attr('style', 'font-size: 52px; color:#81C263;font-family:"Proxima Nova Bold";line-height:100%;')
  <% else %>
    $(".perk-amount").attr('style', 'font-size: 30px; color:#81C263;font-family:"Proxima Nova Bold";line-height:100%;')
  <% end %>
  $(".perk-amount").show();

  <% if @perk.amount.to_s.split(".")[1].eql?("0") %>
    $(".perk-amount").text("<%= number_to_currency(@perk.amount, :precision => 0) %>");
  <% else %>
    $(".perk-amount").text("<%= number_to_currency(@perk.amount, :precision => 2) %>");
  <% end %>

  $(".perk-name").text("<%= @perk.name %>");
  $(".perk-description").text("<%= @perk.description.to_s.html_safe %>");
  $("#amount").val("<%= @perk.amount.to_s.split(".")[0] %>");
  $("#name_of_perk").val("<%= @perk.name %>");

  <% if @project.perk_permission? %>
    $(".description-custom").show();
    <% if @perk.amount.to_s.split(".")[1].eql?("0") %>
      $(".description-custom").html("You will receive <%= @perk.amount.to_i %> Uruut Reward Points when you seed <%= number_to_currency(@perk.amount.to_f, precision: 0) %>");
    <% else %>
      $(".description-custom").html("You will receive <%= @perk.amount.to_i %> Uruut Reward Points when you seed <%= number_to_currency(@perk.amount.to_f, precision: 2) %>");
    <% end %>
  <% else %>
    $(".description-custom").hide();
  <% end %>

  $("#perk-name-other-<%= @perk.id %>").attr("style", "color: #000");
  $("#amount-id-<%= @perk.id %>").attr("style", "background: #70BF4C");
  $("#perk-id-<%= @perk.id %>").attr("style", "background: #70BF4C");
  $("#button-fund-<%= @perk.id %>").attr("style", "background: green");

<% elsif params[:id].eql?("custom") and !params[:custom_seed].blank? %>
  $("#perk-name-other").attr("style", "color: #000");
  $("#amount-id-custom").attr("style", "background: #70BF4C");
  $("#button-fund-custom").attr("style", "background: green");
  $("#perk-id-custom").attr("style", "background: #70BF4C");
  <% if @project.perk_permission? %>
    $("#name_of_perk").val("<%= @perk_name_selected %>");
  <% else %>
    $("#name_of_perk").val("<%= @perk.name %>");
  <% end %>
  $(".perk-name").text("Custom");
  $(".perk-description").text("");
  $(".description-custom").show();
  <% if @perk.amount.to_s.split(".")[1].eql?("0") %>
    $(".description-custom").html("You will receive <%= @perk.amount.to_i %> Uruut Reward Points when you seed <%= number_to_currency(@perk.amount.to_f, precision: 0) %>");
  <% else %>
    $(".description-custom").html("You will receive <%= @perk.amount.to_i %> Uruut Reward Points when you seed <%= number_to_currency(@perk.amount.to_f, precision: 2) %>");
  <% end %>
  <% if @perks.blank? %>
    $(".selectParent").hide();
    $(".none-perks").show();
    <% if @perk.amount.to_s.split(".")[1].eql?("0") %>
      $(".none-perks").html("You will receive <%= @perk.amount.to_i %> Uruut Reward Points when you seed <%= number_to_currency(@perk.amount, precision: 0) %>");
    <% else %>
      $(".none-perks").html("You will receive <%= @perk.amount.to_i %> Uruut Reward Points when you seed <%= number_to_currency(@perk.amount, precision: 2) %>");
    <% end %>
  <% else %>
    <% if @project.perk_permission %>
      $(".selectParent").show();
    <% else %>
      $(".selectParent").hide();
    <% end %>
    $(".none-perks").hide();
    $("#perk_type").html('');
    <% @perks.each do |perk| %>
      $("#perk_type").append('<option value="<%= perk[1] %>"><%= perk[0] %></option>');
  <% end %>
  $("#perk_type option:contains(" + theText + ")").attr('selected', 'selected');
<% end %>
<% char_size = params[:custom_seed].gsub(/[^\d,]+/, '').gsub(",", "").length %>
$("#custom_amount").val("<%= number_to_currency(params[:custom_seed].gsub(",", "").to_f, precision: 2) %>");

<% if params[:custom_seed].include?(".") %>
  $("#custom_amount").text("<%= number_to_currency(params[:custom_seed].gsub(",", "").to_f, precision: 2) %>");
<% else %>
  $("#custom_amount").text("<%= number_to_currency(params[:custom_seed].gsub(",", "").to_f, precision: 0) %>");
<% end %>

<% if char_size <= 5 %>
  $("#custom_amount").attr('style', 'font-size: 52px; color:#81C263;font-family:"Proxima Nova Bold";line-height:100%;')
<% else %>
  $("#custom_amount").attr('style', 'font-size: 30px; color:#81C263;font-family:"Proxima Nova Bold";line-height:100%;')
<% end %>
$("#amount").val("<%= params[:custom_seed].gsub(",", "").to_f %>");
$(".choiced-perk").show();
$(".perk-amount").hide();
<% end %>
