.full-width.hero
  .container
    = image_tag "thank-u.png"
    .headline
      %h2 Your donations help make our dreams reality.
      %p Continue to the checkout process below to confirm your funding amount, then enter your payment information.

.container
  .span12
    %h3.title CHECKOUT
    .donation
      %h3.label-green{:style => 'line-height:100%;margin:20px 0 0;'}
        = @project.project_title
      %p
        = image_tag "marker.jpg"
        %span{:style => "font:normal 11px/12px 'Proxima Nova Semi';text-transform:uppercase;"}
          #{@project.address}, #{@project.city}, #{@project.state}, #{@project.zip}

      .well{:style => "border:1px solid #e9e9e9;padding:0;margin-top:20px;"}
        %div{:style => "float:left;padding-left:20px;display:inline-block;height:115px;width:212px;border-right:1px solid #e9e9e9;margin-right:20px;"}
          %h6{:style => "line-height:100%;margin-bottom:10px;margin-top:20px;margin-bottom:15px;"} Pledge Amount
          - precision = @perk_amount.to_s.split(".")[1].eql?("0") ? 0 : 2
          - if @perk_amount.to_s.length <= 5
            #custom_amount.choiced-perk.amount{style: "font-size:52px;color:#95D60A;font-family:'Proxima Nova Bold';line-height:100%; #{"display:none" if !@perk_name.eql?("custom")}"}
              = number_to_currency(@perk_amount.to_f, precision: precision)
            %span.perk-amount{:style => "font-size:52px;color:#95D60A;font-family:'Proxima Nova Bold';line-height:100%; #{"display:none" if @perk_name.eql?("custom")}"}= number_to_currency(@perk_amount.to_f, precision: precision)
          - else
            #custom_amount.choiced-perk.amount{style: "font-size:30px;color:#95D60A;font-family:'Proxima Nova Bold';line-height:100%; #{"display:none" if !@perk_name.eql?("custom")}"}
              = number_to_currency(@perk_amount.to_f, precision: precision)
            %span.perk-amount{:style => "font-size:30px;color:#95D60A;font-family:'Proxima Nova Bold';line-height:100%; #{"display:none" if @perk_name.eql?("custom")}"}= number_to_currency(@perk_amount.to_f, precision: precision)
        %div.perk-info-choiced{:style => "float:left;display:inline-block;width:340px;padding-right:20px;height:auto;"}
          .choiced-perk{style: "#{"display:none" if !@perk_name.eql?("custom")}"}
            %h6{:style => "line-height:100%;margin-bottom:10px;margin-top:20px"} Choose your amount
            .selectParent
              = select_tag :perk_type, options_for_select(@perks), {:onchange => 'changeAmount(this)', class: "styledSelect"}
            .none-perks{style: "display:none"}
            %p{:style => "font-size:12px;font-family:'Proxima Nova';text-align:left;color:#403e37;margin:0;font-style: italic"} (Perk eligibility based on donation amount.)

          %h6{:style => "line-height:100%;margin-bottom:0px;margin-top:20px"} Your Selected Level
          %h3.perk-name.label-green{:style => 'font-size:20px; line-height:100%;margin:0;'}
            - if @perk_name_selected.nil?
              = @perk_name
            - else
              = @perk_name_selected
          %p.perk-description
            - if @project.perk_permission
              #{@perk_description}
            / - else
            /   You will receive #{@perk_description} when you pledge #{number_to_currency(@perk_amount.to_f, precision: precision)}
        .cf
        /%p.checkout-continue-subtext 

      %h3 Payment Information
      .well
        = render "form"

:javascript

  $(document).ready(function(){
    var perkStatus = "#{@perks.blank?}";
    var perkPermission = "#{@project.perk_permission}"
    var perkName = "#{@perk_name}"
    var point = "#{@perk_amount.to_i}";
    var amount = "#{number_to_currency(@perk_amount, precision: 0)}";
    var theText = "#{@perk_name_selected}";
    $("#perk_type option:contains(" + theText + ")").attr('selected', 'selected');
    $('#new_sponsor').validate();
    $("#perk_name").val(theText);

    if (perkStatus == "true"){
      $(".selectParent").hide();
      $(".description-custom").hide();
    }
    else{
      $(".selectParent").show();
      $(".none-perks").hide();
      $(".description-custom").show();
    }

    if (perkPermission == "false"){
      if (perkName == "custom"){
          $(".description-custom").show();
          $(".selectParent").hide();
          }
      else{
        $(".description-custom").hide();
      }
    }

    $("#perk_type option").each(function(){
      $(this).attr('data', $(this).text())
    });

    if ($("#perk_type :selected").text().length > 17){
      $("#perk_type :selected").text(truncText($("#perk_type :selected").text(), 15, "..."))
    }

    $("#perk_type").on('change',function(){
      var length = $("#perk_type option").length;
      for (var i = 1; i < length; i++){
        $("#perk_type option")[i].text = $("#perk_type option")[i].attributes["data"].value
      }
      if ($("#perk_type :selected").text().length > 17){
        $("#perk_type :selected").text(truncText($("#perk_type :selected").text(), 15, "..."))
      }
    })

  })

  $(".change-fund").click(function(){
    // $("#custom_seed").val() = $("#custom_seed").val().replace(/[^\d,]+/g, '');
    if ( $(this).attr("perk-id") == "default" ){
      $.ajax({
        url: "/donations/"+$(this).attr("perk-id")+"/change_perk.js?amount="+$(this).attr("amount")+"&level="+$(this).attr("level")+"&custom_seed="+$("#custom_seed").val()+"&project_id=#{@project.id}"
      });
    }
    else{
      $.ajax({
        url: "/donations/"+$(this).attr("perk-id")+"/change_perk.js?custom_seed="+$("#custom_seed").val()+"&project_id=#{@project.id}"
      });
    }
  });

  var changeAmount = function(selectedOpt){
    var projectId = '#{@project.id}';
    var text = selectedOpt.options[selectedOpt.selectedIndex].text;
    $(".perk-info-choiced").show();
    $("#perk_name").val(text);
    $.ajax({
      url: "/set_new_perk?perk_name="+text+"&project_id="+projectId
    });
    // $("#amount").val($("#perk_type").val());
    // $("#custom_amount").val($("#perk_type").val());
  };
