.full-width.hero
  .container
    = image_tag "thank-u.png"
    .headline
      %h2 Your donations help make our dreams reality.
      %p Continue to the checkout process below to confirm your funding amount and perk, then enter your payment information

.container
  .span8
    %h3.title CHECKOUT
    .donation
      %h3.label-green{:style => 'line-height:100%;margin:20px 0 0;'}
        = @project.title
      %p
        = image_tag "marker.jpg"
        %span{:style => "font:bold 11px/12px 'Proxima Nova Bold';text-transform:uppercase;"}
          #{@project.address}, #{@project.city}, #{@project.state}, #{@project.zip}

      .well{:style => "border:1px solid #e9e9e9;padding:0;margin-top:20px;"}
        %div{:style => "float:left;padding-left:20px;display:inline-block;height:115px;width:212px;border-right:1px solid #e9e9e9;margin-right:20px;"}
          %h6{:style => "line-height:100%;margin-bottom:10px;margin-top:20px;margin-bottom:15px;"} Seed Amount
          .choiced-perk.amount{style: "#{"display:none" if !@perk_name.eql?("custom")}"}
            = text_field_tag :custom_amount, "#{@perk_amount if @perk_name.eql?("custom")}" , {class: "label-green", style: "width: 95%; background: #fff url('/assets/dollar-green.png') no-repeat left center", readonly: true}
          %span.perk-amount{:style => "font-size:52px;color:#81C263;font-family:'Proxima Nova Bold';line-height:100%; #{"display:none" if @perk_name.eql?("custom")}"}= number_to_currency(@perk_amount, :precision => 0)
        %div.perk-info-choiced{:style => "float:left;display:inline-block;width:340px;padding-right:20px;height:auto;"}
          .choiced-perk{style: "#{"display:none" if !@perk_name.eql?("custom")}"}
            %h6{:style => "line-height:100%;margin-bottom:10px;margin-top:20px"} Choose your perk
            .selectParent
              = select_tag :perk_type, options_for_select(@perks), {:onchange => 'changeAmount(this)', class: "styledSelect"}
            .none-perks{style: "display:none"}
            %p{:style => "font-size:12px;font-family:'Proxima Nova';text-align:left;color:#b6b6b4;margin:0;font-style: italic"} (Perk eligibility based on donation amount.)

          %h6{:style => "line-height:100%;margin-bottom:0px;margin-top:20px"} Your Selected Perk
          %h3.perk-name.label-green{:style => 'font-size:20px; line-height:100%;margin:0;'}= @perk_name
          %p.perk-description= @perk_description
          %p.description-custom
            You will receive #{@perk_amount} uruut reward points when you seed #{number_to_currency(@perk_amount, precision: 0)}
        .cf
        %p.checkout-continue-subtext Continue to payment information below or choose a different seed amount/perk from the right.

      %h3 Payment Information
      .well
        = render "form"

  .span4
    %h3.title OTHER PERKS
    .well{:style => "border:none; padding: 0;"}
      %ul.perks
        -if @project.perk_permission
          -unless @project.perks.blank?
            - @project.perks.order(:amount).each do |p|
              %li.perk.clearfix{style: "#{"background: #bee0b4" if @perk.id.eql?(p.id)}", id: "perk-id-#{p.id}"}
                %h3.perk-name-other{style: "#{"color: #000" if @perk.id.eql?(p.id)}", id: "perk-name-other-#{p.id}"}= p.name
                - if p.limit
                  %p= p.perks_available.to_i.zero? ? "(No Perks Remaining)" : "(#{p.perks_available} Available)"
                %p= p.description
                %ul
                  %li.seed-amount{style: "#{"background: #bee0b4" if @perk.id.eql?(p.id)}", id: "amount-id-#{p.id}"}
                    %h6 SEED
                    %p.amount $#{p.amount.to_i}
                  %li.fund-button
                    - if p.limit
                      - if p.perks_available.to_i.zero?
                        %a{:class => "fund btn pull-right"} Fund Now #{image_tag('arrow.png')}
                      -else
                        %a{:class => "fund btn change-fund pull-right", "perk-id" => "#{p.id}", style: "#{"background: #81C263" if @perk.id.eql?(p.id)}", id: "button-fund-#{p.id}"} Fund Now #{image_tag('arrow.png')}
                    -else
                      %a{:class => "fund btn change-fund pull-right", "perk-id" => "#{p.id}", style: "#{"background: #81C263" if @perk.id.eql?(p.id)}", id: "button-fund-#{p.id}"} Fund Now #{image_tag('arrow.png')}
        -else
          - default_perk.each_with_index do |perk_amount, index|
            - index += 1
            - name = "LEVEL #{index}"
            - description = "You will receive #{perk_amount} Uruut Reward Points when you seed $#{perk_amount}"
            %li.perk.clearfix{style: "#{"background: #bee0b4" if @perk_amount.eql?(perk_amount)}", id: "perk-id-#{index}"}
              %h3.perk-name-other{style: "#{"color: #000" if @perk_amount.eql?(perk_amount)}", id: "perk-name-other-#{index}"}
                = name
              %p= description
              %ul
                %li.seed-amount{style: "#{"background: #bee0b4" if @perk_amount.eql?(perk_amount)}", id: "amount-id-#{index}"}
                  %h6 SEED
                  %p.amount $#{perk_amount}
                %li.fund-button
                  %a{:class => "fund btn change-fund", "perk-id" => "default", style: "#{"background: #81C263" if @perk_amount.eql?(perk_amount)}", "amount" => "#{perk_amount}", "level" => "#{index}", id: "button-fund-#{index}"} Fund Now #{image_tag('arrow.png')}

        %li.perk.clearfix{id: "perk-id-custom", style: "#{"background: #bee0b4" if @perk_name.eql?("custom")}"}
          %h3.perk-name-other{style: "#{"color: #000" if @perk_name.eql?("custom")}", id: "perk-name-other"}
            CHOOSE YOUR PERK
          %p With this option you choose the amount to seed and which perk you receive. (Perk egibility based on donation amount)
          %ul
            %li.seed-amount{id: "amount-id-custom", style: "#{"background: #bee0b4" if @perk_name.eql?("custom")}"}
              %h6 AMOUNT TO SEED
              %p.amount= text_field_tag :custom_seed, "#{@perk_amount if @perk_name.eql?("custom")}" , {style: "width: 100%;"}
          %a{style: "#{"background: #81C263" if @perk_name.eql?("custom")}", :class => "fund btn change-fund pull-right", "perk-id" => "custom", id: "button-fund-custom"} Fund Now #{image_tag('arrow.png')}

:javascript

  $(document).ready(function(){
    var perkStatus = "#{@perks.blank?}";
    var perkPermission = "#{@project.perk_permission}"
    var perkName = "#{@perk_name}"
    var point = "#{@perk_amount.to_i}";
    var amount = "#{number_to_currency(@perk_amount, precision: 0)}";
    var theText = "#{@perk_name_selected}";
    $("#perk_type option:contains(" + theText + ")").attr('selected', 'selected');
    $('#new_sponsor').validate();
    $("#perk_name").val(theText);

    if (perkStatus == "true"){
      $(".selectParent").hide();
      $(".none-perks").show();
      $(".none-perks").html("You will receive "+ point + " uruut reward points when you seed "+ amount)
      $(".description-custom").hide();
    }
    else{
      $(".selectParent").show();
      $(".none-perks").hide();
      $(".description-custom").show();
    }

    if (perkPermission == "false"){
      if (perkName == "custom"){
          $(".description-custom").show();
          $(".selectParent").hide();
          }
      else{
        $(".description-custom").hide();
      }
    }
  })

  $(".change-fund").click(function(){
    if ( $(this).attr("perk-id") == "default" ){
      $.ajax({
        url: "/donations/"+$(this).attr("perk-id")+"/change_perk.js?amount="+$(this).attr("amount")+"&level="+$(this).attr("level")+"&custom_seed="+$("#custom_seed").val()+"&project_id=#{@project.id}"
      });
    }
    else{
      $.ajax({
        url: "/donations/"+$(this).attr("perk-id")+"/change_perk.js?custom_seed="+$("#custom_seed").val()+"&project_id=#{@project.id}"
      });
    }
  });

  var changeAmount = function(selectedOpt){
    var projectId = '#{@project.id}';
    var text = selectedOpt.options[selectedOpt.selectedIndex].text;
    $(".perk-info-choiced").show();
    $("#perk_name").val(text);
    $.ajax({
      url: "/set_new_perk?perk_name="+text+"&project_id="+projectId
    });
    // $("#amount").val($("#perk_type").val());
    // $("#custom_amount").val($("#perk_type").val());
  };
