%h2 Project Details
%div
	= f.label :image, "Select an image for the project"
	= f.file_field :image
%div
	= f.label :video 
	%br
	= f.text_field :video
%div
	= f.label :address
	%br
	= f.text_field :address
%div
	= f.label :city 
	%br 
	= f.text_field :city 
%div
	= f.label :state 
	%br
	= f.select :state, options_for_select(us_states) 
%div
	= f.label :zip 
	%br
	= f.text_field :zip 
%div
	= f.label :neighborhood 
	%br
	= f.text_field :neighborhood
%div
	= f.label :duration
	%br
	= text_field_tag "duration"
	= f.hidden_field :duration
%div
	= f.label :goal
	%br
	= f.text_field :goal
%div
	%span.btn.next Next
%div
	%span.btn.back Back