%h2 Project Details
%div
	= f.label :image, "Select an image for the project"
	= f.file_field :image
%div
	= f.label :video 
	%br
	= f.text_field :video
%div
	= f.label :location
	%br
	= f.text_field :location
%div
	= f.label :duration
	%br
	= f.text_field :duration
%div
	= f.label :goal
	%br
	= f.text_field :goal
%div
	%span.btn.next Next
%div
	%span.btn.back Back