= form_for @project, :html => { :multipart => true } do |f|

	%div
		= f.label :title 
		%br
		= f.text_field :title
	%div
		= f.label :goal
		%br
		= f.text_field :goal

	= f.fields_for(@project.image) do |builder|
		%div
			= builder.label :image, "Select an image for the project"
			= builder.file_field :image

		/ = f.fields_for :videos do |builder|
		/ 	%div
		/ 		= builder.label :video, "Select a video for the project"
		/ 		= builder.file_field :video
	%div
		= f.submit "Submit"
