= form_for(@project, :html => {"data-persist" => "garlic", :class => "span8 well", :multipart => true}) do |f|

  %title Create Your Project

  = render "overview_step", :f => f
  = render "details_step", :f => f
  = render "perks_step", :f => f
  = render "category_step", :f => f

  %div
    = f.submit "Submit", :class => "btn", :id => "project-submit"
