= form_for @projects, :html => { :multipart => true } do |f|

	%div
		= f.label :name 
		%br
		= f.text_field :name
	%div
		= f.label :amount
		%br
		= f.text_field :amount
	%div
		= f.label :due_date
		%br
		= f.text_field :due_date
	%div
		= f.label :image, "Select an image for the project"
		=f.file_field :image
	%div
		= f.submit "Sign up" 
