= form_for(@project, :html => {:multipart => true}) do |f|

	%title Create Your Project

	#step-1
		= render "overview_step", :f => f
	#step-2
		= render "details_step", :f => f
	#step-3
		= render "category_step", :f => f

	%div
		= f.submit "Submit", :class => "btn"
