= form_for @project, :html => { :multipart => true } do |f|

	%div
		= f.label :title 
		%br
		= f.text_field :title
	%div
		= f.label :goal
		%br
		= f.text_field :goal


	= f.fields_for :images do |builder|
		%div
			= builder.label :project_image, "Select an image for the project"
			= builder.file_field :project_image

	= f.fields_for :videos do |builder|
		%div
			= builder.label :project_video, "Select a video for the project"
			= builder.file_field :project_video

	%div
		= f.submit "Submit"
