.action.new-save-btn
  %a.btn.save-image{href: "javascript:void(0)"}
    SAVE
  %a.btn.cancel-image{href: "javascript:void(0)"}
    CANCEL

.funding-info
  .container
    .span8
      %h4.title.wizard-data-title= @project.project_title
      %span.location.wizard-data-location #{@project.city}, #{@project.state}
      %span.pull-right.wizard-data-td-mark{:style => "margin-top: -20px"}
        = image_tag 'td-logo-black.png', class: "tax-deductible deductable-black", "data-toggle" => "tooltip", title: "Donations Are Tax Deductable", style: "#{show_td_mark(@project)}"
      %hr
      %p.short-desc.wizard-data-description{:style => "font:normal 12px/18px 'Proxima Nova';"}= @project.title

      %h6{:style => "color:#403e37;font-family:'Proxima Nova Semi';display:inline-block;margin:0;letter-spacing:normal;"} SHARE:
      = image_tag "fb-count.png", :class => "fb-share", :style => "margin-right:20px;"
      = image_tag "tw-count.png", :class => "tw-share", :style => "margin-right:20px;"
      = image_tag "bitly-link.png", :style => "margin-right:20px;"

    .span4
      .progress-container
        = image_tag 'seed.png', :class => "seed"
        %div
          %span Seed Funds Pledged
          - if @donation && @donation.length == 0
            %p $0
          - else
            - totalDonated = 0
            - if @donation
              - @donation.each do |d|
                - totalDonated += d.amount
            %p= amount_converter(totalDonated)

      #progressbar

      .project-details.cf
        %span.small
          Project
          %br
          Goal
        .amount.wizard-data-amount= amount_converter(@project.goal)

        .days-left
          %span.small
            Days
            %br
            Left
          .amount.wizard-data-duration= @project.duration
