.funding-info
  .container
    .span8
      %h4.title= @project.title
      %span.location #{@project.city}, #{@project.state}
      %hr
      %p.short-desc{:style => "font:normal 12px/18px 'Proxima Nova';"}= @project.about

      = link_to "#assets", :class => "btn" do
        Become A Sponsor
        %span
				
      = link_to "#assets", :class => "btn" do
        Fund Now
        %span

    .span4
      .progress-container
        = image_tag 'seed.png', :class => "seed"
        %div
          %span Seed Funds Pledged
          - if @donation && @donation.length == 0
            %p $0
          - else
            - totalDonated = 0
            - if @donation
              - @donation.each do |d|
                - totalDonated += d.amount
            %p= number_to_currency(totalDonated, :precision => 0)

      #progressbar

      .project-details.cf
        %span.small
          Project
          %br
          Goal
        .amount= number_to_currency(@project.goal, :precision => 0)
				
        .days-left        
          %span.small
            Days
            %br
            Left
          .amount= @project.duration