.breadcrumb-container
  %ul.breadcrumbs
    %li.sponsor-info
      = link_to "/projects/#{@project.id}/edit#sponsor-info" do
        %span.steps Step 1
        %span.title RUUTS
        %span.description Basic Information
        %span.border

    %li.project-details
      = link_to "/projects/#{@project.id}/edit#project-details" do
        %span.steps Step 2
        %span.title STORY
        %span.description Project Details
        %span.border

    %li.perks
      = link_to "/projects/#{@project.id}/edit#perks" do
        %span.steps Step 3
        %span.title PERKS
        %span.description Donor Rewards
        %span.border

    %li.sponsorship
      = link_to "/projects/#{@project.id}/edit#sponsorship" do
        %span.steps Step 4
        %span.title Sponsors
        %span.description Sponsorship Details
        %span.border

    %li.assets
      = link_to "/projects/#{@project.id}/edit#assets" do
        %span.steps Step 5
        %span.title VISUALS
        %span.description Project Page Setup
        %span.border

    %li.submit
      = link_to 'submit' do
        %span.steps Get Ruuted
        %span.title Submit
        %span.description Submit Your Project for Approval

= render "projects/wizard/sponsor_info", :project => @project
= render "projects/wizard/project_details", :project => @project
= render "projects/wizard/perks", :project => @project
= render "projects/wizard/sponsorship", :project => @project
= render "projects/wizard/assets", :project => @project
					
/* Each tip is set within this <ol>. */
/* This creates the order the tips are displayed */
%ol{:id => "uruutTour"}
  /* data-id needs to be the same as the parent it will attach to */
  %li{"data-class" => "pick-cover-photo"}
    %p This is some content...
    %p Here is some more...

%script{:src => "http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"}
%script{:src => "http://maps.stamen.com/js/tile.stamen.js?v1.2.1"}
= javascript_include_tag "projects"
:javascript
		
  getPerkProjectUrl = "#{get_perk_projects_url}";
  submitUrl = "#{projects_submit_project_url}";
  projectId = #{@project.id};
  projectPath = '#{project_path(@project.id)}';
  thankYouUrl = "#{thank_you_pages_url}";
  window.projectId = projectId