= javascript_include_tag "global/jquery.joyride-2.0.3"
= javascript_include_tag "accounting.min"

.breadcrumb-container
  %ul.breadcrumbs
    %li.sponsor-info
      = link_to "#{ wizard_link("sponsor_info", @project) }", class: "wizard-link sponsor-info-link", "wizard-type" => "sponsor_info" do
        %span.steps Step 1
        %span.title RUUTS
        %span.description Basic Information
        %span.border

    %li.project-details
      = link_to "#{ wizard_link("project_details", @project) }", class: "wizard-link project-details-link", "wizard-type" => "#{"project_detail" if ["first", "second", "third", "fourth", "last"].include? session[:step]}" do
        %span.steps Step 2
        %span.title STORY
        %span.description Project Details
        %span.border

    %li.perks
      = link_to "#{ wizard_link("perks", @project) }", class: "wizard-link perks-link", "wizard-type" => "#{ "perks" if ["second", "third", "fourth", "last"].include? session[:step]}" do
        %span.steps Step 3
        %span.title PERKS
        %span.description Donor Rewards
        %span.border

    %li.sponsorship
      = link_to "#{ wizard_link("sponsorship", @project) }", class: "wizard-link sponsorship-link", "wizard-type" => "#{"sponsorship" if ["third", "fourth", "last"].include? session[:step]}" do
        %span.steps Step 4
        %span.title Sponsors
        %span.description Sponsorship Details
        %span.border

    %li.assets
      = link_to "#{ wizard_link("assets", @project) }", class: "wizard-link assets-link", "wizard-type" => "#{"assets" if ["fourth", "last"].include? session[:step]}" do
        %span.steps Step 5
        %span.title VISUALS
        %span.description Project Page Setup
        %span.border

    %li.submit
      = link_to "javascript:void(0)", class: "submit-finish-project #{"submit-finish-project" if session[:step].eql?("fourth") }" do
        %span.steps Get Ruuted
        %span.title Submit
        %span.description Submit Your Project for Approval

= render "projects/wizard/sponsor_info", :project => @project
= render "projects/wizard/project_details", :project => @project
= render "projects/wizard/perks", :project => @project
= render "projects/wizard/sponsorship", :project => @project
= render "projects/wizard/assets", :project => @project


/* Each tip is set within this <ol>. */
/* This creates the order the tips are displayed */
%ol{:id => "uruutTour"}
  /* data-id needs to be the same as the parent it will attach to */
  %li{"data-class" => "pick-cover-photo", "data-options" => "tipLocation:right"}
    %h5 CHOOSE A COVER PHOTO
    %p The cover photo is the large splash image that appears on your page. The dimensions should be at least 1600 x 546 pixels. It’s a big photo and a great opportunity to give your page a striking, eye-catching look. Choose something that reflects your organization, project, and personality.
    %a{:href => "#", :class => "button small quit-tour joyride-close-tip close-tip-custom"} Quit Tour
  %li{"data-id" => "planting_seeds", "data-options" => "tipLocation:top"}
    %h5 ADD PHOTOS
    %p Add photos into your story section by clicking on the placeholder images. If you need more, you can add them to a gallery section from your dashboard once your project as been approved.
    %a{:href => "#", :class => "button small quit-tour joyride-close-tip close-tip-custom"} Quit Tour
  %li{"data-id" => "cultivation-step", "data-options" => "tipLocation:top"}
    %h5 ADD PHOTOS
    %p Add photos into your story section by clicking on the placeholder images. If you need more, you can add them to a gallery section from your dashboard once your project as been approved.
    %a{:href => "#", :class => "button small quit-tour joyride-close-tip close-tip-custom"} Quit Tour
  %li{"data-class" => "assets", "data-button" => "Quit Tour", "data-options" => "tipLocation:bottom"}
    %h5 SUBMIT
    %p When you're ready, click here to submit for approval. You're only required to add a cover photo.

%script{:src => "http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"}
%script{:src => "http://maps.stamen.com/js/tile.stamen.js?v1.2.1"}

- if session[:step].nil?
  :javascript
    localStorage.clear();

:javascript

  var connect = '#{session[:connected]}';

  var convertAmount = function(amount){
    amount = accounting.formatMoney(amount, "$", 0);
    amountSplit = amount.split(",");
    if ( amountSplit.length < 3 ){
      return amount;
    }
    else{
      switch (amountSplit.length)
        {
          case 3: return amountSplit[0]+ "M"; break;
          case 4: return amountSplit[0]+ "B"; break;
          case 5: return amountSplit[0]+ "T"; break;
          case 6: return amountSplit[0]+ "Q"; break;
        }
    }
  };

  var updateOrganizedTypeInfo = function(){
    $.ajax({
      type: 'POST',
      url: '/update_sponsor_info',
      data: {
        id: '#{@project.id}',
        type: "organized_type",
        data_value: $("#project_organization_type").val()
      }
    });
  }

  var updateOrganizedInfo = function(){
    $.ajax({
      type: 'POST',
      url: '/update_sponsor_info',
      data: {
        id: '#{@project.id}',
        type: "organized",
        data_value: $("#project_organization_classification").val()
      }
    });
  }

  var updateStateInfo = function(){
    $.ajax({
      type: 'POST',
      url: '/update_sponsor_info',
      data: {
        id: '#{@project.id}',
        type: "state",
        data_value: $("#project_state").val()
      }
    });
  }

  $(".submit-finish-project").on("click", function(event){
    event.preventDefault();
    if ($('#large_image').attr('data-image') == "true") {
      $.ajax({
        type:'POST',
        url: '#{projects_submit_project_url}',
        data: {id: #{@project.id}}
      }).done(function(data) {
        localStorage.clear();
        window.location.href = "#{thank_you_pages_url}";
      });
    } else {
      alert("Please Choose Cover Image");
    }
  });

  $(".wizard-link").on("click", function(){
    var currentLink = $(this).attr("wizard-type")

    if ( currentLink == "assets" ){
      $(".sponsorship-link").attr("href", "/projects/#{@project.id}/edit#sponsorship");
    }
    else{
      $("#uruutTour").joyride("destroy");
    }
  });

  $(".seed-form").on("click", function(){
    $("#video_type").val("seed");
    $(".title-form-video").text("Add youtube video for seed video");
    $("#save-video").modal("show");
  });

  $(".cultivation-form").on("click", function(){
    $("#video_type").val("cultivation");
    $(".title-form-video").text("Add youtube video for cultivation video");
    $("#save-video").modal("show");
  });

  var getHash = function() {
    if(window.location.hash) {
      $('.step-container').each(function(){
        $(this).hide();
      });

      $('.breadcrumbs li').each(function(){
        $(this).removeClass('active');
      })

      var hashVal = window.location.hash.split("#")[1];
      if(hashVal == 'sponsor-info') {
        $("#uruutTour").joyride("destroy");
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
      if(hashVal == 'project-details') {
        $("#uruutTour").joyride("destroy");
        $("[data-id='" + hashVal + "']").show();
        $('li.' + hashVal).addClass('active');
      }
      if(hashVal == 'perks') {
        $("#uruutTour").joyride("destroy");
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
      if(hashVal == 'sponsorship') {
        $("#uruutTour").joyride("destroy");
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
      if(hashVal == 'assets') {
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
        $("#uruutTour").joyride();
        $(".joyride-tip-guide .joyride-next-tip").eq(2).attr("onclick", "javascript: $('.submit').addClass('active') ");
        $(".joyride-tip-guide .joyride-next-tip").eq(3).attr("onclick", "javascript: $('.submit').removeClass('active') ");
      }
    }else{
      window.location.href = "/projects/#{@project.id}/edit#sponsor-info";
      window.location.reload(true);
    }
  }

  $(function(){

    var step = '#{session[:step]}';
    var wizardPath = $(location).attr("href").split("#")[1];

    if (step == "fourth"){
      $(window).load(function(){
        if ( wizardPath != "assets" )
        {
          $("#uruutTour").joyride("destroy");
        }
        else{
          $("#uruutTour").joyride({
            'tipLocation': 'top',
            autoStart : true
          });
          $(".joyride-tip-guide .joyride-next-tip").eq(2).attr("onclick", "javascript: $('.submit').addClass('active') ");
          $(".joyride-tip-guide .joyride-next-tip").eq(3).attr("onclick", "javascript: $('.submit').removeClass('active') ");
        }
      });
    }

    if ( wizardPath != "assets" )
    {
      $("#uruutTour").joyride("destroy");
    }

    getHash();
    $(window).on('hashchange', function() {
      getHash();
      // window.location.reload(true);
    });

    if ( connect.length > 0 ){
      $('.stripe-connect img').attr('src', '/assets/stripe-connected.png');
    }
    else{
      $('.stripe-connect img').attr('src', '/assets/stripe-connect.png');
    }

    $('.breadcrumbs li').hover(function() {
      $(this).addClass('active');
    }, function() {
      var hash = window.location.hash.split("#")[1];
      if($(this).hasClass(hash)){
        $(this).addClass('active');
      }else{
        $(this).removeClass('active');
      }
    });

   $('.step-container').on('form', 'submit', function() {
     return $(this).h5Validate();
   });

  var validateSponsor = function(){
    if ( $('#project_organization').val() == "" || $("#project_organization_type").val() == "" || $('#project_organization_classification').val() == "" || $('#project_address').val() == "" || $('#project_city').val() == "" || $('#project_zip').val() == "" || $('#project_website').val() == "" || $('#project_twitter_handle').val() == "" || $('#project_facebook_page').val() == "")
      {
        for (var i = 0; i < $('.required').length; i++){
          if ($('.required')[i].value == ""){
            $('#' + $('.required')[i].id).addClass('error-validated-field');
          } else {
            $('#' + $('.required')[i].id).removeClass('error-validated-field');
          }
        }
          return false;
      }
    else {
      return true;
    };
  };

   $('.step-container[data-id="sponsor-info"] form').on('submit', function(e){
     if ( connect.length > 0 ) {
      e.preventDefault();
      if (validateSponsor()){
        $('.step-container[data-id="sponsor-info"] form input#project-submit').val("LOADING..");
        var data = $(this).serialize();
        var project = #{@project.id};
        $.ajax({
          type: 'POST',
          url: '#{project_path(@project.id)}',
          data: data
        }).done(function(data){
          $.ajax({
            type: 'GET',
            url: 'https://' + document.location.hostname + ":" + document.location.port + '/projects/update_td_mark?id='+project
          });
          $(".project-details-link").attr("href", "/projects/" + data +"/edit#project-details");
          $('.step-container[data-id="sponsor-info"] form input#project-submit').val("SAVE AND COUNTINUE");
          $(".wizard-data-location").text( $("#project_city").val() + ", "+ $("#project_state").val() );
          $(".wizard-data-all-location").text( $("#project_address").val() + " "+ $("#project_city").val() + " " + $("#project_state").val() + " " + $("#project_zip").val() );
          $(".wizard-data-organization").text( $("#project_organization").val() );
          localStorage.clear();

          var userLocation = 'http://maps.googleapis.com/maps/api/geocode/json?address='+ $("#project_address").val() +','+ $("#project_city").val() +','+ $("#project_state").val()+'&sensor=false';

          $.ajax({
            url: userLocation,
            success: function(data) {
              console.log(data.results[0].geometry.location.lat);
              var latitude = data.results[0].geometry.location.lat;
              var longitude = data.results[0].geometry.location.lng;
              var map = L.map('map', {
                scrollWheelZoom: false
              }).setView([latitude,longitude], 11);

              var uruutIcon = L.icon({
                iconUrl: '#{image_path("map-icon.png")}',
                iconSize:     [36, 52]
              });

              L.tileLayer('http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
              }).addTo(map);

              L.marker([latitude,longitude], {icon:uruutIcon}).addTo(map)
            }
          });

          window.location.href = '/projects/' + data + '/edit#project-details';
        })
      }
      else {
        alert('Required field is empty');
      }
     }else{
       alert("Connect with Stripe, please.");
       return false;
     }
    })

    var validateDetail = function(){
      if ( $('#project_project_title').val() == "" || $("#project_goal").val() == "" || $('#project_duration').val() == "" || $('#project_category').val() == "" || $('#project_title').val() == "" || $('#project_story').val() == "" || $('#project_about').val() == "" )
        {
          for (var i = 0; i < $('.required_detail').length; i++){
            if ($('.required_detail')[i].value == ""){
              $('#' + $('.required_detail')[i].id).addClass('error-validated-field');
            } else {
              $('#' + $('.required_detail')[i].id).removeClass('error-validated-field');
            }
          }
            return false;
        }
      else {
        return true;
      };
    };

    $('.step-container[data-id="project-details"] form').on('submit', function(e){
      e.preventDefault();
      if (validateDetail()){
        $('.step-container[data-id="project-details"] form input#project-submit').val("LOADING..");
        var data = $(this).serialize();
        $.ajax({
          type: 'POST',
          url: '#{project_path(@project.id)}',
          data: data
        }).done(function(data){
          $(".perks-link").attr("href", "/projects/" + data +"/edit#perks");
          $('.step-container[data-id="project-details"] form input#project-submit').val("SAVE AND COUNTINUE");
          $(".wizard-data-title").text( $("#project_project_title").val() );
          $(".wizard-data-story").text( $("#project_story").val() );
          $(".wizard-data-about").text( $("#project_about").val() );
          $(".wizard-data-description").text( $("#project_title").val() );
          $(".wizard-data-duration").text( $("#project_duration").val() );
          $(".wizard-data-amount").text( convertAmount($("#project_goal").val()) );
          window.location.href = '/projects/' + data + '/edit#perks';
        });
      }
      else{
        alert('Required field is empty');
      }
    })

    // $('.step-container[data-id="perks"] form').on('submit', function(e){
    //   e.preventDefault();
    //   $('.step-container[data-id="perks"] form input#project-submit').val("LOADING..");
    //   var data = $(this).serialize();
    //   $.ajax({
    //     type: 'POST',
    //     url: '#{project_path(@project.id)}',
    //     data: data
    //   }).done(function(data){
    //     window.location.href = '/projects/' + data + '/edit#sponsorship';
    //     $(".sponsorship-link").attr("href", "/projects/" + data +"/edit#sponsorship");
    //     $('.step-container[data-id="perks"] form input#project-submit').val("SAVE AND COUNTINUE");
    //   });
    // })

    $('.step-container[data-id="sponsorship"] form').on('submit', function(e){
      e.preventDefault();
      $('.step-container[data-id="sponsorship"] form input#project-submit').val("LOADING..");
      var data = $(this).serialize();
      var projectId = "#{@project.id}";
      $.ajax({
        type: 'POST',
        url: '#{project_path(@project.id)}',
        data: data
      }).done(function(data){
        $.ajax({
          type: 'GET',
          url: 'https://' + document.location.hostname + ":" + document.location.port + '/projects/update_content_assets_tab?id='+projectId
        });
        $(".assets-link").attr("href", "/projects/" + projectId +"/edit#assets");
        $('.step-container[data-id="sponsorship"] form input#project-submit').val("SAVE AND COUNTINUE");
        window.location.href = '/projects/' + projectId + '/edit#assets';
      })
    });

    $('.stripe-connect').click(function() {
      localStorage.setItem('organization', $('#project_organization').val());
      localStorage.setItem('address', $('#project_address').val());
      localStorage.setItem('city', $('#project_city').val());
      localStorage.setItem('state', $('#project_state').val());
      localStorage.setItem('zip', $('#project_zip').val());
      localStorage.setItem('website', $('#project_website').val());
      localStorage.setItem('twitter_handle', $('#project_twitter_handle').val());
      localStorage.setItem('facebook_page', $('#project_facebook_page').val());
    });

    if(localStorage.getItem('organization')) {
      $('#project_organization').val(localStorage.getItem('organization'));
    }

    if(localStorage.getItem('address')) {
      $('#project_address').val(localStorage.getItem('address'));
    }

    if(localStorage.getItem('city')) {
      $('#project_city').val(localStorage.getItem('city'));
    }

    if(localStorage.getItem('state')) {
      $('#project_state').val(localStorage.getItem('state'));
    }

    if(localStorage.getItem('zip')) {
      $('#project_zip').val(localStorage.getItem('zip'));
    }

    if(localStorage.getItem('website')) {
      $('#project_website').val(localStorage.getItem('website'));
    }

    if(localStorage.getItem('twitter_handle')) {
      $('#project_twitter_handle').val(localStorage.getItem('twitter_handle'));
    }

    if(localStorage.getItem('facebook_page')) {
      $('#project_facebook_page').val(localStorage.getItem('facebook_page'));
    }

  });

  getPerkProjectUrl = "#{get_perk_projects_url}";
  submitUrl = "#{projects_submit_project_url}";
  projectId = #{@project.id};
  projectPath = "#{project_path(@project.id)}";
  thankYouUrl = "#{thank_you_pages_url}";
  window.projectId = projectId
