.breadcrumb-container
  %ul.breadcrumbs
    %li.sponsor-info
      = link_to "/projects/#{@project.id}/edit#sponsor-info" do
        %span.steps Step 1
        %span.title RUUTS
        %span.description Basic Information
        %span.border

    %li.project-details
      = link_to "/projects/#{@project.id}/edit#project-details" do
        %span.steps Step 2
        %span.title STORY
        %span.description Project Details
        %span.border

    %li.perks
      = link_to "/projects/#{@project.id}/edit#perks" do
        %span.steps Step 3
        %span.title PERKS
        %span.description Donor Rewards
        %span.border

    %li.sponsorship
      = link_to "/projects/#{@project.id}/edit#sponsorship" do
        %span.steps Step 4
        %span.title Sponsors
        %span.description Sponsorship Details
        %span.border

    %li.assets
      = link_to "/projects/#{@project.id}/edit#assets" do
        %span.steps Step 5
        %span.title VISUALS
        %span.description Project Page Setup
        %span.border

    %li.submit
      = link_to 'submit' do
        %span.steps Get Ruuted
        %span.title Submit
        %span.description Submit Your Project for Approval

= render "projects/wizard/sponsor_info", :project => @project
= render "projects/wizard/project_details", :project => @project
= render "projects/wizard/perks", :project => @project
= render "projects/wizard/sponsorship", :project => @project
= render "projects/wizard/assets", :project => @project

/* Each tip is set within this <ol>. */
/* This creates the order the tips are displayed */
%ol{:id => "uruutTour"}
  /* data-id needs to be the same as the parent it will attach to */
  %li{"data-class" => "pick-cover-photo", "data-options" => "tipLocation:right"}
    %h5 CHOOSE A COVER PHOTO
    %p The cover photo is the large splash image that appears on your page. The dimensions should be at least 1600 x 546 pixels. It’s a big photo and a great opportunity to give your page a striking, eye-catching look. Choose something that reflects your organization, project, and personality.
    %a{:href => "#", :class => "button small quit-tour joyride-quit"} Quit Tour
  %li{"data-id" => "planting_seeds", "data-options" => "tipLocation:top"}
    %h5 ADD PHOTOS
    %p Add photos into your story section by clicking on the placeholder images. If you need more, you can add them to a gallery section from your dashboard once your project as been approved.
    %a{:href => "#", :class => "button small quit-tour joyride-quit"} Quit Tour
  %li{"data-class" => "submit", "data-button" => "Quit Tour", "data-options" => "tipLocation:bottom"}
    %h5 SUBMIT
    %p When you're ready, click here to submit for approval. You're only required to add a cover photo.

%script{:src => "http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"}
%script{:src => "http://maps.stamen.com/js/tile.stamen.js?v1.2.1"}
= javascript_include_tag "projects"
:javascript

  $(".seed-form").on("click", function(){
    $("#video_type").val("seed");
    $(".title-form-video").text("Add youtube video for seed video");
    $("#save-video").modal("show");
  });

  $(".cultivation-form").on("click", function(){
    $("#video_type").val("cultivation");
    $(".title-form-video").text("Add youtube video for cultivation video");
    $("#save-video").modal("show");
  });

  var changeProjectPermission = function(){
    if ( $("#project_sponsorship_permisson").val() == "no" ){
      $(".sponsorship-true").hide();
      $(".sponsorship-false").show();
    }
    else{
      $(".sponsorship-false").hide();
      $(".sponsorship-true").show();
    }
  };

  var getHash = function() {
    if(window.location.hash) {
      $('.step-container').each(function(){
        $(this).hide();
      });

      $('.breadcrumbs li').each(function(){
        $(this).removeClass('active');
      })

      var hashVal = window.location.hash.split("#")[1];
      console.log(hashVal);
      if(hashVal == 'sponsor-info') {
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
      if(hashVal == 'project-details') {
        $("[data-id='" + hashVal + "']").show();
        $('li.' + hashVal).addClass('active');
      }
      if(hashVal == 'perks') {
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
      if(hashVal == 'sponsorship') {
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
      if(hashVal == 'assets') {
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
    }else{
      window.location.href = "/projects/#{@project.id}/edit#sponsor-info";
      window.location.reload(true);
    }
  }

  $(function(){
    $("#large_image").delegate('.pick-cover-photo', 'load', function() {
      $("#uruutTour").joyride({
        autoStart : true,
        'tipLocation': 'bottom'
      });
    })
    var map = L.map('map').setView([51.505, -0.09], 13);
    getHash();
    $(window).on('hashchange', function() {
      getHash();
      // window.location.reload(true);
    });

    $('.breadcrumbs li').hover(function() {
      $(this).addClass('active');
    }, function() {
      var hash = window.location.hash.split("#")[1];
      if($(this).hasClass(hash)){
        $(this).addClass('active');
      }else{
        $(this).removeClass('active');
      }
    });

   $('.step-container').on('form', 'submit', function() {
     console.log("form submitted");
     return $(this).h5Validate();
   });

   $('.step-container[data-id="sponsor-info"] form').on('submit', function(e){
     if($('#connected').val() == 'true') {
      e.preventDefault();
      var data = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: '#{project_path(@project.id)}',
        data: data
      }).done(function(data){
        console.log("Success???");
        console.log(data);
        window.location.href = '/projects/' + data + '/edit#project-details';
        window.location.reload(true);
        localStorage.clear();
      })
     }else{
       alert("Connect with Stripe, please.");
       return false;
     }
    })

    $('.step-container[data-id="project-details"] form').on('submit', function(e){
      e.preventDefault();
      console.log("prevent worked");
      var data = $(this).serialize();
      console.log(data);
      $.ajax({
        type: 'POST',
        url: '#{project_path(@project.id)}',
        data: data
      }).done(function(data){
        console.log("Success???");
        window.location.href = '/projects/' + data + '/edit#perks';
        window.location.reload(true);
      })
    })

    $('.step-container[data-id="perks"] form').on('submit', function(e){
      e.preventDefault();
      console.log("prevent worked");
      var data = $(this).serialize();
      console.log(data);
      $.ajax({
        type: 'POST',
        url: '#{project_path(@project.id)}',
        data: data
      }).done(function(data){
        console.log("Success???");
        window.location.href = '/projects/' + data + '/edit#sponsorship';
        window.location.reload(true);
      })
    })

    $('.step-container[data-id="sponsorship"] form').on('submit', function(e){
      e.preventDefault();
      console.log("prevent worked");
      var data = $(this).serialize();
      console.log(data);
      $.ajax({
        type: 'POST',
        url: '#{project_path(@project.id)}',
        data: data
      }).done(function(data){
        console.log("Success???");
        window.location.href = '/projects/' + data + '/edit#assets';
        window.location.reload(true);
      })
    })

    $('.add-perk').on('click', function(e) {
      e.preventDefault();
      console.log(document.location.hostname);
      var name = $('#perk-name').val();
      var amount = $('#perk-amount').val();
      var description = $('#perk-description').val();
      var project = #{@project.id};
      var data = {name: name, amount: amount, description: description, project: project};
      $.ajax({
        type: 'POST',
        url: 'http://' + document.location.hostname + ":" + document.location.port + '/projects/add_perk',
        data: data
      }).done(function(data) {
        console.log(data);
        window.location.reload(true);
      }).error(function(error) {
        console.log(error);
      });
    })

    $('.update-perk').on('click', function(e) {
      e.preventDefault();
      var name = $('#perk-name').val();
      var amount = $('#perk-amount').val();
      var description = $('#perk-description').val();
      var perk_id = $('#perk-id').val();
      var data = {name: name, amount: amount, description: description, id: perk_id};
      $.ajax({
        type: 'POST',
        url: 'http://' + document.location.hostname + ":" + document.location.port + '/projects/update_perk',
        data: data
      }).done(function(data) {
        console.log(data);
        window.location.reload(true);
      });
    })

    $('.perk-delete').on('click', function(e) {
      e.preventDefault();
      var perk_id = $(this).parent().find('input[type=hidden]').val();
      console.log(perk_id);
      var data = {id: perk_id};
      $.ajax({
        type: 'POST',
        url: 'http://' + document.location.hostname + ":" + document.location.port + '/projects/delete_perk',
        data: data
      }).done(function(data) {
        console.log(data);
        window.location.reload(true);
      });
    })

    $('.created-perk .perk-edit').on('click', function() {
      $.ajax({
        type: 'POST',
        url: '#{get_perk_projects_url}',
        data: {id: $(this).parent().find('input[type=hidden]').val()}
      }).done(function(data) {
        $('#perk-name').val(data.name);
        $('#perk-amount').val(data.amount);
        $('#perk-description').val(data.description);
        $('#perk-id').val(data.id)
        $('.add-perk').hide();
        $('.update-perk').show();
      });
    });

    $('li.submit a').click(function(event) {
      event.preventDefault();
      console.log(#{@project.id})
      $.ajax({
        type:'POST',
        url: '#{projects_submit_project_url}',
        data: {id: #{@project.id}}
      }).done(function(data) {
        if(data == "successful") {
          window.location.href = "#{thank_you_pages_url}";
        }
      })
    })

    $('.stripe-connect').click(function() {
      localStorage.setItem('organization', $('#project_organization').val());
      localStorage.setItem('address', $('#project_address').val());
      localStorage.setItem('city', $('#project_city').val());
      localStorage.setItem('state', $('#project_state').val());
      localStorage.setItem('zip', $('#project_zip').val());
      localStorage.setItem('website', $('#project_website').val());
      localStorage.setItem('twitter_handle', $('#project_twitter_handle').val());
      localStorage.setItem('facebook_page', $('#project_facebook_page').val());
    });

    if(localStorage.getItem('organization')) {
      $('#project_organization').val(localStorage.getItem('organization'));
    }

    if(localStorage.getItem('address')) {
      $('#project_address').val(localStorage.getItem('address'));
    }

    if(localStorage.getItem('city')) {
      $('#project_city').val(localStorage.getItem('city'));
    }

    if(localStorage.getItem('state')) {
      $('#project_state').val(localStorage.getItem('state'));
    }

    if(localStorage.getItem('zip')) {
      $('#project_zip').val(localStorage.getItem('zip'));
    }

    if(localStorage.getItem('website')) {
      $('#project_website').val(localStorage.getItem('website'));
    }

    if(localStorage.getItem('twitter_handle')) {
      $('#project_twitter_handle').val(localStorage.getItem('twitter_handle'));
    }

    if(localStorage.getItem('facebook_page')) {
      $('#project_facebook_page').val(localStorage.getItem('facebook_page'));
    }

  });

  getPerkProjectUrl = "#{get_perk_projects_url}";
  submitUrl = "#{projects_submit_project_url}";
  projectId = #{@project.id};
  projectPath = '#{project_path(@project.id)}';
  thankYouUrl = "#{thank_you_pages_url}";
  window.projectId = projectId
