.breadcrumb-container
  %ul.breadcrumbs
    %li.sponsor-info
      = link_to "#{ wizard_link("sponsor_info", @project) }", class: "wizard-link sponsor-info-link", "wizard-type" => "sponsor_info" do
        %span.steps Step 1
        %span.title RUUTS
        %span.description Basic Information
        %span.border

    %li.project-details
      = link_to "#{ wizard_link("project_details", @project) }", class: "wizard-link project-details-link", "wizard-type" => "#{"project_detail" if ["first", "second", "third", "fourth", "last"].include? session[:step]}" do
        %span.steps Step 2
        %span.title STORY
        %span.description Project Details
        %span.border

    %li.perks
      = link_to "#{ wizard_link("perks", @project) }", class: "wizard-link perks-link", "wizard-type" => "#{ "perks" if ["second", "third", "fourth", "last"].include? session[:step]}" do
        %span.steps Step 3
        %span.title PERKS
        %span.description Donor Rewards
        %span.border

    %li.sponsorship
      = link_to "#{ wizard_link("sponsorship", @project) }", class: "wizard-link sponsorship-link", "wizard-type" => "#{"sponsorship" if ["third", "fourth", "last"].include? session[:step]}" do
        %span.steps Step 4
        %span.title Sponsors
        %span.description Sponsorship Details
        %span.border

    %li.assets
      = link_to "#{ wizard_link("assets", @project) }", class: "wizard-link assets-link", "wizard-type" => "#{"assets" if ["fourth", "last"].include? session[:step]}" do
        %span.steps Step 5
        %span.title VISUALS
        %span.description Project Page Setup
        %span.border

    %li.submit
      = link_to "javascript:void(0)", class: "#{"submit-finish-project" if session[:step].eql?("fourth") }" do
        %span.steps Get Ruuted
        %span.title Submit
        %span.description Submit Your Project for Approval

= render "projects/wizard/sponsor_info", :project => @project
= render "projects/wizard/project_details", :project => @project
= render "projects/wizard/perks", :project => @project
= render "projects/wizard/sponsorship", :project => @project
= render "projects/wizard/assets", :project => @project


/* Each tip is set within this <ol>. */
/* This creates the order the tips are displayed */
%ol{:id => "uruutTour"}
  /* data-id needs to be the same as the parent it will attach to */
  %li{"data-class" => "pick-cover-photo", "data-options" => "tipLocation:right"}
    %h5 CHOOSE A COVER PHOTO
    %p The cover photo is the large splash image that appears on your page. The dimensions should be at least 1600 x 546 pixels. It’s a big photo and a great opportunity to give your page a striking, eye-catching look. Choose something that reflects your organization, project, and personality.
    %a{:href => "#", :class => "button small quit-tour joyride-quit"} Quit Tour
  %li{"data-id" => "planting_seeds", "data-options" => "tipLocation:top"}
    %h5 ADD PHOTOS
    %p Add photos into your story section by clicking on the placeholder images. If you need more, you can add them to a gallery section from your dashboard once your project as been approved.
    %a{:href => "#", :class => "button small quit-tour joyride-quit"} Quit Tour
  %li{"data-class" => "submit", "data-button" => "Quit Tour", "data-options" => "tipLocation:bottom"}
    %h5 SUBMIT
    %p When you're ready, click here to submit for approval. You're only required to add a cover photo.

%script{:src => "http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"}
%script{:src => "http://maps.stamen.com/js/tile.stamen.js?v1.2.1"}

- if session[:step].nil?
  :javascript
    localStorage.clear();

:javascript

  var connect = '#{session[:connected]}';

  var updateOrganizedTypeInfo = function(){
    $.ajax({
      type: 'POST',
      url: '/update_sponsor_info',
      data: {
        id: '#{@project.id}',
        type: "organized_type",
        data_value: $("#project_organization_type").val()
      }
    });
  }

  var updateOrganizedInfo = function(){
    $.ajax({
      type: 'POST',
      url: '/update_sponsor_info',
      data: {
        id: '#{@project.id}',
        type: "organized",
        data_value: $("#project_organization_classification").val()
      }
    });
  }

  var updateStateInfo = function(){
    $.ajax({
      type: 'POST',
      url: '/update_sponsor_info',
      data: {
        id: '#{@project.id}',
        type: "state",
        data_value: $("#project_state").val()
      }
    });
  }

  $(".submit-finish-project").on("click", function(event){
    event.preventDefault();
    if ($('#large_image').attr('data-image') == "true") {
      // window.location.href = "#{new_project_url}";
      console.log(#{@project.id})
      $.ajax({
        type:'POST',
        url: '#{projects_submit_project_url}',
        data: {id: #{@project.id}}
      }).done(function(data) {
        window.location.href = "#{thank_you_pages_url}";
      });
    } else {
      $('html, body').animate({ scrollTop: 0 }, 'slow', alert("Please Choose Cover Image"));
    }
  });

  $(".wizard-link").on("click", function(){
    var currentLink = $(this).attr("wizard-type")
    switch (currentLink)
    {
      case 'assets':
        $(".sponsorship-link").attr("href", "/projects/#{@project.id}/edit#sponsorship");
        break;
      case 'sponsorship':
        $(".perks-link").attr("href", "/projects/#{@project.id}/edit#perks");
        break;
      case 'perks':
        $(".project-details-link").attr("href", "/projects/#{@project.id}/edit#project-details");
        break;
      case 'project_detail':
        $(".sponsor-info-link").attr("href", "/projects/#{@project.id}/edit#sponsor-info");
        break;
    }
  });

  $(".seed-form").on("click", function(){
    $("#video_type").val("seed");
    $(".title-form-video").text("Add youtube video for seed video");
    $("#save-video").modal("show");
  });

  $(".cultivation-form").on("click", function(){
    $("#video_type").val("cultivation");
    $(".title-form-video").text("Add youtube video for cultivation video");
    $("#save-video").modal("show");
  });

  var getHash = function() {
    if(window.location.hash) {
      $('.step-container').each(function(){
        $(this).hide();
      });

      $('.breadcrumbs li').each(function(){
        $(this).removeClass('active');
      })

      var hashVal = window.location.hash.split("#")[1];
      console.log(hashVal);
      if(hashVal == 'sponsor-info') {
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
      if(hashVal == 'project-details') {
        $("[data-id='" + hashVal + "']").show();
        $('li.' + hashVal).addClass('active');
      }
      if(hashVal == 'perks') {
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
      if(hashVal == 'sponsorship') {
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
      if(hashVal == 'assets') {
        $("[data-id='" + hashVal + "']").show();
        $('.breadcrumbs li[class*="' + hashVal + '"]').addClass('active');
      }
    }else{
      window.location.href = "/projects/#{@project.id}/edit#sponsor-info";
      window.location.reload(true);
    }
  }

  $(function(){
    $("#large_image").delegate('.pick-cover-photo', 'load', function() {
      $("#uruutTour").joyride({
        autoStart : true,
        'tipLocation': 'bottom'
      });
    })

    getHash();
    $(window).on('hashchange', function() {
      getHash();
      // window.location.reload(true);
    });

    if ( connect.length > 0 ){
      $('.stripe-connect img').attr('src', '/assets/stripe-connected.png');
    }
    else{
      $('.stripe-connect img').attr('src', '/assets/stripe-connect.png');
    }

    $('.breadcrumbs li').hover(function() {
      $(this).addClass('active');
    }, function() {
      var hash = window.location.hash.split("#")[1];
      if($(this).hasClass(hash)){
        $(this).addClass('active');
      }else{
        $(this).removeClass('active');
      }
    });

   $('.step-container').on('form', 'submit', function() {
     console.log("form submitted");
     return $(this).h5Validate();
   });

   $('.step-container[data-id="sponsor-info"] form').on('submit', function(e){
     if ( connect.length > 0 ) {
      e.preventDefault();
      var data = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: '#{project_path(@project.id)}',
        data: data
      }).done(function(data){
        console.log("Success???");
        console.log(data);
        window.location.href = '/projects/' + data + '/edit#project-details';
        window.location.reload(true);
        localStorage.clear();
      })
     }else{
       alert("Connect with Stripe, please.");
       return false;
     }
    })

    $('.step-container[data-id="project-details"] form').on('submit', function(e){
      e.preventDefault();
      console.log("prevent worked");
      var data = $(this).serialize();
      console.log(data);
      $.ajax({
        type: 'POST',
        url: '#{project_path(@project.id)}',
        data: data
      }).done(function(data){
        console.log("Success???");
        window.location.href = '/projects/' + data + '/edit#perks';
        window.location.reload(true);
      })
    })

    $('.step-container[data-id="perks"] form').on('submit', function(e){
      e.preventDefault();
      console.log("prevent worked");
      var data = $(this).serialize();
      console.log(data);
      $.ajax({
        type: 'POST',
        url: '#{project_path(@project.id)}',
        data: data
      }).done(function(data){
        console.log("Success???");
        window.location.href = '/projects/' + data + '/edit#sponsorship';
        window.location.reload(true);
      })
    })

    $('.step-container[data-id="sponsorship"] form').on('submit', function(e){
      e.preventDefault();
      console.log("prevent worked");
      var data = $(this).serialize();
      console.log(data);
      $.ajax({
        type: 'POST',
        url: '#{project_path(@project.id)}',
        data: data
      }).done(function(data){
        console.log("Success???");
        window.location.href = '/projects/' + data + '/edit#assets';
        window.location.reload(true);
      })
    });

    /* $('li.submit a').click(function(event) {
      event.preventDefault();
      console.log(#{@project.id})
      $.ajax({
        type:'POST',
        url: '#{projects_submit_project_url}',
        data: {id: #{@project.id}}
      }).done(function(data) {
        if(data == "successful") {
          window.location.href = "#{thank_you_pages_url}";
        }
      })
    }) */


    $('.stripe-connect').click(function() {
      localStorage.setItem('organization', $('#project_organization').val());
      localStorage.setItem('address', $('#project_address').val());
      localStorage.setItem('city', $('#project_city').val());
      localStorage.setItem('state', $('#project_state').val());
      localStorage.setItem('zip', $('#project_zip').val());
      localStorage.setItem('website', $('#project_website').val());
      localStorage.setItem('twitter_handle', $('#project_twitter_handle').val());
      localStorage.setItem('facebook_page', $('#project_facebook_page').val());
    });

    if(localStorage.getItem('organization')) {
      $('#project_organization').val(localStorage.getItem('organization'));
    }

    if(localStorage.getItem('address')) {
      $('#project_address').val(localStorage.getItem('address'));
    }

    if(localStorage.getItem('city')) {
      $('#project_city').val(localStorage.getItem('city'));
    }

    if(localStorage.getItem('state')) {
      $('#project_state').val(localStorage.getItem('state'));
    }

    if(localStorage.getItem('zip')) {
      $('#project_zip').val(localStorage.getItem('zip'));
    }

    if(localStorage.getItem('website')) {
      $('#project_website').val(localStorage.getItem('website'));
    }

    if(localStorage.getItem('twitter_handle')) {
      $('#project_twitter_handle').val(localStorage.getItem('twitter_handle'));
    }

    if(localStorage.getItem('facebook_page')) {
      $('#project_facebook_page').val(localStorage.getItem('facebook_page'));
    }

  });

  getPerkProjectUrl = "#{get_perk_projects_url}";
  submitUrl = "#{projects_submit_project_url}";
  projectId = #{@project.id};
  projectPath = "#{project_path(@project.id)}";
  thankYouUrl = "#{thank_you_pages_url}";
  window.projectId = projectId
