- @projects.each do |p|
	%div.project{:style => "width:230px;height:350px;padding:10px;float:left;border:1px solid #efefef;margin:0 20px 20px 0;overflow:hidden;"}
		= image_tag("#{p.image.url(:small)}", :style => "max-width:230px;")
		%h3{:style => "width:230px;word-wrap:break-word;"}= p.title
		%p by #{current_user.name}

		.progressbar{:style => "height:20px;"}
		%h4 Goal
		%p= number_to_currency(p.goal, :precision => 0)
		%h4 Days Left
		%p #{time_left(p.duration).to_i} Days

		= link_to "Edit Project", edit_project_url(p.id)


			


:javascript
	$(function(){
		$('.progressbar').each(function(){
			$(this).progressbar({
				value: 59
			});
		});
	});