.full-width.hero
	.container
		= image_tag "light-bulb.png"
		%div
			%h3 GET FUNDING
			%h2 Your ideas. Our platform.
			%p{:style => "color:#b6b6b4 !important;"} It’s free and easy to start your project on Uruut. Click below to get started.

			= button_tag :class => "btn #{user_signed_in? ? "create" : "must-login"}" do
				Get Started ►

.full-width.need-to-know.cf
	.container
		%h3 WHAT DO I NEED TO KNOW?
		%h2 Before getting started here’s a quick guide to a successful project.
		%div
			= image_tag 'magnifying-glass.png'
			%h5 IDENTIFY
			%p You have a technology project that you want to see transform your organization. If you are a 501c3 nonprofit organization, identify the project you want to see funded.
		%div
			= image_tag 'magic-hat.png'
			%h5 CREATE
			%p You will work with TechBridge to scope your IT project and design your campaign. You will need a clearly stated project mission, an organization video and a few great photos.
		%div
			= image_tag 'bull-horn.png'
			%h5 PROMOTE
			%p Get out and spread the word. Shout it from the rooftops, share with your friends, tell your social networks and talk to current supporters. Between your network and ours, there isn’t anything that can stop you from achieving your goal.

.full-width.create-project
	.container
		%h2 Create your project & get funded now.
		= button_tag :class => "btn #{user_signed_in? ? "create" : "must-login"}" do
			Get Started ►

:javascript
	$(function(){
		$('.btn.create').click(function(){
			$.ajax({
				type: 'POST',
				url: "#{projects_path}"
			}).done(function(data){
				window.location.href = '/projects/' + data + '/edit#sponsor-info';
			})
		})
	})
