.full-width.hero
	.container
		= image_tag "light-bulb.png"
		%div
			%h3 GET FUNDING
			%h2 Your ideas. Our platform.
			%p It’s free and easy to submit your project on Uruut. Click below to get started.

			= button_tag :class => "btn create" do
				Get Started
				%span
				
.full-width.need-to-know.cf
	.container
		%h3 WHAT DO I NEED TO KNOW?
		%h2 Before getting started here’s a quick guide for a successful project.
		%div
			= image_tag 'magnifying-glass.png'
			%h5 IDENTIFY
			%p You have a project you want to see become a reality. If you are a registered municipal organization, member organization, and/or civic organization, identify the project you want to see funded.
		%div
			= image_tag 'magic-hat.png'
			%h5 CREATE
			%p Click “Get Started” and follow our easy to use project wizard. In five steps you will be one step closer to funding your dream project.
		%div
			= image_tag 'bull-horn.png'
			%h5 PROMOTE
			%p Get out there and spread the word.  Shout it from the roof tops, share with your friends, your networks and talk to your local businesses about sponsorships. Between your network and our tools, there is nothing stopping you.

.full-width.create-project
	.container
		%h2 Create your project & get funded now.
		= button_tag :class => "btn create" do
			Get Started
			%span

:javascript
	$(function(){
		$('.btn.create').click(function(){
			$.ajax({
				type: 'POST',
				url: "#{projects_path}"
			}).done(function(data){
				window.location.href = '/projects/' + data + '/edit#sponsor-info';
			}).error(function(data) {
				$('.modal').remove();
				$('body').append('<div class="modal hide fade" style="text-align:center;padding:50px;"><button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="position:absolute;top:10px;right:20px;">×</button><h5 style="margin-bottom:20px;">' + data.responseText + '</h5><a href="/users/sign_in" class="btn">Sign In <span></span></a> <span style="font:italic 12px/21px georgia, serif;margin:0 10px;">or</span> <a href="/users/sign_up" class="btn">Sign Up <span></span></a></div>');
				$('.modal').modal();
			})
		})
	})