.full-width.hero
	.container
		= image_tag "light-bulb.png"
		%div
			%h3 GET FUNDING
			%h2 Your ideas. Our platform.
			%p It’s free and easy to start your project on Uruut. Click below to get started.

			= button_tag :class => "btn #{user_signed_in? ? "create" : "must-login"}" do
				Get Started ►

.full-width.need-to-know.cf
	.container
		%h3 WHAT DO I NEED TO KNOW?
		%h2 Before getting started here’s a quick guide to a successful project.
		%div
			= image_tag 'magnifying-glass.png'
			%h5 IDENTIFY
			%p You have a project you want to see become a reality. If you are a registered municipal organization, member organization, and/or civic organization identify the project you want to see funded.
		%div
			= image_tag 'magic-hat.png'
			%h5 CREATE
			%p Click “Get Started” and follow our easy-to-use project wizard. You are five steps away from starting the process of funding your critically important project.
		%div
			= image_tag 'bull-horn.png'
			%h5 PROMOTE
			%p Get out there and spread the word.  Shout it from the rooftops, share with your friends, tell your social networks and talk to businesses - large and small - about becoming a sponsor. Between your network, a little hard work and our technology, there isn't anything stopping you from getting ruuted.

.full-width.create-project
	.container
		%h2 Create your project & get funded now.
		= button_tag :class => "btn #{user_signed_in? ? "create" : "must-login"}" do
			Get Started ►

:javascript
	$(function(){
		$('.btn.create').click(function(){
			$.ajax({
				type: 'POST',
				url: "#{projects_path}"
			}).done(function(data){
				window.location.href = '/projects/' + data + '/edit#sponsor-info';
			})
		})
	})
