.span12
	.row
		.span8.alpha{:style => "float:left;"}
			%h2{:style => "word-wrap:break-word;margin-bottom:0"}= @project.title
			%h6{:style => "margin-top:0;"}in #{@project.category.titlecase}
			.fb-like{"data-href" => "#{request.url}", "data-send" => "false", "data-layout" => "button_count", "data-width" => "100", "data-show-faces" => "false"}

			%iframe{:src => "#{vidUrl(@project.video)}", :style => "width:100%; height:400px;display:block;margin-top: 50px;", :frameborder => 0}
        
			%hr
			
			%div{:style => "margin-top:35px;"}= @project.description.html_safe

		.span3.well{:style => "float:left;margin-top:120px;"}
			%h3{:style => "text-align:center;"}= number_to_currency(amount_funded(@project.id))
			%ul.project-details{:style => "margin:0;text-align:center;"}
				%li{:style => "margin:0;text-align:center;"}
					%p Percent Funded
					#progressbar
						
				%li{:style => "margin:15px 20px;text-align:center;"}
					%p Funding Goal
					= number_to_currency(@project.goal, :precision => 0)
						
				%li{:style => "margin:15px 20px;text-align:center;"}
					%p Days to go
					= time_left(@project.duration).to_i
						
			- if current_user
				- if Donation.already_donated(@project.id, current_user.id).nil?
					= link_to "Fund Now", new_donation_path, :class => "btn", :style => "padding:10px 20px;width:67px;display:block;margin:0 auto;"
				- else
					.well{:style => "width:200px;text-align:center;display:block;margin:25px auto 0;background:#fff;"}
						%h4 You've donated #{number_to_currency(Donation.already_donated(@project.id, current_user.id), :precision => 0)}
						= link_to "Edit Your Donation", edit_donation_path(Donation.edit_donation(@project.id, current_user.id))
			- elsif !current_user
				= link_to "Fund Now", new_donation_path, :class => "btn"

		
.row
	.span12
		%h3{:style => "border-bottom:1px solid #ccc;margin-top:30px;"} Similar Projects

:javascript
	$(function(){
		$( "#progressbar" ).progressbar({
			value: #{percent_funded(@project.id)}
		});
	});
