.platinum-level-container
  .container
    .row
      - if @project_sponsors.include?(1)
        .span8
          = image_tag @project_sponsors[1].last.logo, :class => "sponsor-logo img-polaroid"
          .sponsor-info
            %h5
              Platinum Level Sponsor
            %h3
              = @project_sponsors[1].last.name
            - unless @project_sponsors[1].last.site.nil?
              = link_to(strip_url(@project_sponsors[1].last.site), recognize_url(@project_sponsors[1].last.site), target: "_blank")
        .span4
          %p
          = @project_sponsors[1].last.mission
      - else
        .span2
          %p{style: "color: #fff; font-family: 'Proxima Nova Semi', sans-serif;font-size: 11px; letter-spacing: 2px;"}
            SPONSHORSHIP OPORTUNITIES:
        .span5
          = link_to new_project_sponsor_path(@project.id), :class => 'btn', :style => 'background: #70bf4c; color:#fff; text-decoration:none; font-style:normal;' do
            Become A Sponsor
            %span

#large_image{:style => "background:url(#{@project.large_image}/convert?w=1600&h=546&fit=crop&align=center); background-size: 100% 100%"}
  .funding-info
    .container
      .span8
        %h4.title= @project.project_title
        %span.location #{@project.city}, #{@project.state}
        %span.pull-right{:style => "margin-top: -20px"}
          - if @project.organization_classification.eql?("170(c)(1)") || @project.organization_classification.eql?("501(c)(3)")
            = image_tag 'td-logo-black.png', class: "tax-deductible deductable-black", "data-toggle" => "tooltip", title: "Donation Are Tax Deductable"
        %hr
        %p.short-desc= @project.title
        %h6{:style => "color:#403e37;font-family:'Proxima Nova Semi';display:inline-block;margin:0;letter-spacing:normal;"} SHARE:
        / = image_tag "fb-count.png", :class => "fb-share", :style => "margin-right:20px;"
        / = image_tag "tw-count.png", :class => "tw-share", :style => "margin-right:20px;"
        / = image_tag "bitly-link.png", :style => "margin-right:20px;"
        .fb-count
          %span
        .tw-count
          %span
        .bitly-link
          - if @project.bitly
            %span= @project.bitly.sub(/http:\/\//, '')

        %p= link_to "Contact Project Creator", "mailto:#{User.find(@project.user_id).email}"

      .span4
        .progress-container.span3.offset1
          = image_tag 'seed.png', :class => "seed"
          %div
            %span Seed Funds Pledged
            - if totalsponsor(@project).eql?(0)
              %p $0
            - else
              / - totalDonated = 0
              / - if @donation
              /   - @donation.each do |d|
              /     - totalDonated += d.amount
              %p= number_to_currency(totalsponsor(@project), :precision => 0)

        #progressbar

        .project-details.cf
          %span.small
            Project
            %br
            Goal
          .amount= number_to_currency(@project.goal, :precision => 0)

          .days-left
            %span.small
              Days
              %br
              Left
            .amount= campaign_days_left(@project.campaign_deadline)

.container
  .row-fluid.show-content
    .span8
      %h4.title Where We're Ruuted
      .map-container
        #map{:style => "width:100%;height:300px"}
        #map-details
          .project-location
            %h4= @project.title
            %div{:style => 'font-family:"Proxima Nova"'}
              = image_tag "marker.jpg", :class => 'marker', :style => 'float:none;'
              = @project.address
              = @project.city
              = @project.state
              = @project.zip
            %div
              .fb-like{:style => "display: block; float: left; margin-left: 5px;", "data-href" => "http://www.facebook.com/#{@project.facebook_page}", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
              %a.twitter-follow-button{:style => "display: block; float: left; margin-left: 10px;", "data-show-count" => "false", :href => "https://twitter.com/#{@project.twitter_handle}"} Follow
              %span.label-green
                WEB:
                = link_to(strip_url(@project.website), recognize_url(@project.website), target: "_blank", :style => "font-style: italic; text-decoration: underline; color: #3f403b; font-family: 'Georgia', serif;")

      %h4.title{:style => 'margin-top:50px;'}
        PROJECT SPONSORS
        - if @project_sponsors.include?(2) || @project_sponsors.include?(3)
          = link_to new_project_sponsor_path(@project.id), :class => 'btn', :style => 'margin-top: -10px;'  do
            Become A Sponsor
        %span
      .project-sponsors
        - if !@project_sponsors.include?(2) && !@project_sponsors.include?(3)
          = link_to new_project_sponsor_path(@project.id), :class => 'btn', :style => 'margin-top: -10px;'  do
            Become A Sponsor
        .gold-level
          - if @project_sponsors.include?(2)
            %h4 Gold Level Sponsors
            - @project_sponsors[2].each do |sponsor|
              .sponsor
                = link_to(image_tag(sponsor.logo, class: "img-polaroid"), recognize_url(sponsor.site), target: "_blank")
                %h5
                  = link_to(sponsor.name, recognize_url(sponsor.site), target: "_blank", style: "color: #70bf4c;")
                - unless sponsor.site.nil?
                  = link_to(strip_url(sponsor.site), recognize_url(sponsor.site), target: "_blank", style: "color: #000;")
        .silver-level
          - if @project_sponsors.include?(3)
            %h4 Silver Level Sponsors
            - @project_sponsors[3].each do |sponsor|
              .sponsor
                = link_to(image_tag(sponsor.logo, class: "img-polaroid"), recognize_url(sponsor.site), target: "_blank")
                %h5
                  = link_to(sponsor.name, recognize_url(sponsor.site), target: "_blank", style: "color: #70bf4c;")
                - unless sponsor.site.nil?
                  = link_to(strip_url(sponsor.site), recognize_url(sponsor.site), target: "_blank", style: "color: #000;")

      %ul#myTab1.tab-nav
        %li.active
          %a{:href => "#planting_seeds"}
            Planting Seeds
            %span (About)
        - unless @project.project_updates.empty?
          %li
            %a{:href => "#growth"}
              Growth
              %span (Updates)
        - unless @project.galleries.empty?
          %li
            %a{:href => "#gallery"} Galery
      #content_container.tab-content
        #planting_seeds.tab-pane.active
          - if @project.seed_mime_type.eql?("video") and !@project.seed_video.blank?
            - video_seed = @project.seed_video.gsub("watch?v=", "embed/")
            %iframe{:height => "413", :src => video_seed, :width => "620"}
          - elsif @project.seed_mime_type.eql?("image") and !@project.seed_image.blank?
            = image_tag "#{@project.seed_image}", style: "float:left; width:100%"
          %div{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.about
        - unless @project.project_updates.empty?
          #growth.tab-pane
            - @project.project_updates.each do |update|
              %div
                = update.title
                %br
                = update.content
              %hr
        - unless @project.galleries.empty?
          #gallery.tab-pane
            - @project.galleries.each do |gallery|
              %div{style: "margin-bottom: 20px"}
                = image_tag(gallery.gallery_file_name)

      %hr

      #content_container
        #cultivation
          .span3.ending
            %h4.title
              CULTIVATION
              %br
              %span (Project Details)

              %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:15px;"} Funding Ends
              %div{:style => "background:#b6b6b4;padding:25px;border-radius:500px;"}
                %span{:style => 'display:block;text-align:center;font:normal 22px/22px "Proxima Nova Semi";color:#fff;text-transform:uppercase;letter-spacing:5px;'}= (Date.today + (@project.duration).to_i.days).strftime("%b")
                %span{:style => 'display:block;text-align:center;font:normal 72px/72px "Proxima Nova Semi";color:#fff;text-transform:uppercase;margin-top:5px'}= (Date.today + (@project.duration).to_i.days).strftime("%d")
              %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:40px;margin-bottom:0;"} Project Goal
              %h2{:style => "text-align:center;color:#b6b6b4;font-family:'Proxima Nova Semi';margin-top:0;"}= number_to_currency(@project.goal, :precision => 0)

          .span9.details
            - if @project.cultivation_mime_type.eql?("video") and !@project.cultivation_video.blank?
              - cultivation_video = @project.cultivation_video.gsub("watch?v=", "embed/")
              %iframe{:height => "310", :src => cultivation_video, :width => "380"}
            - elsif @project.cultivation_mime_type.eql?("image") and !@project.cultivation_image.blank?
              = image_tag "#{@project.cultivation_image}", style: "float:left; width:100%"
            %div{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.story

      -#%hr
      -#.comments
        -#%h4.comment Post a message
        -#%p
          -#Tell #{@project.title} you support their campaign! Got questions or need more information? Post them here and get an answer!

      -#.fb-comments{'data-href' => "http://127.0.0.1:8080", :style => "width:100%"}


    .span4.sidebar
      %h4 BECOME A SPONSOR
      .well
        %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"} PROJECT SPONSORSHIP
        %p{:style => "font:normal 12px/18px 'Proxima Nova', arial, sans-serif;color:#403e37;margin-bottom:40px;"} We can’t do this alone. Do your part, by becoming a project sponsor. URUUT Partner-Funding depends on individual contributors as well as project sponsorship from businesses and corporate and family foundations. Click the button below to get more details and become a project sponsor.
        = link_to new_project_sponsor_path(@project.id), :class => 'btn', :style => 'margin-top:10px;' do
          Become A Sponsor
          %span

      .sidebar-tab
      %ul#myTab2.tab-nav
        %li.active
          %a{:href => "#perks"} Perks
        %li
          %a{:href => "#sponsorship"} Sponsorship
      .tab-content
        #perks.tab-pane.active
          -if @project.perk_permission
            -if @perks
              - @perks.each do |p|
                .seed-level
                  %h3= p.name
                  - if p.limit
                    %p= p.perks_available.to_i.zero? ? "(No Perks Remaining)" : "(#{p.perks_available} Available)"
                  %p.description= p.description
                  .clearfix
                    .seed-num
                      %div Seed
                      .amount
                        %p.amount $#{p.amount.to_i}
                    - if p.limit
                      - link = p.perks_available.to_i.zero? ? "javascript:void(0)" : "/donations/new?perk=#{p.id}&amount=#{p.amount.to_i}&name=#{p.name}&description=#{p.description}"
                      %a.btn.pull-right{:href => "#{link}", :class => "fund btn"} Fund Now
                    - else
                      %a.btn.pull-right{:href => "/donations/new?perk=#{p.id}&amount=#{p.amount.to_i}&name=#{p.name}&description=#{p.description}"} Fund Now
          -else
            - default_perk.each_with_index do |perk, index|
              - index += 1
              - name = "LEVEL #{index}"
              - description = "You will receive #{perk} Uruut Reward Points when you seed $#{perk}"
              .seed-level
                %h3= name
                %p{style: "height: auto; font-style: italic; margin: 5px 0; overflow: hidden; text-overflow:ellipsis;"}= description
                .clearfix
                  .seed-num
                    %div Seed
                    .amount
                      %p.amount $#{perk}
                  %a.btn.pull-right{:href => "/default_perk_donations?amount=#{perk}&name=#{name}&description=#{description}", :class => "fund btn"} Fund Now #{image_tag('arrow.png')}

          .seed-level{id: "perk-id-custom"}
            %h3.perk-name-other{id: "perk-name-other-custom"}
              CHOOSE YOUR PERK
            %p With this option you choose the amount to seed, you will receive 1 Uruut Reward Point for each dollar you seed.
            .clearfix
              .seed-num
                .amount
                %h5{style: "color: #48C94C"} AMOUNT TO SEED
                .textarea.seed-amount= text_field_tag :custom_seed, nil, style: "width: 100%"
              %a.btn.pull-right{:class => "fund btn", "perk-id" => "custom", id: "button-seed-custom"} Fund Now
        #sponsorship.tab-pane
          .seed-level
            %h3
              PLATINUM
              %span.small-heading
                (#{availability(@project.project_sponsors, 1)} of 1 available)
            %p
              -if @sponsorship_benefits.include?(1)
                -@sponsorship_benefits[1].each do |benefit|
                  =benefit.name
                  %span
            .clearfix
              .seed-num
                %div COST
                .amount
                  = number_to_currency(@project.goal.to_i * 0.3)
              - if check_availibility(@project, 1) < 1
                %a.btn.pull-right{:href => "/projects/#{@project.id}/sponsors/new?level=platinum"}
                  Sponsor
                  %span
              - else
                %a.btn.pull-right{:href => "javascript:void(0)"}
                  Sponsor
                  %span
          .seed-level
            %h3
              GOLD
              %span.small-heading
                (#{availability(@project.project_sponsors, 2)} of 3 available)
            %p
              -if @sponsorship_benefits.include?(2)
                -@sponsorship_benefits[2].each do |benefit|
                  =benefit.name
                  %span
            .clearfix
              .seed-num
                %div COST
                .amount
                  = number_to_currency(@project.goal.to_i * 0.1)
              - if check_availibility(@project, 2) < 3
                %a.btn.pull-right{:href => "/projects/#{@project.id}/sponsors/new?level=gold"}
                  Sponsor
                  %span
              - else
                %a.btn.pull-right{:href => "javascript:void(0)"}
                  Sponsor
                  %span
          .seed-level
            %h3
              SILVER
              %span.small-heading
                (#{availability(@project.project_sponsors, 3)} of 5 available)
            %p
              -if @sponsorship_benefits.include?(3)
                -@sponsorship_benefits[3].each do |benefit|
                  =benefit.name
                  %span
            .clearfix
              .seed-num
                %div COST
                .amount
                  = number_to_currency(@project.goal.to_i * 0.04)
              - if check_availibility(@project, 3) < 5
                %a.btn.pull-right{:href => "/projects/#{@project.id}/sponsors/new?level=silver"}
                  Sponsor
                  %span
              - else
                %a.btn.pull-right{:href => "javascript:void(0)"}
                  Sponsor
                  %span
          .seed-level
            %h3 BRONZE
            %p
              -if @sponsorship_benefits.include?(4)
                -@sponsorship_benefits[4].each do |benefit|
                  =benefit.name
                  %span
            .clearfix
              .seed-num
                %div COST
                .amount
                  = number_to_currency(@project.goal.to_i * 0.005)
              %a.btn.pull-right{:href => "/projects/#{@project.id}/sponsors/new?level=bronze"}
                Sponsor
                %span


      %h4.title{:style => 'margin-top:50px;'}
        Planter
        %span (Project Organizer)
      .planter
        = image_tag @user.avatar
        %h4= @project.title

      %h4.title{:style => 'margin-top:50px;'} PROJECT SPONSOR
      %div
        BRONZE LEVEL SPONSOR
        %div.project-sponsors-link
          - if @project_sponsors.include?(3)
            - @project_sponsors[3].each do |sponsor|
              = link_to(sponsor.name, recognize_url(sponsor.site), target: "_blank")
        %div{style: "margin-top: 5px;"}
          %a.btn{:href => "/projects/#{@project.id}/sponsors/new?level=bronze"}
            Become A Sponsor
            %span

      %h4.title{:style => 'margin-top:50px;'}Partners(#{@project.donations.count})
      %div.business
        - @project.donations.each do |donation|
          = image_tag donation.user.avatar, style: "width: 27px; height:27px;"
      = link_to "javascript:void(0)", :class => 'btn more', :style => 'margin-top:10px;' do
        Show More
        %span

%script{:src => "http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"}
%script{:src => "http://maps.stamen.com/js/tile.stamen.js?v1.2.1"}

:javascript

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=143792535805526";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  $("#button-seed-custom").on("click", function(){
    $.ajax({
      url: "/default_perk_donations?amount="+ $("#custom_seed").val() +"&name=custom"
    }).done(function(data) {
      window.location.href = "/default_perk_donations?amount="+ $("#custom_seed").val() +"&name=custom"
    });
  });

  $('.more').on("click", function(){
    $.ajax({

    });
  })

  var getFbCount = function() {
    $.ajax({
      type: "GET",
      dataType: 'jsonp',
      url: "http://graph.facebook.com/fql?q=select%20%20like_count%20from%20link_stat%20where%20url=%22#{root_url}projects/#{@project.id}%22"
    }).done(function(data) {
      console.log(data.data[0].like_count);
      $('.fb-count span').text(data.data[0].like_count);
    });
  }

  var getTwCount = function() {
    $.ajax({
      type: "GET",
      dataType: 'jsonp',
      url: "http://urls.api.twitter.com/1/urls/count.json?url=#{root_url}projects/#{@project.id}"
    }).done(function(data) {
      console.log(data.count);
      $('.tw-count span').text(data.count);
    });
  }

  $(function(){
    $('#myTab1 a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $('#myTab2 a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
    getFbCount();
    getTwCount();
    var activeTab = $('.nav-tabs li.active a').attr('href');
    var userLocation = 'http://maps.googleapis.com/maps/api/geocode/json?address=#{@project.address},#{@project.city},#{@project.state}&sensor=false';

    $('.tax-deductible').tooltip({
        placement: "top",
        trigger: "hover"
      });

    $(activeTab).show();

    $.ajax({
      url: userLocation,
      success: function(data) {
        console.log(data.results[0].geometry.location.lat);
        var latitude = data.results[0].geometry.location.lat;
        var longitude = data.results[0].geometry.location.lng;
        var map = L.map('map', {
          scrollWheelZoom: false
        }).setView([latitude,longitude], 11);

        var uruutIcon = L.icon({
          iconUrl: '#{image_path("map-icon.png")}',
          iconSize:     [36, 52]
        });

        L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
        }).addTo(map);

        L.marker([latitude,longitude], {icon:uruutIcon}).addTo(map)
      }
    });


    $( "#progressbar" ).progressbar({
      value: #{percentage_sponsor(@project)}
    });
    $('#progressbar > div').css({ 'background': '#3f403b' });

    $('.nav-tabs li a').click(function(e){
      e.preventDefault();
      var show = $(this).attr('href');

      $('.nav-tabs li').removeClass('active');
      $('.nav-tabs li').each(function(){
        var content = $(this).find('a').attr('href');
        console.log(content);
        $(content).hide();
      });

      $(this).parent('li').addClass('active');
      $(show).show();
    });

    $('.fb-count').click(function() {
      console.log("#{root_url}projects/#{@project.id}")
      var publish = {
        method: 'feed',
        message: 'getting educated about Facebook Connect',
        name: "#{@project.project_title}",
        description: "#{@project.title}",
        caption: "#{@project.organization}",
        link: "#{root_url}projects/#{@project.id}",
        picture: "#{@project.large_image}",
        actions: [
          {
            name: "#{@project.project_title}",
            link: "#{root_url}projects/#{@project.id}"
          }
        ],
        user_message_prompt: 'Share your thoughts about RELL'
      };

      function callback(response) {
        if (response && response.post_id) {
          console.log('Post was published.');
        } else {
          console.log('Post was not published.');
        }
      }

      FB.ui(publish, callback);
    });

    $('.tw-count').click(function(e) {
      e.preventDefault();
      var width  = 575,
          height = 400,
          left   = ($(window).width()  - width)  / 2,
          top    = ($(window).height() - height) / 2,
          url    = "http://twitter.com/share?text=I%20just%20donated%20to%20#{@project.project_title}%2E%20Check%20it%20out%2E",
          opts   = 'status=1' +
                   ',width='  + width  +
                   ',height=' + height +
                   ',top='    + top    +
                   ',left='   + left;

      window.open(url, 'twitter', opts);
    })

  });
