.span12
	.span6.alpha{:style => "float:left;"}

		 
		%iframe{:src => "#{vidUrl(@project.video)}", :style => "width:490px; height:340px;", :frameborder => 0}
	.span6{:style => "float:left;width:570px;word-wrap:break-word;"}
		%h2{:style => "word-wrap:break-word;"}= @project.title
		= @project.description.html_safe
		%ul.project-details
			%li
				%p Percent Funded
				#progressbar
			%li
				%p Funding Goal
				= number_to_currency(@project.goal, :precision => 0)
			%li
				%p Days to go
				= time_left(@project.duration).to_i
				/ = Date.parse(@project.duration)

		= link_to "Fund Now", new_donation_path, :class => "btn"
		%span 
			= project_title(session[:current_project])

:javascript
	$(function(){
		$( "#progressbar" ).progressbar({
			value: 59
		});
	});