.full-width.title.cf
    .container
        %h2.span3 Transparency Workroom
        .details.span6
            %h4= @project.project_title
            %p= @project.title

.full-width.document-container.cf
    .container
        .documents
            %h3 Latest Documents
            - unless @documents.nil?
                - @documents.each do |document|
                    .doc-container
                        .doc-image
                            = image_tag(document_thumbnail(document.url, 216))
                        %p= document.filename
                        = link_to "Download", download_file_project_transparency_workroom_index_path(:document_id => document)
            - else
                %h3 No Documents
        .events
            %h3 Calendar
            %h3 Coming Soon
            - unless @project.project_sponsors.platinum.first.nil?
                .platinum.cf
                    %h5 Platinum Sponsor
                    .platinum-logo
                        = image_tag @project.project_sponsors.platinum.first.logo
                    %p= @project.project_sponsors.platinum.first.name
                    = link_to "#{@project.project_sponsors.platinum.first.site}", @project.project_sponsors.platinum.first.site, class: 'url'
            - unless @project.project_sponsors.gold.nil?
                .gold.cf
                    %h5 Gold Sponsors:
                    - @project.project_sponsors.gold.each do |sponsor|
                        .gold-container
                            .gold-logo
                                = image_tag sponsor.logo
                            %p.name= sponsor.name
                            = link_to "#{sponsor.site}", sponsor.site, class: 'url'


.full-width.latest-photos
    .container
        %h3 Latest Photos & Videos
        - unless @photo_vids.nil?
            - @photo_vids.each do |photo_vid|
                - if photo_vid.thumbnail_url
                    %a{:href => photo_vid.gallery_file_name, :rel => "prettyPhoto"}
                        %img{src: "#{photo_vid.thumbnail_url}", class: 'tw-image'}
                - else
                    %a{:href => photo_vid.gallery_file_name, :rel => "prettyPhoto"}
                        %img{src: "#{photo_vid.gallery_file_name}", class: 'tw-image'}
        - else
            %h3 No Photos & Videos

.full-width.communication
    .container
        %h3 Communication Zone
        %h5 Coming Soon

.cf