.span8{:style => "margin-top:35px;"}
  %h4 Change your password
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put , :class => "well clearfix edit-password"}) do |f|
    = devise_error_messages!

    .req-legend
      *Required
    = f.hidden_field :reset_password_token
    %div
      = f.label :password, class: "label-green" do
        %span.error-container
        New password*
      = f.password_field :password, :style => "width: 100%", id: "user_pass"

    %div
      = f.label :password_confirmation, class: "label-green" do
        %span.error-container
        Confirm new password*
      = f.password_field :password_confirmation, :style => "width: 100%", id: "user_edit_password_confirmation"

    %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px; margin-bottom: 10px"}

    / %div.clearfix{:style => "text-align: center;"}
    /   = f.submit "Change My Password ►", class: "btn green-btn big-btn"
    %div.clearfix{:style => "text-align: center"}
      = button_tag(type: 'submit', class: "btn btn-primary", id: "project-submit", style: "margin:20px 0 0;float:left;") do
        Change My Password ►

.span4
  = render "users/sessions/social-login"

:javascript
  $(".edit-password").validate({
    rules: {
      "user[password]": {
        required: true
      },
      "user[password_confirmation]": {
        required: true
      }
    },
    errorPlacement: function(error, element) {
      error.appendTo(element.parent().find(".error-container"));
    }
  });

  var validatePass = function(){
    var passCom = $('#user_password_confirmation').val();
    var pass = $('#user_pass').val();

    if(passCom.length != 0){
      if(pass == passCom){
        $('.error-container:last').text('');
        $('#user_password_confirmation').removeClass("error");
        $('#user_password_confirmation').attr('class', 'valid');
      }else{
        $('.error-container:last').text('');
        $('#user_password_confirmation').removeClass("valid");
        $('#user_password_confirmation').attr('class', 'error')
        $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Doesn't Match</label>");
      }
    }else{
      $('.error-container:last').text('');
      $('#user_password_confirmation').removeClass("valid");
      $('#user_password_confirmation').attr('class', 'error')
      $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Doesn't Match</label>");
    }

    if( 6 > $('#user_password_confirmation').val().length && $('#user_password_confirmation').val() != ""){
        $('.error-container:last').text('');
        $('#user_password_confirmation').removeClass("valid");
        $('#user_password_confirmation').attr('class', 'error')
        $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Max Char 6</label>");
      }
  };

  $('#user_pass, #user_password_confirmation').keyup(function(){
    validatePass();
  });

  $("form").submit(function(){
    if($('#user_password_confirmation').val() == ""){
      $('.error-container:last').text('');
      $('#user_password_confirmation').removeClass("valid");
      $('#user_password_confirmation').attr('class', 'error')
      $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Required</label>");
    }

    if( 6 > $('#user_password_confirmation').val().length && $('#user_password_confirmation').val() != ""){
      $('.error-container:last').text('');
      $('#user_password_confirmation').removeClass("valid");
      $('#user_password_confirmation').attr('class', 'error')
      $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Max Char 6</label>");
    }

    if($('#user_password_confirmation').val() == $('#user_pass').val()){
      return true;
    }else{
      $('.error-container:last').text('');
      $('#user_password_confirmation').removeClass("valid");
      $('#user_password_confirmation').attr('class', 'error')
      $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Doesn't Match</label>");
    }
    return false;
  })
