%tr
	%td{:valign => "top"}
		%img{:src => "#{@image}/convert?w=620", :style => "display:block;"}
%tr
	%td{:valign => "top"}
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} Dear #{@name}
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} Your project has just signed up another sponsor!  Congratulations!
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"}
			#{@sponsor_name} is now on board at the #{@sponsorship_level} level and has committed to donate #{@sponsorship_cost} to #{@project_name}.  Although the system has already generated a thank you email, we strongly encourage you to follow it with a personalized note. This can be an email.  Their contact information is: #{@sponsor_real_name}, #{@sponsor_email}.
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"}
			Either way, reaching out to them once again to show your gratitude and tell them how impactful their sponsorship will be should certify that they’ve made a great decision to support #{@project_name}.  Keep up the good work!
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"}
			Sincerely,
			%br
			The URUUT Team