%tr
	%td{:valign => "top"}
		%img{:src => "#{@image}/convert?w=620", :style => "display:block;"}
%tr
	%td{:valign => "top"}
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} Hello,
		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"}
			Today our company, #{@sponsor_name}, made a big investment in our community by sponsoring #{@project_title} on Uruut.  We are so excited about this opportunity that we want to share it with you.  This
			%a{:href => "http://#{@host}/projects/#{@project_id}"} link
			will take you to the project page; we hope that you will see the same great value we did.  Please consider joining us to make our community a better place.

		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} Enthusiastically,

		%p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} #{@sponsor_name}