.step-container{"data-id" => "assets"}
  = form_for(@project, :html => {:multipart => true }) do |f|
    = hidden_field_tag "step", "last"
    - if !@project.large_image.blank?
      #large_image{:style => "background-image: url(#{@project.large_image}); -webkit-background-size: cover; background-size: cover;", data: {image: 'true'}}
        .div.loader-cover.container{style: "display:none"}
          .content-loader{style: "margin-top: 150px; margin-left: 49%;"}
            .loader-image{style: "margin-left: -3%; font-weight: bolder;"} LOADING
            = image_tag "3.gif"
        .div{style: "height: 546px;", id: "image-priview"}
          %input{:type => 'filepicker', :name => 'large_image', 'data-fp-button-text' => 'Choose A Cover Photo', 'data-fp-apikey' => Settings.filepicker.api_key, 'data-fp-button-class' => 'coverphoto btn', 'onchange' => 'updateCover(event)', :style => 'left:50%', 'data-fp-mimetypes' => 'image/*', 'data-fp-services' => 'BOX,COMPUTER,FACEBOOK,DROPBOX,INSTAGRAM,FLICKR,PICASA,INSTAGRAM'}
          = render "funding_info"
    - else
      #large_image{data: {image: 'false'}}
        .div.loader-cover.container{style: "display:none"}
          .content-loader{style: "margin-top: 150px; margin-left: 49%;"}
            .loader-image{style: "margin-left: -3%; font-weight: bolder;"} LOADING
            = image_tag "3.gif"
        .div{style: "height: 546px;", id: "image-priview"}
          %input{:type => 'filepicker', :name => 'large_image', 'data-fp-button-text' => 'Choose A Cover Photo', 'data-fp-apikey' => Settings.filepicker.api_key, 'data-fp-button-class' => 'coverphoto btn pick-cover-photo', 'onchange' => 'updateCover(event)', :style => 'left:50%', 'data-fp-mimetypes' => 'image/*', 'data-fp-services' => 'BOX,COMPUTER,FACEBOOK,DROPBOX,INSTAGRAM,FLICKR,PICASA,INSTAGRAM'}
          = render "funding_info"

    .span12.action-convert{style: "margin-top: 276px; display:none"}
      = hidden_field_tag "url_image"
      = hidden_field_tag "x_position"
      = hidden_field_tag "y_position"
      = hidden_field_tag "width_after"
      = hidden_field_tag "height_after"

    .show-content.clearfix
      .span8
        %h4.title Where We're Ruuted
        .map-container
          #map{:style => "width:100%;height:300px"}
          #map-details
            .project-location
              %h4.wizard-data-organization= @project.organization
              %div{:style => 'font-family:"Proxima Nova"'}
                = image_tag "marker.jpg", :class => 'marker', :style => 'float:none;'
                %span.wizard-data-all-location
                  = @project.address
                  = @project.city
                  = @project.state
                  = @project.zip
              %div
                %span.label-green.wizard-data-web{:style => "margin-left: 10px;"}
                  WEB:
                  - unless @project.website.nil?
                    = link_to(strip_url(@project.website), recognize_url(@project.website), target: "_blank", :style => "font-style: italic; text-decoration: underline; color: #3f403b; font-family: 'Georgia', serif;")
                %span{style: "margin-left: 10px"}
                = image_tag "message-green.png"
                = link_to "Contact Us", "mailto:#{User.find(@project.user_id).email}", target: "_blank", :style => "font-style: italic; text-decoration: underline; color: #3f403b; font-family: 'Georgia', serif;"
        - if @project.sponsor_permission
          %h4.title{:style => 'margin-top:50px;'} PROJECT SPONSORS
          = link_to "javascript:void(0)", :class => 'btn', :style => 'background:#3f403b;padding:10px;margin-top:10px;' do
            Become A Sponsor
            %span

        %h4.title{:style => 'margin-top:50px;'}
          Planting Seeds
          %span (About)

        #content_container
          #planting_seeds
            .media-container
              - if @project.seed_mime_type.eql?("video") and !@project.seed_video.blank?
                - video_seed = @project.seed_video.gsub("watch?v=", "embed/")
                .seed-content
                  %iframe{:height => "413", :src => video_seed, :width => "620"}
              - elsif @project.seed_mime_type.eql?("image") and !@project.seed_image.blank?
                .seed-content.clearfix
                  = image_tag "#{@project.seed_image}", style: "float:left; width:100%"
              - else
                %div.seed-content.clearfix{:style => "background: #DDD; width: 100%; height: 414px"}
                  .seed-action-container
                    %div.pull-left
                      %input{:type => 'filepicker', :name => 'planting_seed_image', 'data-fp-button-text' => 'Add a Photo', 'data-fp-apikey' => Settings.filepicker.api_key, 'data-fp-button-class' => 'btn', 'onchange' => 'updatePlantingSeedImage(event)', 'data-fp-mimetypes' => 'image/*', 'data-fp-services' => 'BOX,COMPUTER,FACEBOOK,DROPBOX,INSTAGRAM,FLICKR,PICASA,INSTAGRAM'}
                    %div.pull-left
                      = link_to '<i class="icon-facetime-video icon-green"></i> Upload New Video'.html_safe, "javascript:void(0)", class: "btn seed-form"


              .seed-action-container{style: action_image(@project.seed_image, @project.seed_video)}
                %input{:type => 'filepicker', :name => 'planting_seed_image', 'data-fp-button-text' => 'Upload New Photo', 'data-fp-apikey' => Settings.filepicker.api_key, 'data-fp-button-class' => 'btn', 'onchange' => 'updatePlantingSeedImage(event)', 'data-fp-mimetypes' => 'image/*', 'data-fp-services' => 'BOX,COMPUTER,FACEBOOK,DROPBOX,INSTAGRAM,FLICKR,PICASA,INSTAGRAM'}
                = link_to '<i class="icon-facetime-video icon-green"></i> Upload New Video'.html_safe, "javascript:void(0)", class: "btn seed-form"

            %div.wizard-data-story{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.story

          %hr

          #cultivation
            .span2.ending
              %h4.title
                CULTIVATION
                %br
                %span (Project Details)

                %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:15px;"} Funding Ends
                %div{:style => "background:#b6b6b4;padding:25px;border-radius:500px;"}
                  %span{:style => 'display:block;text-align:center;font:normal 22px/22px "Proxima Nova Semi";color:#fff;text-transform:uppercase;letter-spacing:5px;'}= (Date.today + (@project.duration).to_i.days).strftime("%b")
                  %span{:style => 'display:block;text-align:center;font:normal 72px/72px "Proxima Nova Semi";color:#fff;text-transform:uppercase;margin-top:5px'}= (Date.today + (@project.duration).to_i.days).strftime("%d")
                %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:40px;margin-bottom:0;"} Project Goal
                %h2{:style => "text-align:center;color:#b6b6b4;font-family:'Proxima Nova Semi';margin-top:0;"}= amount_converter(@project.goal)

            .span5.details#cultivation-step{:style => "width: 400px"}
              .cultivation-image-priview
                - if @project.cultivation_mime_type.eql?("video") and !@project.cultivation_video.blank?
                  - cultivation_video = @project.cultivation_video.gsub("watch?v=", "embed/")
                  .cultivation-content.clearfix
                    %iframe{:height => "310", :src => cultivation_video, :width => "380"}
                - elsif @project.cultivation_mime_type.eql?("image") and !@project.cultivation_image.blank?
                  .cultivation-content.clearfix
                    = image_tag "#{@project.cultivation_image}", style: "float:left; width:100%"
                - else
                  %div.cultivation-content.clearfix{:style => "background: #DDD; width: 100%; height: 310px"}
                    .cultivation-action-container
                      %div.pull-left
                        %input{:type => 'filepicker', :name => 'cultivation_image', 'data-fp-button-text' => 'Add a Photo', 'data-fp-apikey' => Settings.filepicker.api_key, 'data-fp-button-class' => 'btn', 'onchange' => 'updateCultivationImage(event)', 'data-fp-mimetypes' => 'image/*', 'data-fp-services' => 'BOX,COMPUTER,FACEBOOK,DROPBOX,INSTAGRAM,FLICKR,PICASA,INSTAGRAM'}
                      %div.pull-left
                        = link_to '<i class="icon-facetime-video icon-green"></i> Upload New Video'.html_safe, "javascript:void(0)", class: "btn cultivation-form"

                .cultivation-action-container.clearfix{style: action_image(@project.cultivation_image, @project.cultivation_video)}
                  %input{:type => 'filepicker', :name => 'cultivation_image', 'data-fp-button-text' => 'Upload New Photo', 'data-fp-apikey' => Settings.filepicker.api_key, 'data-fp-button-class' => 'btn', 'onchange' => 'updateCultivationImage(event)', 'data-fp-mimetypes' => 'image/*', 'data-fp-services' => 'BOX,COMPUTER,FACEBOOK,DROPBOX,INSTAGRAM,FLICKR,PICASA,INSTAGRAM'}
                  = link_to '<i class="icon-facetime-video icon-green"></i> Upload New Video'.html_safe, "javascript:void(0)", class: "btn cultivation-form"

              %div.wizard-data-about{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.about

      .span4.sidebar
        .sidebar-assets-content
          - if @project.sponsor_permission
            %h4 BECOME A SPONSOR
            .well
              %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"} PROJECT SPONSORSHIP
              %p{:style => "font:normal 12px/18px 'Proxima Nova', arial, sans-serif;color:#403e37;margin-bottom:40px;"} We can’t do this alone. Do your part, by becoming a project sponsor. URUUT Partner-Funding depends on individual contributors as well as project sponsorship from businesses and corporate and family foundations. Click the button below to get more details and become a project sponsor.
              = link_to "javascript:void(0)", :class => 'black-btn btn', :style => 'margin-top:10px;' do
                Become A Sponsor
                %span

            %ul#myTab4.tab-nav
              %li.active
                %a{:href => "#perks"} Donate
              %li
                %a{:href => "#sponsorship"} Sponsor
            .tab-content
              #perks.tab-pane.active
                -if @project.perk_permission
                  -if @perks
                    - @perks.each do |p|
                      .seed-level
                        %h3{style: "font-size: 20px;"}
                          = p.name
                        - if p.limit
                          %p= p.perks_available.to_i.zero? ? "(No Perks Remaining)" : "(#{p.perks_available} Available)"
                        %p= p.description
                        .clearfix
                          .seed-num
                            .amount
                              %p.amount #{amount_converter(p.amount.to_i)}
                          %a.black-btn.btn.pull-right{:href => "javascript:void(0)"} Fund Now #{image_tag('arrow.png')}
                -else
                  - default_perk.each_with_index do |perk, index|
                    - index += 1
                    - name = "LEVEL #{index}"
                    - description = "You will receive #{perk} Uruut Reward Points when you seed $#{perk}"
                    .seed-level
                      %h3= name
                      %p{style: "height: auto; margin: 5px 0; overflow: hidden; text-overflow:ellipsis;"}= description
                      .clearfix
                        .seed-num
                          .amount
                            %p.amount #{amount_converter(perk)}
                        %a.black-btn.btn.pull-right{:href => "javascript:void(0)"} Fund Now #{image_tag('arrow.png')}

                .seed-level{id: "perk-id-custom"}
                  %h3.perk-name-other{id: "perk-name-other-custom"}
                    CHOOSE YOUR PERK
                  %p With this option you choose the amount to seed, you will receive 1 Uruut Reward Point for each dollar you seed.
                  .clearfix
                    .seed-num
                      .amount
                      %h5 AMOUNT TO SEED
                      .textarea.seed-amount= text_field_tag :custom_seed, nil, style: "width: 100%"
                    %a.black-btn.btn.pull-right{:class => "fund btn", "perk-id" => "custom", id: "button-seed-custom"} Fund Now

              #sponsorship.tab-pane
                .seed-level.platinum-level
                  %h3
                    PLATINUM
                    %span.small-heading
                      (1 of 1 available)
                  %ul.normal-font.dashed-list
                    -if @sponsorship_benefits.include?(1)
                      -@sponsorship_benefits[1].each do |benefit|
                        %li= benefit.name
                  .clearfix
                    .seed-num
                      .amount
                        = amount_converter(@project.goal.to_i * 0.3)
                    %a.black-btn.btn.pull-right{:href => "javascript:void(0)"}
                      Sponsor
                      %span
                .seed-level.gold-level
                  %h3
                    GOLD
                    %span.small-heading
                      (3 of 3 available)
                  %ul.normal-font.dashed-list
                    -if @sponsorship_benefits.include?(2)
                      -@sponsorship_benefits[2].each do |benefit|
                        %li= benefit.name
                  .clearfix
                    .seed-num
                      .amount
                        = amount_converter(@project.goal.to_i * 0.1)
                    %a.black-btn.btn.pull-right{:href => "javascript:void(0)"}
                      Sponsor
                      %span
                .seed-level.silver-level
                  %h3
                    SILVER
                    %span.small-heading
                      (5 of 5 available)
                  %ul.normal-font.dashed-list
                    -if @sponsorship_benefits.include?(3)
                      -@sponsorship_benefits[3].each do |benefit|
                        %li= benefit.name
                        %span
                  .clearfix
                    .seed-num
                      .amount
                        = amount_converter(@project.goal.to_i * 0.04)
                    %a.black-btn.btn.pull-right{:href => "javascript:void(0)"}
                      Sponsor
                      %span
                .seed-level.bronze-level
                  %h3 BRONZE
                  %ul.normal-font.dashed-list
                    %li Text mention on project page
                    -if @sponsorship_benefits.include?(4)
                      -@sponsorship_benefits[4].each do |benefit|
                        %li= benefit.name
                  .clearfix
                    .seed-num
                      .amount
                        - if (@project.goal.to_i * 0.1) >= 500
                          = amount_converter(500)
                        - else
                          = amount_converter(@project.goal.to_i * 0.1)
                    %a.black-btn.btn.pull-right{:href => "javascript:void(0)"}
                      Sponsor
                      %span
          - else
            %h4.tittle.wizard-data-donation{style: "margin-bottom: 0;"} Donation
            -if @project.perk_permission
              -if @perks
                - @perks.each do |p|
                  .seed-level
                    %h3{style: "font-size: 20px;"}
                      = p.name
                    - if p.limit
                      %p= p.perks_available.to_i.zero? ? "(No Perks Remaining)" : "(#{p.perks_available} Available)"
                    %p= p.description
                    .clearfix
                      .seed-num
                        .amount
                          %p.amount
                            = amount_converter(p.amount.to_i)
                      %a.black-btn.btn.pull-right{:href => "javascript:void(0)"} Fund Now #{image_tag('arrow.png')}
            -else
              - default_perk.each_with_index do |perk, index|
                - index += 1
                - name = "LEVEL #{index}"
                - description = "You will receive #{perk} Uruut Reward Points when you seed $#{perk}"
                .seed-level
                  %h3= name
                  %p{style: "height: auto; margin: 5px 0; overflow: hidden; text-overflow:ellipsis;"}= description
                  .clearfix
                    .seed-num
                      .amount
                        %p.amount
                          = amount_converter(perk)
                    %a.black-btn.btn.pull-right{:href => "javascript:void(0)"} Fund Now #{image_tag('arrow.png')}

            .seed-level{id: "perk-id-custom"}
              %h3.perk-name-other{id: "perk-name-other-custom"}
                CHOOSE YOUR PERK
              %p With this option you choose the amount to seed, you will receive 1 Uruut Reward Point for each dollar you seed.
              .clearfix
                .seed-num
                  .amount
                  %h5 AMOUNT TO SEED
                  .textarea.seed-amount= text_field_tag :custom_seed, nil, style: "width: 100%"
                %a.black-btn.btn.pull-right{:class => "fund btn", "perk-id" => "custom", id: "button-seed-custom"} Fund Now

        %h4.title{:style => 'margin-top:50px;'}
          Planter
          %span (Project Organizer)
        .planter
          -if current_user.avatar.blank?
            = image_tag(get_gravatar(current_user.email, 100), :style => "display:inline-block;margin-right:20px;width:100px;height:100px;")
          -else
            = image_tag current_user.avatar, :style => "display:inline-block;margin-right:20px;width:100px;height:100px;"
          %h4.wizard-data-organization{:style => "color:#70bf4c;letter-spacing:2px;"}= @project.organization

        - if @project.sponsor_permission
          %h4.title{:style => 'margin-top:50px;'} Project Sponsors
          = link_to "javascript:void(0)", :class => 'black-btn btn', :style => 'margin-top:10px;' do
            Become A Sponsor
            %span

        %h4.title{:style => 'margin-top:50px;'}
          Seeders (0)
          %span (Project Funders)

    .span12
      %hr{:style => "background: #e0e0e0; margin-top: 0;"}
      %div{:style => "margin-bottom: 40px; text-align: center;"}
        %a.btn.submit-finish-project{:href => "submit", :style =>"text-align: left; border-radius: 5px;"}
          %h5{:style => "margin-bottom: 0"}
            Submission
          %h2{:style => "color: #fff; margin: 0; font-size: 24px; line-height: 30px;"}
            Get Ruuted
            %span
          %p{:style => "font: 400 italic 11px/15px 'Georgia', serif; color: #464646; text-transform: initial"} Submit Your Project for Approval

#save-video.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3.title-form-video
  = form_tag save_video_projects_path, method: :post do
    .modal-body
      = url_field_tag "video_link", nil, placeholder: "youtube_url"
      = hidden_field_tag "video_type"
    .modal-footer
      %input{:type => "submit", :value => "Submit video", onClick: "$(this).button('loading')"}

:javascript

  $('.tax-deductible').tooltip({
      placement: "top",
      trigger: "hover"
    });

= javascript_include_tag "//code.jquery.com/ui/1.10.3/jquery-ui.js"
= javascript_include_tag "jquery.ui.touch-punch.min"

:javascript
  $('.new-save-btn').hide();

  var updateCover = function(event){
    $('.drag-instructions').remove();
    $('#large_image').css('background', 'none');
    $(".loader-cover").show();
    // $('.coverphoto').html("Uploading Photo <img src='/assets/3.gif'/>");
    var largeImage = event.fpfile.url,
    current_bg = $('#large_image').css('background-image');
    $("body").animate({ scrollTop: 0 }, "slow");
    $('<img />').attr('src', largeImage).load(function() {
      $('.coverphoto').html("CHOOSE A COVER PHOTO");
      var largeImageObj = new Image;
      largeImageObj.src = largeImage;
      if ( largeImageObj.width >= 1600 )
      {
        $(".loader-cover").hide();
        $(".coverphoto").hide();
        $(".div-image-priview").remove();
        $("#url_image").val(largeImage);

        var dragImg = new Image;
        dragImg.src = largeImage;
        dragImg.id = "dragImg"

        $('.ui-draggable').remove();
        $('#large_image').prepend(dragImg);
        $('#large_image').append('<span class="drag-instructions" style="font-weight: bolder;">DRAG TO REPOSITION COVER PHOTO</span>');

        $("#y_position").val(0);

        $('#dragImg').draggable({
          axis: 'y',
          drag: function(event, ui) {
            var bottom = $(this).parent().height() - $(this).height();
            if(ui.position.top > 0) {
              ui.position.top = 0;
            }

            if(ui.position.top < bottom) {
              ui.position.top = bottom;
            }
          },
          stop: function(event, ui) {
            var w = $('.ui-draggable').width();
            var wOriginal = largeImageObj.width;
            var ratio = parseInt(wOriginal) / parseInt(w);
            $('#y_position').val(Math.round(Math.abs(ui.position.top * ratio)));
          }
        });

        $('#large_image').css('background-image','');
        $('#dragImg').css('position', 'absolute')
        $('.new-save-btn').show();
        $(".action-convert").show();
      }
      else{
        $('.new-save-btn').hide();
        $('#large_image').css('background-image', current_bg);
        $('.drag-instructions').remove();
        $("#large_image").append('<span class="drag-instructions" style="width: 300px;"><b>image width for cover should be more than 1600px</b></span>');
      }
    });
  }

  $(function(){
    $('#myTab4 a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });

    $("#uruutTour").joyride({
      autoStart : true
    });
    $(".joyride-tip-guide .joyride-next-tip").eq(2).attr("onclick", "javascript: $('.submit').addClass('active') ");
    $(".joyride-tip-guide .joyride-next-tip").eq(3).attr("onclick", "javascript: $('.submit').removeClass('active') ");
  });

  $(".cancel-image").click(function(){
    $(".coverphoto").show();
    $('.drag-instructions').remove();
    $("#cropInstruction").remove();
    $('.ui-draggable').remove();
    $(".action-convert").hide();
    $("#cover-priview").remove();
    $(".save-image").text('SAVE');
    $(".cancel-image").text("CANCEL");
    $('.new-save-btn').hide();

    if(localStorage.getItem('cover_url')) {
      $('#large_image').css('background-image','url(' + localStorage.getItem('cover_url') + ')').css('-webkit-background-size', 'cover').css('-moz-background-size', 'cover').css('background-size', 'cover');
      $('#large_image').attr('data-image', 'true');
    }else{
      $('#large_image').css('background', '#DDD url("/assets/cover-photo.png") top center no-repeat');
    }

  });

  $(".save-image").click(function(){
    $("#cropInstruction").remove();
    $('.coverphoto').html("CHOOSE A COVER PHOTO");
    $('.drag-instructions').remove();
    $(".cancel-image").text("loading");
    $(this).text("loading");
    var fpfile = { url: $("#url_image").val(), mimetype: 'image/jpeg', isWriteable: true };
    var newImage = new Image();
    newImage.src = $("#url_image").val();
    filepicker.convert(fpfile,
      {crop: [0, $("#y_position").val(), newImage.width, newImage.height]},
      {},
      function(new_FPFile){
        $(".save-image").text('reset');
        $(".cancel-image").text("reset");
        $(".coverphoto").show();
        $('.ui-draggable').remove();
        $(".action-convert").hide();
        $("#cover-priview").remove();
        $('#large_image').css('background-image','url(' + new_FPFile.url + ')').css('-webkit-background-size', 'cover').css('-moz-background-size', 'cover').css('background-size', 'cover');
        $('#large_image').attr('data-image', 'true');
        localStorage.setItem('cover_url', new_FPFile.url);
        $.ajax({
            url: '/projects/save_image',
            method: 'POST',
            data: { large_image: new_FPFile.url }
          });
        $(".save-image").text('SAVE');
        $(".cancel-image").text("CANCEL");
        $('.new-save-btn').hide();
      },
      function(FPError){
        $(".save-image").text('SAVE');
        $(".cancel-image").text("CANCEL");
      }
    );
  });

  var userLocation = 'http://maps.googleapis.com/maps/api/geocode/json?address=#{@project.address},#{@project.city},#{@project.state}&sensor=false';

  // $.ajax({
  //   url: userLocation,
  //   success: function(data) {
  //     console.log(data.results[0].geometry.location.lat);
  //     var latitude = data.results[0].geometry.location.lat;
  //     var longitude = data.results[0].geometry.location.lng;
  //     var map = L.map('map', {
  //       scrollWheelZoom: false
  //     }).setView([latitude,longitude], 11);

  //     var uruutIcon = L.icon({
  //       iconUrl: '#{image_path("map-icon.png")}',
  //       iconSize:     [36, 52]
  //     });

  //     L.tileLayer('http://{s}.tile.stamen.com/toner-lite/{z}/{x}/{y}.png', {
  //       attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
  //     }).addTo(map);

  //     L.marker([latitude,longitude], {icon:uruutIcon}).addTo(map)
  //   }
  // });
