.step-container{"data-id" => "assets"}
  = form_for(@project, :html => {:multipart => true }) do |f|
    - if @project.large_image
      #large_image{:style => "background-image: url(#{@project.large_image}); -webkit-background-size: cover; background-size: cover;"}
        .div{style: "height: 546px;", id: "image-priview"}
          %input{:type => 'filepicker', :name => 'large_image', 'data-fp-button-text' => 'Choose A Cover Photo', 'data-fp-apikey' => 'ArmO0TLVTkyCaJkQmBNfqz', 'data-fp-button-class' => 'coverphoto btn', 'onchange' => 'updateCover(event)', :style => 'left:50%'}
          = render "funding_info"
    - else
      #large_image
        .div{style: "height: 546px;", id: "image-priview"}
          %input{:type => 'filepicker', :name => 'large_image', 'data-fp-button-text' => 'Choose A Cover Photo', 'data-fp-apikey' => 'ArmO0TLVTkyCaJkQmBNfqz', 'data-fp-button-class' => 'coverphoto btn pick-cover-photo', 'onchange' => 'updateCover(event)', :style => 'left:50%'}

        = render "funding_info"

    .span12.action-convert{style: "margin-top: 484px; display:none"}
      = hidden_field_tag "url_image"
      = hidden_field_tag "x_position"
      = hidden_field_tag "y_position"
      = hidden_field_tag "width_after"
      = hidden_field_tag "height_after"
      .action.pull-right
        %a.btn.change-image{href: "javascript:void(0)"} Change cover photo
        %a.btn.save-image{href: "javascript:void(0)"} Save Images

    .show-content
      .span8
        %h4.title Where We're Ruuted
        .map-container
          #map{:style => "width:100%;height:300px;"}
            %div{:style => "height:179px;"}
            #map-details
              .project-location
                %h4= @project.title
                %div
                  = image_tag "marker.jpg", :class => 'marker'
                  = @project.address
                  = @project.city
                  = @project.state
                  = @project.zip
                %div
                  %h6
                    WEB:
                    = link_to @project.website do
                      %span{:style => "color:#403e37;font:italic 12px/12px georgia, serif;text-transform:none;letter-spacing:normal;text-decoration:underline;", :target => "_blank"}= @project.website

        %h4.title{:style => 'margin-top:50px;'} PROJECT SPONSORS
        = link_to "#", :class => 'btn', :style => 'background:#3f403b;padding:10px;margin-top:10px;' do
          Become A Sponsor
          %span

        %h4.title{:style => 'margin-top:50px;'}
          Planting Seeds
          %span (About)

        #content_container
          #planting_seeds
            - if @project.seed_mime_type.eql?("video") and !@project.seed_video.blank?
              - video_seed = @project.seed_video.gsub("watch?v=", "embed/")
              .seed-content
                %iframe{:height => "413", :src => video_seed, :width => "620"}
            - elsif @project.seed_mime_type.eql?("image") and !@project.seed_image.blank?
              .seed-content
                = image_tag "#{@project.seed_image}", style: "float:left; width:100%"
            - else
              %div.seed-content{:style => "background: #C4B8B8; width: 100%; height: 414px"}
                .seed-action-container
                  %div.pull-left{style: "margin-left: 37%; margin-top: 100px"}
                    %input{:type => 'filepicker', :name => 'planting_seed_image', 'data-fp-button-text' => 'ADD A PHOTO', 'data-fp-apikey' => 'ArmO0TLVTkyCaJkQmBNfqz', 'data-fp-button-class' => 'btn', 'onchange' => 'updatePlantingSeedImage(event)'}
                  %div.pull-left{style: "margin-left: -14%; margin-top: 194px"}
                    %p{style: "color: #FFF"} OR
                  %div.pull-left{style: "margin-left: 37%; margin-top: 39px"}
                    = link_to "ADD A VIDEO", "javascript:void(0)", class: "btn seed-form"


            .seed-action-container{style: action_image(@project.seed_image, @project.seed_video)}
              %input{:type => 'filepicker', :name => 'planting_seed_image', 'data-fp-button-text' => 'UPLOAD NEW PHOTO', 'data-fp-apikey' => 'ArmO0TLVTkyCaJkQmBNfqz', 'data-fp-button-class' => 'btn', 'onchange' => 'updatePlantingSeedImage(event)'}
              = link_to "UPLOAD NEW VIDEO", "javascript:void(0)", class: "btn seed-form"
            %div{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.about

          %hr

          #cultivation
            .span2.ending
              %h4.title
                CULTIVATION
                %br
                %span (Project Details)

                %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:15px;"} Funding Ends
                %div{:style => "background:#b6b6b4;padding:25px;border-radius:500px;"}
                  %span{:style => 'display:block;text-align:center;font:normal 22px/22px "Proxima Nova Semi";color:#fff;text-transform:uppercase;letter-spacing:5px;'}= (Date.today + (@project.duration).to_i.days).strftime("%b")
                  %span{:style => 'display:block;text-align:center;font:normal 72px/72px "Proxima Nova Semi";color:#fff;text-transform:uppercase;margin-top:5px'}= (Date.today + (@project.duration).to_i.days).strftime("%d")
                %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:40px;margin-bottom:0;"} Project Goal
                %h2{:style => "text-align:center;color:#b6b6b4;font-family:'Proxima Nova Semi';margin-top:0;"}= number_to_currency(@project.goal, :precision => 0)

            .span5.details{:style => "width: 400px"}
              .cultivation-image-priview
                - if @project.cultivation_mime_type.eql?("video") and !@project.cultivation_video.blank?
                  - cultivation_video = @project.cultivation_video.gsub("watch?v=", "embed/")
                  .cultivation-content
                    %iframe{:height => "310", :src => cultivation_video, :width => "380"}
                - elsif @project.cultivation_mime_type.eql?("image") and !@project.cultivation_image.blank?
                  .cultivation-content
                    = image_tag "#{@project.cultivation_image}", style: "float:left; width:100%"
                - else
                  %div.cultivation-content{:style => "background: #C4B8B8; width: 100%; height: 310px"}
                    .cultivation-action-container
                      %div.pull-left{style: "margin-left: 30%; margin-top: 55px"}
                        %input{:type => 'filepicker', :name => 'cultivation_image', 'data-fp-button-text' => 'ADD A PHOTO', 'data-fp-apikey' => 'ArmO0TLVTkyCaJkQmBNfqz', 'data-fp-button-class' => 'btn', 'onchange' => 'updateCultivationImage(event)'}
                      %div.pull-left{style: "margin-left: -21%; margin-top: 132px"}
                        %p{style: "color: #FFF"} OR
                      %div.pull-left{style: "margin-left: 32%; margin-top: 53px"}
                        = link_to "ADD A VIDEO", "javascript:void(0)", class: "btn cultivation-form"

                .cultivation-action-container{style: action_image(@project.cultivation_image, @project.cultivation_video)}
                  %input{:type => 'filepicker', :name => 'cultivation_image', 'data-fp-button-text' => 'UPLOAD NEW PHOTO', 'data-fp-apikey' => 'ArmO0TLVTkyCaJkQmBNfqz', 'data-fp-button-class' => 'btn', 'onchange' => 'updateCultivationImage(event)'}
                  = link_to "UPLOAD NEW VIDEO", "javascript:void(0)", class: "btn cultivation-form"

              %div{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.story

      .span4.sidebar
        %h4 BECOME A SPONSOR
        .well
          %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"} PROJECT SPONSORSHIP
          %p{:style => "font:normal 12px/18px 'Proxima Nova', arial, sans-serif;color:#403e37;margin-bottom:40px;"} We can’t do this alone. Do your part, by becoming a project sponsor. URUUT Partner-Funding depends on individual contributors as well as project sponsorship from businesses and corporate and family foundations. Click the button below to get more details and become a project sponsor.
          = link_to "#", :class => 'btn', :style => 'margin-top:10px;' do
            Become A Sponsor
            %span

        %h4.title{:style => 'margin-top:50px;'} Seeder Perks
        %ul.perks
          -if @perks
            - @perks.each do |p|
              %li.perk
                %h3= p.name
                %p.description= p.description
                %ul
                  %li
                    %h6 SEED
                    %p.amount $#{p.amount.to_i}
                  %li.fund-button
                    %a{:href => "#assets", :class => "fund btn"} Fund Now #{image_tag('arrow.png')}

        %h4.title{:style => 'margin-top:50px;'}
          Planter
          %span (Project Organizer)
        .planter
          = image_tag(get_gravatar(current_user.email, 100), :style => "display:inline-block;margin-right:20px;width:100px;height:100px;")
          %h4{:style => "color:#70bf4c;letter-spacing:2px;"}= @project.title

        %h4.title{:style => 'margin-top:50px;'} Business Partners
        = link_to "#", :class => 'btn', :style => 'margin-top:10px;' do
          Become A Sponsor
          %span

        %h4.title{:style => 'margin-top:50px;'}
          Seeders (0)
          %span (Project Funders)

#save-video.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3.title-form-video
  = form_tag save_video_projects_path, method: :post, remote: true do
    .modal-body
      = url_field_tag "video_link", nil, placeholder: "youtube_url"
      = hidden_field_tag "video_type"
    .modal-footer
      %input{:type => "submit", :value => "Submit video"}

:javascript

  $(".change-image").click(function(){
    $(".coverphoto").click();
  });

  $(".save-image").click(function(){
    $(".change-image").button("loading");
    $(this).button('loading');
    var fpfile = { url: $("#url_image").val(), mimetype: 'image/jpeg', isWriteable: true };
    console.log("Converting...");
    filepicker.convert(fpfile,
      {crop: [$("#x_position").val(), $("#y_position").val(), 1600, 546]},
      {},
      function(new_FPFile){
        $(".save-image").button('reset');
        $(".change-image").button("reset");
        console.log(new_FPFile.url);
        $(".coverphoto, .funding-info").show();
        jcrop_api.destroy();
        $(".action-convert").hide();
        $("#cover-priview").remove();
        $('#large_image').css('background-image','url(' + new_FPFile.url + ')').css('-webkit-background-size', 'cover').css('-moz-background-size', 'cover').css('background-size', 'cover');
        $.ajax({
            url: '/projects/save_image',
            method: 'POST',
            data: { large_image: new_FPFile.url }
          });
      },
      function(FPError){
        console.log(FPError);
        $(".save-image").button('reset');
        $(".change-image").button("reset");
      }
    );
  });
