.step-container{"data-id" => "assets"}
  = form_for(@project, :html => {:multipart => true}) do |f|
    - if @project.large_image
      #large_image{:style => "background-image: url(#{@project.large_image}); -webkit-background-size: cover; background-size: cover;"}
        %input{:type => 'filepicker', :name => 'large_image', 'data-fp-button-text' => 'Choose A Cover Photo', 'data-fp-apikey' => ENV['FILEPICKER_API'], 'data-fp-button-class' => 'coverphoto btn', 'onchange' => 'updateCover(event)', :style => 'left:50%'}
        = render "funding_info"
      
    - else
      #large_image
        %input{:type => 'filepicker', :name => 'large_image', 'data-fp-button-text' => 'Choose A Cover Photo', 'data-fp-apikey' => ENV['FILEPICKER_API'], 'data-fp-button-class' => 'coverphoto btn pick-cover-photo', 'onchange' => 'updateCover(event)', :style => 'left:50%'}

        = render "funding_info"

    .show-content
      .span8
        %h4.title Where We're Ruuted
        .map-container
          #map{:style => "width:100%;height:300px;"}
            %div{:style => "height:179px;"}
            #map-details
              .project-location
                %h4= @project.title
                %div
                  = image_tag "marker.jpg", :class => 'marker'
                  = @project.address
                  = @project.city
                  = @project.state
                  = @project.zip
                %div
                  %h6
                    WEB:
                    = link_to @project.website do
                      %span{:style => "color:#403e37;font:italic 12px/12px georgia, serif;text-transform:none;letter-spacing:normal;text-decoration:underline;", :target => "_blank"}= @project.website
										
        %h4.title{:style => 'margin-top:50px;'} PROJECT SPONSORS
        = link_to "#assets", :class => 'btn', :style => 'background:#3f403b;padding:10px;margin-top:10px;' do
          Become A Sponsor
          %span

        %h4.title{:style => 'margin-top:50px;'}
          Planting Seeds
          %span (About)
								
        #content_container
          #planting_seeds
            - if @project.seed_image
              = image_tag "#{@project.seed_image}"
            - else
              %input{:type => 'filepicker', :name => 'planting_seed_image', 'data-fp-button-text' => '', 'data-fp-apikey' => ENV['FILEPICKER_API'], 'data-fp-button-class' => 'planting-seed-image', 'onchange' => 'updatePlantingSeedImage(event)'}
            %div{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.about
						
          %hr

          #cultivation
            .span3.ending
              %h4.title
                CULTIVATION 
                %br
                %span (Project Details)
								
                %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:15px;"} Funding Ends
                %div{:style => "background:#b6b6b4;padding:25px;border-radius:500px;"}
                  %span{:style => 'display:block;text-align:center;font:normal 22px/22px "Proxima Nova Semi";color:#fff;text-transform:uppercase;letter-spacing:5px;'}= (Date.today + (@project.duration).to_i.days).strftime("%b")
                  %span{:style => 'display:block;text-align:center;font:normal 72px/72px "Proxima Nova Semi";color:#fff;text-transform:uppercase;margin-top:5px'}= (Date.today + (@project.duration).to_i.days).strftime("%d")
                %h6{:style => "text-align:center;color:#55554d !important;font-family:'Proxima Nova';margin-top:40px;margin-bottom:0;"} Project Goal
                %h2{:style => "text-align:center;color:#b6b6b4;font-family:'Proxima Nova Semi';margin-top:0;"}= number_to_currency(@project.goal, :precision => 0)

            .span9.details
              - if @project.cultivation_image
                = image_tag "#{@project.cultivation_image}"
              - else
                %input{:type => 'filepicker', :name => 'cultivation_image', 'data-fp-button-text' => '', 'data-fp-apikey' => ENV['FILEPICKER_API'], 'data-fp-button-class' => 'cultivation-image', 'onchange' => 'updateCultivationImage(event)'}
              %div{:style => "font:normal 14px/24px 'Proxima Nova', arial, sans-serif;margin-top:10px;word-wrap: break-word;"}= @project.story

      .span4.sidebar
        %h4 BECOME A SPONSOR
        .well
          %h3{:style => "font-size:20px;letter-spacing:normal;color:#70bf4c;line-height:100%;margin:0;font-family:'Proxima Nova';"} PROJECT SPONSORSHIP
          %p{:style => "font:normal 12px/18px 'Proxima Nova', arial, sans-serif;color:#403e37;margin-bottom:40px;"} We can’t do this alone. Do your part, by becoming a project sponsor. URUUT Partner-Funding depends on individual contributors as well as project sponsorship from businesses and corporate and family foundations. Click the button below to get more details and become a project sponsor.
          = link_to "#", :class => 'btn', :style => 'margin-top:10px;' do
            Become A Sponsor
            %span

        %h4.title{:style => 'margin-top:50px;'} Seeder Perks
        %ul.perks
          -if @perks
            - @perks.each do |p|
              %li.perk
                %h3= p.name
                %p.description= p.description
                %ul
                  %li
                    %h6 SEED
                    %p.amount $#{p.amount.to_i}
                  %li.fund-button
                    %a{:href => "#assets", :class => "fund btn"} Fund Now #{image_tag('arrow.png')}

        %h4.title{:style => 'margin-top:50px;'}
          Planter
          %span (Project Organizer)
        .planter
          = image_tag(get_gravatar(current_user.email, 100), :style => "display:inline-block;margin-right:20px;width:100px;height:100px;")
          %h4{:style => "display:inline-block;color:#70bf4c;letter-spacing:2px;"}= @project.title

        %h4.title{:style => 'margin-top:50px;'} Business Partners
        = link_to "#assets", :class => 'btn', :style => 'margin-top:10px;' do
          Become A Sponsor
          %span

        %h4.title{:style => 'margin-top:50px;'}
          Seeders (0)
          %span (Project Funders)