:css
  .save-new-perk, .update-perk {
    background: #3F403B;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: white;
    font: normal 16px/16px "Proxima Nova Semi", arial, sans-serif;
    letter-spacing: 2px;
    position: relative;
    text-shadow: none;
    text-transform: uppercase;
    text-decoration: none;
  }
  .save-new-perk{
    top: 36px;
    padding: 13px;
  }
  .update-perk{
    bottom: 0;
    padding: 14px 88px;
    margin-left: 23%;
  }
  .save-new-perk:hover, .update-perk:hover {
    color: #FFF;
    text-decoration: none;
  }
  #project-submit {
    margin-top: 20px;
    padding: 15px 58px;
  }

.step-container{"data-id" => "perks"}
  = form_for(@project, :html => {:class => "project-perks-form span8 well", :multipart => true}) do |f|

    %h4.title
      SEEDER PERKS
      %span.italic (Rewards for your donors)

    .perk-view
      %h5.label-green{:style => "margin-bottom:10px;"} PERKS ON URUUT
      %p
        Every dollar funded by donors on Uruut is rewarded with Uruut Points. Using customized Seeder Perks for your donors is not required, but it is an option.
      %p
        If you don't use custom Seeder Perks, your project will have the default donation levels of $10, $25, $50, $100 and $250. Your donors will receive 1 Uruut Reward Point for each dollar they contribute. If you do choose to offer custom perks, as the project owner, will be required to create your own donation levels for each perk offered.

      %p A Final Word on Perks – Our research shows definitively that contributing to a project like yours is an emotional endeavor for donors.  Though offering perks can sometimes be effective in the short-run, it ends up turning a positive, emotional encounter into a simple financial transaction.  We encourage you to remember that the greatest reward you can offer your donors is the feeling they will get from your successfully funded and completed project.

      %p
        If you do chose to add perks, think through ways to make them emotional.  So for a school project, perhaps a thank you from a child?  Or a piece of art created by the students?  In lieu of emotional perks ensure the perks are of value commensurate with the giving living and ensure you can deliver on your promise of delivering the perk in a timely fashion.
        %b Ultimately the delivery of the perk is solely up to you - the project owner.

      %h6{:style => "color:#70bf4c"} USE CUSTOM SEEDER PERKS?
      .span2{style: "margin-left: 0"}
        .selectParent{style: "width: 140px;"}
          = f.select :perk_permission, options_for_select({ "Yes" => "yes", "No" => "no" }, @project.perk_permission.eql?(true) ? "yes" : "no"), {}, {:onchange => "changePerkPermission()", class: "styledSelect"}

    .clearfix


    - if @project.errors.any?
      #errorExplanation
        %h2 #{pluralize(@project.errors.count, "error")}
        %ul
          - @project.errors.full_messages.each do |msg|
            %li #{msg}
    %div.perk-true{style: "#{@project.perk_permission ? '' : 'display:none' }"}
      %hr{style: "margin-top: 0; margin-left: -19px; margin-right: -19px; background: #e0e0e0;"}
      %h4{style: "margin-bottom: 20px;"}
        Perk #
        %span.count-perk{style: "margin-left: -1%"} #{@project.perks.count + 1}
      %fieldset{:style => "position:relative"}
        .perk-container
          .perk
            .row
              .span8
                .row
                  .span4
                    = label_tag "perk-amount", class: "label-green" do
                      SEED AMOUNT*
                      %span.italic{style: "color: #000; font-size: 10px;"} (full $ amounts only)
                      %span.error-container
                    = text_field_tag "perk-amount", '', class: "span4 required"
                  .span4
                    = label_tag "perk-name", class: "label-green" do
                      PERK TITLE*
                      %span.italic.title-count{style: "color: #000; font-size: 10px;"}
                      %span.error-container
                    = text_field_tag "perk-name", '', class: "span4 required", maxlength: 30

            %div
              = label_tag "perk-description", class: "label-green" do
                Description*
                %span.italic.desc-count{style: "color: #000; font-size: 10px;"}
                %span.error-container
              = text_area_tag "perk-description", nil, style: "height:120px;width:605px;", maxlength: 140, class: :required, placeholder: "All the details on what your seeders will receive for this perk..."

            .row.perk-view
              .span2
                %div{style: "font-size: 10px;"}
                  = label_tag "limit_perk", "LIMIT # AVAILABLE", class: "label-green"
                .selectParent{style: "width: 140px;"}
                  = select_tag "limit_perk", options_for_select({ "Yes" => "yes", "No" => "no" }, "yes"), class: "styledSelect"
              .span5
                = label_tag "perk_available", "HOW MANY OF THIS PERK ARE AVAILABLE", class: "label-green"
                = number_field_tag "perk_available", nil, class: "span6"

            %input{:type => 'hidden', :value => "", :id => "perk-id"}

      %hr{:style => "background: #e0e0e0; margin: 0 -19px;"}

      .row
        .span4
          %a.save-new-perk{:href => "#"} Save Perk & Add More
        .span4{style: "margin-left: 0"}
          = f.submit "Save Perk & Continue", :class => "btn project-save-continue", :id => "project-submit", :style => "position: relative;padding: 15px 28px;"

      %a.update-perk{:href => "#"} UPDATE PERK

    %hr#line{:style => "margin-left: -20px; margin-right: -20px; background: #e0e0e0;"}

    %div.perk-false{style: "#{@project.perk_permission ? 'display:none' : '' }"}
      = link_to "CONTINUE TO STEP 4", "/projects/#{@project.id}/edit#sponsorship", class: "btn skip-perk wizard-btn", id: "project-submit", style: "position: relative;display:block;margin:0 auto;width:35%"

  .span4{:style => "margin-top:155px;"}
    %h4.title{:style => "margin-bottom:5px;"} SET UP GUIDE
    .well.info
      .user-perks
        - unless @perks.blank?
          %h5.title-current-perk{:style => "color:#70bf4c;margin-bottom:10px;"} CURRENT PERKS
          - @perks.each do |p|
            %div.created-perk{id: "perk-item-#{p.id}"}
              %h6= amount_converter(p.amount)
              %h6= p.name
              %p{:style => "width:268px;word-wrap: break-word;"}= p.description
              %input{:type => 'hidden', :value => "#{p.id}", :id => "perk-#{p.id}"}
              %a{:class => "perk-edit", :style => "color:#70bf4c; cursor: pointer"} edit
              |
              %a{:class => "perk-delete", :style => "color:#70bf4c; cursor: pointer"} delete

      %h5{:style => "color:#70bf4c;margin-bottom:10px; margin-top: 30px"} SEEDER PERKS
      %p Funding on URUUT is made in exchange for payment in kind: goods, services, special benefits or other perks. Offer something valuable for the funds. No T-shirts and shout-outs for $100.

      %p Perks could include a house account for your investors, discounted goods or services, special lessons or workshops, or a private party just for seeders. Be creative!
      %p The most common amounts invested are between $25-$100. We suggest you offer some good value perks at a low cost for casual investors who might not know your organization well, and a handful of high end rewards that are likely to appeal to your inner circle or die-hard fans.
      %p If you’re having a hard time thinking about some great perks, check out our Project Guide or just let us know and we can help you.


:javascript

  var actionEditButton = function(){
    $('.update-perk').on('click', function(e) {
      e.preventDefault();
      var name = $('#perk-name').val();
      var amount = $('#perk-amount').val();
      var description = $('#perk-description').val();
      var perk_id = $('#perk-id').val();
      var project = #{@project.id};
      var data = {
        name: name,
        amount: amount,
        description: description,
        id: perk_id
      };
      $.ajax({
        type: 'POST',
        url: '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/update_perk',
        data: data
      }).done(function(data) {
        $.ajax({
          type: 'GET',
          url: '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/update_content_assets_tab?id='+project
        });
        $(".perk-true").show();
        $(".perk-false").hide();
        $('#perk-name').val("");
        $('#perk-amount').val("");
        $('#perk-description').val("");
        $('#perk-id').val("");
        $('.save-new-perk, #project-submit, .perk-view').show();
        $('.update-perk').hide();
        var updatedPerk = '<div class="created-perk" id="perk-item-'+ perk_id +'"><h6>'+ convertAmount(amount ) +'</h6><h6>'+ name +'</h6><p style="width:268px;word-wrap: break-word;">'+ description +'</p><input id="perk-'+perk_id+'" type="hidden" value="'+perk_id+'"><a class="perk-edit" style="color:#70bf4c; cursor: pointer">edit</a> | <a class="perk-delete" style="color:#70bf4c; cursor: pointer">delete</a></div>';
        $("#perk-item-"+ perk_id +"").html(updatedPerk);
        actionEditButton(); actionDeleteButton(); actionButton();
      });
    })
  }

  var actionDeleteButton = function(){
    $('.perk-delete').on('click', function(e) {
      e.preventDefault();
      var perk_id = $(this).parent().find('input[type=hidden]').val();
      var data = {id: perk_id};
      var project = #{@project.id};
      $.ajax({
        type: 'POST',
        url: '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/delete_perk',
        data: data
      }).done(function(data) {
        $.ajax({
          type: 'GET',
          url: '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/update_content_assets_tab?id='+project
        });
        $("#perk-item-"+ perk_id +"").remove();
        if ( $(".created-perk").length < 1 ){
          $(".title-current-perk").remove();
        }
        $(".count-perk").text( parseInt($(".count-perk").text()) - 1 );
      });
    })
  }

  var actionButton = function(){
    $('.created-perk .perk-edit').on('click', function() {
      $.ajax({
        type: 'POST',
        url: '#{get_perk_projects_url}',
        data: {id: $(this).parent().find('input[type=hidden]').val()}
      }).done(function(data) {
        $(".perk-true").show();
        $(".perk-false").hide();
        $('#perk-name').val(data.name);
        $('#perk-amount').val(data.amount);
        $('#perk-description').val(data.description);
        $('#perk-id').val(data.id)
        $('.save-new-perk, #project-submit, .perk-view').hide();
        $('.update-perk').show();
      });
    });
  }

  $(document).ready(function(){
    actionButton();
    actionDeleteButton();
    actionEditButton()
  });

  function updateCountTitle() {
    var remaining = 30 - jQuery('#perk-name').val().length;
    jQuery('.title-count').text('(' + remaining + ' characters remaining.)');
  };

  function updateDescTitle() {
    var remaining = 140 - jQuery('#perk-description').val().length;
    jQuery('.desc-count').text('(' + remaining + ' characters remaining.)');
  };

  updateCountTitle();
  updateDescTitle();
  $('#perk-name').change(updateCountTitle);
  $('#perk-name').keyup(updateCountTitle);
  $('#perk-description').change(updateDescTitle);
  $('#perk-description').keyup(updateDescTitle);

  var changePerkPermission = function(){
    if ( $("#project_perk_permission").val() == "no" ){
      $(".perk-true").hide();
      $(".perk-false").show();
      $('#line').show()
    }
    else{
      $(".perk-false").hide();
      $(".perk-true").show();
      $('#line').hide()
    }
  };

  $(".project-perks-form").validate({
    messages:{
      "perk-amount": {
        requiredAmount: "Valid number"
      }
    },
    rules: {
      "perk-amount": {
        required: true,
        requiredAmount: true
      },
      "perk-name": {
        required: true
      },
      "perk-description": {
        required: true
      }
    },
    errorPlacement: function(error, element) {
      error.appendTo(element.parent().find(".error-container"));
    }
  });

  $(".skip-perk").on("click", function(){
    $(this).text("LOADING..");
    var project_id = #{@project.id};
    $.ajax({
        type: 'GET',
        url: '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/set_perk_to_false?id='+project_id
    }).done(function(id) {
      $.ajax({
        type: 'GET',
        url: '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/update_content_assets_tab?id='+project_id
      });
      $(".skip-perk").text("CONTINUE TO STEP 4");
      window.location.href = '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/'+ project_id +'/edit#sponsorship';
      $("body").animate({ scrollTop: 0 }, "slow");
    });
  });

  $("#limit_perk").on("change", function(){
    if ( $("#limit_perk").val() == 'no' ){
      $("#perk_available").val("");
      $("#perk_available").attr("disabled", "disabled");
    }else{
      $("#perk_available").removeAttr("disabled");
    }
  });

  $('.save-new-perk').on('click', function(e) {
    e.preventDefault();
    if (!$(".project-perks-form").valid()) return;
    $("input.project-save-continue").val("LOADING..");
    $(this).text("LOADING..");
    var name = $('#perk-name').val();
    var amount = $('#perk-amount').val();
    var description = $('#perk-description').val();
    var project = #{@project.id};
    var data = {
      name: name,
      amount: amount,
      description: description,
      project: project,
      step: "third",
      perk_permission: $("#project_perk_permission").val(),
      perks_available: $("#perk_available").val(),
      limit: $("#limit_perk").val()
    };
    $.ajax({
      type: 'POST',
      url: '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/add_perk',
      data: data
    }).done(function(id) {
      $.ajax({
        type: 'GET',
        url: '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/update_content_assets_tab?id='+project
      });
      if ( $(".created-perk").length < 1 ){
        $(".title-current-perk").remove();
        var newPerk = '<h5 style="color:#70bf4c;margin-bottom:10px;" class="title-current-perk">CURRENT PERKS</h5><div class="created-perk" id="perk-item-'+ id +'"><h6>'+ convertAmount(amount ) +'</h6><h6>'+ name +'</h6><p style="width:268px;word-wrap: break-word;">'+ description +'</p><input id="perk-'+id+'" type="hidden" value="'+id+'"><a class="perk-edit" style="color:#70bf4c; cursor: pointer">edit</a> | <a class="perk-delete" style="color:#70bf4c; cursor: pointer">delete</a></div>';
        $(".user-perks").append(newPerk);
      }
      else{
        var newPerk = '<div class="created-perk" id="perk-item-'+ id +'"><h6>'+ convertAmount(amount ) +'</h6><h6>'+ name +'</h6><p style="width:268px;word-wrap: break-word;">'+ description +'</p><input id="perk-'+id+'" type="hidden" value="'+id+'"><a class="perk-edit" style="color:#70bf4c; cursor: pointer">edit</a> | <a class="perk-delete" style="color:#70bf4c; cursor: pointer">delete</a></div>';
        $(".user-perks").append(newPerk);
      }
      $("input.project-save-continue").val("SAVE PERK & CONTINUE");
      $(".save-new-perk").text("SAVE PERK & ADD MORE");
      $('#perk-name').val(""); $('#perk-amount').val(""); $('#perk-description').val("");
      $("#perk_available").val("");
      $(".count-perk").text( parseInt($(".count-perk").text()) + 1 );
      actionEditButton(); actionDeleteButton(); actionButton();
    });
  });


  $('.project-save-continue').on('click', function(e) {
    e.preventDefault();
    if (!$(".project-perks-form").valid()) return;
    $("input.project-save-continue").val("LOADING..");
    $(this).text("LOADING..");
    var name = $('#perk-name').val();
    var amount = $('#perk-amount').val();
    var description = $('#perk-description').val();
    var project = #{@project.id};
    var data = {
      name: name,
      amount: amount,
      description: description,
      step: "third",
      project: project,
      perks_available: $("#perk_available").val(),
      perk_permission: $("#project_perk_permission").val(),
      limit: $("#limit_perk").val(),
      status: "continue"
    };
    $.ajax({
      type: 'POST',
      url: '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/add_perk',
      data: data
    }).done(function(id) {
      $.ajax({
        type: 'GET',
        url: '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/update_content_assets_tab?id='+project
      });
      var newPerk = '<div class="created-perk" id="perk-item-'+ id +'"><h6>'+ convertAmount(amount ) +'</h6><h6>'+ name +'</h6><p style="width:268px;word-wrap: break-word;">'+ description +'</p><input id="perk-'+id+'" type="hidden" value="'+id+'"><a class="perk-edit" style="color:#70bf4c; cursor: pointer">edit</a> | <a class="perk-delete" style="color:#70bf4c; cursor: pointer">delete</a></div>';
      $(".list-perk").append(newPerk);
      $("input.project-save-continue").val("SAVE PERK & CONTINUE");
      $(".save-new-perk").text("SAVE PERK & ADD MORE");
      $('#perk-name').val(""); $('#perk-amount').val(""); $('#perk-description').val("");
      $("#perk_available").val("");
      $(".count-perk").text( parseInt($(".count-perk").text()) + 1 );
      actionEditButton(); actionDeleteButton(); actionButton();
      window.location.href = '#{request.protocol}' + document.location.hostname + ":" + document.location.port + '/projects/'+ project +'/edit#sponsorship';
      $("body").animate({ scrollTop: 0 }, "slow");
    });
  });
