.step-container{"data-id" => "perks"}
  = form_for(@project, :html => {:class => "span8 well", :multipart => true}) do |f|

    %h4.title
      SEEDER PERKS
      %span.italic (Rewards for your donors)

    - if @project.errors.any?
      #errorExplanation
        %h2 #{pluralize(@project.errors.count, "error")}
        %ul
          - @project.errors.full_messages.each do |msg|
            %li #{msg}

    %fieldset{:style => "position:relative"}
      .perk-container
        .perk
          %div.inline
            = label_tag "Name"
            = text_field_tag "perk-name", '', :size => 18

          %div.inline{:style => "margin-left:20px;"}
            = label_tag "Amount"
            = text_field_tag "perk-amount", '', :size => 17

          %div
            = label_tag "Description"
            = text_area_tag "perk-description", '', :size => "85x30"

          %input{:type => 'hidden', :value => "", :id => "perk-id"}


      %a.add-perk.btn{:href => "#"} SAVE PERK & ADD MORE
      %a.update-perk.btn{:href => "#"} UPDATE PERK


    %div
      = f.submit "Save And Continue", :class => "btn", :id => "project-submit", :style => "left: 175px;position: relative;"


  .span4{:style => "margin-top:155px;"}
    %h4.title{:style => "margin-bottom:5px;"} SET UP GUIDE
    .well.info
      - unless @perks.blank?
        %h5{:style => "color:#70bf4c;margin-bottom:10px;"} CURRENT PERKS
        - @perks.each do |p|
          %div.created-perk
            %h6= get_currency(p.amount)
            %h6= p.name
            %p{:style => "width:268px;word-wrap: break-word;"}= p.description
            %input{:type => 'hidden', :value => "#{p.id}", :id => "perk-#{p.id}"}
            %a{:class => "perk-edit", :style => "color:#70bf4c;"} edit
            |
            %a{:class => "perk-delete", :style => "color:#70bf4c;"} delete

      %h5{:style => "color:#70bf4c;margin-bottom:10px;"} SEEDER PERKS
      %p Funding on URUUT is made in exchange for payment in kind: goods, services, special benefits or other perks. Offer something valuable for the funds. No T-shirts and shout-outs for $100.

      %p Perks could include a house account for your investors, discounted goods or services, special lessons or workshops, or a private party just for seeders. Be creative!
      %p The most common amounts invested are between $25-$100. We suggest you offer some good value perks at a low cost for casual investors who might not know your organization well, and a handful of high end rewards that are likely to appeal to your inner circle or die-hard fans.
      %p If you’re having a hard time thinking about some great perks, check out our Project Guide or just let us know and we can help you.
