
.step-container{"data-id" => "project-details"}
  = form_for(@project, :html => {:class => "span8 well", :multipart => true}) do |f|

    %h4.title
      YOUR STORY
      %span.italic (Basic Information)

    - if @project.errors.any?
      #errorExplanation
        %h2 #{pluralize(@project.errors.count, "error")}
        %ul
          - @project.errors.full_messages.each do |msg|
            %li #{msg}

    .req-legend
      *Required

    = f.label :project_title, class: "label-green" do
      PROJECT TITLE*
      %span.italic{style: "color: #000"} (Ex. Dunwoody City Park Fountain)
      %span.italic.project-title-remaining{style: "color: #000"}
    = f.text_field :project_title, maxlength: 35, class: "span8 project-title required_detail"

    = f.label :goal, class: "label-green" do
      FUNDING GOAL*
      %span.italic{style: "color: #000"}
    = f.text_field :goal, class: "span8 required_detail"

    %div.inline
      = f.label :duration, class: "label-green" do
        CAMPAIGN LENGTH*
        %span.italic{style: "color: #000"} (max 90 days)
      .selectParent{style: "width: 290px;"}
        = f.select :duration, options_for_select(project_length, @project.duration), {:include_blank => 'Select One'}, class: "styledSelect required_detail"

    %div.inline{:style => "margin-left:25px;"}
      = f.label :category, class: "label-green" do
        CATEGORY*
      .selectParent{style: "width: 290px;"}
        = f.select :category, options_for_select(project_categories, @project.category), {:include_blank => 'Select Category'}, class: "styledSelect required_detail"

    = f.label :title, class: "label-green" do
      CAMPAIGN HEADLINE*
      %span.italic.campaign-remaining{style: "color: #000"}
    = f.text_field :title, maxlength: 150, class: "span8 campaign-headline required_detail"

    = f.label :story, "YOUR STORY*", class: "label-green"
    = f.text_area :story, :style => "height:330px;width:617px;", placeholder: "Tell us the story of your organization here...", class: "required_detail"

    = f.label :about, "TELL US ABOUT YOUR PROJECT*", class: "label-green"
    = f.text_area :about, :style => "height:330px;width:617px;", placeholder: "Fill us in on the details of your project here...", class: "required_detail"

    %hr{:style => "background: #e0e0e0; margin: 0 -19px"}

    = hidden_field_tag "step", "second"

    %div
      = f.submit "Save And Continue", :class => "btn", :id => "project-submit"


  .span4{:style => "margin-top:155px;"}
    %h4.title{:style => "margin-bottom:5px;"} SET UP GUIDE
    .well.info
      %h5.label-green{:style => "margin-bottom:10px;"} PROJECT TITLE
      %p This is name of your project.  So are you looking to raise money for a new playground?  Then your title can be something like, New Children’s Playground for Newtown.  Make it descriptive but simple.
	  
      %h5.label-green{:style => "margin-bottom:10px;"} FUNDING GOAL
      %p How much do you want to raise on URUUT?

      %p Remember to keep in mind the cost of a campaign and perks fulfillment, should you choose to offer them. We suggest you add 10% to the amount you need to raise. This will cover Uruut’s fee, our payment providers 3% fee and any potential extras.  In addition, if you plan to offer items (permanent signage, event tickets, etc) to individuals and/or sponsors of real value you should adjust the price up accordingly.

      %p Also, URUUT is an all-or-nothing funding platform. That means you have to hit the goal you set in order to get any of the funding you raise. Try to choose something attainable based on your personal and social networks.

      %p Also, Uruut is an all-or-nothing funding platform. That means you have to hit the goal you set in order to get any of the funding you raise. Try to choose something attainable, based on your personal and social networks, but reach goals are often met so don’t aim too low.

      %h5.label-green{:style => "margin-bottom:10px;"} CAMPAIGN HEADLINE
      %p A short and sweet summary of your project and an opportunity to expand on your title and make a strong first impression. This is the text that will appear in our marketplace and should be a brief description of who you are and why you're here. Try to avoid using words like "help" and "need."
      %p.bold Examples include:
      %ul
        %li
          %i Grow our children’s minds in an outdoor classroom
        %li
          %i Shape up the community with a new recreation center
        %li
          %i Make our community garden bloom…big.

      %h5.label-green{:style => "margin-bottom:10px;"} YOUR STORY
      %p Tell the world why they should invest in your project. Include some background information about you and your business partners (if any), how long you’ve been in operation, why the neighborhood should invest in you and why you’re raising funds on Uruut.

      %p If you want to add any images or videos to your story, you can do so at the final step.  We encourage you to use both.  It greatly increases your odds of a successful campaign.

      %h5.label-green{:style => "margin-bottom:10px;"} TELL US ABOUT YOUR PROJECT
      %p Give us a description of your project. What are you looking to raise funding for? Be specific! Your donors will care about how you use their money.

      %p Remember, Uruut is for specific projects, like capital improvements, new programs or equipment, not a source of operational capital.

      %p In the final step, you can add images and videos to this section, too.  They are a great way to show and tell.


:javascript
  function updateCutdownCampaign() {
    var remaining = 150 - jQuery('.campaign-headline').val().length;
    jQuery('.campaign-remaining').text('(' + remaining + ' characters remaining.)');
  };

  function updateCutdownTitle() {
    var remaining = 35 - jQuery('.project-title').val().length;
    jQuery('.project-title-remaining').text('(' + remaining + ' characters remaining.)');
  };

  updateCutdownCampaign();
  updateCutdownTitle();
  $('.campaign-headline').change(updateCutdownCampaign);
  $('.campaign-headline').keyup(updateCutdownCampaign);
  $('.project-title').change(updateCutdownTitle);
  $('.project-title').keyup(updateCutdownTitle);
