.step-container{"data-id" => "sponsorship"}
  = form_for(@project, :html => {:class => "span8 well", :multipart => true}) do |f|

    %h4.title
      SPONSORSHIP DETAILS
      %span.italic (Benefits For Project Sponsors)

    - if @project.errors.any?
      #errorExplanation
        %h2 #{pluralize(@project.errors.count, "error")}
        %ul
          - @project.errors.full_messages.each do |msg|
            %li #{msg}

    %div
      %h6{:style => "color:#70bf4c"} SPONSORSHIP ON URUUT
      %p One of the things that makes Uruut different from other crowd-funding platforms is the ability for businesses and foundations to sponsor projects. While we believe business and foundation sponsorship are the best way to help you reach your goal, you are not required to offer sponsorship.

    %div
      %h6{:style => "color:#70bf4c"} ALLOW PROJECT SPONSORSHIPS?
      .span2{style: "margin-left: 0"}
        .selectParent{style: "width: 140px;"}
          = f.select :sponsorship_permission, options_for_select({ "Yes" => true, "No" => false }, @project.sponsor_permission), {}, {:onchange => "changeProjectPermission()", class: "styledSelect"}
    .clearfix

    %div.sponsorship-true

      %div
        %h6{:style => "color:#70bf4c"}
          PLATINUM LEVEL SPONSORSHIP*
          %span{:style => "font-size:10px;color:#403e37;letter-spacing:normal;"} (industry-specific exclusivity)
          %span{:style => "font-size:10px;color:#403e37;letter-spacing:normal;", class: "platinum-availibility"} (1 AVAILABLE)
      .row-fluid
        .span3{:style => "text-align:left;color:#464646;"}
          %h6{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;line-height:normal;margin:0;"} Cost
          %h2{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;line-height:normal;margin:0"}
            %span.platinum-amount-value
              - if @project.goal
                = amount_converter(@project.goal.gsub(/,/, '').to_i * 0.25)
          %p{:style => "font-family:georgia, serif;font-style:italic;margin-top:8px"} (30% of funding goal)
        .span9{:style => "text-align:left;color:#464646;"}
          %p{:style => "font-family:'Proxima Nova', arial, sans-serif;font-size:12px;color:#403e37;letter-spacing:normal;line-height:18px;"}
            Platinum Level Sponsorship includes priority logo placement, a link to the sponsor’s website, and the company / foundation’s mission statement on your project page. Platinum Sponsors gain industry exclusivity for project sponsors. In addition to these benefits, select suggested benefits or create custom benefits for platinum level sponsors from the checklist below. (Suggested benefits should be used as a guide and can be customized to meet your project’s specific needs.)
            %span{:style =>  "color:#403e37;font-style:italic;"}
              (Suggested benefits should be used as a guide and can be customized to meet your project's specific needs.)
          %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 3px;"}
            SUGGESTED BENEFITS
            %span.italic
              (Check All That Apply)
            \:
          %div#platinum-box{data:{max: "1", type: "platinum"}}
            %div#platinum-checkbox.existing-checkbox
              -if @project.sponsorship_benefits.empty?
                -SponsorshipBenefit::SPONSORSHIP_BENEFITS.each do |key, value|
                  -if key.eql? 1
                    -value.each_with_index do |benefit|
                      %div.checkbox.default
                        = check_box_tag "platinum[#{benefit[:id]}]", '1', false, class: "sponsor_checkbox"
                        %span#name= benefit[:desc]
                        %span.edit-benefit.italic.label-green select to edit
                        = text_field_tag "platinum[info_#{benefit[:id]}]", "#{benefit[:desc]}", class: "edit-text-field", style: "width: 320px !important; display: none;"
              -else
                -@project.sponsorship_benefits.where(sponsorship_level_id: 1).order(:id).each_with_index do |benefit, index|
                  %div.checkbox.default
                    = hidden_field_tag "platinum[id_#{index + 1}]", benefit.id
                    = check_box_tag "platinum[#{index + 1}]", nil, benefit.status, class: "sponsor_checkbox"
                    %span#name= benefit.name
                    %span.edit-benefit.italic.label-green select to edit
                    = text_field_tag "platinum[info_#{index + 1}]", benefit.name, class: "edit-text-field", style: "width: 320px !important; display: none;"
              / %a.italic.green-link.check-all{:href => "javascript:void(0)", data:{target: "platinum-checkbox"}}
              /   (Check All That Apply)

              = hidden_field_tag "platinum_count", nil, id: "platinum-count"
            %div#custom-checkbox
              %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 10px;"} CREATE CUSTOM BENEFITS:
              %div.checkbox.add_checkbox
                = check_box_tag "add_platinum",nil,false, class: "box_platinum_benefits"
                = text_field_tag "platinum[]", nil, placeholder: "Create your custom benefit here....", style: "width: 100% !important", class: "platinum_benefits add_benefits"
                .clearfix
                  .cleafix
                  %span.save_new_benefit.pull-right.btn{style: "margin-top:-10px;"} save
            %span.label-green.normal-font.add-another.add-platinum{style: "display:none" } + Add Another

      %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}

      %div
        %h6{:style => "color:#70bf4c"}
          Gold LEVEL SPONSORSHIP*
          %span{:style => "font-size:10px;color:#403e37;letter-spacing:normal;"} (industry-specific exclusivity)
          %span{:style => "font-size:10px;color:#403e37", class: "gold-availibility"} (3 AVAILABLE)
      .row-fluid
        .span3.left{:style => "text-align:left;color:#464646;"}
          %h6{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;line-height:normal;margin:0;"} Cost
          %h2{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;line-height:normal;margin:0"}
            %span.gold-amount-value
              -if @project.goal
                = amount_converter(@project.goal.gsub(/,/, '').to_i * 0.10)
          %p{:style => "font-family:georgia, serif;font-style:italic;margin-top:8px"} (10% of funding goal)
        .span9.left{:style => "text-align:left;color:#464646;"}
          %p{:style => "font-family:'Proxima Nova', arial, sans-serif;font-size:12px;color:#403e37;letter-spacing:normal;line-height:18px;"}
            Gold Level Sponsorship includes placement of a large logo and a link to the sponsor’s website on your project page. Gold Sponsors gain industry exclusivity for project sponsors. In addition to these benefits, select suggested benefits or create custom benefits for gold level sponsors from the checklist below. (Suggested benefits should be used as a guide and can be customized to meet your project’s specific needs.)
            %span{:style =>  "color:#403e37;font-style:italic;"}
              (Suggested benefits should be used as a guide and can be customized to meet your project's specific needs.)
          %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 3px;"}
            SUGGESTED BENEFITS
            %span.italic
              (Check All That Apply)
            \:
          %div#gold-box{data:{max: "3", type: "gold"}}
            %div#gold-checkbox.existing-checkbox
              -if @project.sponsorship_benefits.empty?
                -SponsorshipBenefit::SPONSORSHIP_BENEFITS.each do |key, value|
                  -if key.eql? 2
                    -value.each_with_index do |benefit|
                      %div.checkbox.default
                        = check_box_tag "gold[#{benefit[:id]}]", '1', false, class: "sponsor_checkbox"
                        %span#name= benefit[:desc]
                        %span.edit-benefit.italic.label-green select to edit
                        = text_field_tag "gold[info_#{benefit[:id]}]", "#{benefit[:desc]}", class: "edit-text-field", style: "width: 320px !important; display: none;"
              -else
                -@project.sponsorship_benefits.where(sponsorship_level_id: 2).order(:id).each_with_index do |benefit, index|
                  %div.checkbox.default
                    = hidden_field_tag "gold[id_#{index + 1}]", benefit.id
                    = check_box_tag "gold[#{index + 1}]", nil, benefit.status, class: "sponsor_checkbox"
                    %span#name= benefit.name
                    %span.edit-benefit.italic.label-green select to edit
                    = text_field_tag "gold[info_#{index + 1}]", benefit.name, class: "edit-text-field", style: "width: 320px !important; display: none;"
              / %a.italic.green-link.check-all{:href => "javascript:void(0)", data:{target: "gold-checkbox"}}
              /   (Check All That Apply)

              = hidden_field_tag "gold_count", nil, id: "gold-count"
            %div#custom-checkbox
              %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 10px;"} CREATE CUSTOM BENEFITS:
              %div.checkbox.add_checkbox
                = check_box_tag "add_gold",nil,false, class: "box_gold_benefits"
                = text_field_tag "gold[]", nil, placeholder: "Create your custom benefit here....", style: "width: 100% !important", class: "gold_benefits add_benefits"
                .clearfix
                  .cleafix
                  %span.save_new_benefit.pull-right.btn{style: "margin-top:-10px;"} save
            %span.label-green.normal-font.add-another.add-gold{style: "display:none" } + Add Another

      %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}

      %div
        %h6{:style => "color:#70bf4c"}
          Silver LEVEL SPONSORSHIP*
          %span{:style => "font-size:10px;color:#403e37", class: "silver-availibility"} (5 AVAILABLE)
      .row-fluid
        .span3.left{:style => "text-align:left;color:#464646;"}
          %h6{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;line-height:normal;margin:0;"} Cost
          %h2{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;line-height:normal;margin:0"}
            %span.silver-amount-value
              -if @project.goal
                = amount_converter(@project.goal.gsub(/,/, '').to_i * 0.05)
          %p{:style => "font-family:georgia, serif;font-style:italic;margin-top:8px"} (4% of funding goal)
        .span9.left{:style => "text-align:left;color:#464646;"}
          %p{:style => "font-family:'Proxima Nova', arial, sans-serif;font-size:12px;color:#403e37;letter-spacing:normal;line-height:18px;"}
            Silver Level Sponsorship includes placement of a medium-sized logo and a link to the sponsor’s website on your project page. In addition to these benefits, select suggested benefits or create custom benefits for silver level sponsors from the checklist below. (Suggested benefits should be used as a guide and can be customized to meet your project’s specific needs.)
            %span{:style =>  "color:#403e37;font-style:italic;"}
              (Suggested benefits should be used as a guide and can be customized to meet your project's specific needs.)
          %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 3px;"}
            SUGGESTED BENEFITS
            %span.italic
              (Check All That Apply)
            \:
          %div#silver-box{data:{max: "5", type: "silver"}}
            %div#silver-checkbox.existing-checkbox

              -if @project.sponsorship_benefits.empty?
                -SponsorshipBenefit::SPONSORSHIP_BENEFITS.each do |key, value|
                  -if key.eql? 3
                    -value.each_with_index do |benefit|
                      %div.checkbox.default
                        = check_box_tag "silver[#{benefit[:id]}]", '1', false, class: "sponsor_checkbox"
                        %span#name= benefit[:desc]
                        %span.edit-benefit.italic.label-green select to edit
                        = text_field_tag "silver[info_#{benefit[:id]}]", "#{benefit[:desc]}", class: "edit-text-field", style: "width: 320px !important; display: none;"
              -else
                -@project.sponsorship_benefits.where(sponsorship_level_id: 3).order(:id).each_with_index do |benefit, index|
                  %div.checkbox.default
                    = hidden_field_tag "silver[id_#{index + 1}]", benefit.id
                    = check_box_tag "silver[#{index + 1}]", nil, benefit.status, class: "sponsor_checkbox"
                    %span#name= benefit.name
                    %span.edit-benefit.italic.label-green select to edit
                    = text_field_tag "silver[info_#{index + 1}]", benefit.name, class: "edit-text-field", style: "width: 320px !important; display: none;"
              / %a.italic.green-link.check-all{:href => "javascript:void(0)", data:{target: "silver-checkbox"}}
              /   (Check All That Apply)

              = hidden_field_tag "silver_count", nil, id: "silver-count"
            %div#custom-checkbox
              %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 10px;"} CREATE CUSTOM BENEFITS:
              %div.checkbox.add_checkbox
                = check_box_tag "add_silver",nil,false, class: "box_silver_benefits"
                = text_field_tag "silver[]", nil, placeholder: "Create your custom benefit here....", style: "width: 100% !important", class: "silver_benefits add_benefits"
                .cleafix
                  .cleafix
                  %span.save_new_benefit.pull-right.btn{style: "margin-top:-10px;"} save
            %span.label-green.normal-font.add-another.add-silver{style: "display:none" } + Add Another

      %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}

      %div
        %h6{:style => "color:#70bf4c;"}
          Bronze LEVEL SPONSORSHIP*
      .row-fluid
        .span3.left{:style => "text-align:left;color:#464646;"}
          %h6{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;line-height:normal;margin:0;"} Cost
          %h2{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;line-height:normal;margin:0"}
            %span.bronze-amount-value
              - if @project.goal && @project.goal.gsub(/,/, '').to_i * 0.02 < 750
                = amount_converter(@project.goal.gsub(/,/, '').to_i * 0.02)
              -else
                = amount_converter(750)
        .span9.left{:style => "text-align:left;color:#464646;"}
          %p{:style => "font-family:'Proxima Nova', arial, sans-serif;font-size:12px;color:#403e37;letter-spacing:normal;line-height:18px;"} Bronze Level Sponsorship includes business / foundation name listing and a link to the sponsor’s website on your project page. In addition to these benefits, you can create custom benefits for bronze level sponsors below.
          %div#bronze-box
            %div#bronze-checkbox.existing-checkbox

              -if !@project.sponsorship_benefits.empty?
                -@project.sponsorship_benefits.where(sponsorship_level_id: 4).order(:id).each_with_index do |benefit, index|
                  %div.checkbox.default
                    = hidden_field_tag "custom[id_#{index + 1}]", benefit.id
                    = check_box_tag "custom[#{index + 1}]", nil, benefit.status, class: "sponsor_checkbox"
                    %span#name= benefit.name
                    %span.edit-benefit.italic.label-green select to edit
                    = text_field_tag "custom[info_#{index + 1}]", benefit.name, class: "edit-text-field", style: "width: 320px !important; display: none;"

              = hidden_field_tag "custom_count", nil, id: "custom-count"
            %div#custom-checkbox
              %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 10px;"} CREATE CUSTOM BENEFITS:
              %div.checkbox.add_checkbox
                = check_box_tag "add_bronze", nil,false, class: "box_bronze_benefits"
                = text_field_tag "bronze[]", nil, placeholder: "Create your custom benefit here....", style: "width: 100% !important", class: "bronze_benefits add_benefits"
                .cleafix
                  %span.save_new_benefit.pull-right.btn{style: "margin-top:-10px;"} save
            %span.label-green.normal-font.add-another.add-bronze{style: "display:none" } + Add Another

      %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}
      = hidden_field_tag "step", "fourth"
      %div
        = f.submit "Save & Continue ►", :class => "btn", :id => "project-submit", :style => "position: relative;display:none;margin:0 auto;"
        = link_to "Save & Continue ►", "javascript:void(0)", id: "next-link-to-assets", :class => "btn", :style => "position: relative;display:block;margin:0 auto;width: 262px;"

    %div.sponsorship-false{:style => "display:none"}
      = link_to "CONTINUE TO STEP 5", "/projects/#{@project.id}/edit#assets", class: "btn skip-step", id: "project-submit", style: "position: relative;display:block;margin:0 auto;width:35%"
  .span4{:style => "margin-top:155px;"}
    %h4.title{:style => "margin-bottom:5px;"} SET UP GUIDE
    .well.info
      %h5{:style => "color:#70bf4c;margin-bottom:10px;"} SPONSORSHIP DETAILS
      %p URUUT's Partner-Funding depends not only individual contributors, but sponsorship from businesses and foundations.

      %p There are 4 different levels of sponsorship, with different benefits for each level. Use the checklists to define what each sponsor level includes.  The Uruut Wizard will automatically calculate the sponsorship levels for you.  Below each level are suggested benefits.  You can use these or create your own, but be sure that you are making it worth your sponsors’ contribution, while being sure to make promises you can deliver.



:javascript

  var platinumSum = $('#platinum-box').children().children('.default').length;
  var goldSum = $('#gold-box').children().children('.default').length;
  var silverSum = $('#silver-box').children().children('.default').length;
  var bronzeSum = $('#bronze-box').children().children('.default').length;

  $("#platinum-count").val(platinumSum + 1);
  $(".platinum_benefits").attr("name", "platinum[info_" + (platinumSum + 1) + "]");
  $(".platinum_benefits").attr("id", "platinum_info_" + (platinumSum + 1));
  $(".box_platinum_benefits").attr("name", "platinum[" + (platinumSum + 1) + "]");
  $(".box_platinum_benefits").attr("id", "platinum_" + (platinumSum + 1));

  $("#gold-count").val(goldSum + 1);
  $(".gold_benefits").attr("name", "gold[info_" + (goldSum + 1) + "]");
  $(".gold_benefits").attr("id", "gold_info_" + (goldSum + 1));
  $(".box_gold_benefits").attr("name", "gold[" + (goldSum + 1) + "]");
  $(".box_gold_benefits").attr("id", "gold_" + (goldSum + 1));

  $("#silver-count").val(silverSum + 1);
  $(".silver_benefits").attr("name", "silver[info_" + (silverSum + 1) + "]");
  $(".silver_benefits").attr("id", "silver_info_" + (silverSum + 1));
  $(".box_gold_benefits").attr("name", "silver[" + (silverSum + 1) + "]");
  $(".box_gold_benefits").attr("id", "silver_" + (silverSum + 1));

  $("#custom-count").val(bronzeSum + 1);
  $(".bronze_benefits").attr("name", "bronze[info_" + (bronzeSum + 1) + "]");
  $(".bronze_benefits").attr("id", "bronze_info_" + (bronzeSum + 1));
  $(".box_gold_benefits").attr("name", "bronze[" + (bronzeSum + 1) + "]");
  $(".box_gold_benefits").attr("id", "bronze_" + (bronzeSum + 1));

  $(".skip-step").on("click", function(){
    var project_id = #{@project.id};
    $.ajax({
      type: "GET",
      url: "/skip_sponsor"
    }).done(function(data){
      localStorage.setItem('step-assets', true);
      $(".assets-link").attr("href", "/projects/" + project_id +"/edit#assets");
      window.location.href = '/projects/' + project_id + '/edit#assets';
      window.location.reload(true);
    });
  })

  $(document).ready(function() {
    addNewBenefit();
    editBenefit();
    addAnotherNewBenefit();
    removeAnotherBenefit();
    $(".check-all").click(function(){
      var id = $(this).attr("data-target");
        $("#"+id).find(".sponsor_checkbox").click();
    })

    if ( $("#project_sponsorship_permission").val() == "false" ){
      $(".sponsorship-true").hide();
      $(".sponsorship-false").show();
    }
    else{
      $(".sponsorship-false").hide();
      $(".sponsorship-true").show();
    }
  });



  var changeProjectPermission = function(){
    if ( $("#project_sponsorship_permission").val() == "false" ){
      $(".sponsorship-true").hide();
      $(".sponsorship-false").show();
    }
    else{
      $(".sponsorship-false").hide();
      $(".sponsorship-true").show();
    }
  };

  var editBenefit = function() {
    $(".edit-benefit").bind("click", function() {
      var nameBenefits = $(this).parent().children("#name");
      var fieldBenefits = $(this).parent().children(".edit-text-field");
      console.log(c = this)
      if($(this).text() == "select to edit"){
        nameBenefits.hide();
        fieldBenefits.show();
        fieldBenefits.attr("style", "margin-top:-25px; width: 350px !important; font-size: 15");
        $(this).text("save");
        $(this).addClass("btn");
        $(this).attr("style", "position: relative; top: 18px !important; margin-left: 363px");
        $(this).removeClass("label-green");
      }else{
        nameBenefits.text($(this).parent().find(".edit-text-field").val());
        nameBenefits.show();
        fieldBenefits.hide();
        $(this).removeClass("btn");
        $(this).removeAttr("style", "position: relative; top: 70px !important; margin-left: 5px");
        $(this).addClass("edit-benefit italic label-green");
        $(this).text("select to edit")
      }
      $(this).parent().children(".sponsor_checkbox").attr("checked","checked");;
      $('.step-container[data-id="sponsorship"] form').submit();
    });
  }

  var reIndexSponsors = function(){
    sizeSponsors = $(".sponsor_checkbox").size();
    c = 0;
    name = "";
    for(x = 0; sizeSponsors < x; x++ ){
      alert(0)
      sponsorship = $(".sponsor_checkbox")[x];
      if(name !=  $(sponsorship).attr("id").split("_")[0]){
        name = $(sponsorship).attr("id").split("_")[0];
        c = 0;
      }
      c++;
      $(sponsorship).attr({id: name + "_" + c , name: name + "["+ c + "]"});
    }
  }

  var addAnotherNewBenefit = function(){
    $(".add-another").bind("click", function(e) {
      var divCore = $(this).parent().children("#custom-checkbox");
      var fieldP = $(this).parent().children(".existing-checkbox").children(".checkbox");

      if ( fieldP.length > 0 ){
        var checkFieldP = fieldP.last().children().first();
        var checkboxName = checkFieldP.attr("id").split("_")[0];
        var checkboxVal = checkFieldP.attr("id").split("_")[1];
        var countCheckbox = parseInt(checkboxVal) + 1;
      }
      else{
        var checkboxName = $(this).parent().attr("id").split("-")[0];
        var countCheckbox = 1;
      }

      switch (checkboxName)
        {
          case 'platinum': $(".add-platinum").hide(); break;
          case 'gold': $(".add-gold").hide(); break;
          case 'silver': $(".add-silver").hide(); break;
          case 'bronze' : $(".add-bronze").hide(); break;
        }

      // $("#"+ checkboxName +"-count").val(countCheckbox);
      $("<div class='checkbox default'><input calss='sponsor_checkbox' id='"+ checkboxName + "_" + countCheckbox + "' type='checkbox' value='1' name='"+ checkboxName +"[id_"+ countCheckbox +"]''><input id='"+ checkboxName + "_info_"+ countCheckbox +"' class='"+checkboxName+"_benefits add_benefits' type='text' style='width: 100% !important;' placeholder='Create your custom benefit here...' name='"+ checkboxName + "[info_"+countCheckbox+"]'><span><span class='save_new_benefit pull-right btn' style='margin-top:-19px; left:0px' data-type='"+checkboxName+"' >Save</span></span><span class='remove-another pull-right btn' style='margin-top:-19px; left: -5px;'>Remove</span></div>").appendTo(divCore);
      $("#"+checkboxName+"-count").val(parseInt($("#"+checkboxName+"-count").val())+1)
      // countCheckbox++;
      addNewBenefit();
      removeAnotherBenefit();
      $("#" + checkboxName + "_info_"+ countCheckbox).focus();
      return false;
    });
  }

  var removeAnotherBenefit = function(){
    $(".remove-another").bind("click", function(){
      var boxName = $(this).parent().parent().parent().attr("id").split("-")[0];
      switch (boxName)
        {
          case 'platinum': $(".add-platinum").show(); break;
          case 'gold': $(".add-gold").show(); break;
          case 'silver': $(".add-silver").show(); break;
          case 'bronze' : $(".add-bronze").show(); break;
        }
      $(this).parent().remove();
    })
  }

  var addNewBenefit = function(){
    $(".save_new_benefit").bind("click", function(){
      // $('.step-container[data-id="sponsorship"] form').submit();
      var dataType = $(this).attr("data-type");
      if ($("."+dataType+"-availibility").attr('data-available') == "0"){
        alert("You Can't Add Another Sponsor");
      }
      else{
        var divCore = $(this).parent().parent().parent().parent().children(".existing-checkbox");
        var benefitsValue = $(this).parent().parent().children(".add_benefits").val();

        if ( divCore.children().children("input").length > 0 ){
          var benefits = divCore.children().children("input").last();
          var boxName = benefits.attr("id").split("_")[0];
          var boxValue = benefits.attr("id").split("_")[2];
          var boxLength = parseInt(boxValue) + 1;
        }
        else{
          var boxName = $(this).parent().parent().parent().attr("id").split("-")[0];
          var boxLength = 1;
        }

        if(benefitsValue){
          $("<div class='checkbox default'><input class='sponsor_checkbox' id='"+boxName+"_"+boxLength+"' type='checkbox' name='"+boxName+"["+boxLength+"]' checked='checked'><span id='name'>"+benefitsValue+"</span> <span class='edit-benefit italic label-green'>select to edit</span><input id='"+ boxName +"_info_"+ boxLength+"' class='edit-text-field' type='text' value='"+benefitsValue+"' style='width: 320px !important; display: none;' name='"+boxName+"[info_"+boxLength+"]'></div>").appendTo($(this).parent().parent().parent());
          sizeSponsors = $(".sponsor_checkbox").size();
          c = 0;
          name = "";
          for(x = 0; sizeSponsors > x; x++ ){
            sponsorship = $(".sponsor_checkbox")[x];
            contentSponsor = $(".edit-text-field")[x];
            if(name !=  $(sponsorship).attr("id").split("_")[0]){
              name = $(sponsorship).attr("id").split("_")[0];
              c = 0;
            }
            c++;
            $("#"+name+"-count").val(c + 1)
            $(sponsorship).attr({id: name + "_" + c , name: name + "["+ c + "]"});
            $(contentSponsor).attr({id: name + "_info_" + c , name: name + "[info_"+ c + "]"});
          }
          $('.step-container[data-id="sponsorship"] form').submit();

          boxLength++;
          switch (boxName)
          {
            case 'platinum': $(".add-platinum").show(); break;
            case 'gold': $(".add-gold").show(); break;
            case 'silver': $(".add-silver").show(); break;
            case 'bronze' : $(".add-bronze").show(); break;
            case 'custom': $(".add-bronze").show(); break;
          }

          $(this).parent().parent().remove();
          $(".edit-benefit").unbind("click");
          editBenefit();
          return false;
        }else{
          if (boxName == "custom"){
            $(this).parent().siblings(".bronze_benefits").addClass("error");
          }
          else{
            $(this).parent().siblings("."+boxName+"_benefits").addClass("error");
          }
        }
      }
    });
  }
