.step-container{"data-id" => "sponsorship"}
  = form_for(@project, :html => {:class => "span8 well", :multipart => true}) do |f|

    %h4.title
      SPONSORSHIP DETAILS
      %span.italic (Benefits For Project Sponsors)

    - if @project.errors.any?
      #errorExplanation
        %h2 #{pluralize(@project.errors.count, "error")}
        %ul
          - @project.errors.full_messages.each do |msg|
            %li #{msg}

    %div
      %h6{:style => "color:#70bf4c"} SPONSORSHIP ON URUUT
      %p One of the things that makes Uruut different from other crowd-funding platforms is the ability for businesses and foundations to sponsor projects. While we believe business and foundation sponsorship are the best way to help you reach your goal, you are not required to allow them.

    %div
      %h6{:style => "color:#70bf4c"} ALLOW PROJECT SPONSORSHIPS?
      .span2{style: "margin-left: 0"}
<<<<<<< HEAD
        = f.select :sponsorship_permission, options_for_select({ "Yes" => true, "No" => false }, @project.sponsor_permission), {}, {:onchange => "changeProjectPermission()"}
=======
        = f.select :sponsorship_permission, options_for_select({ "Yes" => "yes", "No" => "no" }, @project.sponsor_permission), {}, {:onchange => "changeProjectPermission()"}
>>>>>>> modify style
    .clearfix

    %div.sponsorship-true

      %div
        %h6{:style => "color:#70bf4c"}
          PLATINUM LEVEL SPONSORSHIP*
          %span{:style => "font-size:10px;color:#b6b6b4;letter-spacing:normal;"} (industry-specific exclusivity)
          %span{:style => "font-size:10px;color:#403e37;letter-spacing:normal;", class: "platinum-availibility"} (1 AVAILABLE)
      .row-fluid
        .span3{:style => "text-align:left;color:#464646;"}
          %h6{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;font-weight:bold;line-height:normal;margin:0;"} Cost
          %h2{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;font-weight:bold;line-height:normal;margin:0"}
            - if @project.goal
              = amount_converter(@project.goal.gsub(/,/, '').to_i * 0.30)
          %p{:style => "font-family:georgia, serif;font-style:italic;margin-top:8px"} (30% of funding goal)
        .span9{:style => "text-align:left;color:#464646;"}
          %p{:style => "font-family:'Proxima Nova', arial, sans-serif;font-size:12px;color:#403e37;letter-spacing:normal;line-height:18px;"}
            Platinum Level Sponsorship includes priority logo placement, a link to the sponsor’s website, and the company / foundation’s mission statement on your project page. Platinum Sponsors gain industry exclusivity for project sponsors. In addition to these benefits select suggested benefits or create custom benefits for platinum level sponsors from the checklist below.
            %span{:style =>  "color:#b6b6b4;font-style:italic;"}
              (Suggested benefits should be used as a guide and can be customized to meet your project’s specific needs.)
          %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 3px;"} SUGGESTED BENEFITS:
          %div#platinum-box{data:{max: "1", type: "platinum"}}
            %div#platinum-checkbox.existing-checkbox
              -if @project.sponsorship_benefits.empty?
                -SponsorshipBenefit::SPONSORSHIP_BENEFITS.each do |key, value|
                  -if key.eql? 1
                    -value.each_with_index do |benefit|
                      %div.checkbox.default
                        = check_box_tag "platinum[#{benefit[:id]}]", '1', false, class: "sponsor_checkbox"
                        %span#name= benefit[:desc]
                        %span.edit-benefit.italic.label-green select to edit
                        = text_field_tag "platinum[info_#{benefit[:id]}]", "#{benefit[:desc]}", class: "edit-text-field", style: "width: 320px !important; display: none;"
              -else
                -@project.sponsorship_benefits.where(sponsorship_level_id: 1).each_with_index do |benefit, index|
                  %div.checkbox.default
                    = hidden_field_tag "platinum[id_#{index + 1}]", benefit.id
                    = check_box_tag "platinum[#{index + 1}]", nil, benefit.status, class: "sponsor_checkbox"
                    %span#name= benefit.name
                    %span.edit-benefit.italic.label-green select to edit
                    = text_field_tag "platinum[info_#{index + 1}]", benefit.name, class: "edit-text-field", style: "width: 320px !important; display: none;"
              %a.italic.green-link.check-all{:href => "javascript:void(0)", data:{target: "platinum-checkbox"}}
                (Check All That Apply)

              = hidden_field_tag "platinum_count", nil, id: "platinum-count"
            %div#custom-checkbox
              %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 20px;"} CREATE CUSTOM BENEFITS:
              %div.checkbox.add_checkbox
                = check_box_tag "add_platinum",nil,false, class: "box_platinum_benefits"
                = text_field_tag "platinum[]", nil, placeholder: "Create your custom benefit here....", style: "margin-top: -18px; !important; width: 100% !important", class: "platinum_benefits add_benefits"
                .clearfix
                  .cleafix
                  %span.save_new_benefit.pull-right.btn{style: "margin-top:-10px;"} save
            %span.label-green.normal-font.add-another.add-platinum{style: "display:none" } + Add Another

      %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}

      %div
        %h6{:style => "color:#70bf4c"}
          Gold LEVEL SPONSORSHIP*
          %span{:style => "font-size:10px;color:#b6b6b4;letter-spacing:normal;"} (industry-specific exclusivity)
          %span{:style => "font-size:10px;color:#403e37", class: "gold-availibility"} (3 AVAILABLE)
      .row-fluid
        .span3.left{:style => "text-align:left;color:#464646;"}
          %h6{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;font-weight:bold;line-height:normal;margin:0;"} Cost
          %h2{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;font-weight:bold;line-height:normal;margin:0"}
            -if @project.goal
              = amount_converter(@project.goal.gsub(/,/, '').to_i * 0.10)
          %p{:style => "font-family:georgia, serif;font-style:italic;margin-top:8px"} (10% of funding goal)
        .span9.left{:style => "text-align:left;color:#464646;"}
          %p{:style => "font-family:'Proxima Nova', arial, sans-serif;font-size:12px;color:#403e37;letter-spacing:normal;line-height:18px;"}
            Gold Level Sponsorship includes includes placement of a large sized logo and a link to the sponsor’s website on your project page. Gold Sponsors gain industry exclusivity for project sponsors. In addition to these benefits select suggested benefits or create custom benefits for gold level sponsors from the checklist below.
            %span{:style =>  "color:#b6b6b4;font-style:italic;"}
              (Suggested benefits should be used as a guide and can be customized to meet your project’s specific needs.)
          %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 3px;"} SUGGESTED BENEFITS:
          %div#gold-box{data:{max: "3", type: "gold"}}
            %div#gold-checkbox.existing-checkbox
              -if @project.sponsorship_benefits.empty?
                -SponsorshipBenefit::SPONSORSHIP_BENEFITS.each do |key, value|
                  -if key.eql? 2
                    -value.each_with_index do |benefit|
                      %div.checkbox.default
                        = check_box_tag "gold[#{benefit[:id]}]", '1', false, class: "sponsor_checkbox"
                        %span#name= benefit[:desc]
                        %span.edit-benefit.italic.label-green select to edit
                        = text_field_tag "gold[info_#{benefit[:id]}]", "#{benefit[:desc]}", class: "edit-text-field", style: "width: 320px !important; display: none;"
              -else
                -@project.sponsorship_benefits.where(sponsorship_level_id: 2).each_with_index do |benefit, index|
                  %div.checkbox.default
                    = hidden_field_tag "gold[id_#{index + 1}]", benefit.id
                    = check_box_tag "gold[#{index + 1}]", nil, benefit.status, class: "sponsor_checkbox"
                    %span#name= benefit.name
                    %span.edit-benefit.italic.label-green select to edit
                    = text_field_tag "gold[info_#{index + 1}]", benefit.name, class: "edit-text-field", style: "width: 320px !important; display: none;"
              %a.italic.green-link.check-all{:href => "javascript:void(0)", data:{target: "gold-checkbox"}}
                (Check All That Apply)

              = hidden_field_tag "gold_count", nil, id: "gold-count"
            %div#custom-checkbox
              %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 20px;"} CREATE CUSTOM BENEFITS:
              %div.checkbox.add_checkbox
                = check_box_tag "add_gold",nil,false, class: "box_gold_benefits"
                = text_field_tag "gold[]", nil, placeholder: "Create your custom benefit here....", style: "margin-top: -18px; !important; width: 100% !important", class: "gold_benefits add_benefits"
                .clearfix
                  .cleafix
                  %span.save_new_benefit.pull-right.btn{style: "margin-top:-10px;"} save
            %span.label-green.normal-font.add-another.add-gold{style: "display:none" } + Add Another

      %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}

      %div
        %h6{:style => "color:#70bf4c"}
          Silver LEVEL SPONSORSHIP*
          %span{:style => "font-size:10px;color:#403e37", class: "silver-availibility"} (5 AVAILABLE)
      .row-fluid
        .span3.left{:style => "text-align:left;color:#464646;"}
          %h6{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;font-weight:bold;line-height:normal;margin:0;"} Cost
          %h2{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;font-weight:bold;line-height:normal;margin:0"}
            -if @project.goal
              = amount_converter(@project.goal.gsub(/,/, '').to_i * 0.04)
          %p{:style => "font-family:georgia, serif;font-style:italic;margin-top:8px"} (4% of funding goal)
        .span9.left{:style => "text-align:left;color:#464646;"}
          %p{:style => "font-family:'Proxima Nova', arial, sans-serif;font-size:12px;color:#403e37;letter-spacing:normal;line-height:18px;"}
            Silver Level Sponsorship includes includes placement of a medium sized logo and a link to the sponsor’s website on your project page. In addition to these benefits, select suggested benefits or create custom benefits for silver level sponsors from the checklist below.
            %span{:style =>  "color:#b6b6b4;font-style:italic;"}
              (Suggested benefits should be used as a guide and can be customized to meet your project’s specific needs.)
          %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 3px;"} SUGGESTED BENEFITS:
          %div#silver-box{data:{max: "5", type: "silver"}}
            %div#silver-checkbox.existing-checkbox

              -if @project.sponsorship_benefits.empty?
                -SponsorshipBenefit::SPONSORSHIP_BENEFITS.each do |key, value|
                  -if key.eql? 3
                    -value.each_with_index do |benefit|
                      %div.checkbox.default
                        = check_box_tag "silver[#{benefit[:id]}]", '1', false, class: "sponsor_checkbox"
                        %span#name= benefit[:desc]
                        %span.edit-benefit.italic.label-green select to edit
                        = text_field_tag "silver[info_#{benefit[:id]}]", "#{benefit[:desc]}", class: "edit-text-field", style: "width: 320px !important; display: none;"
              -else
                -@project.sponsorship_benefits.where(sponsorship_level_id: 3).each_with_index do |benefit, index|
                  %div.checkbox.default
                    = hidden_field_tag "silver[id_#{index + 1}]", benefit.id
                    = check_box_tag "silver[#{index + 1}]", nil, benefit.status, class: "sponsor_checkbox"
                    %span#name= benefit.name
                    %span.edit-benefit.italic.label-green select to edit
                    = text_field_tag "silver[info_#{index + 1}]", benefit.name, class: "edit-text-field", style: "width: 320px !important; display: none;"
              %a.italic.green-link.check-all{:href => "javascript:void(0)", data:{target: "silver-checkbox"}}
                (Check All That Apply)

              = hidden_field_tag "silver_count", nil, id: "silver-count"
            %div#custom-checkbox
              %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 20px;"} CREATE CUSTOM BENEFITS:
              %div.checkbox.add_checkbox
                = check_box_tag "add_silver",nil,false, class: "box_silver_benefits"
                = text_field_tag "silver[]", nil, placeholder: "Create your custom benefit here....", style: "margin-top: -18px; !important; width: 100% !important", class: "silver_benefits add_benefits"
                .cleafix
                  .cleafix
                  %span.save_new_benefit.pull-right.btn{style: "margin-top:-10px;"} save
            %span.label-green.normal-font.add-another.add-silver{style: "display:none" } + Add Another
          / %div.checkbox
          /   = check_box_tag "Test"
          /   Profile of your company on our website with photo.
          / %div.checkbox
          /   = check_box_tag "Test"
          /   Monthly plug on social media leading up to the project and the month after the project has been complete.
          / %div.checkbox
          /   = check_box_tag "Test"
          /   Five tickets to VIP Gala Event.

      %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}

      %div
        %h6{:style => "color:#70bf4c;"}
          Bronze LEVEL SPONSORSHIP*
      .row-fluid
        .span3.left{:style => "text-align:left;color:#464646;"}
          %h6{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;font-weight:bold;line-height:normal;margin:0;"} Cost
          %h2{:style => "letter-spacing:normal;font-family: 'Proxima Nova Semi', arial, sans-serif;font-weight:bold;line-height:normal;margin:0"}
            - if @project.goal && @project.goal.gsub(/,/, '').to_i * 0.1 < 500
              = amount_converter(@project.goal.gsub(/,/, '').to_i * 0.1)
            -else
              = amount_converter(500)
        .span9.left{:style => "text-align:left;color:#464646;"}
          %p{:style => "font-family:'Proxima Nova', arial, sans-serif;font-size:12px;color:#403e37;letter-spacing:normal;line-height:18px;"} Bronze Level Sponsorship includes business / foundation name listing and a link to the sponsor’s website on your project page. In addition to these benefits, you can create custom benefits for bronze level sponsors below.
          %div#bronze-box
            %div#bronze-checkbox.existing-checkbox

              -if !@project.sponsorship_benefits.empty?
                -@project.sponsorship_benefits.where(sponsorship_level_id: 4).each_with_index do |benefit, index|
                  %div.checkbox.default
                    = hidden_field_tag "custom[id_#{index + 1}]", benefit.id
                    = check_box_tag "custom[#{index + 1}]", nil, benefit.status
                    %span#name= benefit.name
                    %span.edit-benefit.italic.label-green select to edit
                    = text_field_tag "custom[info_#{index + 1}]", benefit.name, class: "edit-text-field", style: "width: 320px !important; display: none;"
                / -SponsorshipBenefit::SPONSORSHIP_BENEFITS.each do |key, value|
                /   -if key.eql? 4
                /     -value.each_with_index do |benefit|
                /       %div.checkbox.default
                /         = check_box_tag "bronze[#{benefit[:id]}]"
                /         %span#name= benefit[:desc]
                /         %span.edit-benefit.italic.label-green select to edit
                /         = text_field_tag "bronze[info_#{benefit[:id]}]", "#{benefit[:desc]}", class: "edit-text-field", style: "width: 320px !important; display: none;"
              / -else

              = hidden_field_tag "custom_count", nil, id: "custom-count"
            %div#custom-checkbox
              %h6{:style => "color:#70bf4c;letter-spacing:normal;margin:15px 0 20px;"} CREATE CUSTOM BENEFITS:
              %div.checkbox.add_checkbox
                = check_box_tag "add_bronze", nil,false, class: "box_bronze_benefits"
                = text_field_tag "bronze[]", nil, placeholder: "Create your custom benefit here....", style: "margin-top: -18px; !important; width: 100% !important", class: "bronze_benefits add_benefits"
                .cleafix
                  %span.save_new_benefit.pull-right.btn{style: "margin-top:-10px;"} save
            %span.label-green.normal-font.add-another.add-bronze{style: "display:none" } + Add Another
          / %div.checkbox
          /   = check_box_tag "Test"
          /   Lorem ipsum dolor sit amet.
      %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}
      = hidden_field_tag "step", "fourth"
      %div
        = f.submit "Save And Continue", :class => "btn", :id => "project-submit", :style => "position: relative;display:block;margin:0 auto;"

    %div.sponsorship-false{:style => "display:none"}
      = link_to "CONTINUE TO STEP 5", "/projects/#{@project.id}/edit#assets", class: "btn skip-step", id: "project-submit", style: "position: relative;display:block;margin:0 auto;width:35%"
  .span4{:style => "margin-top:155px;"}
    %h4.title{:style => "margin-bottom:5px;"} SET UP GUIDE
    .well.info
      %h5{:style => "color:#70bf4c;margin-bottom:10px;"} SPONSORSHIP DETAILS
      %p URUUT’s Partner-Funding depends not only individual contributors, but sponsorship from businesses and foundations.

      %p There are 4 different levels of sponsorship, with different benefits for each level. Use the checklists to define what each sponsor level includes. Blah blah blah, this is terrible writing, need to have someone actually write this before launch.


:javascript

  var platinumSum = $('#platinum-box').children().children('.default').length;
  var goldSum = $('#gold-box').children().children('.default').length;
  var silverSum = $('#silver-box').children().children('.default').length;
  var bronzeSum = $('#bronze-box').children().children('.default').length;

  $("#platinum-count").val(platinumSum + 1);
  $(".platinum_benefits").attr("name", "platinum[info_" + (platinumSum + 1) + "]");
  $(".platinum_benefits").attr("id", "platinum_info_" + (platinumSum + 1));
  $(".box_platinum_benefits").attr("name", "platinum[" + (platinumSum + 1) + "]");
  $(".box_platinum_benefits").attr("id", "platinum_" + (platinumSum + 1));

  $("#gold-count").val(goldSum + 1);
  $(".gold_benefits").attr("name", "gold[info_" + (goldSum + 1) + "]");
  $(".gold_benefits").attr("id", "gold_info_" + (goldSum + 1));
  $(".box_gold_benefits").attr("name", "gold[" + (goldSum + 1) + "]");
  $(".box_gold_benefits").attr("id", "gold_" + (goldSum + 1));

  $("#silver-count").val(silverSum + 1);
  $(".silver_benefits").attr("name", "silver[info_" + (silverSum + 1) + "]");
  $(".silver_benefits").attr("id", "silver_info_" + (silverSum + 1));
  $(".box_gold_benefits").attr("name", "silver[" + (silverSum + 1) + "]");
  $(".box_gold_benefits").attr("id", "silver_" + (silverSum + 1));

  $("#custom-count").val(1);
  $(".bronze_benefits").attr("name", "bronze[info_" + (bronzeSum + 1) + "]");
  $(".bronze_benefits").attr("id", "bronze_info_" + (bronzeSum + 1));
  $(".box_gold_benefits").attr("name", "bronze[" + (bronzeSum + 1) + "]");
  $(".box_gold_benefits").attr("id", "bronze_" + (bronzeSum + 1));

  $(".skip-step").on("click", function(){
    var project_id = #{@project.id};
    $.ajax({
      type: "GET",
      url: "/skip_sponsor"
    }).done(function(data){
      console.log("Success???");
      window.location.href = '/projects/' + project_id + '/edit#assets';
      window.location.reload(true);
    });
  })

  $(document).ready(function() {
    addNewBenefit();
    editBenefit();
    addAnotherNewBenefit();
    removeAnotherBenefit();
    $(".check-all").click(function(){
      var id = $(this).attr("data-target");
        $("#"+id).find(".sponsor_checkbox").click();
    })

<<<<<<< HEAD
    if ( $("#project_sponsorship_permission").val() == "false" ){
=======
    if ( $("#project_sponsorship_permission").val() == "no" ){
>>>>>>> modify style
      $(".sponsorship-true").hide();
      $(".sponsorship-false").show();
    }
    else{
      $(".sponsorship-false").hide();
      $(".sponsorship-true").show();
    }
    // if ($('#platinum-checkbox').children().find("input[type='checkbox']:checked").length >= 1) {
    //   $('.platinum-availibility').html("(0 AVAILABLE)");
    //   $('.platinum-availibility').attr("data-available", "0");
    // }
    // else{
    //   $('.platinum-availibility').html("(1 AVAILABLE)");
    //   $('.platinum-availibility').attr("data-available", "1");
    // }

    // var goldLength = $('#gold-checkbox').children().find("input[type='checkbox']:checked").length;
    // if (goldLength > 0) {
    //   $('.gold-availibility').html("("+(3-goldLength)+" AVAILABLE)");
    //   $('.gold-availibility').attr("data-available", (3-goldLength));
    // }
    // else{
    //   $('.gold-availibility').html("(3 AVAILABLE)");
    //   $('.gold-availibility').attr("data-available", "3");
    // }

    // var silverLength = $('#silver-checkbox').children().find("input[type='checkbox']:checked").length;
    // if (silverLength > 0) {
    //   $('.silver-availibility').html("("+(5-silverLength)+" AVAILABLE)");
    //   $('.silver-availibility').attr("data-available", (5-silverLength));
    // }
    // else{
    //   $('.silver-availibility').html("(5 AVAILABLE)");
    //   $('.silver-availibility').attr("data-available", "5");
    // }

    // $(".sponsor_checkbox").bind("click", function(e){
    //   var maxSponsor = parseInt($(this).parent().parent().parent().attr('data-max'));
    //   var sponsorType = $(this).parent().parent().parent().attr('data-type');
    //   var thisCheckbox = $(this);
    //   var availability = parseInt($('.'+sponsorType+'-availibility').attr('data-available'));
    //   if ($('#'+sponsorType+'-checkbox').children().find("input[type='checkbox']:checked").length > maxSponsor) {
    //     alert("You Can't Add Another Sponsor");
    //     $(this).click();
    //     $('.'+sponsorType+'-availibility').attr("data-available", availability);
    //     $('.'+sponsorType+'-availibility').html("("+availability+" AVAILABLE)");
    //   }
    //   else{
    //     if (thisCheckbox.is(':checked')) {
    //       availability -= 1;
    //       $('.'+sponsorType+'-availibility').attr("data-available", availability);
    //       $('.'+sponsorType+'-availibility').html("("+availability+" AVAILABLE)");
    //     }
    //     else{
    //       availability += 1;
    //       $('.'+sponsorType+'-availibility').attr("data-available", availability);
    //       $('.'+sponsorType+'-availibility').html("("+availability+" AVAILABLE)");
    //     };
    //   }
    //   // if ($(this).is(':checked')) {
    //   //   var availability = parseInt($('.platinum-availibility').attr('data-available')) - 1;
    //   //   $('.platinum-availibility').attr("data-available", availability);
    //   //   $('.platinum-availibility').html("(0 AVAILABLE)");
    //   // }
    //   // else {
    //   //   var availability = parseInt($('.platinum-availibility').attr('data-available')) + 1;
    //   //   $('.platinum-availibility').attr("data-available", availability);
    //   //   $('.platinum-availibility').html("(0 AVAILABLE)");
    //   // }
    // });
  });



  var changeProjectPermission = function(){
    if ( $("#project_sponsorship_permission").val() == "false" ){
      $(".sponsorship-true").hide();
      $(".sponsorship-false").show();
    }
    else{
      $(".sponsorship-false").hide();
      $(".sponsorship-true").show();
    }
  };

  var editBenefit = function() {
    $(".edit-benefit").bind("click", function() {
      var nameBenefits = $(this).parent().children("#name");
      var fieldBenefits = $(this).parent().children(".edit-text-field");
      console.log(c = this)
      if($(this).text() == "select to edit"){
        nameBenefits.hide();
        fieldBenefits.show();
        fieldBenefits.attr("style", "margin-top:-25px; width: 350px !important; font-size: 15");
        $(this).text("save");
        $(this).addClass("btn");
        $(this).attr("style", "position: relative; top: 18px !important; margin-left: 363px");
        $(this).removeClass("label-green");
      }else{
        nameBenefits.text($(this).parent().find(".edit-text-field").val());
        nameBenefits.show();
        fieldBenefits.hide();
        $(this).removeClass("btn");
        $(this).removeAttr("style", "position: relative; top: 70px !important; margin-left: 5px");
        $(this).addClass("edit-benefit italic label-green");
        $(this).text("select to edit")
      }
    });
  }

  var addAnotherNewBenefit = function(){
    $(".add-another").bind("click", function(e) {
      var divCore = $(this).parent().children("#custom-checkbox");
      var fieldP = $(this).parent().children(".existing-checkbox").children(".checkbox");

      if ( fieldP.length > 0 ){
        var checkFieldP = fieldP.last().children().first();
        var checkboxName = checkFieldP.attr("id").split("_")[0];
        var checkboxVal = checkFieldP.attr("id").split("_")[1];
        var countCheckbox = parseInt(checkboxVal) + 1;
      }
      else{
        var checkboxName = $(this).parent().attr("id").split("-")[0];
        var countCheckbox = 1;
      }

      switch (checkboxName)
        {
          case 'platinum': $(".add-platinum").hide(); break;
          case 'gold': $(".add-gold").hide(); break;
          case 'silver': $(".add-silver").hide(); break;
          case 'bronze' : $(".add-bronze").hide(); break;
        }

      // $("#"+ checkboxName +"-count").val(countCheckbox);
      $("<div class='checkbox default'><input id='"+ checkboxName + "_" + countCheckbox + "' type='checkbox' value='1' name='"+ checkboxName +"[id_"+ countCheckbox +"]''><input id='"+ checkboxName + "_info_"+ countCheckbox +"' class='"+checkboxName+"_benefits add_benefits' type='text' style='margin-top: -18px; width: 100% !important;' placeholder='Create your custom benefit here...' name='"+ checkboxName + "[info_"+countCheckbox+"]'><span><span class='save_new_benefit pull-right btn' style='margin-top:-19px; left:0px' data-type='"+checkboxName+"' >Save</span></span><span class='remove-another pull-right btn' style='margin-top:-19px; left: -5px;'>Remove</span></div>").appendTo(divCore);
      $("#"+checkboxName+"-count").val(parseInt($("#"+checkboxName+"-count").val())+1)
      // countCheckbox++;
      addNewBenefit();
      removeAnotherBenefit();
      return false;
    });
  }

  var removeAnotherBenefit = function(){
    $(".remove-another").bind("click", function(){
      var boxName = $(this).parent().parent().parent().attr("id").split("-")[0];
      switch (boxName)
        {
          case 'platinum': $(".add-platinum").show(); break;
          case 'gold': $(".add-gold").show(); break;
          case 'silver': $(".add-silver").show(); break;
          case 'bronze' : $(".add-bronze").show(); break;
        }
      $(this).parent().remove();
    })
  }

  var addNewBenefit = function(){
    $(".save_new_benefit").bind("click", function(){
      var dataType = $(this).attr("data-type");
      if ($("."+dataType+"-availibility").attr('data-available') == "0"){
        alert("You Can't Add Another Sponsor");
      }
      else{
        var divCore = $(this).parent().parent().parent().parent().children(".existing-checkbox");
        var benefitsValue = $(this).parent().parent().children(".add_benefits").val();

        if ( divCore.children().children("input").length > 0 ){
          var benefits = divCore.children().children("input").last();
          // console.log(benefits);
          var boxName = benefits.attr("id").split("_")[0];
          var boxValue = benefits.attr("id").split("_")[2];
          var boxLength = parseInt(boxValue) + 1;
        }
        else{
          var boxName = $(this).parent().parent().parent().attr("id").split("-")[0];
          var boxLength = 1;
        }

        if(benefitsValue){
          $("<div class='checkbox default'><input id='"+boxName+"_"+boxLength+"' type='checkbox' name='"+boxName+"["+boxLength+"]' checked='checked'><span id='name'>"+benefitsValue+"</span> <span class='edit-benefit italic green-font'>select to edit</span><input id='"+ boxName +"_info_"+ boxLength+"' class='edit-text-field' type='text' value='"+benefitsValue+"' style='width: 320px !important; display: none;' name='"+boxName+"[info_"+boxLength+"]'></div>").appendTo(divCore);
          boxLength++;
          switch (boxName)
          {
            case 'platinum': $(".add-platinum").show(); break;
            case 'gold': $(".add-gold").show(); break;
            case 'silver': $(".add-silver").show(); break;
            case 'bronze' : $(".add-bronze").show(); break;
            case 'custom': $(".add-bronze").show(); break;
          }

          $(this).parent().parent().remove();
          $(".edit-benefit").unbind("click");
          editBenefit();
          return false;
        }else{
          alert("sorry you can't add new benefits because the field is blank!");
        }
      }
    });
  }
