.step-container{"data-id" => "sponsor-info"}
  = form_for(project, :html => {:class => "sponsor-info span8 well"}) do |f|

    - if project.errors.any?
      #errorExplanation
        %h2 #{pluralize(project.errors.count, "error")}
        %ul
          - project.errors.full_messages.each do |msg|
            %li #{msg}

    %h4.title
      YOUR RUUTS
      %span.italic (Basic Information)

    %div
      = f.label :organization, "Organization/Business Name*", class: "label-green"
      = f.text_field :organization, :required => true, class: "span8"

    .clearfix
      %div.pull-left
        = f.label :organization_type, "Organization Type*", class: "label-green"
        .selectParent{style: "width: 290px;"}
          = f.select :organization_type, options_for_select(project_org_type, @project.organization_type), {:include_blank => 'Select Org Type'}, {:onchange => "updateOrganizedTypeInfo()", class: "styledSelect required"}

      %div.pull-left{:style => "margin-left:20px;"}
        = f.label :organization_class, "How Are You Organized?*", class: "label-green"
        .selectParent{style: "width: 290px;"}
          = f.select :organization_classification, options_for_select(project_org_class, @project.organization_classification), {:include_blank => 'Select Org Class'}, {:onchange => "updateOrganizedInfo()", class: "styledSelect required"}

    %div
      = f.label :address , "STREET ADDRESS*", class: "label-green"
      = f.text_field :address, :required => true, class: "span8"

    %div.inline
      = f.label :city, "CITY*", class: "label-green"
      = f.text_field :city, :required => true, class: "span4"

    %div.inline{:style => "margin-left:25px;"}
      = f.label :state,"STATE*", class: "label-green"
      .selectParent{style: "width: 140px"}
        = f.select :state, options_for_select(us_states, @project.state), {:required => true}, {:onchange => "updateStateInfo()", class: "styledSelect"}

    %div.inline{:style => "margin-left:25px;"}
      = f.label :zip, "Zipcode*", class: "label-green"
      = f.text_field :zip, :required => true, class: "span2"

    %div
      = f.label :website, :class => "label-green" do
        WEBSITE ADDRESS*
        %span.italic (Format: www.mysite.com)
      = f.text_field :website, :required => true, class: "span8"

    .clearfix
      %div.pull-left
        = f.label :twitter_handle, "Twitter Account*", class: "label-green"
        = f.text_field :twitter_handle,  class: "span4 required"

      %div.pull-left{:style => "margin-left:30px;"}
        = f.label :facebook_page, "Facebook Page*", class: "label-green"
        = f.text_field :facebook_page,  class: "span4 required"

    = hidden_field_tag "step", "first"

    %div
      %p.label-green{:style => "font: bold 12px/12px 'Proxima Nova', arial, sans-serif;text-transform: uppercase;"}
        Payment With Stripe
      %p{:style => "font:normal 13px/19px 'Proxima Nova';"} An account with Stripe, our payment provider, is required for processing credit card transactions and receiving funds. If you already have an account, you can sign in as a returning customer.
      = link_to "https://connect.stripe.com/oauth/authorize?scope=read_only&response_type=code&client_id=#{Settings.stripe.client_id}", :target => "_blank", :class => "stripe-connect" do
        = image_tag "stripe-connect.png"

      %hr{:style => "background: #e0e0e0; margin-left: -19px; margin-right: -19px;"}

      %div
        = f.submit "Save And Continue", :class => "btn", :id => "project-submit"

  .span4{:style => "margin-top:155px;"}
    %h4.title{:style => "margin-bottom:5px;"} SET UP GUIDE
    .well.info
      %h5{:style => "color:#70bf4c;margin-bottom:10px;"} Your Ruuts
      %p First, we are so thrilled to have you on URUUT!

      %p The process of building your project is simple and easy. We will walk you through each step and offer handy tips to make your project a success. For a more detailed guide on how to build and run a successful project, we will send you a complete Project Handbook once your project has been approved.

      %p The first steps are Your Ruuts - which is your basic information - go ahead and get started! Don’t worry if you get stuck - you can come back anytime to edit your project right from your own profile dashboard page.
