%tr
	%td{:valign => "top"}
		%img{:src => "#{@image}/convert?w=620&h=260&fit=crop&align=faces&quality=75", :style => "display:block;"}
		%br
		%br
%tr
	%td{:valign => "top", :style => "color:#444;font-family: Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;line-height: 19px;margin:14px;"}
		Dear #{@donator_name},
		%br
		%br

		Thank you for contributing to #{@project.project_title}!  It’s a very exciting time at #{@project.organization}, and we’re very excited to have you involved with our URUUT campaign.  Generosity just like yours is going to help us change our community, so thank you very much!
		%br
		%br

		%div{:style => "margin: 0;padding: 0;font-family: Helvetica, Arial, 'Lucida Grande', sans-serif;line-height: 1.5;color: #444;font-weight: 900;font-size: 14px;"} CROWDFUNDING NEEDS A CROWD TO WORK!
		%br

		Please use the links below to spread the word about our
		%a{:href => "http://#{@host}/projects/#{@project.id}"} project.
		%br
		%br

		%a{:href => "http://facebook.com/#{@project_facebook}"}
			%img{:src => "http://#{@host}/assets/email-facebook.png", :style => "vertical-align:middle;margin-right:5px;"} #{@project_facebook}
		%a{:href => "http://www.twitter.com/#{@project_twitter}"}
			%img{:src => "http://#{@host}/assets/email-twitter.png", :style => "vertical-align:middle;margin-right:5px;"} #{@project_twitter}
		%br
		%br

		%div{:style => "margin: 0;padding: 0;font-family: Helvetica, Arial, 'Lucida Grande', sans-serif;line-height: 1.5;color: #444;font-weight: 900;font-size: 14px;"} KNOW A POTENTIAL SPONSOR?
		%br

		We are also looking for businesses to partner with. If you come across a company who wants to make a difference in its community, please pass along the link to our
		%a{:href => "http://#{@host}/projects/#{@project.id}"} project page.
		%br
		%br

		Thank you so much, and we can't wait to share more positive updates along the way!
		%br
		%br

		Gratefully,
		%br
		%br
		#{@sponsor_name}
		%br
		%br