%tr
  %td{:valign => "top"}
    %img{:src => "#{@image}/convert?w=620", :style => "display:block;"}
%tr
  %td{:valign => "top"}
    %p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} Let me know that you got this as I am testing Milestone Email issues
    %p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"} Thank you for contributing to the #{@project_title}!  It’s a very exciting time at #{@project_title}, and we’re very excited to have you involved with our URUUT campaign.  Generosity just like yours is going to help us change our community, so thank you very much!
    %h6{:style => "margin: 0;padding: 0;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;line-height: 1.1;margin:14px;color: #444;font-weight: 900;font-size: 14px;"} CROWDFUNDING NEEDS A CROWD TO WORK!
    %p{:style => "color:#444;font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size:13px;margin:14px;"}
      Please use the links below to spread the word about our
      %a{:href => "http://#{@host}/projects/#{@project_id}"} project.