%h1.logo.pull-left
  = link_to "Home", root_path

%ul.nav
  %li
    = link_to "Features", '#', id: 'features-btn'
  %li
    = link_to "Pricing", choose_plan_pages_path
  %li
    = link_to "Resources", resources_pages_path
  %li
    = link_to "Fund Projects", browse_projects_path
  %li
    = link_to "Demo", new_demo_request_path
  - unless user_signed_in?
    %li
      = link_to "Sign Up", new_user_registration_path, :class => "sign-up-link"

%ul.pull-right.right.logged-in
  - if user_signed_in?
    %li.signed-in.dropdown
      %a.dropdown-toggle{'data-toggle' => 'dropdown'}
        = image_tag "#{current_user.avatar}", :class => "img-circle avatar-thumb"
        = current_user.first_name
        = current_user.last_name
        = image_tag 'down-arrow.png'
      %div.dropdown-menu
        .drop-wrapper
          .dropdown-arrow
          %ul
            %li
              = link_to 'My Profile', current_user
            %li
              = link_to 'Edit Account Settings', edit_user_registration_path
            %li
              = link_to 'Logout', destroy_user_session_path
  - else
    %li.dropdown
      = link_to "Log In", "#", :class => "dropdown-toggle", 'data-toggle' => 'dropdown'
      %div.log-in.dropdown-menu
        .drop-wrapper
          .dropdown-arrow
          %ul
            %li
              %h5 Account Log In
              = form_tag user_session_path, remote: true  do
                = hidden_field_tag 'url', request.url
                = text_field_tag 'user[email]', nil, :placeholder => "Your Email"
                = password_field_tag 'user[password]', nil, :placeholder => "Your Password"
                %div
                  = check_box_tag 'user[remember_me]'
                  = label_tag 'user[remember_me]', 'Remember me'
                %button.btn
                  Log in ►

              %a{"data-toggle" => "modal", :href => "#forgotModal", :role => "button", style: "font: italic 12px/15px 'Georgia', georgia, serif !important;text-transform:none;"}
                Forgot your password?

              %hr
              %h5 FACEBOOK LOG IN
              %p It’s fast and easy.
              = link_to user_omniauth_authorize_path(:facebook) do
                = image_tag 'fb-180.png'
              %p
                We’ll never post anything
                %br
                without permission.

.breadcrumb-container{class: ('active' if (controller.action_name == ('fundraising' || 'donor_relationship' || 'analytics' || 'donor_convenience')))}
  %ul.breadcrumbs
    %li{ style: ('opacity: 1;' if request.path == 'pages/fundraising')}
      = link_to fundraising_pages_path do
        = image_tag 'image.png'
        %span.second-title FUNDRAISING
        %span.border

    %li{ style: ('opacity: 1;' if request.path == 'pages/donor_relationship')}
      = link_to donor_relationship_pages_path do
        = image_tag 'image2.png'
        %span.second-title DONOR RELATIONSHIP MANAGEMENT
        %span.border

    %li{ style: ('opacity: 1;' if request.path == 'pages/analytics')}
      = link_to analytics_pages_path do
        = image_tag 'image3.png'
        %span.second-title ANALYTICS AND INSIGHTS
        %span.border

    %li{ style: ('opacity: 1;' if request.path == 'pages/donor_convenience')}
      = link_to donor_convenience_pages_path do
        = image_tag 'image4.png'
        %span.second-title DONOR CONVENIENCE & TRANSPARENCY
        %span.border

  -#%input{:type => "search", :placeholder => "Search"}
#forgotModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :style => "width: 440px;"}
  .modal-header{:style => "border-bottom: none;"}
    %button.close.label-green{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :style => "font-family: 'Proxima Nova', sans-serif; font-size: 12px;opacity: 1;"}
      Close X
    %h3#myModalLabel.tittle{:style => "margin-bottom: 0;"} FORGOT YOUR PASSWORD?
  .modal-body{:style => "padding-top: 0; font-size: 13px; letter-spacing: 1px;"}
    %p Enter the email address you used when you signed up and we'll send you instructions to reset your password.
    %p For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.

    = form_for(:user, :as => :user, :url => password_path(:user), :html => { :method => :post, remote: true, class: "forgot-password" }, style: "margin-top: 20px;") do |f|
      .email
        %h4.label-green
          Email Address
          %span.error-container.error-email{style: "margin-top: 3px;"}
        = f.email_field :email, class: "email-address-forgot"
      %div{:style => "text-align: center"}
        = f.submit "Reset My Password ►", class: "btn button-reset", style: "background: #81C263; border-radius: 5px; padding-top: 20px; padding-bottom: 20px; behavior: url('assets/PIE-1.0.0/PIE.htc');"

#errorModalForm.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :style => "width: 440px;"}
  .modal-header{:style => "border-bottom: none;"}
    %button.close.label-green{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :style => "font-family: 'Proxima Nova', sans-serif; font-size: 12px;opacity: 1;"}
      Close X
    %h3#myModalLabel.tittle{:style => "margin-bottom: 0;"} LOGIN UNSUCCESSFUL
  .modal-body{:style => "padding-top: 0; font-size: 13px; letter-spacing: 1px;"}
    %p It appears you've entered the wrong email or password.  Please try again.

#forgotPasswordModalForm.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :style => "width: 440px;"}
  .modal-header{:style => "border-bottom: none;"}
    %button.close.label-green{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button", :style => "font-family: 'Proxima Nova', sans-serif; font-size: 12px;opacity: 1;"}
      Close X
    %h3#myModalLabel.tittle{:style => "margin-bottom: 0;"} FORGOT YOUR PASSWORD?
  .modal-body{:style => "padding-top: 0; font-size: 13px; letter-spacing: 1px;"}
    %p{id: "updated-email-forgot"} We've sent an email to #{session[:email_forgot_password]} with instructions on how to change your password.
    %p{id: "updated-email-forgot-2"} It may take a few minutes to receive the email. If you don't receive the email:
    %ul{id: "updated-email-forgot-3"}
      %li Check your junk mail folder.
      %li To re-send the email, please <a id="click-here">click here.</a>

= javascript_include_tag "pages"

:javascript
  $(".forgot-password").validate({
    rules: {
      "user[email]": {
        required: true,
        email: true
      }
    },
    errorPlacement: function(error, element) {
      error.appendTo(element.parent().find(".error-container"));
    }
  });

  $('.modal-body form').on('submit', function(e){
    e.preventDefault();
    if (!$(this).valid()) return;
      $('.modal-body form input.button-reset').val("LOADING..");
  });

  $(document).ready(function() {
    $("#click-here").click(function(){
      $("#forgotPasswordModalForm").modal("hide");
      $("#forgotModal").modal("show");
      $(".email-address-forgot").val("");
    })
    $("#features-btn").click(function(){
      $(".navbar .breadcrumb-container").toggle();
      $(this).parent().toggleClass('active-menu');
      if ($(".navbar").hasClass("submenu-active")){
        $(".navbar").removeClass("submenu-active");
      }else{
        $(".navbar").addClass("submenu-active");
      }
    })
    if ($(".breadcrumb-container").hasClass("active")){
      $(".navbar").addClass("submenu-active");
    }else{
      $(".navbar").removeClass("submenu-active");
    }
  });
