%h1.logo.pull-left
  = link_to "Home", root_path

%ul.nav
  %li
    = link_to "Find Projects", browse_projects_path
  %li
    = link_to new_project_path do
      Get Funding
      = image_tag 'down-arrow.png', :class => 'down'
  %li
    = link_to about_pages_path do
      About URUUT  
      = image_tag 'down-arrow.png', :class => 'down'
  -#%li
    -#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)

%ul.pull-right.right.logged-in
  - if user_signed_in?
    %li.signed-in
      %a
        = image_tag(current_user.avatar_url(:thumb), :class => "img-circle avatar-thumb")
        = current_user.name
        = image_tag 'down-arrow.png', :class => "down"
      %div.dropdown
        %div
          %h5 My Account
          %ul
            %li
              = link_to 'Profile', users_profile_path
            %li
              = link_to 'Logout', destroy_user_session_path
  - else
    %li
      = link_to "Log In", user_session_path
      %span.or or
      = link_to "Sign Up", new_user_registration_path, :class => "sign-up-link"

  -#%input{:type => "search", :placeholder => "Search"}
