%ul.nav{:style => "float:left;"}
  %li
    = link_to "Projects", pages_discover_path
%ul.nav{:style => "float:right"}
  - if user_signed_in?
    %li
      %a
        = image_tag(get_gravatar(current_user.email), :style => "vertical-align:middle", :class => "img-circle")
        = current_user.name
        = image_tag('down-arrow.png')
      %div.dropdown
        %div
          %h5 My Account
          %ul
            %li
              = link_to('Profile', users_profile_path)
            %li
              = link_to 'Logout', "/users/sign_out", :method => "delete"

        / -if current_user.municipality #Add this back in after testing
        %div
          %h5 My Projects
          %ul
            %li
              = link_to('New Project', new_project_path)
            %li
              = link_to('Show Projects', projects_path)
  - else
    %li
      = link_to('Login', new_user_session_path)
  - if user_signed_in?
    / %li
    /   = link_to('Edit account', edit_user_registration_path)
  - else
    %li
      = link_to('Sign up', new_user_registration_path)