- if @need_doctype
  !!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=960, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "URUUT"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    - if controller_name == "projects" and action_name == "show"
      %meta{:property => "og:image", :content => "#{@project.large_image}"}
      %meta{:property => "og:title", :content => "#{@project.title}"}
    - else
      %meta{:property => "og:image", :content => "#{asset_path('logo-seed.png') }"}
      %meta{:property => "og:title", :content => ""}
      %meta{:property => "og:description", :content => "Giving You The Power To Create A Better Community"}
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag  "default/application", "trontastic/jquery-ui-1.8.22.custom.css", "leaflet.css", "style.css.scss", :media => "all"
    = stylesheet_link_tag "image_select/jquery.Jcrop.min"
		= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"
    = javascript_include_tag "application", "https://js.stripe.com/v1/", :media => "all"
    = javascript_include_tag "jquery.ui.mouse", "ui.draggable", "jquery.ui.touch-punch.min"
    = javascript_include_tag "jquery.Jcrop.min"
    /[if lt IE 9]
      = javascript_include_tag "selectivizr-min"
    = filepicker_js_include_tag
    = javascript_tag do
      Stripe.setPublishableKey("#{STRIPE_PUBLIC_KEY}");

    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #fb-root
      :javascript
        window.fbAsyncInit = function() {
          // init the FB JS SDK
          FB.init({
            appId      : "#{Settings.facebook.api_key}",                        // App ID from the app dashboard
            status     : true,                                 // Check Facebook Login status
            xfbml      : true                                  // Look for social plugins on the page
          });

          // Additional initialization code such as adding Event Listeners goes here
        };

        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    #wrap
      %header.navbar
        .container
          = render 'layouts/navigation'

      .container
        .row
          = render 'layouts/messages' if !controller_name.eql?("sessions") || !controller_name.eql?("pages")
          = yield
      #push
    = render 'partials/footer'
= javascript_include_tag "pages"

/ - unless @project.id.nil?
/   %script
/     project_id = #{@project.id};
/     console.log("Project Id: #{@project.id}");

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42269391-1', 'uruut.com');
  ga('send', 'pageview');

:javascript
  stripe_pub_key = "#{Settings.stripe.pub_key}";
  // if(window.opener) {
  //   window.opener.location.reload(true);
  //   window.close()
  // }

  //$('.social-login a').click(function(e) {
  //  e.preventDefault();
  //  var ahref = $(this).attr('href');
  //  console.log(ahref);
  //  window.open(ahref,'_blank', 'height=500,width=500,location=no,menubar=no');
  //})

  $('.stripe-connect').click(function(e) {
    e.preventDefault();
    var ahref = $(this).attr('href');
    console.log(ahref);
    console.log($('#connected').val());
    if($('#connected').val() !== 'true') {
      window.open(ahref,'_blank', 'height=500,width=500,location=no,menubar=no');
    }
  })

  function showCoords(coords)
  {
    // get original image resolution info
    var image = new Image();
    image.src = $("#cover-priview").attr('src');

    var w = $("#cover-priview").width();
    var wOriginal = image.width;
    var ratio = parseInt(wOriginal) / parseInt(w);
    $('#x_position').val(Math.round(coords.x * ratio));
    $("#y_position").val(Math.round(coords.y * ratio));
    $('#width_after').val(Math.round(coords.w * ratio));
    $("#height_after").val(Math.round(coords.h * ratio));
  };

  var updatePlantingSeedImage = function(event) {
    console.log(event.fpfile.url);
    var plantingSeedImage = event.fpfile.url;

    $.ajax({
      url: '/projects/save_image',
      method: 'POST',
      data: { seed_image: plantingSeedImage }
    }).done(function(){
      console.log("finished");
      $(".seed-action-container").show();
      $('.seed-content').attr("style", "width: 100%").html('<img src="' + plantingSeedImage + '" style="float:left; width:100%" />');
    });
  }

  var updateCultivationImage = function(event) {
    console.log(event.fpfile.url);
    var cultivationImage = event.fpfile.url;

    $.ajax({
      url: '/projects/save_image',
      method: 'POST',
      data: { cultivation_image: cultivationImage }
    }).done(function(){
      $(".cultivation-action-container").show();
      $('.cultivation-content').attr("style", "width: 100%").html('<img src="' + cultivationImage + '" style="float:left; width: 380px; height: 310px;" />');
    });
  }

  var updateAvatar = function(event) {
    console.log(event.fpfile.url);
    var avatarImage = event.fpfile.url + '/convert?w=100&h=100&fit=crop';

    console.log(avatarImage);
    $('#user_avatar').val(avatarImage);
    $('#avatar-img').attr('src', avatarImage);
  }

  var updateProgressbar = function(id, value) {
    console.log(id);
    $('.progressbar' + id).progressbar({
      value: value
    });
  }

  $(function(){
    $('form fieldset p a').addClass('btn');
    $('form [id*="edit_project"]').h5Validate();
    $('form [id*="new_project"]').h5Validate();

    $('.coverphoto').bind('change', function(event){
      console.log("Hello Close");
    });

    $('#myModal form').submit(function() {
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
        console.log(json);
      });
      return false; // prevents normal behaviour
    });
  });
