%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Myapp"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "default/application", "trontastic/jquery-ui-1.8.22.custom.css", "http://cdn.leafletjs.com/leaflet-0.4/leaflet.css", "http://fonts.googleapis.com/css?family=Ubuntu:300,400,500",  "http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic", :media => "all"
    = javascript_include_tag "application", "https://js.stripe.com/v1/"
    = javascript_tag do
      Stripe.setPublishableKey('pk_0EJjrLzbYh33TkSMmfGjt4upjqVOW');		
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #fb-root
      :javascript

        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=517310951621035";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    = render "partials/modal_message"
    = render "partials/modal_contact"
    = render "partials/modal_login"
    = render "partials/modal_signup"
    = render "partials/modal_map"

    %header.navbar.navbar-fixed-top
      .container
        = render 'layouts/navigation'
    
    #main{:role => "main"}
      .container
        .content
          .row-fluid
            .span12
              = render 'layouts/messages'
              = yield
          
    = render 'partials/footer'
		
:javascript
  $(function(){
    $('form fieldset p a').addClass('btn');
    $('#steps li').each(function(){
      var child = $(this).find('span');
      child.text().replace(/:/g, '');
      $(this).html(child);
    });

    $('[id^=stepDesc]').click(function(){
      var l = $(this).attr('id');
      var num = l.substr(-1, l.length-1);
      $('div[id^=step]').hide();
      $('div#step' + num).show();
      $('[id^=stepDesc]').removeClass('current');
      $(this).addClass('current');
    });
    $('#myModal form').submit(function() {  
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
        console.log(json);
      });
      return false; // prevents normal behaviour
    });
  });
