%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Myapp"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "default/application", "trontastic/jquery-ui-1.8.22.custom.css", "http://cdn.leafletjs.com/leaflet-0.4/leaflet.css",  "https://d3jyn100am7dxp.cloudfront.net/assets/widget_embed.cssgz?1350971636", "http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic", :media => "all"
    = javascript_include_tag "application", "https://js.stripe.com/v1/"
    = javascript_tag do
      Stripe.setPublishableKey('pk_0EJjrLzbYh33TkSMmfGjt4upjqVOW');		
    = csrf_meta_tags
    = yield(:head)
  %body
    #fb-root
      :javascript
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '517310951621035', // App ID
            channelUrl : '//uruut.herokuapp.com/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });
            // Additional init code here
          FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
                // connected
            } else if (response.status === 'not_authorized') {
                // not_authorized
                login();
            } else {
                // not_logged_in
                login();
            }
          });
        };

        function login() {
          FB.login(function(response) {
            if (response.authResponse) {
              // connected
              testAPI();
            } else {
              // cancelled
            }
          });
        }

        function testAPI() {
          console.log('Welcome!  Fetching your information.... ');
          FB.api('/me', function(response) {
            console.log('Good to see you, ' + response.name + '.');
          });
        }

        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=487449314607252";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    = render "partials/modal_message"
    = render "partials/modal_contact"
    = render "partials/modal_login"
    = render "partials/modal_signup"
    = render "partials/modal_map"

    %header.navbar
      .container
        = render 'layouts/navigation'
    .container
      .row-fluid
        .span12.banner{:style => "padding: 10px;border: 1px solid #DFDFDF;box-shadow: 0 0 7px rgba(0, 0, 0, .10);margin-bottom:35px;"}
          #map{:style => "height:350px;width:100%;"}
        
    #main{:role => "main"}
      .container
        .content
          .row-fluid
            .span12
              = render 'layouts/messages'
              = yield
          
      = render 'partials/footer'

-#%script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyAucG9ZTBqTLefKHdk_592S08LTS3lvD_k&sensor=false"}

%script{:src => "http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"}
%script{:src => "http://maps.stamen.com/js/tile.stamen.js?v1.2.1"} 
%script{:src => "formToWizard.js"}
%script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"} 

:javascript
  $(function(){
    //initialize();	
    var map = L.map('map').setView([33.7489, -84.3881], 11);

    L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
    }).addTo(map);
		
    L.marker([33.7489, -84.3881]).addTo(map).bindPopup('<h4>Welcome to URUUT</h4>').openPopup();
		  		
    $('#new_project').formToWizard({ submitButton: 'project-submit' });
    $('.edit_project').formToWizard({ submitButton: 'project-submit' });
    $('form fieldset p a').addClass('btn');
    $('#myModal form').submit(function() {  
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
        console.log(json);
      });
      return false; // prevents normal behaviour
    });
  });
