!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Myapp"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", "trontastic/jquery-ui-1.8.22.custom.css", :media => "all"
    = javascript_include_tag "application", "https://js.stripe.com/v1/", "formToWizard.js"
    = javascript_tag do
      Stripe.setPublishableKey('pk_0EJjrLzbYh33TkSMmfGjt4upjqVOW');
    %script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    %script
      :plain
				
        function initialize() {
          geocoder = new google.maps.Geocoder();
          var mapOptions = {
            center: new google.maps.LatLng(-34.397, 150.644),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var canvas = document.getElementById('map_canvas');
          map = new google.maps.Map(canvas,mapOptions);
        }
				
        $('div.project div.location img').click(function(){
          console.log('hello');
        });
				
        function codeAddress() {
            geocoder.geocode( { 'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
              } else {
                alert("Geocode was not successful for the following reason: " + status);
              }
            });
         }
				 
         $(function(){
           $('div.project div.location img').click(function(){
             address = $(this).siblings('span').html().trim();
             console.log(address);
             initialize();
             codeAddress();
             $('#myMap').modal();
           });
         });
				
    = csrf_meta_tags
    = yield(:head)
  %body

    #myModal.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :style => "display:none"}
      %form{:action => "#{pages_contact_path}"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3#myModalLabel Contact Us
        .modal-body
          %div
            %label Name
            %input{:type => 'text', :name => 'name'}
          %div
            %label Email
            %input{:type => 'text', :name => 'email'}
          %div
            %label Message
            %textarea{:name => 'message'}
        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
          %button.btn.btn-primary.send Send Message
					
    #myMap.modal{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", :style => "display:none"}
      %form{:action => "#{pages_contact_path}"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3#myModalLabel Project Location
        .modal-body
          #map_canvas{:style => "width:500px;height:450px;position:relative;"}
        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

    %header.navbar
      .container
        %h1.logo
          = link_to "Home", root_path
        %nav.navbar-inner
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %hr
          %footer
            .row
              %nav.span4
                %a{:href => "", "data-toggle" => "modal", "data-target" => "#myModal"}Contact Us
                %a{:href => "", "data-toggle" => "modal", "data-target" => "#myMap"}Map
                %a{:href => "http://hashfire.uservoice.com/knowledgebase"}Help
                %a Terms of Use
                %a Privacy Policy
              %p.span4.offset4{:style => "text-align:right;"}
                &copy; 2012 URUUT.com
								
/ %script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyAucG9ZTBqTLefKHdk_592S08LTS3lvD_k&sensor=false"}

:javascript
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/EZcN5zkxSoms2jGf8ncVmw.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();

  $(function(){
    //initialize();
    $('#new_project').formToWizard({ submitButton: 'project-submit' });
    $('.edit_project').formToWizard({ submitButton: 'project-submit' });
    $('form fieldset p a').addClass('btn');
    $('#myModal form').submit(function() {  
      var valuesToSubmit = $(this).serialize();
      $.ajax({
          url: $(this).attr('action'), //sumbits it to the given url of the form
          data: valuesToSubmit,
          dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
          console.log(json);
      });
    return false; // prevents normal behaviour
  });
  })