%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Myapp"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag  "default/application", "trontastic/jquery-ui-1.8.22.custom.css", "http://cdn.leafletjs.com/leaflet-0.5/leaflet.css", "http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css", :media => "all"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", "application", "https://js.stripe.com/v1/", :media => "all"
    = filepicker_js_include_tag
    = javascript_tag do
      Stripe.setPublishableKey("#{STRIPE_PUBLIC_KEY}");

    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #fb-root
      :javascript
        window.fbAsyncInit = function() {
          // init the FB JS SDK
          FB.init({
            appId      : '406604396088865',                        // App ID from the app dashboard
            channelUrl : '//127.0.0.1:8080/channel.html', // Channel file for x-domain comms
            status     : true,                                 // Check Facebook Login status
            xfbml      : true                                  // Look for social plugins on the page
          });

          // Additional initialization code such as adding Event Listeners goes here
        };

        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=406604396088865";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    #wrap
      %header.navbar
        .container
          = render 'layouts/navigation'

      .container
        .row
          = render 'layouts/messages'
          = yield
      #push
    = render 'partials/footer'
= javascript_include_tag "pages"

:javascript
  if(window.opener) {
    window.opener.location.reload(true);
    window.close()
  }
	
  //$('.social-login a').click(function(e) {
  //  e.preventDefault();
  //  var ahref = $(this).attr('href');
  //  console.log(ahref);
  //  window.open(ahref,'_blank', 'height=500,width=500,location=no,menubar=no');
  //})
	
  $('.stripe-connect').click(function(e) {
    e.preventDefault();
    var ahref = $(this).attr('href');
    console.log(ahref);
    window.open(ahref,'_blank', 'height=500,width=500,location=no,menubar=no');
  })

  var updateCover = function(event){
    console.log(event.fpfile.url);
    var largeImage = event.fpfile.url;

    $.ajax({
      url: '/projects/save_image',
      method: 'PUT',
      data: {
        large_image: largeImage
        }
    }).done(function(){
      console.log("finished");
      $('#large_image').css('background-image','url(' + largeImage + ')').css('-webkit-background-size', 'cover').css('-moz-background-size', 'cover').css('background-size', 'cover');
    });
  }

  var updatePlantingSeedImage = function(event) {
    console.log(event.fpfile.url);
    var plantingSeedImage = event.fpfile.url;

    $.ajax({
      url: '/projects/save_image',
      method: 'PUT',
      data: {
        seed_image: plantingSeedImage
        }
    }).done(function(){
      console.log("finished");
      $('.planting-seed-image').remove();
      $('#planting_seeds').prepend('<div class="seed-image"><img src="' + plantingSeedImage + '"</div>');
    });
  }
	
  var updateCultivationImage = function(event) {
    console.log(event.fpfile.url);
    var cultivationImage = event.fpfile.url;

    $.ajax({
      url: '/projects/save_image',
      method: 'PUT',
      data: {
        cultivation_image: cultivationImage
        }
    }).done(function(){
      console.log("finished");
      $('.cultivation-image').remove();
      $('#cultivation .details').prepend('<div class="cultivation-image"><img src="' + cultivationImage + '"</div>');
    });
  }
	
  var updateAvatar = function(event) {
    console.log(event.fpfile.url);
    var avatarImage = event.fpfile.url + '/convert?w=100&h=100&fit=crop';

    console.log(avatarImage);
    $('#user_avatar').val(avatarImage);
    $('#avatar-img').attr('src', avatarImage);
  }
	
  var updateProgressbar = function(id, value) {
    console.log(id);
    $('.progressbar' + id).progressbar({
      value: value
    });
  }

  $(function(){
    $('form fieldset p a').addClass('btn');
    $('form [id*="edit_project"]').h5Validate();
    $('form [id*="new_project"]').h5Validate();
    $('#project_state').selectbox();
    $('#project_duration').selectbox();
    $('.pages #category').selectbox();
    $('.pages #location').selectbox();

    $('.coverphoto').bind('change', function(event){
      console.log("Hello Close");
    });

    $('#myModal form').submit(function() {
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
        console.log(json);
      });
      return false; // prevents normal behaviour
    });
  });
