- if controller_name == "projects" and action_name == "show"
  !!!
  %html{:itemscope => "", :itemtype => "http://schema.org/LocalBusiness", :xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://ogp.me/ns/fb#"}
    %head
      %meta{:charset => "utf-8"}
      %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
      %meta{:name => "viewport", :content => "width=960, maximum-scale=1"}
      %title= content_for?(:title) ? yield(:title) : "URUUT"
      %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "author"}
      - if controller_name == "projects" and action_name == "show"
        %meta{:property => "og:image", :content => "#{@project.large_image}"}
        %meta{:property => "og:title", :content => "#{@project.project_title} | URUUT"}
        %meta{:property => 'og:description', :content=> "#{@project.title}" }
      - else
        %meta{:property => "og:image", :content => "#{asset_path('logo-seed.png') }"}
        %meta{:property => "og:title", :content => ""}
        %meta{:property => "og:description", :content => "Giving You The Power To Create A Better Community"}
      = favicon_link_tag 'favicon.ico'
      = stylesheet_link_tag    "default/application", "trontastic/jquery-ui-1.8.22.custom.css", "leaflet.css", "style.css.scss", "prettyPhoto.css", :media => "all"
      = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js", "application", "https://js.stripe.com/v1/", "jquery.prettyPhoto.js", :media => "all"
      /[if lt IE 9]
        = javascript_include_tag "selectivizr-min"
      = filepicker_js_include_tag
      = javascript_include_tag "pages"
      = javascript_tag do
        Stripe.setPublishableKey("#{STRIPE_PUBLIC_KEY}");

      = csrf_meta_tags
      = yield(:head)
    %body{:class => "#{controller_name} #{action_name}"}
      #fb-root
        :javascript

          window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
              appId      : "#{Settings.facebook.api_key}",                        // App ID from the app dashboard
              channelUrl : '', // Channel file for x-domain comms
              status     : true,                                 // Check Facebook Login status
              xfbml      : true                                  // Look for social plugins on the page
            });

            // Additional initialization code such as adding Event Listeners goes here
          };

          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      #wrap
        %header.navbar
          .container
            = render 'layouts/navigation'
        = yield
        #push
      = render 'partials/footer'
- else
  !!!
  %html
    %head
      %meta{:charset => "utf-8"}
      %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
      %meta{:name => "viewport", :content => "width=960, maximum-scale=1"}
      %title= content_for?(:title) ? yield(:title) : "URUUT"
      %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "author"}
      - if controller_name == "projects" and action_name == "show"
        %meta{:property => "og:image", :content => "#{@project.large_image}"}
        %meta{:property => "og:title", :content => "#{@project.project_title} | URUUT"}
        %meta{:property => 'og:description', :content=> "#{@project.title}" }
      - else
        %meta{:property => "og:image", :content => "#{asset_path('logo-seed.png') }"}
        %meta{:property => "og:title", :content => ""}
        %meta{:property => "og:description", :content => "Giving You The Power To Create A Better Community"}
      = favicon_link_tag 'favicon.ico'
      = stylesheet_link_tag    "default/application", "trontastic/jquery-ui-1.8.22.custom.css", "leaflet.css", "style.css.scss", "prettyPhoto.css", :media => "all"
      = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js", "application", "https://js.stripe.com/v1/", "jquery.prettyPhoto.js", :media => "all"
      /[if lt IE 9]
        = javascript_include_tag "selectivizr-min"
      = filepicker_js_include_tag
      = javascript_include_tag "pages"
      = javascript_tag do
        Stripe.setPublishableKey("#{STRIPE_PUBLIC_KEY}");

      = csrf_meta_tags
      = yield(:head)
    %body{:class => "#{controller_name} #{action_name}"}
      #fb-root
        :javascript

          window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
              appId      : "#{Settings.facebook.api_key}",                        // App ID from the app dashboard
              channelUrl : '', // Channel file for x-domain comms
              status     : true,                                 // Check Facebook Login status
              xfbml      : true                                  // Look for social plugins on the page
            });

            // Additional initialization code such as adding Event Listeners goes here
          };

          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      #wrap
        %header.navbar
          .container
            = render 'layouts/navigation'
        = yield
        #push
      = render 'partials/footer'
			
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42269391-1', 'uruut.com');
  ga('send', 'pageview');

:javascript
  stripe_pub_key = "#{Settings.stripe.pub_key}";
  
  var updateProgressbar = function(id, value) {
    console.log(id);
    console.log(value);
    $('.progressbar' + id).progressbar({
      value: value
    });
  }

  $(function(){
    $('form fieldset p a').addClass('btn');
    $('form [id*="edit_project"]').h5Validate();
    $('form [id*="new_project"]').h5Validate();

    $('.coverphoto').bind('change', function(event){
      console.log("Hello Close");
    });

    $('#myModal form').submit(function() {
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        url: $(this).attr('action'), //sumbits it to the given url of the form
        data: valuesToSubmit,
        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
      }).success(function(json){
        console.log(json);
      });
      return false; // prevents normal behaviour
    });
  });
