- if params[:sign_up_plan] || (params[:user] && params[:user][:sign_up_plan])
  = f.hidden_field :sign_up_plan, value: params[:sign_up_plan] || (params[:user] && params[:user][:sign_up_plan])
- if params[:full_registration] || (params[:user] && params[:user][:full_registration])
  = f.hidden_field :full_registration, value: params[:full_registration] || (params[:user] && params[:user][:full_registration])
%h4 Tell us about you.
%br
.row-fluid
  .span6.field
    = f.label :first_name, class: "label-green" do
      First Name*
      %div.error-container
        %label.error
    = f.text_field :first_name
  .span6.field
    = f.label :last_name, class: "label-green" do
      Last Name*
      %div.error-container
        %label.error
    = f.text_field :last_name

- unless @is_donor
  %div.field
    = f.label :organization, class: "label-green" do
      %div.error-container
        %label.error
      Organization name*
    = f.text_field :organization

%div.field
  = f.label :email, class: "label-green" do
    %div.error-container
      %label.error
    Email address*
  = f.email_field :email

- unless @is_donor || @is_sponsor
  .row-fluid
    .span6.field
      = f.label :telephone, class: "label-green" do
        Phone number*
        %div.error-container
          %label.error
      = f.text_field :telephone, id: "user_telephone"

.row-fluid
  .span6.field
    = f.label :password, class: "label-green" do
      Password*
      %div.error-container
        %label.error
    = f.password_field :password, nil, id: "user_password"

  .span6.field
    = f.label :password_confirmation, class: "label-green" do
      Password Confirmation*
      %div.error-container
        %label.error
    = f.password_field :password_confirmation, nil, id: "user_password_confirmation"
  = label_tag 'pwd[disclaimer]', class: "label-black" do
  *password needed to store your tax receipt.
