.span4.social-login{:style => "margin-top:35px;"}
  %h4 Easy Account Login
  .well
    %h6 LOG IN WITH FACEBOOK
    %p It’s fast and easy.
    = link_to '/auth/facebook', :target => "_blank" do
      = image_tag('fb-login.png')
    %p.grey We'll never post anything without permission.

    %hr

    %h6 LOG IN WITH TWITTER
    %p It’s fast and easy.
    = link_to '/auth/twitter', :target => "_blank" do
      = image_tag('tw-login.png')
    %p.grey We'll never post anything without permission.

    %hr

    %h6 LOG IN WITH LINKEDIN
    %p It’s fast and easy.
    = link_to '/auth/linkedin', :target => "_blank" do
      = image_tag('li-login.png')
    %p.grey We'll never post anything without permission.
