.row{:style => "margin-top:35px;"}
  .span8{:style => "margin-top:15px;"}
    %h4 Edit account information
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name),
      :html => { :method => :put, :class => "well registration-edit" },) do |f|
      = devise_error_messages!

      %div
        = f.label :avatar, "Profile image "
        = f.hidden_field :avatar, :value => current_user.avatar
        .row{:style => "margin-left:0px;margin-bottom:10px;"}
          .span2
            = image_tag "#{current_user.avatar}", :id => "avatar-img"
          .span4
            #avatar-file
              %input{:type => 'filepicker', :name => 'avatar', 'data-fp-button-text' => 'Upload', 'data-fp-apikey' => Settings.filepicker.api_key, 'data-fp-button-class' => 'avatar btn', 'onchange' => 'updateAvatar(event)', 'data-fp-mimetypes' => 'image/*', 'data-fp-services' => 'BOX,COMPUTER,FACEBOOK,DROPBOX,INSTAGRAM,FLICKR,PICASA,INSTAGRAM'}
              %p.note
                %strong Note:
                Logo files should be at least 200px x 200px jpeg, gif or png files

      %div.inline.well-half
        = f.label :first_name
        = f.text_field :first_name
      %div.inline.well-half{style: "margin-left: 19px;"}
        = f.label :last_name
        = f.text_field :last_name
      %div
        = f.label :email
        = f.email_field :email

      %div.inline.well-half
        / = f.label :password
        %h5.label-green{style: "margin-bottom: 0;"}
          Password
          %span.italic{style: "font-size: 11px; letter-spacing: 0;"}
            (Must be at least 6 characters long)
        = f.password_field :password, :autocomplete => "off", :class => "input-mini"
      %div.inline.well-half{style: "margin-left: 19px;"}
        = f.label :password_confirmation, "Re-type password"
        = f.password_field :password_confirmation

      %div
        %h5.label-green{style: "margin-bottom: 0;"}
          Business or Organization Name
          %span.italic{style: "font-size: 11px; letter-spacing: 0;"}
            (If Applicable)
        = f.text_field :organization
      %div
        %h5.label-green{style: "margin-bottom: 0;"}
          Mission Statement / About
          %span.italic{style: "font-size: 11px; letter-spacing: 0;"}
            (275 characters remaining)
        = f.text_area :mission, :rows => 4
      = f.label :subscribed, "Email subscriptions"
      %div.switch.newsletter-popover{:style => "float:left;margin-right:10px;"}
        = f.check_box :subscribed
        %label
          %i
      %div{:style => "margin-top:11px;"}
        %h5.newsletter-popover Uruut Recurring Emails

      %hr
      %button.btn.btn-primary{:type => "submit"}
        Submit changes
        %span
  .span4
    %h3.title{:style => "margin-bottom:5px;"} My badges
    .well.info.badge-wrapper
      - @user.badges.each do |badge|
        .profile-badge
          = image_tag badge.custom_fields[:image], :class => "img-circle", :data => { :content => badge.name }
