.row{:style => "margin-top:35px;"}
  .span8{:style => "margin-top:15px;"}
    %h4 Edit account information
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name),
      :html => { :method => :put, :class => "well registration-edit" },) do |f|
      = devise_error_messages!

      %div
        = f.label :avatar, "Profile image "
        = f.hidden_field :avatar, :value => ""
        .row{:style => "margin-left:0px;margin-bottom:10px;"}
          .span2
            = image_tag "#{current_user.avatar}", :id => "avatar-img" 
          .span4
            #avatar-file
              %input{:type => 'filepicker', :name => 'avatar', 'data-fp-button-text' => 'Upload', 'data-fp-apikey' => ENV['FILEPICKER_API'], 'data-fp-button-class' => 'avatar btn', 'onchange' => 'updateAvatar(event)'}
              %p.note
                %strong Note:
                Logo files should be at least 200px x 200px jpeg, gif or png files

      %div
        = f.label :name
        = f.text_field :name
      %div
        = f.label :email
        = f.email_field :email
      .row
        .span5
          %div
            = f.label :password
            = f.password_field :password, :autocomplete => "off", :class => "input-mini"
        .span5
          %div
            = f.label :password_confirmation, "Re-type password"
            = f.password_field :password_confirmation
      %div
        = f.label :organization, "Business or organization name"
        = f.text_field :organization
      %div
        = f.label :mission, "Mission statement / about"
        = f.text_area :mission, :rows => 4
      = f.label :subscribed, "Email subscriptions"
      %div.switch.newsletter-popover{:style => "float:left;margin-right:10px;"}
        = f.check_box :subscribed
        %label
          %i
      %div{:style => "margin-top:11px;"}
        %h5.newsletter-popover Uruut Recurring Emails

      %hr
      %button.btn.btn-primary{:type => "submit"}
        Submit changes
        %span
  .span4
    %h3.title{:style => "margin-bottom:5px;"} My badges
    .well.info
      %p How much do you want to raise on URUUT?

      %p Remember to keep in mind the cost of a campaign and perks fulfillment. We suggest you add 10% to the amount you need to raise. This will cover URUUT’s 5% fee, our payment providers 3% fee and any potential extras.
