.span8{:style => "margin-top:35px;"}
  %h4 Create an account
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "well"}) do |f|
    = devise_error_messages!

    %div
      = f.label :name
      = f.text_field :name, :size => 45

    %div
      = f.label :email
      = f.email_field :email, :size => 45

    %div.inline
      = f.label :password
      = f.password_field :password, :size => 17

    %div.inline{:style => "margin-left:25px;"}
      = f.label :password_confirmation
      = f.password_field :password_confirmation, :size => 17

    %div.inline
      = button_tag(type: 'submit', class: "btn btn-primary", id: "project-submit", style: "margin:20px 0 0;float:left;") do
        Create My Account
        = image_tag('arrow.png')

      %p{:style => "color:#b6b6b4;float:left;width:270px;margin-top:25px;margin-left:20px;font-family:arial;"}
        By creating an account, you agree to our 
        = link_to "terms of use", terms_pages_path, :target => "_blank"
        and
        = link_to "privacy policy", "http://www.google.com", :target => "_blank"

  / = render "devise/shared/links"

= render "social-login"