:css
  input[type="text"], input[type="email"], input[type="date"], input[type="password"] {
  width: 100% !important;
  }


.span8{:style => "margin-top:35px;"}
  %h4.step_name Create your account
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "well"}) do |f|
    = devise_error_messages!
    - if params[:sign_up_plan] || (params[:user] && params[:user][:sign_up_plan])
      = f.hidden_field :sign_up_plan, value: params[:sign_up_plan] || (params[:user] && params[:user][:sign_up_plan])
    - if params[:full_registration] || (params[:user] && params[:user][:full_registration])
      = f.hidden_field :full_registration, value: params[:full_registration] || (params[:user] && params[:user][:full_registration])
    %h4 Tell us about you.
    %br
    .row
      .span3.well-half
        = f.label :first_name, class: "label-green" do
          First Name*
          %span.error-container
        = f.text_field :first_name
      .span3.well-half
        = f.label :last_name, class: "label-green" do
          Last Name*
          %span.error-container
        = f.text_field :last_name

    %div
      = f.label :organization, class: "label-green" do
        %span.error-container
        Organization name*
      = f.text_field :organization

    %div
      = f.label :email, class: "label-green" do
        %span.error-container
        Email address*
      = f.email_field :email

    .row
      .span3.well-half
        = f.label :telephone, class: "label-green" do
          Phone number*
          %span.error-container
        = f.text_field :telephone, id: "user_telephone"

    .row
      .span3.well-half
        = f.label :password, class: "label-green" do
          Password*
          %span.error-container
        = f.password_field :password, id: "user_password"

      .span3.well-half
        = f.label :password_confirmation, class: "label-green" do
          Password Confirmation*
          %span.error-container
        = f.password_field :password_confirmation, id: "user_password_confirmation"

    %div.inline
      - if (params[:sign_up_plan] || (params[:user] && params[:user][:sign_up_plan])) == 'fee'
        = f.submit 'Finish', class: "btn btn-primary", id: "project-submit", style: "margin:20px 0 0;float:left; border-radius: 5px; width: 230px;"
      - else
        = f.submit 'Continue', class: "btn btn-primary", id: "project-submit", style: "margin:20px 0 0;float:left; border-radius: 5px; width: 230px;"

.span4
  .well.without-title{style: "margin-top: 75px;"}
    %h6 LOG IN WITH FACEBOOK
    %p It’s fast and easy.
    = link_to "/users/auth/facebook" do
      = image_tag 'fb-login.png'
    %br
    %p.grey We'll never post anything without permission.

:javascript
  $('#new_user').validate({
    rules: {
      "user[email]":{
        required: true,
        email: true
      },
      "user[first_name]":{
        required: true,
      },
      "user[last_name]":{
        required: true,
      },
      "user[password]":{
        required: true,
        minlength: 6
      },
      "user[password_confirmation]":{
        required: true,
        minlength: 6
      }
    }
  });