:css
  input[type="text"], input[type="email"], input[type="date"], input[type="password"] {
  width: 100% !important;
  }


.span8{:style => "margin-top:35px;"}
  %h4 Create an account
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "well"}) do |f|
    = devise_error_messages!

    .req-legend
      *Required
    .row
      .span3.well-half
        = f.label :first_name, class: "label-green" do
          First Name*
          %span.error-container
        = f.text_field :first_name
      .span3.well-half
        = f.label :last_name, class: "label-green" do
          Last Name*
          %span.error-container
        = f.text_field :last_name

    %div
      = f.label :email, class: "label-green" do
        %span.error-container
        Email*
      = f.email_field :email

    - unless session["devise.provider"] && session["devise.uid"]
      .row
        .span3.well-half
          = f.label :password, class: "label-green" do
            Password*
            %span.error-container
          = f.password_field :password, id: "user_pass"

        .span3.well-half
          = f.label :password_confirmation, class: "label-green" do
            Password Confirmation*
            %span.error-container
          = f.password_field :password_confirmation

    %hr{style: "margin: 0 -19px; background: #e0e0e0;"}
    %div.inline
      = button_tag(type: 'submit', class: "btn btn-primary", id: "project-submit", style: "margin:20px 0 0;float:left;") do
        Create My Account ►

      %p{:style => "color:#b6b6b4;float:left;width:270px;margin-top:25px;margin-left:20px;font-family:arial;"}
        By creating an account, you agree to our
        = link_to "terms of use", terms_pages_path
        and
        = link_to "privacy policy", privacy_pages_path

  / = render "devise/shared/links"

= render "social-login"

:javascript
  $('#new_user').validate({
    rules: {
      "user[email]":{
        required: true,
        email: true
      },
      "user[first_name]":{
        required: true,
      },
      "user[last_name]":{
        required: true,
      },
      "user[password]":{
        required: true,
        minlength: 6
      }
    },
    errorPlacement: function(error, element) {
      $('#user_pass, #user_password_confirmation').keyup(function(){
        validatePass();
      });
      error.appendTo(element.parent().find(".error-container"));
      if($('#user_password_confirmation').val() == ""){
        $('.error-container:last').text('');
        $('#user_password_confirmation').removeClass("valid");
        $('#user_password_confirmation').attr('class', 'error')
        $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Required</label>");
      }

      if( 6 > $('#user_password_confirmation').val().length && $('#user_password_confirmation').val() != ""){
        $('.error-container:last').text('');
        $('#user_password_confirmation').removeClass("valid");
        $('#user_password_confirmation').attr('class', 'error')
        $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Max Char 6</label>");
      }
    },
  });

  var validatePass = function(){
    var passCom = $('#user_password_confirmation').val();
    var pass = $('#user_pass').val();

    if(passCom.length != 0){
      if(pass == passCom){
        $('.error-container:last').text('');
        $('#user_password_confirmation').removeClass("error");
        $('#user_password_confirmation').attr('class', 'valid');
      }else{
        $('.error-container:last').text('');
        $('#user_password_confirmation').removeClass("valid");
        $('#user_password_confirmation').attr('class', 'error')
        $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Doesn't Match</label>");
      }
    }else{
      $('.error-container:last').text('');
      $('#user_password_confirmation').removeClass("valid");
      $('#user_password_confirmation').attr('class', 'error')
      $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Doesn't Match</label>");
    }

    if( 6 > $('#user_password_confirmation').val().length && $('#user_password_confirmation').val() != ""){
        $('.error-container:last').text('');
        $('#user_password_confirmation').removeClass("valid");
        $('#user_password_confirmation').attr('class', 'error')
        $('.error-container:last').append("<label for='user_password_confirmation' class='error' style='display: block;'>Max Char 6</label>");
      }

  };

  $('#user_pass, #user_password_confirmation').keyup(function(){
    validatePass();
  });
